# EDA - GEDA Proyecto DIABETIA
## Estancia de investigación Maestría de Ciencia de Datos
## Aide Jazmín González Cruz


### 1. Carga de librerías

In [1]:
import pandas as pd
import numpy as np
import sys
import os
from os.path import dirname
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
sys.path.append(dirname('../src'))
from src.utils import utils

### 2. Carga de datos

In [3]:
df = pd.read_csv("../Data/Muestra.csv")
df.head(5)

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,fechas_procesadas,bandera_fechas_procesadas,fuente,in_consulta,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta
0,4593753CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,135,NaN,NaN,NaN,NaN,NaN,120/60,...,NaN,NaN,corhis_somatometria,4593753,1951-12-09,F,FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TA...,NaN,NaN,2014-12-29 09:02:48.167
1,2502589CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,131,NaN,NaN,NaN,NaN,NaN,130/80,...,NaN,NaN,corhis_somatometria,2502589,1951-12-09,F,"COMPLEJO B| METFORMINA, TABLETAS, METFORMINA, ...",NaN,NaN,2010-12-21 10:58:00.640
2,6253338CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,148,NaN,NaN,NaN,NaN,NaN,120/80,...,NaN,NaN,corhis_somatometria,6253338,1951-12-09,F,INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSI...,NaN,NaN,2017-10-16 10:09:10.830
3,6866604CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130/70,...,NaN,NaN,corhis_somatometria,6866604,1951-12-09,F,FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TA...,NaN,NaN,2018-11-02 10:22:01.733
4,2870758CAAE51120998X96PC1,CAAE51120998X96PC1,ELIZABET DE 59.9 AÑOS EDAD---ACUDE A EVALCUION...,126,NaN,NaN,NaN,NaN,SEPTIEMBRE DEL 2011,NaN,...,2011-09-01 00:00:00,1.0,NER,2870758,1951-12-09,F,COMPLEJO B| PRAVASTATINA. TABLETAS. CADA TABLE...,E119,Diabetes tipo II,2011-10-08 09:47:14.953

### 3. EDA

#### Obteniendo información general del dataset

- Filas y columnas

In [4]:
df.shape

(9315, 32)

- Columnas y tipo de columnas

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9315 entries, 0 to 9314
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   newid                            9315 non-null   object
 1   cx_curp                          9315 non-null   object
 2   nota_medica                      2359 non-null   object
 3   glucosa                          3926 non-null   object
 4   colesterol                       2311 non-null   float64
 5   trigliceridos                    2373 non-null   object
 6   hdl                              117 non-null    float64
 7   ldl                              85 non-null     float64
 8   fecha                            1924 non-null   object
 9   presion_arterial                 5058 non-null   object
 10  hba1c                            2075 non-null   object
 11  hipertension                     379 non-null    object
 12  plaquetas                        258 non-null    object
 13  creatinina                       527 non-null    object
 14  acido_urico                      250 non-null    object
 15  urea                             195 non-null    float64
 16  peso                             4995 non-null   float64
 17  altura                           4993 non-null   float64
 18  tfg                              189 non-null    object
 19  imc                              495 non-null    object
 20  año_de_diagnostico_diabetes      298 non-null    object
 21  año_de_diagnostico_hipertensión  161 non-null    float64
 22  fechas_procesadas                2359 non-null   object
 23  bandera_fechas_procesadas        2359 non-null   float64
 24  fuente                           9315 non-null   object
 25  in_consulta                      9315 non-null   int64
 26  fecha_nacimiento                 9146 non-null   object
 27  sexo                             9146 non-null   object
 28  medicamentos                     8517 non-null   object
 29  codigos_cie                      6282 non-null   object
 30  diagnosticos                     6282 non-null   object
 31  fecha_consulta                   9315 non-null   object
dtypes: float64(8), int64(1), object(23)
memory usage: 2.3+ MB

In [6]:
df[df['newid'] == "1153170ZACF481001A5LI4QC1"]#[['fecha_consulta','fuente']]

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,fechas_procesadas,bandera_fechas_procesadas,fuente,in_consulta,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta
5991,1153170ZACF481001A5LI4QC1,ZACF481001A5LI4QC1,"CONTROL DM2 DE 25 AÑOS, AL IGUAL QUE H...",174,159.0,117,NaN,NaN,24 DE FEBRERO DEL 12,140/80,...,24 DE FEBRERO DEL 12,0.0,NER,1153170,1948-10-04,M,CALCITRIOL (ALFA 25 DIHIDROXICOLICOLECALCIFERO...,"E119 , I10X",Diabetes mellitus no insulinodependiente sin c...,2012-03-28 10:11:58.663
5992,1153170ZACF481001A5LI4QC1,ZACF481001A5LI4QC1,"CONTROL DM2 DE 25 AÑOS, AL IGUAL QUE H...",NaN,NaN,NaN,NaN,NaN,27 D E JUNIO DLE 12,140/80,...,27 D E JUNIO DLE 12,0.0,NER,1153170,1948-10-04,M,CALCITRIOL (ALFA 25 DIHIDROXICOLICOLECALCIFERO...,"E119 , I10X",Diabetes mellitus no insulinodependiente sin c...,2012-03-28 10:11:58.663
5993,1153170ZACF481001A5LI4QC1,ZACF481001A5LI4QC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140/80,...,NaN,NaN,corhis_somatometria,1153170,1948-10-04,M,CALCITRIOL (ALFA 25 DIHIDROXICOLICOLECALCIFERO...,"E119 , I10X",Diabetes mellitus no insulinodependiente sin c...,2012-03-28 10:11:58.663
5994,1153170ZACF481001A5LI4QC1,ZACF481001A5LI4QC1,NaN,174|0,159.0,117,NaN,NaN,NaN,NaN,...,NaN,NaN,exphis_hc_diabetes,1153170,1948-10-04,M,CALCITRIOL (ALFA 25 DIHIDROXICOLICOLECALCIFERO...,"E119 , I10X",Diabetes mellitus no insulinodependiente sin c...,2012-03-28 10:11:58.663

In [7]:
df.to_csv("df_diabetia", sep='|')

In [8]:
#Fuente glucosa
df[~pd.isna(df['glucosa'])][['fuente','newid']].groupby(['fuente'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})

                fuente  count
0                  NER    972
1  corhis_somatometria    987
2   exphis_hc_diabetes   1967

In [9]:
a = df[(df['cx_curp'] == "CAAJ770616UNX3HRC2") & (df['fuente'] == "corhis_somatometria")][['fecha_consulta']]
print(len(a.fecha_consulta.unique()))

df[(df['cx_curp'] == "CAAJ770616UNX3HRC2") & (df['fuente'] == "corhis_somatometria")]\
[['glucosa','presion_arterial','colesterol','trigliceridos','hdl','ldl','hba1c','plaquetas','creatinina',
  'acido_urico','urea','peso','altura','tfg','imc','fuente','fecha_consulta','fechas_procesadas',
  'año_de_diagnostico_diabetes','año_de_diagnostico_hipertensión']]

205

,glucosa,presion_arterial,colesterol,trigliceridos,hdl,ldl,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,fuente,fecha_consulta,fechas_procesadas,año_de_diagnostico_diabetes,año_de_diagnostico_hipertensión
126,NaN,130/80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,1.52,NaN,NaN,corhis_somatometria,2012-07-12 14:02:50.023,NaN,NaN,NaN
130,NaN,120/80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,1.52,NaN,NaN,corhis_somatometria,2015-12-18 14:00:55.320,NaN,NaN,NaN
132,NaN,120/70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,1.52,NaN,NaN,corhis_somatometria,2012-09-05 14:59:09.430,NaN,NaN,NaN
134,NaN,NULL/NULL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,1.52,NaN,NaN,corhis_somatometria,2013-06-13 17:42:35.963,NaN,NaN,NaN
138,NaN,120/70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,1.52,NaN,NaN,corhis_somatometria,2018-10-23 18:31:03.440,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,NaN,120/80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,1.52,NaN,NaN,corhis_somatometria,2005-08-09 17:54:11.547,NaN,NaN,NaN
719,NaN,120/70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,1.52,NaN,NaN,corhis_somatometria,2016-09-23 17:24:11.340,NaN,NaN,NaN
721,NaN,NULL/NULL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.5,1.52,NaN,NaN,corhis_somatometria,2012-12-05 14:59:41.943,NaN,NaN,NaN
723,NaN,130/80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,1.52,NaN,NaN,corhis_somatometria,2013-05-08 15:31:39.337,NaN,NaN,NaN
725,NaN,120/80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,1.54,NaN,NaN,corhis_somatometria,2006-04-19 18:22:32.057,NaN,NaN,NaN

In [10]:
b = df[(df['cx_curp'] == "CAAJ770616UNX3HRC2") & (df['fuente'] == "exphis_hc_diabetes")][['glucosa','presion_arterial',
                                                                                   'colesterol','trigliceridos',
                                                                                   'hdl',
                 'ldl','hba1c','plaquetas','creatinina','acido_urico','urea','peso','altura','tfg','imc']]
b = b.drop_duplicates(subset = ['glucosa','presion_arterial','colesterol','trigliceridos','hdl','ldl','hba1c',
                                'plaquetas','creatinina','acido_urico','urea','peso','altura','tfg','imc'])

print(b)

     glucosa presion_arterial  colesterol trigliceridos  hdl  ldl hba1c  \
127      0|0              NaN         0.0             0  NaN  NaN     0
131    200|0              NaN         0.0             0  NaN  NaN     0
139    250|0              NaN         0.0             0  NaN  NaN     0
145    170|0              NaN         0.0             0  NaN  NaN   8.4
150    208|0              NaN         0.0             0  NaN  NaN     0
157    316|0              NaN         0.0             0  NaN  NaN     0
162    130|0              NaN         0.0             0  NaN  NaN   8.5
169    260|0              NaN         0.0             0  NaN  NaN     0
174    160|0              NaN         0.0             0  NaN  NaN    10
180    140|0              NaN         0.0             0  NaN  NaN    12
196  100|130              NaN         0.0           283  NaN  NaN     0
206    130|0              NaN         0.0             0  NaN  NaN     0
209    405|0              NaN       250.0           738  NaN  NaN     0
214    158|0              NaN         0.0             0  NaN  NaN    12
251    200|0              NaN         0.0             0  NaN  NaN    10
262    120|0              NaN         0.0             0  NaN  NaN     8
267    160|0              NaN         0.0             0  NaN  NaN   9.5
270    217|0              NaN       199.0           256  NaN  NaN   8.5
277    160|0              NaN         0.0             0  NaN  NaN     0
288    170|0              NaN         0.0             0  NaN  NaN     0
306    0|121              NaN         0.0             0  NaN  NaN     0
320    300|0              NaN         0.0             0  NaN  NaN     0
331    120|0              NaN         0.0             0  NaN  NaN     0
340    160|0              NaN         0.0             0  NaN  NaN     9
352    240|0              NaN       129.0           285  NaN  NaN     0
355    126|0              NaN         0.0             0  NaN  NaN     0
374    163|0              NaN       154.0           347  NaN  NaN     0
384    182|0              NaN       151.0           252  NaN  NaN     0
389    180|0              NaN         0.0             0  NaN  NaN     8
393    302|0              NaN         0.0             0  NaN  NaN     0
407    180|0              NaN         0.0             0  NaN  NaN     0
411    205|0              NaN         0.0             0  NaN  NaN     0
417    120|0              NaN         0.0             0  NaN  NaN     9
429    240|0              NaN         0.0             0  NaN  NaN     0
441    140|0              NaN         0.0             0  NaN  NaN     0
445   262|11              NaN         0.0             0  NaN  NaN     0
452    185|0              NaN         0.0             0  NaN  NaN     0
466    198|0              NaN       139.0           230  NaN  NaN     0
486    177|0              NaN       251.0           796  NaN  NaN     0
493    291|0              NaN       124.0           341  NaN  NaN     0
495    405|0              NaN         0.0             0  NaN  NaN     0
528    140|0              NaN         0.0             0  NaN  NaN    10
534    228|0              NaN         0.0             0  NaN  NaN     0
572    290|0              NaN         0.0             0  NaN  NaN     0
577    270|0              NaN         0.0             0  NaN  NaN     0
591    120|0              NaN         0.0             0  NaN  NaN    10
600      0|0              NaN         0.0             0  NaN  NaN    11
615    130|0              NaN         0.0           284  NaN  NaN     0
622    100|0              NaN         0.0             0  NaN  NaN     0
630    152|0              NaN         0.0             0  NaN  NaN     0
638     87|0              NaN         0.0             0  NaN  NaN     9
644    344|0              NaN         0.0             0  NaN  NaN     0
655    178|0              NaN         0.0             0  NaN  NaN     0
680     0|98              NaN         0.0             0  NaN  NaN    12
688    324|0              NaN         0.0             0  NaN  NaN     0
693    262|0              NaN         0.0             0  NaN  NaN    11
708    192|0              NaN         0.0             0  NaN  NaN    10
720    120|9              NaN         0.0             0  NaN  NaN     0

    plaquetas creatinina acido_urico  urea  peso  altura  tfg  imc
127       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
131       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
139       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
145       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
150       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
157       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
162       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
169       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
174       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
180       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
196       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
206       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
209       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
214       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
251       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
262       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
267       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
270       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
277       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
288       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
306       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
320       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
331       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
340       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
352       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
355       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
374       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
384       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
389       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
393       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
407       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
411       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
417       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
429       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
441       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
445       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
452       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
466       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
486       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
493       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
495       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
528       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
534       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
572       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
577       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
591       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
600       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
615       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
622       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
630       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
638       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
644       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
655       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
680       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
688       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
693       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
708       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN
720       NaN        NaN         NaN   NaN   NaN     NaN  NaN  NaN

In [11]:
df[(df['cx_curp'] == "CAAJ770616UNX3HRC2") & (df['fuente'] == "NER")][['glucosa','presion_arterial',
                                                                                   'colesterol','trigliceridos',
                                                                                   'hdl',
                 'ldl','hba1c','plaquetas','creatinina','acido_urico','urea','peso','altura','tfg','imc',
                                                'fuente','fecha_consulta','fechas_procesadas']]

,glucosa,presion_arterial,colesterol,trigliceridos,hdl,ldl,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,fuente,fecha_consulta,fechas_procesadas
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2012-07-12 14:02:50.023,07 12
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2012-07-12 14:02:50.023,37. 22
128,NaN,NaN,NaN,274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2015-12-18 14:00:55.320,19 DE AGOSTO 2015
129,530,NaN,163.0,386,NaN,NaN,NaN,360,1,NaN,55.0,NaN,NaN,NaN,37,NER,2015-12-18 14:00:55.320,06 DE AGOSTO 2015
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NER,2018-10-23 18:31:03.440,24 DE ENERO 2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,152,130/80,NaN,NaN,NaN,NaN,7,475 000,1.4,4.8,89.0,NaN,NaN,NaN,NaN,NER,2016-09-23 17:24:11.340,19 DE JULIO 2016
716,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7,NaN,126.0,NaN,NaN,NaN,NaN,NER,2016-09-23 17:24:11.340,2016-05-01 00:00:00
717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2016-09-23 17:24:11.340,18 DE JULIO
718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2016-09-23 17:24:11.340,20 SEP 2016
722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2013-05-08 15:31:39.337,2013-05-04 00:00:00

In [12]:
"""
['newid','glucosa1','glucosa2','sistolica','diastolica','colesterol','trigliceridos','hdl',
                 'ldl','hba1c','plaquetas','creatinina','acido_urico','urea','peso','altura','tfg','imc',
                 'año_de_diagnostico_diabetes','año_de_diagnostico_hipertension','fechas_procesadas2',
                 'bandera_fechas_procesadas','in_consulta','fecha_nacimiento','sexo','',
                 'edad','hta','dm_cie','hta_cie']
"""
df[df['newid'] == "4599420CAAJ770616UNX3HRC2"][['glucosa','presion_arterial','colesterol','trigliceridos','hdl',
                 'ldl','hba1c','plaquetas','creatinina','acido_urico','urea','peso','altura','tfg','imc',
                                                'fuente','fecha_consulta','fechas_procesadas']]#,'sexo','medicamentos']]

,glucosa,presion_arterial,colesterol,trigliceridos,hdl,ldl,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,fuente,fecha_consulta,fechas_procesadas
601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,24 DE ENERO 2016
602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,12 DE MARZO DE 2017
603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,2017-06-01 00:00:00
604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,8 DE SEPT
605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,20 DE ENERO DE 2017
606,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7,NaN,126.0,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,2016-05-01 00:00:00
607,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,2017-01-01 00:00:00
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,NER,2017-10-18 16:59:32.510,18 DE JULIO
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,6 DE MARZO
610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,4 DE JULIO
611,160,NaN,NaN,284,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,13 SEPT 2016--
612,152,130/80,NaN,NaN,NaN,NaN,7,475 000,1.4,4.8,89.0,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,19 DE JULIO 2016
613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NER,2017-10-18 16:59:32.510,15 DE JUNIO
614,NaN,120/70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.5,1.52,NaN,NaN,corhis_somatometria,2017-10-18 16:59:32.510,NaN
615,130|0,NaN,0.0,284,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,exphis_hc_diabetes,2017-10-18 16:59:32.510,NaN

In [13]:
pd.set_option("display.max_colwidth", -1)

df[df['newid'] == "4599420CAAJ770616UNX3HRC2"][['nota_medica']][:1]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       nota_medica
601  FEMENINA DE 39 AÑOS DE EDAD, DIABETICA TIPO 1-- DESDE LOS 5 AÑOS DE EDAD, COMPLICACIONES TARDIAS DE LA ENFERMEDAD,NEUROPATIA PERIFERICA NEFROPATIA DIABETICA, ENFERMEDAD RENAL CRONICA SECUNDARIA. CON DESCONTROL METABOLICO CRONICO, CON DATOS CLINICOS DE HIPERINSULINISMO, ACANTOSIS NIGRICAN, ACROCORDONES EN CUELLO.. VALORADA POR OFTALMOLOGIA EN EL MES DE NOVIEMBRE 2016.-. HIPERTENSION ARTERIAL HACE 24 AÑOS. DISLIPIDEMIA MIXTA- OBESIDAD E HIPOTIROIDISMO, ARTRITIS REUMATOIDE, FIBROMIALGIA VALORADA POR DRA. CORALIA 20 DE ENERO DE 2017, PSIQUIATRIA 24 DE ENERO 2016 INDICANDO PAROXETINA 1 X2. , SINDROME DEPRESIVO, OBESA SEDENTARIA, CEFALEA MIGRAÑOSA- TRASTORNO DEPRESIVO E INSOMNIO CRONICO..- HIPOTIROIDISMO.. DISLIPIDEMIA.-- VALORACION 20 SEP 2016 POR ENDOCRINOLOGIA. CITA NUEVA VALORACION 12 DE MARZO DE 2017. REUMATOLOGIA .. 4 DE JULIO VALORADA POR NEFROLOGIA CITA PROGRAMADA EN EL MES DE NOVIEMBRE.-- .. ANGIOLOGIA 18 DE JULIO ... ,,SE REFIERE ASTENIA ADINAMIA,. POLIURIA CON DESCONTROL METABOLICO CRONICO. CON GLICEMIA PERIFERICA 200 MGDL. SIN MEJORIA CLINICA, AL INTERROGATORIO NIEGA EN EL ULTIMO MES DISMINUCIÓN DE AGUDEZA VISUAL, DOLOR O SANGRADO DE ENCÍAS AL CEPILLARSE, VÉRTIGO, PALPITACIONES, DISNEA, DOLOR PRECORDIAL, EDEMA PALPEBRAL, VARICORRAGIA, CAIDAS DEL PLANO DE SUSTENTACIÓN, ORINA ESPUMOSA, PARESTESIAS DE MANOS O PIES, ARDOR NOCTURNO DE EXTREMIDADES INFERIORES, SIN ALTERACIONES DE LA LIBIDO, SENSACIÓN DE PLENITUD GASTRICA . IMC.. 42 , TIENE CONTRAREFERENCIA DE ENDOCRINOLOGIA 15 DE JUNIO D. PARACLINICOS. MAYO DE 2016. GLUCOSA 91 POSTPRANDIAL 98 UREA 126 CREATININA 1.7 HB GLUCOSILADA 12.- MANEJO CON INSULINA GLARGINA 115 UNIDADES DIARIAMENTE LISPRO 18 CADA 8 HRS. ANTES DE DESAYUNO COMIDA Y CENA. PARACLINICOS.... 19 DE JULIO 2016 HB 11, HTO 34 PLAQUETAS 475 000 LEUCOCITOS 10 870 VSG 37 GLIUCOSA 152 MGDL. UREA 89 CREATININA 1.4. AC URICO 4.8 EGO NORMAL.. MANTENER HB GLUCOSILADA 7. TA 130/80 ABAJO.. COLESTERO TRIGLICERIDOS BAJOS-. ETC. PACIENTE CON MAL PRONOSTICO.- POLIFARMACIA CON PATOLOGIA MULTIPLE TIENE CITA A NEFROLOGIA.. LEVOTIROXINA 2 DIARIAS BEZAFIBRATO 2 DIAS. TELMISARTAN 2 X2 METOPROLOL Y OMEPRAZOL. VALRADA POR NEFROLOLOGIA SIN CAMBIOS.. ASI COMO ANGILOGIA CLOPIDOGREL 1 X1.. PREGABALINA 1 X2. GLARGINA 98 UNIDADES CADA 24 HORAS. LEVOTIRTOXINA 1 Y UN CUARTO VIERNES DOMINGOS 2 BAZAFIBRATO 1 CADFA 12 RESTO SIN MODIFICACIONES.. PACIENTE CON DESCONTROL METABOLICO CRONICO OBESIDAD.. C PACIENTE CON POLIFARMACIA SIN MEJORIA CLINICA NOP HA LOGRADO REDUCIR DE PESO PARACLINICOS.. 13 SEPT 2016-- GLICOSA 121 MGDL. GLUCOSA POSTPRANDIA 160 MGDL. CREATININA 1.6. HB TRIGLICERIDOS.. 284 DEPURACION DE CREATININA 70 MIL MIN.PARACLINICOS. ENERO DE 2017. CREATININA 0.8 MGDL. TIENE HB GLUCOSILADA DE 11. 1. GLUCOSA BASAL 309 POSTPRANDIAL. 195 ENZIMAS HEPARICAS ELEVADAS. TSH 0.564 ORINA CON GLUCOSURIA.... VALORTRADA POR ENDOCRINOLOGIA. 29. JUNIO DE 2017. TIENE MANEJO CON INSULINA GLARGINA 128 UNIDADES DIARIAS. 40 LISPRO AGREGO METFORMINA 1 X3. TIENE CITOLOGIA CERVICAL DEL 6 DE MARZO CON DATOS DE BACS BACILARES, CUELLO SANO, RESTO NEGATIVO PACIENTE CON OBESIDAD ABDOMINAL DISMINUYO DE PESO 1 KG. VALORADA POR ENDOCRINOLOGIA 8 DE SEPT

In [14]:
df.describe()

,colesterol,hdl,ldl,urea,peso,altura,año_de_diagnostico_hipertensión,bandera_fechas_procesadas,in_consulta
count,2311.000000,117.000000,85.000000,195.000000,4995.000000,4993.000000,161.000000,2359.000000,9.315000e+03
mean,47.712882,39.705812,104.444706,86.038564,68.783568,1.500649,2004.993789,0.401441,2.824811e+06
std,86.591415,11.692045,37.440014,108.769750,20.514289,0.322613,5.175057,0.490294,1.901302e+06
min,0.000000,20.000000,22.800000,14.000000,0.000000,0.000000,1997.000000,0.000000,1.326000e+03
25%,0.000000,35.000000,88.000000,31.500000,60.000000,1.500000,2000.000000,0.000000,1.356846e+06
50%,0.000000,40.000000,110.000000,57.000000,72.000000,1.540000,2006.000000,0.000000,2.378026e+06
75%,0.000000,48.000000,131.000000,89.000000,82.000000,1.640000,2009.000000,1.000000,4.184385e+06
max,351.000000,73.000000,171.000000,545.000000,140.000000,1.840000,2018.000000,1.000000,8.273014e+06

In [15]:
df.rename(columns = {'año_de_diagnostico_hipertensión':'año_de_diagnostico_hipertension'}, inplace = True)

In [16]:
prop_codigo = df.groupby(['newid'], as_index=False)['cx_curp']\
.count()\
.rename(columns={'cx_curp': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
prop_codigo.sort_values(by = ['prop'], ascending = False)

                          newid  count      prop
3338  4599420CAAJ770616UNX3HRC2  15     0.001610
3394  4689106CAAJ770616UNX3HRC2  15     0.001610
3365  4643965CAAJ770616UNX3HRC2  15     0.001610
3315  4556722CAAJ770616UNX3HRC2  15     0.001610
3420  4733395CAAJ770616UNX3HRC2  14     0.001503
...                         ...  ..          ...
2185  2881478DIJC38112055K14KA2  1      0.000107
2187  2885516OOCG680408JBU4ERC2  1      0.000107
2188  288673ZACF481001A5LI4QC1   1      0.000107
2189  2887422MAVC341201G0YJFRC1  1      0.000107
4998  999802LOVM470206XDKAIMD2   1      0.000107

[4999 rows x 3 columns]

In [17]:
prop_codigo = df.groupby(['cx_curp'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
prop_codigo.sort_values(by = ['prop'], ascending = False)

               cx_curp  count      prop
6   CAAJ770616UNX3HRC2  602    0.064627
15  DIRL630201M8ADARC1  452    0.048524
28  MAVC341201G0YJFRC1  358    0.038433
1   AADV5603014KS44QC1  356    0.038218
50  VEVF4904172GTC8QC1  340    0.036500
10  COGJ5108018PI47QC1  316    0.033924
20  GOML440127J80Z9PC2  309    0.033172
54  ZEPL5503219FZQ6QC2  307    0.032958
38  PEGO194405B3QH4QC1  239    0.025658
47  SOLG360601I3NUBIA1  237    0.025443
34  OIMS600706LWUN8PC2  236    0.025335
3   AOCC511229UR4RIRC3  236    0.025335
53  ZAGM6412151ICF4PC4  229    0.024584
40  PIPB6010280UNG7PC4  219    0.023510
46  SAPL460201_WS10QC2  213    0.022866
7   CABM400930CPT4ZCA2  202    0.021685
39  PEVR470901ASKH1QC1  201    0.021578
25  LOVM470206XDKAIMD2  200    0.021471
29  MAXA480701EQOUDRC1  197    0.021149
22  HEXE490230BS8EFVA2  196    0.021041
41  PIRE6806019N4I6PC1  193    0.020719
0   AAAZ581217189U5PC3  189    0.020290
4   BOLM631201LV35XPC1  189    0.020290
14  DIJC38112055K14KA2  174    0.018680
19  GOGC330501FATDSCA2  173    0.018572
51  VIMA64070146S4BRC1  171    0.018357
35  OOCG680408JBU4ERC2  170    0.018250
23  JIDR510316QA5Z4PC3  169    0.018143
52  ZACF481001A5LI4QC1  156    0.016747
21  GUSJ5712286XUN73A2  146    0.015674
27  MAJJ870410UVK09PC1  126    0.013527
30  MOAA5610143OU79PC2  126    0.013527
5   CAAE51120998X96PC1  124    0.013312
16  EAGG5405015QC44QC1  120    0.012882
26  MACL740410NK1YGRC2  118    0.012668
42  ROCA5508101VD78DB4  112    0.012024
33  MOVE400201D7TZERC1  112    0.012024
8   CALT491222GG7DGRC3  112    0.012024
31  MOBJ380101BWUPXQC1  110    0.011809
13  CUHJ691220ZX7YDRC2  108    0.011594
45  SAJB6406296LNT8PC4  103    0.011057
11  COPI690401V91QCRC2  81     0.008696
17  GAMP640301UJL5SEE1  73     0.007837
24  LOAI360801BLJDERC1  72     0.007729
37  PAMI6701206PHN6PC4  62     0.006656
43  ROGG540607PNXOCQD4  60     0.006441
12  COVR310301TY2UYQC1  53     0.005690
18  GASG61090173W69PC1  51     0.005475
49  VEMS600601JHJY2QC2  46     0.004938
2   AEDJ750301XGAEGRC1  44     0.004724
36  PAGJ690411WZ0YDRC1  40     0.004294
9   COAG580101F7ALKRC3  28     0.003006
32  MOSH731006R68EZPC2  21     0.002254
44  RORC5211012YV34CA1  21     0.002254
48  VABL610430GWELKRC4  17     0.001825

In [18]:
df.glucosa.unique()

array(['135', '131', '148', nan, '126', '127|0', '110', '162|0', '132',
       '120', '239', '123', '178', '113', '124', '140', '128', '137',
       '199', '159', '162', '130', '212', '145', '133', '169', '218',
       '100', '156', '158', '125', '0|0', '530', '200|0', '255', '250|0',
       '80', '316', '170|0', '200', '208|0', '316|0', '130|0', '234',
       '260|0', '201', '283', '160|0', '140|0', '98', '160', '195',
       '100|130', '405|0', '158|0', '152', '309', '120|0', '217|0', '190',
       '88', '0|121', '300|0', '108', '344', '240|0', '126|0', '163',
       '163|0', '182', '182|0', '180|0', '302|0', '205', '205|0',
       '262|11', '185|0', '153', '198|0', '177|0', '291|0', '228|0',
       '400', '290|0', '193', '270|0', '100|0', '152|0', '87|0', '275',
       '344|0', '178|0', '170', '0|98', '324|0', '262|0', '192|0', '150',
       '120|9', '110|0', '108|0', '115|0', '239|351', '138', '150|0',
       '97|0', '138|0', '115', '144', '177', '164', '104|0', '116',
       '102|0', '157', '157|0', '251', '98|0', '118', '125|0', '186|0',
       '90', '94', '111', '104', '95|0', '80|0', '133|0', '79', '102',
       '95', '60', '99|0', '127', '86', '86|0', '91|0', '78', '109',
       '109|0', '84|0', '71', '91', '134|0', '106', '136', '111|0', '84',
       '146', '146|0', '68', '143|0', '121|0', '136|0', '183', '183|0',
       '99', '79|0', '139', '63', '76|0', '107', '103|0', '139|0',
       '161|0', '137|0', '216', '119', '112|0', '191', '191|0', '0|114',
       '142', '142|0', '81', '105|0', '156|0', '92', '114', '72|0', '93',
       '93|0', '184', '0|160', '72', '94|0', '151', '122', '96', '96|0',
       '180', '353|0', '135|0', '129', '134|184', '112', '83', '83|0',
       '101', '105', '154', '122|0', '121', '92|0', '0|120', '113|0',
       '90|0', '0|130', '124|0', '350|0', '354|0', '250', '286', '286|0',
       '284|0', '147|0', '394|0', '265', '192', '299|0', '89|0', '190|0',
       '311|0', '256', '88|0', '265|0', '346|0', '171|0', '242', '231|0',
       '242|0', '240', '294', '161', '290', '298|0', '272', '230',
       '165|0', '320', '320|0', '268', '268|0', '249', '249|0', '197|0',
       '209', '209|0', '101|110', '103M', '123|0', '115|99', '97',
       '154|0', '151|0', '134', '89', '305', '114|0', '210', '210|0',
       '300', '252|0', '188', '155', '176', '0|176', '378', '174|0', '1',
       '188|0', '244', '244|0', '202', '202|0', '116|0', '87', '171',
       '68|0', '235', '174', '0|174', '148|0', '235|0', '282|0', '280|0',
       '166', '228', '310', '310|0', '390', '519', '436', '187|0',
       '374|0', '0|140', '410', '410|0', '85', '70|0', '67', '103',
       '70|6.6', '120|80', '155|0', '70', '181|0', '176|0', '312',
       '312|0', '133.7', '133.7|0', '118|0', '173|0', '184|0', '232',
       '175', '287', '196.7', '196|287', '173.8|0', '204', '153|204',
       '173|272', '394', '196.7|287', '117', '139|212', '185', '357',
       '206|0', '12|0', '188.3|199.5', '208|394', '170|159', '145|0',
       '261.0', '184.9|261', '213.3', '200.2|213.3', '184.9|0', '199.5',
       '149', '149|0', '120|180', '131|0', '78|0', '224', '0|100',
       '181|206', '141', '106|0', '0|86', '167', '167|0', '207', '194|0',
       '65|0', '132|0', '129|0', '74|0', '82|0', '128|0', '85|0', '117|0',
       '101|0', '355', '97.8', '97.8|0', '91.5|0', '193|0', '271', '475',
       '211', '229', '266', '196', '14606072007|0', '452', '144|0', '252',
       '120|70', '168', '319', '0|112', '166|0', '350', '198', '214|0',
       '313', '0|150', '0|260', '117|425', '217', '333', '232|0', '262',
       '0|262', '367', '0|240', '373', '206|265', '219', '218|0', '270',
       '0|270', '400|0', '309.30', '253', '208', '30', '77', '172', '143',
       '71|0', '351', '181.2', '225', '78.7|0', '399', '423|399',
       '147.1|0', '55.7', '174|278', '328|360', '350.5', '374',
       '350.5|499', '180.1', '134.7|180.1', '134.7', '360', '147.1|55.7',
       '303|374', '303|0', '70.7|225', '285', '285|0', '206', '406',
       '406|0', '225|0', '346', '340|0', '213', '81|0', '345', '292',
       '292|0', '284', '299', '243', '277|0', '336', '341', '347',
       '3147|0', '276', '46', '62', '62|0', '273', '273|0', '245|0',
       '335|0', '255|0', '67|0', '396|0', '64|0', '448', '46|0', '47',
       '47|0', '60|0', '391|0', '227', '327|360', '328', '260', '230|0',
       '216|0', '282', '365', '197', '254', '236', '194', '220', '75|0',
       '73', '186', '280', '82', '215', '36', '11', '221', '215|0',
       '86|221', '0|125', '147', '172|0', '179|0', '245', '0|102', '24',
       '128|128', '224|0', '0.7|0', '119|0', '1999|0', '99.6|0', '196|0',
       '277', '74', '258', '168|0', '333|0', '173', '169|0', '164|0',
       '0|189', '52|0', '246|0', '322|0', '246', '397', '397|0', '309|0',
       '183|196', '231', '303', '298', '203'], dtype=object)

In [19]:
df.colesterol.unique()

array([   nan,   0.  , 163.  , 191.  , 123.  , 250.  , 199.  , 244.  ,
       129.  , 154.  , 151.  , 139.  , 251.  , 124.  , 277.  , 195.  ,
       273.  , 202.  , 206.  ,  80.  , 287.  , 230.  , 187.  , 204.  ,
       268.  , 271.  , 220.  , 280.  , 215.  , 150.  , 200.  , 161.  ,
       172.  , 235.  , 211.  , 201.  , 193.  , 228.  , 196.  , 185.  ,
       254.  ,  93.  , 247.43, 184.  , 173.  , 288.  , 246.  , 261.  ,
       266.  , 257.  , 281.  , 177.  , 294.  , 171.  , 207.  , 231.  ,
       152.  , 108.  , 135.  , 130.  , 180.  , 166.  , 186.  , 168.  ,
       137.  , 197.  , 132.  , 189.  , 219.  , 222.  ,  95.  , 214.  ,
       351.  , 259.  , 262.  , 279.  , 128.7 , 170.  , 140.  , 181.  ,
       104.  , 119.  , 225.  , 286.  , 233.  , 241.  , 274.  , 319.  ,
       165.  , 208.  ,  88.27, 162.  , 178.  , 113.  , 242.  , 156.  ,
       198.  , 216.  ,  40.  , 143.  , 164.  , 179.  , 208.8 , 126.  ,
       192.9 , 296.  , 190.  , 188.  , 209.  , 175.  , 167.  , 159.  ,
       157.  , 212.  , 256.  , 194.  , 217.  , 210.  , 176.  , 240.  ,
       153.  , 182.  , 223.  , 205.  , 141.  , 227.  , 131.  , 224.  ,
       234.  , 232.  , 213.  , 142.  , 174.  , 158.  , 155.  , 148.  ])

In [20]:
df.trigliceridos.unique()

array([nan, '0', '274', '386', '625', '295', '384', '284', '283', '738',
       '189', '256', '604', '285', '347', '252', '319', '230', '796',
       '341', '694', '580', '752', '320', '402', '150', '426', '349',
       '205', '215', '380', '272', '329', '352', '521', '257', '278',
       '200', '158', '103', '294', '196', '153', '96', '198', '102',
       '141', '122', '156', '217', '186', '118', '129', '93', '133',
       '123', '97.7', '361', '337', '247', '264', '1332', '701', '1241',
       '250', '416', '218', '137', '148', '140', '220', '222', '111',
       '154', '182,', '182', '180', '184', '168', '181', '173', '237',
       '147', '159', '178', '424', '242', '288', '440', '160', '92',
       '485', '520', '120', '177', '166', '136', '136.8', '464', '246',
       '142', '365', '95', '104', '172', '114', '290', '63', '134', '229',
       '260', '298', '176', '76', '82', '179', '130', '135', '152', '245',
       '225', '345', '342', '268', '545', '70', '224', '296', '997',
       '185', '223', '88', '210', '251', '414', '121', '161', '81',
       '108.3', '620', '276.2', '276', '490', '427', '240', '66.4', '163',
       '112', '128', '117', '238', '192', '145', '100', '265', '197',
       '280', '212', '125', '313', '362', '636', '379', '105', '138',
       '146', '144', '73', '106', '107', '235', '231', '236', '99', '74',
       '90', '124', '318.414', '327', '517', '211', '227', '241', '394',
       '87', '180.66', '74.21'], dtype=object)

In [21]:
df.hdl.unique()

array([  nan, 48.  , 47.  , 51.  , 46.  , 41.  , 37.  , 36.  , 40.  ,
       48.7 , 20.4 , 28.24, 20.  , 21.  , 22.3 , 73.  , 53.  , 44.  ,
       43.  , 35.  , 49.  , 58.  , 38.  , 56.  ])

In [22]:
df.ldl.unique()

array([  nan,  75.6, 156. , 110. , 150. , 117. , 171. , 135. ,  70.6,
        92.8,  94. , 132. ,  33. ,  22.8, 134. ,  40. ,  88. ,  66. ,
       104. , 101. , 131. , 144. , 129. ,  89. , 120. ,  91. ,  83. ])

In [23]:
df.fecha.unique()

array([nan, 'SEPTIEMBRE DEL 2011', '07  12', '37. 22',
       '19 DE AGOSTO 2015', '06 DE AGOSTO 2015', '24 DE ENERO 2016',
       '20 DE ENERO DE 2017', 'AGOSTO DE 2018', 'MARZO DE 2019',
       'NOV DE 2019', 'DIC 2013', 'MAYO DE 2019', 'MAYO DE 2016',
       '18 DE JULIO', '4 DE JULIO', '13 SEPT 2016--', '29. JUNIO DE 2017',
       'ENERO DE 2017', '15 DE JUNIO', '12 DE MARZO DE 2017',
       '6 DE MARZO', '8 DE  DE FEBRERO   DE 2018',
       '14  DE NERO DEL 1ÑO  11', '2 DE JUNIO 2014', '15 DE DIC 2015.-',
       'MARZO DE  2019', '25 MARZO DE 2019', '19 DE JULIO 2016',
       '15 DE JUNIO DE 2016', '24/01/2014', 'ENERO DE 2020',
       '20 DE OCTUBRE DE 2014', '20 12  10', '20 SEP 2016',
       '06 DE MAYO DE 2015', '13/08/12', '27/12/12', '02/07/12',
       '09/NOV2012', '30/08/12', '29 06  13', '24 DE  ENERO  2016',
       '16/03/2016', '15/03/16', '10 10 11', '29 06 10', '10/08/2011',
       '17 11  11', '17 12 12', '8 DE SEPT', '8 DE  SEPT', '12  10001',
       '37. 00', '31  08  11', '8 DE DE FEBRERO DE 2018',
       '12 DE MARZO DE  2017', 'JUNIO  2016.-', '08 02 09', '10  02 10',
       '19 DE AGOSTO  2015', 'ABRIL 2011', '15-02-11', '8 DE',
       '20  SEP 2016', '04 05  13', '12 DE JUNIO 13',
       '18 DE SEPTIEMBRE  DEL 13', 'ENEROD EL 2015', '13/02/15',
       '5 DICIEMBRE 2014', '09/10/17', '26/02/18', '12/05/18',
       '18/12/2013', 'SEPTIEMBRE 2018', '11/06/18', 'OCTUBRE 2018',
       'OCTUBRE 2017', '16 DE OCTUBRE DEL 13', '15/1/2016', '30/01/2017',
       '15/04/2016', '12 DE JUNIO.', '16/04/13',
       '12 DE SEPTIEMBRE DEL 14', 'ENERO DEL 2015', '14/04/2015',
       '16/12/2015', '12/06/2013', '16DE AGOSTO  DEL 13', '27/10/2016',
       'FEBRERO 2018', '10/01/18', '26/09/2016', '14 DE ABRIL DEL 14',
       '120/70', '17 E ENERODEL 2015', '15 DE ENERO DEL 14', '20/05/2016',
       '25 DE NOV', '12/06/2015', '13 DE AGOSTO  DEL 14',
       '14 DE JUNIO 13', '14 DE MARZO DEL 14', '13 DE JUNIO DEL 14',
       '14 DE OCTUBRE DEL 14', '13/03/11', '16 DE JULIO DEL 13',
       '18/08/2016', '6/03/2017', '09/04/18', '30/11//2016', '11/07/2012',
       '07/11/2018', '01/03/2018', '17/10/2019', '18/04/2018',
       '13/06/2018', '10/08/2018', '17 12', '02/12/2009', '26.09.17',
       'ENERO DEL 2016', '04.04.18', '05-04-19', '11.05.17', 'OCT 2018',
       '05 08 15', '29 04 15', '14 04 15', '26 DE SEPTIEMBRE 2019',
       '31 DE OCTUBRE 2019', '04 12 14',
       '31 07 14  GLUCOSA 130  DESCONTROLADA, PACIENTE QUE SE RECOMIENDA APEGO A SU TRATAMIENTO, ALIMENTACION Y A REALIZAR EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.2 OBESIDAD GDO II, CINTURA 103 CM, FC 70 X MIN, FR 18 X MIN, TEMP 36 GC, CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. TIENE  LATANOPROST TOPICO, AJUSTO TTO, ENVIO A OFTALMOLOGIA  VALORACION  ANUAL',
       '06 02 14', '08 09 15', '21 ENERO 2016', 'ENERO 2016',
       '09 NOV 2015', '04 ABRIL 2016', '02 01 15', '28 08 14',
       '31 AGOSTO GLUCMEIA',
       '06 01 14  GLUCOSA 96  CONTROLADA,  PACIENTE CON BUEN APEGO A SU TRATAMIENTO Y ALIMENTACION QUE SE LE HA RECOMENDADO, REALIZA EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.4',
       '05 11 14  GLUCOSA 353', '05 12 2013', '14/04/2020', '08 11 13',
       '28.04.16', '10.06.16', 'ENERO   2016', '29 09 14', '11/08/17',
       '30/12/11', '12.12.16', '28/10/10', 'DICMEBRE DEL 2011',
       '30.04.15', '18.06.15', 'ABRIL 2012', '06-03-12', '10/MARZO/2011',
       '26/08/17', '27 DE JULIO 2016', '5 AGOSTO 2016', '10 AGO 2018',
       '28 NOV 2017', 'ABRIL 2021', 'FEBERO 2021', '14 DIC 2020',
       '16 ENE 2020', 'JUNIO DE 2009', '07 JUNIO 2018', '17 ENE 2020',
       'ABRIL 21', 'FEBRERO 21', '25 DE MAYO', '14/12/2010', '02-02-2010',
       '18 01 11', '14/04/2011', '27 09 10', '22 10 10', '21 ENERO 16',
       '12 DE FEBRERO 2016', '08 MARZO 2016', '22 ABRIL DE 2015',
       '4 DE DIC DEL 2018', 'ENERO 2020', '11/11/2019',
       '19 DE JUNIO DEL 2017', '16/02/2012', '1 FEBRERO 2019',
       '17 ABRIL 2017', '06.05.15', '17 ABRIL 2019', '25 DE JULIO2019',
       '5 MARZO 2020', 'ABRIL 2018',
       '5 SEPT 2018 ERITROS 5 HB 15.1 HTO 42.8 PLAQ 132 000', '15 06 16',
       '14    DE SEPT  2020', '27/04/20', 'DIC  2017', 'ENERO  2018',
       '15 DE ABRIL 21', 'MARZO 2020', '04/MARZO/2016',
       '04 01 17  GLUCOSA 124', 'MARZO 2018', '5 SEPT 2018',
       '22 ABRIL 2015', '10/07/20', 'AGOSTO 2017', '18 JUNIO 2021',
       'ABRIL 2015', '04 03 16', '04 03 16  GLUCOSA 87', '12/11/20',
       '19/10/20', '16 12 16  GLUCOSA 148', '18 JUNIO2021',
       '21 DE EENRO DEL 2014', '29 DE ENERO DEL 2014', '4/06/2016',
       '22/04/2016', '26/10/2016', '23/01/15', '11/01/2017', '20/01/2017',
       '10 DE AGOSTO', '10/10/2016', '14/08/2015', '21/01/2016',
       '17/12/2015', '24 DE SEPTIEMBRE DEL 2013', '15/10/2015',
       '11/03/2015', '6/04/2016', '3/05/2016', '4/08/2016',
       '3 DE MARZO DEL 2015', '28 DE AGOSTO DEL 2014', '10/07/2014',
       '7/10/2016', 'DICEMBRE DEL 2013', '21 DE FEBRERO DEL 2014',
       '15 DE JULIO DEL 2014', '5/05/2015', '19/11/2013', '14/09/2016',
       '28 DE DICIEMBRE DEL 2013', '27/04/11', '5 ENERO 2012',
       '24 JUNIO 2012', '10/09/2009', '11 NOV. 2011', '08 JULIO 2011',
       '17 JUNIO 13', '24/05/10', '10 NOV 2011', '23/12/2009',
       '5 ENERO 2013', 'NOVIEMBRE 2010', '13/06/2019', 'ABRIL   2018',
       '22  DE DICIEMBRE  2017', '12/02/2021', '31/12/21',
       '24 DE JULIO 2018', '1 DE FEBRERO 2019', 'ENERO 2017', '23 DIC 20',
       '23 NOV 20', '19/03/2021', '18 MAYO 21', '13 DE MARZO 2020',
       '06-10-17', '13 DE ENERO 2017', 'JULIO 2016', '18 DE MAYO',
       '17 D EJULIO 2018', '23 DIC   20', '16  DE  JULIO  2020188.3',
       '10 SPTIEMBRE 2019', '16 DE JULIO 2020', '24/07/2018', 'FEB 2018',
       '21/02/2017', '24 /07/2018', '21 ABRIL 2016', '29 SEPT 2016',
       '17 DE OCTUBRE 2016', '19 DE JULIO 2018', '20 DE AGOSTO 2018',
       'AABRIL 2016', '9 DE JUNIO 2016', '21 DE FEBRERO 2017',
       '20 DE OCTUBRE 2018', '21  ABRIL 2016', '22 DE JUNIO DEL 2019',
       '19 DE JUNIO', '5 DE OCTUBRE 2016', '09/06/11', '08/07/2011',
       '12/06/2009', '12/09/2012', '06/04/16', '10 AL 13', '26/09/2014',
       'NOVIEMBRE 2014', '15/02/2012', '02/05/2012', '25/02/16',
       '25 DE JULIO DEL 2013', 'SEPTIEMBRE 2014', '10/06/2014',
       '02/07/2010', '22 DE ENERO', '06 /08/82010', '29 05 11',
       '11 DE ABRIL DE 2018', '16 DE JUN DE 2017', '02/01/2020',
       'FEBRERO DE 2020', '13 MAYO 2019', '06 DE OCTUBRE DE 2016',
       '04/01/2016', '29 AGOSTO 2016', '16 DE OCTUBRE DE 2016',
       '09 DE JUN 2017', 'OCTUBRE DE 2019', '31/05/2018',
       '13 JULIO DE 2018', '31 DE MAYO 18', '01 DE JUNIO',
       '26 DE JUNIO 18', '24 DE MAYO 2018', '09 DE MAYO DE 2018',
       '05 / 0 1 / 2015', 'OCTUBRE 2014', '01 DE JUNIO DE 2018',
       '31 MAYO 2018', '11 OCT  2018', '05 DE SEPTIEMBRE DE 2019',
       'DIC  DEL  2019', '20/09/2017', '25 SEPT 2018', '11 OCT 2018',
       '01/04/2019', '12 DE FEBRERO 2014', '02 DE OCT DEL 2017',
       '28 DE AGOSTO DEL 2017', '16/08/ 17', '29  08  17', '04 12 17',
       '2 10 17', '15 DE JULIO DLE2019', '26 / 0 7 / 2012',
       '26 DE MARZO 14', '29 DE MAYO DEL 2014', '18 DE JULIO DEL 2014',
       '10/06/2016', '29/04/16', '13/03/18', '05/01/20', '18/10/19',
       '19/05/17', 'ABRIL 2020', '22 DE OCTUBRE DEL 2014',
       '11 DE SEPTIEMBRE 14', '20/11/19', '9/11/2016', '30/09/20156',
       '23 DE MAYO 14', '26 DE MAYO DEL 2014', '6/02/2015', '7/12/2016',
       '17/01/2017', '18/01/2017', '20/07/19', '17/04/19', '19/07/19',
       'UMF82', 'DICIEMBRE 2018', 'JUNIO 2018', '20/01/19', '06/06/2013',
       '17/04/18', '23/07/18', '21/03/18', '7 DE AGOSTO 14',
       '11 DE JULIO 13', '5 DE JUNIO 13', '21/07/2015',
       '17 DE MAYO DEL 2015', '28/05/2015', '3/03/2015',
       '24 DE OCTUBRE DEL 2013', '13 DE MAYO 14', '12 DE MAYO DEL 2014',
       '11 DE MAYO DEL 2014', '21/08/2015', '26 DE JULIO  14',
       '2 DE ABRIL 14', '21/04/19', '10 DE FEBRERO 14',
       '10 DE SEPTIEMBRE 13', '16 DE OCTUBRE DEL 2013',
       '27 DE  DICIEMBRE 13', '20/03/19', 'FEBRERO 2020', '20/12/19',
       '27 04 2019---', '17 DE SEP 87', '22 DE NOV', '12 DE JULIO 2019',
       '1 DE ABRIL  DE  150  MG   ,  TIENE LAB  EN LA UNIDAD  SEP  2018',
       '12 DE MARZO 2018', '9 DE SEP', '5 DE ABRIL 2017', 'ABRIL 2017',
       '3  DE  DIC  2014', 'SEP 2018', 'OCTUBRE  DEL 2014',
       '24 DE AGOSTO', '07 03 16', '1 DE MARZO', 'SEPTIEMBRE 2016',
       '9 DE  SEP', '22 DE MARZO', '22  DE   MARZO.', '12  DE JULIO 2019',
       '12/12/2018', 'ABRIL  2017', '22 DE MARZO.', 'MAYO 2019',
       '24  DE SEP', '09 SEP 2016', 'SEP', '17  DE   SEP    87',
       'DIC   2014', 'SEPTIEMBRE  2016', '24  DE  AGOSTO', '10/07/20017',
       '18 DE OCT DEL 2018', '01  DE JUNIO DEL 2019', '11/12/2017',
       '06/06/2017', '02 DEJULIO DLE 2018', '20 DE JULIO DEL 2016',
       '12/04/2017', '01 DE JUNIO DEL 2019', '18  DE OCT DEL 2018',
       '24 DE DIC DEL 2019', '09/03/2018', 'OCT. 2010',
       'JULIO DEL   2018', 'JULIO DEL 2018', 'ENERO  2020', 'DIC  2019',
       '22/FEB/2017', 'MAYO  2018', 'AGOSTO 2015', '11 DE JUNIO DEL 2015',
       '26 JUNIO 2007', '23.02.2021', '19 D EMARZO 2020',
       '4 D EMARZO 2019', '4 D AGOSTO 2020', '120/180', '14/12/2019',
       '20/03/2021', '20/03/21', '21/04/2021', 'DEIEMBRE 2008',
       'D EJULIO 2019', '24/12/2020', '12/2021', '10/07/2019',
       '05/10/2019', '28/06/2021', '14/11/2019', '13  DE JUNIO 2019',
       '20 DE DEIEMBRE 2008', 'MAYO 2021', '10 DE  AGOSTO',
       '8 DE JULIO  2021', '21 ENERO 2021', '27 05 21.-', '25-06-19',
       '03-07-18', '31-12-2019-', '10 DE DIC 2010', '13 D EJULIO DEL 11',
       '10 DE DIC', '13 DE AGOSTO DEL 10', '14 DE NOV', '10 DIC, 10',
       '21 DE  SEP. DEL 11', '9 DE ABRIL 10', '11 DE ABRIL DEL 11',
       '8 DE ABRIL DEL 11', '13 DE JULIO DEL 11', '22 DE  09  09',
       '13 DE  OCTUBRE DEL 2009', '24 DE AGOSTO DEL 10',
       '11  DE NOVIEMBRE 10', '24 DE AGOST ODEL 10',
       '11 DE NOVIEMBRE DEL 10', '20 DE AGOSTO DEL 10',
       '24 DE FEBRERO DEL 12', '27 D E  JUNIO DLE 12', '5 DE ENERO 10',
       '27 DE OCUTBRE', '22/08/16', '21 JULIO 2010', '07 JUNIO 2010',
       '07 JULIO', '28 08 2010 30 08', '27 AGOSTO 2010', '25/10/2018',
       'SEPT 2018', '17 SEPT 2018', '27/11/2018', '25 OCTUBRE 2018',
       'MARZO 2019', '1 DE MARZO 2019', '22 SEPT 2017', '09 03 15',
       '8 MARZO 2018', 'AGOSTO 2018', '10 ABRIL 2018', 'ABRIL 2019',
       '24 DE JULIO 2019', '21 DE AGOSTO 2019', '29 DE JULIO 2019',
       '29 JULIO 2019', 'AGOSTO 2019', '21 DE AGOSTO 2019,SIN',
       '14/09/2019', '29 DIC 2017', '10 OCTUBRE 2018', '10 AGOSTO 2018',
       '10 10 15', '3 ABRIL 2019', 'DIC 2017', '21 08 15', 'SEPT 2017',
       '25 DE MAYO 2015', '22 07 15', '21 08  15', '23 06 15', '9-05-17',
       '03 10 2014', '1 OCTUBRE 12', '1 OCTUBRE  12',
       'ABRIL DEL 2012----PACIENTE', '20 ABRIL 12', '21/12/2018',
       'AGOSTO DEL 2018', '28/11/2019', '27/03/2019', '23-11-16',
       '20  / 60', '24/10/2019', '10-11-15', '29/11/2018',
       '24 DE DIC .DRA', '18/06/2017', 'AGISTO DEL 2017', '170717',
       '30/07/2019', '7/ 09/ 2017', '11-10-2018', '19/02/2021',
       '29 DE ABRIL DEL 2021', '07/06/2021', '05-05-2021',
       '04 DE ABRIL 2019', '27 DE FEB 2019', '12/08/2020',
       '08 DE SEP 2020', '05 DE MAYOP 2020', 'OCT  2016',
       '4 DE MARZO DE 2016', '11 DE OCTUBRE  2016', '19 DE SEP 2016',
       '11 DE OCTUBRE 2016', '9 DE MAYO 17', '19 DE FEBRERO 2020',
       '02 05  13', 'SEPT 2019', '08 09  10', 'JULIO 2015',
       '19 DE FEBRERO  2020', '018  03  11', '9 DE MAYO 18', 'OCT 2016',
       '20  / 20', '05/11/04', '14-02-11', '20/03/2019', '28 11  12',
       '08/10/14', 'JUNIO 2017', '18/ENE/2015', 'SEPT  2019',
       '10/10/2018', '04/01/17', '14/07/2017', '25 MAYOP 2017',
       '20/01/17', '26/12/2017', '27/09/16', '27/05/16', '10/09/2018',
       '25 AGOSTO 2020', '9 ENERO 2017', '26/01/17', '16/01/2020',
       '27/03/2020', '25/04/2019', '26/04/2017', '05/10/2020',
       '06/03/2019', '15/10/2020', '14/01/2020', '30/10/20', '18/12/2019',
       '24/03/21', '10/01/2019', '09/10/2018', '18/12/2015', '05/05/2015',
       '12/11/2014', '30/06/14', '30 DE AGOSTO DEL 2014', '18/12/19',
       '12/06/2019', '16/10/2018', '14/05/2012', '21 DE ENERO 2020',
       '10/06/2019', '18/06/2021', '22 07 10', '31 05 10', '13 DIC 2010',
       '19 DE MARZO', '5  DE MARZO  2010', '13 082010', '13  SEP 2010',
       '29/06/17', '24/10/17', '04 06 2015', '17 SEP 2015', '20 05 2015',
       '20 07 2015', '26 09 2016', 'MASRZO DEL 2016', '09 04 2015',
       '08 06 2016', 'FEBRERO 2016', '12-05-17', '13 08 2012', '12/09/17',
       '24/09/17', '30 SEP 2016', '07 12 2016', 'MARZO DEL 2016',
       '12 06 2012', '08 07  2015', '20 06 2015', '12 11 2014',
       '18 12 2013', '17 12 14', '12 11 14', '27 02  2014', '13 11 2014',
       '14 03 16  GLUCOSA 255', 'DIC 2015', '18 02 16', '28 NOV 2011',
       '03.08 18', '27/10/16', '24/02/17', '18 SEP 2017', '06.12.17',
       '03/08/18', '17/01/17', 'SEPTIEMBRE 10 DE 2019', '02-02-2018',
       'ENERO 2019---------------CONSIENTE', '22/06/18', '21/06/2016',
       '03 04 2016', '10 / 12', '0 / 12', '5  / 12', '3 / 12', '11 / 12',
       '18/04/18', '04/04/19', '20 / 20', '1 / 12', '17 03 2016',
       '9  / 12', '28/01/2015', '03 / 11 / 20156', '18/10/18',
       '16/10/2017', '03 / 11 / 2016', '23 06 2015', '7 / 12', '10  / 12',
       '3  / 12', '10 / 12  DE EDAD, CON DX DE 1', '29 09 2015',
       '08/07/2015', '08/03/2016', '04/04/2016', '194'], dtype=object)

In [24]:
df.presion_arterial.unique()

array(['120/60', '130/80', '120/80', '130/70', nan, '123/65', 'NULL/NULL',
       '125/75', '120/70', '120/82', '130/75', '120/75', '120/78',
       '120/85', '110/70', '140/70', '140/90', '140/80', '110/60',
       '115/70', '110/80', '100/60', '90/60', '150/95', '130/30',
       '116/66', '130/85', '160/95', '130/78', '123/73', '120/72',
       '137/70', '133/80', '135/75', '123/70', '121/60', '125/80',
       '100/70', '125/70', '160/100', '150/70', '120/90', '160/80',
       '120/74', '100/80', '170/70', '125/68', '200/100', '157/70',
       '125/79', '136/85', '128/80', '115/60', '160/90', '170/90',
       '135/85', '150/80', '136/74', '114/78', '120/68', '180/100',
       '123/80', '150/66', '140/100', '125/85', '130/90', '140/85',
       '137/80', '122/75', '115/80', '102/75', '125/78', '123/75',
       '90/70', '150/90', '110/81', '125/76', '104/62', '122/78',
       '118/76', '137/85', '145/100', '110/69', '120/83', '110/75',
       '145/85', '135/80', '116/79', '138/88', '121/87', '90/50',
       '110/78', '120/84', '130/79', '147/88', '170/100', '119/79', '1/1',
       '129/79', '107/70', '133/73', '100/90', '115/78', '145/90',
       '110/90', '150/100', '130/84', '150/115', '155/70', '110/68',
       '34/140', '178/87', '134/85', '180/90', '131/91', '165/69',
       '120/81', '136/75', '150/75', '176/86', '115/75', '110/65',
       '122/80', '118/80', '114/80', '112/70', '118/78', '124/74',
       '112/72', '120/65', '120/76', '125/60', '140/75', '150/65',
       '116/76', '100/78', '180/110', '170/80', '175/79', '140/60',
       '126/74', '111/69', '130/60', '110/76', '160/70', '112/80',
       '123/87', '132/82', '110/50', '128/75', '192/88', '120/79',
       '155/78', '148/77', '140/95', '80/80', '113/77', '132/77',
       '113/79', '130/76', '114/85', '114/77', '102/71', '100/65',
       '135/50', '170/75', '110/85', '112/66', '120/50', '129/80',
       '132/90', '150/60', '148/83', '130/87', '139/84', '138/98',
       '130/86', '128/81', '124/68', '100/68', '128/70', '160/98',
       '150/105', '180/95', '190/100', '138/89', '118/82', '130/95',
       '134/74', '124/78', '131/78', '123/74', '140/65', '110/74',
       '80/60', '100/58', '120/55', '155/80', '112/73', '159/90',
       '120/77', '100/50', '123/72', '120/100', '124/70', '130/100',
       '111/70', '148/85', '140/89', '134/110', '120/95', '148/81',
       '133/100', 'NULL/120', '12/80', '105/60', '114/73', '125/90',
       '146/104', '118/75', '185/73', '161/122', '130/71', '130/77',
       '160/110', '108/68', '150/88', '127/78', '105/70', '110/82',
       '200/140', '115/76'], dtype=object)

In [25]:
df.hba1c.unique()

array([nan, '0', '11.8', '8.4', '11', '8.5', '12', '10', '7', '8', '9.5',
       '9', '6.8', '8.3', '9.4', '130/80', '140/80', '5.7', '5.4', '5.2',
       '7.7', '10.8', '8.7', '6', '8.2', '5.1', '7.8', '7.5', '9.7',
       '7.9', '7.4', '7.3', '10.0', '6.09', '6009', '8.1', '6.7', '6.6',
       '6.3'], dtype=object)

In [26]:
df.hipertension.unique()

array([nan, 'HIPERTENSION ARTERIAL', 'HOPY', 'HAS', 'HIPERTENSA',
       'HIPERTENSIÓN,', 'HIEPRTENSION ARTERIAL', 'HIPERTENSION', 'HTAS',
       'HIPERTENSO', 'HIPERTENSION ARETRIAL', '.HAS',
       'HIPERTENSIÓN ARTERIAL SISTEMICA  DE 30  AÑOS DE EVOLUCION,',
       'HIPERTENSION ARTERIAL CONTROLADO, NO REFIERE SINTOMAS URINARIOS.',
       'HIPERTENSION   CON INCONTINENCIA  URINARIA    NO PORTA  LA CONTRARERERENCIA  MANIFIESTA  ULTIMOS LABOARTORIO HACE    MAS  DE  18 MESES  NO PORTA CONTRAREFERENCIA  DE UROLOGIA   PRESENTA    POLIFAGIA  POLIDIPSIA  POLIURIA  NO   CEFALEA   ACUFENOS  FOSFENOS    VISION BORROSA  EN     PERIFERIA  SOLO   VE  BIE EN EL CENTRO DE EL OJO   DERECHO PARESTESIA EN PIERNAS   A A EXPLORACION BUENA COLLORACIODN EPIEL Y TEGUMENTOS OFTALMOSCIOPIA  CON OPACIDA  LEVE  EN AMBOS OJOS  NO  SE OBSERVA OTRAS LESINES   CARDIOPULMONAR NORMAL ABDOMEN BLANDO DEPRESIBLENO DOLOROSMIEMBROSNO EDEMA  CON   VENAS VARICOSAS  PULOS NORMALES SE    ORIENTA  EN DIETA  HIPOSODICA HIPOCALORICA  HIPOLIPIDICA  CAMBIO DE STILO DE VIDA SALUDABLE SE ORIENTA E        DATOS DE HIO O HIERCGLUCERMIACUIDAO D ELOS PIES    EFECTOS SECUENDARIOS DE LOS MEDIACM,ENTOS SE  SUGIERE     IC    A  OFTAMOLLOOGIA SOLICITL  ESTUDUIOS PRIORITARIOS PARA SU DERIVACION  AOFTAL,OLOGIA    CITA BAIERTA    EN UMF  CON RESUTADOS Y O 1 MES  CITA ABIERTA  AURGENCIAS',
       'HIPERTENSIÓN', 'HIPERTENSIÓN ARTERIAL',
       'HIPERTENSIÓN ARTERIAL SISTEMICA  DE    11AÑOS DE EVOLUCION,',
       'HIPERTENSIÓN ARTERIAL SISTEMICA  DE  12 AÑOS DE EVOLUCION,',
       'HIPERTENSIÓN ARTERIAL SISTEMICA  DE   11AÑOS DE EVOLUCION,',
       'HIPERTENSIONA RTERIAL',
       'HIPERTENSION ARTERIAL ............, PACIENTE INTRANQUILA CONSCIENTE , ORIENTADA CON BUENA COLORACION DE TEGUMENTOS , CONJUTIVAS HIPEREMICAS , PTERIGION BILATERAL , PUPILAS OPACAS ISOCORICAS Y NORMOREFLEXICAS,FARINGE HIPEREMICA HALITOSIS POR CARIES Y PLACA DENTOBACTERIA EN MAXILAR INFERIOR, ADONCIA PARCIAL , CARDIOPULMONAR SIN COMPROMISO, ABDOMEN BLANDO DEPRESIBLE SIN COMPROMISO,  NO EDEMA DE MIEMBROS INFERIORES ...NOTA  SE INSISTE  QUE   ACUDA A DENTAL ,',
       'HIPERTENSION ARTERIAL SISTEMICA'], dtype=object)

In [27]:
df.plaquetas.unique()

array([nan, '360', '439', '362', '475 000', '364 000', '394', '408 000',
       '292', '207', '270', '279', '291', '273', '293', '263', '269',
       '253000', '298', '337', '297', '294', '268', '231', '242', '219',
       '204', '215', '123', '130', '90.5', '209', '457', '119', '321',
       '122,000', '173000', '226', '175', '180', '248', '258', '260',
       '200', '613', '235', '179', '286', '253', '184', '265', '205,000',
       '317', '259 000', '296', '262,000', '136', '71', '305 000', '314',
       '278', '257', '249', '305', '329 000', '302 000', '120', '331',
       '3 09', '308', '309', '302', '250', '244', '220', '304', '198',
       '355', '352,000', '228000', '241000'], dtype=object)

In [28]:
df.creatinina.unique()

array([nan, '1', '1.4', '2.1', '1,4', '1.7', '1.6', '0.8', '1,.1', '1.5',
       '1.3', '1.1', '0.6', '0.7', '1.0', '0.9', '0.5', '0.87', '0.-5',
       '1.2', '80', '0.65', '1.54', '2.7', '4.3', '1.8', '3.2', '0.89',
       '8.6', '11', '6.6', '8.8', '7.9', '2.5', '.6', '0.50', '0.90',
       '.9', '22', '2.2', '3', '4.2'], dtype=object)

In [29]:
df.acido_urico.unique()

array([nan, '3.9', '4.8', '8.1', '5.3', '7.8', '5.6', '3.5', '5', '6.5',
       '6.4', '6.9', '5.5', '5.2', '6.8', '4.-4', '5.1', '5.0', '6.3',
       '3.7', '7.4', '7.1', '5.9', '6.1', '3.3', '3.4', '7.7', '7.5',
       '4.2', '8.7', '6.6', '9.5', '8', '8.1TCOPLESTROL', '5.7', '4.29',
       '6', '5.4', '4.4', '9.1', '6.0', '4.9', '4.0', '4.7', '15', '2.1',
       '8.4', '3.8', '4.3', '3.0', '2.7', '4.6', '7.2', '7,COLEST'],
      dtype=object)

In [30]:
df.urea.unique()

array([   nan,  55.  ,  86.  ,  89.  ,  98.  , 126.  ,  64.  ,  24.2 ,
        43.  ,  34.4 ,  31.5 , 228.  ,  19.  ,  38.  ,  30.  ,  34.7 ,
        36.2 ,  24.  ,  94.  ,  62.  ,  41.  ,  35.4 ,  51.6 , 155.4 ,
       112.  , 140.  ,  57.  ,  58.  ,  35.1 ,  46.3 ,  45.1 ,  40.8 ,
        32.  ,  22.3 ,  41.29,  35.69, 545.  ,  31.  ,  18.2 ,  46.9 ,
        47.  ,  48.  ,  44.4 ,  67.  , 114.19,  66.4 , 139.  ,  81.96,
        72.78,  22.  ,  34.  ,  33.52,  35.  ,  29.  ,  26.  ,  14.  ,
        28.  , 136.  ,  27.3 ,  30.1 ,  39.9 ])

In [31]:
df.peso.unique()

array([ 61.  ,  63.  ,  69.  ,  76.  ,    nan,  65.  ,  64.  ,  67.  ,
         0.  ,  68.  ,  61.5 ,  70.  ,  69.6 ,  60.  ,  64.5 ,  67.4 ,
        66.9 ,  60.5 ,  67.5 ,  62.  ,  67.7 ,  69.5 ,  68.3 ,  69.7 ,
        63.5 ,  86.  ,  87.  ,  91.  ,  77.5 ,  92.  ,  77.  ,  89.  ,
        94.  ,  82.  ,  92.5 ,  95.  ,  80.  ,  86.5 ,  93.  ,  78.5 ,
        84.5 ,  98.5 ,  79.  ,  83.5 ,  89.5 ,  74.5 ,  84.  ,  94.5 ,
        85.  ,  81.5 ,  71.  ,  98.  ,  74.  ,  78.  ,  82.5 ,  75.  ,
        76.5 ,  83.  ,  93.5 ,  96.5 ,  72.  ,  87.5 ,  73.  ,  88.  ,
        85.5 ,  90.  ,  75.1 ,  96.  ,  93.8 ,  97.5 ,  79.1 ,  88.5 ,
        95.5 ,  79.5 ,  81.2 ,  80.3 ,  75.5 ,  80.5 ,  79.6 , 104.  ,
        81.  ,   1.  ,  83.6 ,  86.3 ,  86.8 ,  85.8 ,  82.8 ,  85.2 ,
        60.4 ,  62.5 ,  58.  ,  59.5 ,  58.5 ,  58.3 ,  61.4 ,  57.7 ,
        60.1 ,  62.1 ,  57.5 ,  62.2 ,  61.8 ,  59.  ,  58.8 ,  60.7 ,
        60.2 ,  59.7 ,   2.  ,  83.3 ,  68.5 , 104.5 , 103.  , 105.  ,
       100.  ,  99.  , 103.5 ,  97.  , 102.  , 107.  ,  85.6 ,  97.2 ,
        95.2 , 117.  ,  98.9 ,  95.4 , 102.5 ,  96.3 , 106.5 ,  97.1 ,
        99.5 ,  98.2 , 106.  , 105.5 ,  96.2 , 101.  ,  97.7 ,  97.3 ,
        55.  ,  46.  ,  51.  ,  50.  ,  56.  ,  47.  ,  45.5 ,  48.  ,
        45.  ,  57.  ,  43.  ,  43.9 ,  49.  ,  43.5 ,  44.  ,  44.5 ,
        42.  ,  53.  ,  54.7 ,  47.5 ,  55.5 ,  54.  ,  54.5 ,  48.5 ,
        46.5 ,  42.5 ,  41.  ,  50.5 ,  51.5 ,  52.5 ,  66.  ,  79.54,
        65.5 ,  65.6 ,  62.8 ,  71.5 ,  66.6 ,  66.5 ,  65.8 ,  64.3 ,
        66.7 ,  67.1 ,  63.2 ,  72.5 ,  76.2 ,  73.5 ,  80.9 ,  82.4 ,
        77.4 ,  72.2 ,  90.5 ,  81.7 ,  74.6 ,  73.6 ,  70.5 ,  73.7 ,
        70.8 ,  75.2 ,  72.6 ,  74.9 ,  82.3 ,  78.1 ,  80.6 ,  85.3 ,
        87.9 ,  89.8 ,  91.5 ,  80.8 ,  52.  ,  53.5 ,  56.5 ,  54.4 ,
        54.3 ,  53.7 ,  86.6 ,  82.7 ,  84.7 ,  84.1 ,  91.8 ,  84.4 ,
        89.9 ,  54.9 ,  56.3 ,  55.6 ,  56.4 ,  57.6 ,  58.9 ,  57.9 ,
        56.2 ,  49.5 ,  60.3 ,  57.4 ,  55.2 ,  57.8 ,  54.8 ,  56.7 ,
        55.7 ,  66.4 ,  66.3 ,  76.6 ,  78.3 ,  79.4 ,  77.8 ,  77.7 ,
        52.1 , 111.  ,  51.8 ,  52.2 ,  51.6 ,  51.7 ,  53.8 ,  61.7 ,
        59.3 ,  58.6 ,  58.4 ,  55.3 ,  76.8 ,  81.3 ,  84.6 ,  85.4 ,
        75.8 ,  79.2 ,  85.7 ,  75.7 ,  76.4 ,  87.2 ,  74.8 ,   7.  ,
        53.1 ,  51.4 ,  49.2 ,  75.4 ,  65.4 ,  78.9 ,  83.4 ,  82.9 ,
        79.7 ,  73.9 ,  67.2 ,  68.9 ,  65.9 ,  67.6 ,  68.35,  59.8 ,
       110.5 , 120.  ,  98.7 , 109.4 ,  99.1 , 106.9 , 115.  ,  38.  ,
        77.3 ,  78.6 ,  70.2 ,  71.7 ,  69.8 ,  75.65,  74.7 ,  44.4 ,
        61.6 ,  46.2 ,  47.3 ,  48.3 ,  48.8 ,  49.6 ,  45.3 ,  51.3 ,
        44.6 ,  65.7 ,  52.3 ,  46.7 ,  52.4 ,  65.3 , 125.  , 124.  ,
       126.  , 123.5 , 124.3 , 127.5 ,  65.1 ,  66.8 ,  40.  ,  37.  ,
        33.9 ,  34.2 ,  34.  ,  39.  ,  35.  ,  37.5 ,  36.  ,  36.8 ,
        37.2 ,  34.5 ,  37.4 ,  36.5 ,  38.5 ,  35.5 ,  53.4 ,  59.2 ,
        59.4 ,  53.3 ,   1.57,  79.3 ,  75.6 ,  73.3 ,  73.2 ,  84.3 ,
        86.1 , 110.  , 109.7 , 109.5 , 109.  , 105.7 ,  79.8 ,  86.4 ,
       108.  , 108.5 , 112.  , 107.3 , 107.8 , 106.4 ,  68.2 ,  70.4 ,
       140.  ,  83.2 ,  83.8 ,  85.1 ,  82.6 ,  84.8 ,  87.1 ,  87.8 ,
        81.9 ,  83.9 ,  92.3 ,  80.7 ,  72.4 ,  77.2 ,  87.7 ,  90.2 ,
        68.6 ,  74.2 ,  90.6 , 116.  , 119.  ,  94.7 ,  71.4 ,  69.3 ,
        70.6 ,  69.4 ,  18.  ,  58.2 ,  53.6 ,  53.9 ,  55.8 ,  47.8 ,
        55.4 ,  47.7 ,  47.51,  49.7 ,  61.2 ,  47.2 ,  45.6 ,  50.9 ])

In [32]:
df.altura.unique()

array([1.64, 1.67, 1.55,  nan, 1.68, 1.66, 0.  , 1.65, 1.62, 1.63, 1.61,
       1.6 , 1.52, 1.54, 1.53, 1.7 , 1.69, 1.51, 1.58, 1.56, 1.  , 1.5 ,
       1.44, 1.4 , 1.42, 1.46, 1.48, 1.75, 1.74, 1.73, 1.76, 1.79, 1.78,
       1.77, 1.49, 1.43, 1.59, 1.41, 1.45, 1.47, 1.57, 1.72, 1.82, 1.8 ,
       1.37, 1.35, 1.31, 1.3 , 1.36, 1.81, 1.84, 1.71, 1.38, 1.39])

In [33]:
df.tfg.unique()

array([nan, '40', '85.4ML', '77', '81', '68.61', '120.83', '122', '96',
       '97', '32.7', '65.37', '49.29', '62.3', '60.11', '60.95', '64.41',
       '45.13', '78.7', '72', '52.1', '46', '51', '57', '57.2', '86',
       '121', '91.12', '56.26', '133.46', '183', '137', '27.1', '71',
       '88', '117.41', '53', '80.62', '89.7', '72.47.56', '244', '249',
       '116', '84', '88.09', '77.83', '143', '64.77', '76', '98', '62.24',
       '69'], dtype=object)

In [34]:
df.imc.unique()

array([nan, '22.58', '37', '39', '35.49', '42', '40', '35. 48', '38.08',
       '36.05', '32.22', '34.76', '29.53', '29.14', '31.05', '32.81',
       '31.55', '31.62', '32.42', '31', '32.48', '30.29', '32', '33',
       '30', '26', '34.74', '28.5', '28.9', '28.65', '28.6', '34.58',
       '31.4', '33.4', '30.7', '28.2', '31.7', '32.4', '32.45', '29.7',
       '32.51', '20.44', '23.30 .', '22.93', '25.77', '18', '24.56',
       '24.02', '19.33', '32.79', '31.72', '30.52', '31.32', '30.56',
       '31.19', '30.73', '29', '30.48', '30.78', '32.7', '32.88', '33.1',
       '32.2', '33.2', '33.62', '34', '35.59', '33.74', '33.42', '35.52',
       '23', '32.85', '29.15', '25.5', '23.80', '26.31', '28.83', '32.25',
       '31.64', '31.23', '31.84', '25', '28.4', '24.13', '24.66', '28',
       '29.77', '26.35', '29.59', '25.95', '27.33', '25.33', '28.55',
       '27.88', '26.95', '27', '26.12', '25.5 N', '26.17', '25.78',
       '30.07', '29.68', '29.6', '29,08', '25,05', '30,30', '31.17',
       '28.80', '40.40', '36.29', '40.16', '40.81', '30.82', '28.57',
       '36.62', '27.4', '26.71', '26.1', '25.0', '25.2', '25.9', '25.10',
       '21.09', '21.0', '21.91', '21.00', '21.27', '38.15', '1.65',
       '30.13', '17.35', '18.87', '17.44', '25,', '25.14', '24', '23.95',
       '25. 09', '24.42', '26.02', '25.66', '25. 65', '25.46', '25.07',
       '38.46', '39.3', '40.6', '33.77', '31.79', '38.22', '29.33',
       '30.66', '44', '58.60', '35.33', '48.75', '53.81', '51.2', '51.14',
       '24.9', '24.7', '34.71', '29.58', '34.21', '30.2', '34.04',
       '34.85', '34. 44', '20.76', '25.90', '26.98', '26.47', '22',
       '21.62', '26.81', '24.91', '21.45', '25.25'], dtype=object)

In [35]:
df.año_de_diagnostico_diabetes.unique()

array([nan, '1982', '1981', '1983', '2002', '2010', '2011', '2012',
       '2013', '2009', '2000', '2018', '2014', '2006', '2015', '2001',
       '2001.,HAS', '1999', '1995', '2017', '1997', '2016', '1986',
       '1998', '2003', '300000', '2005', '1994', '1996', '1984', '2004'],
      dtype=object)

In [36]:
df.año_de_diagnostico_hipertension.unique()

array([  nan, 1997., 2009., 2016., 2018., 2000., 2010., 2012., 1999.,
       2017., 2006., 2013., 2001.])

In [37]:
df.fechas_procesadas.unique()

array([nan, '2011-09-01 00:00:00', '07 12', '37. 22', '19 DE AGOSTO 2015',
       '06 DE AGOSTO 2015', '24 DE ENERO 2016', '20 DE ENERO DE 2017',
       '2018-08-01 00:00:00', '2019-03-01 00:00:00',
       '2019-11-01 00:00:00', 'NAN', '2013-12-01 00:00:00',
       '2019-05-01 00:00:00', '2016-05-01 00:00:00', '18 DE JULIO',
       '4 DE JULIO', '13 SEPT 2016--', '2017-06-01 00:00:00',
       '2017-01-01 00:00:00', '15 DE JUNIO', '12 DE MARZO DE 2017',
       '6 DE MARZO', '8 DE DE FEBRERO DE 2018', '14 DE NERO DEL 1ÑO 11',
       '2 DE JUNIO 2014', '15 DE DIC 2015.-', '25 MARZO DE 2019',
       '19 DE JULIO 2016', '15 DE JUNIO DE 2016', '2014-01-24 00:00:00',
       '2020-01-01 00:00:00', '20 DE OCTUBRE DE 2014',
       '2010-12-20 00:00:00', '20 SEP 2016', '06 DE MAYO DE 2015',
       '2012-08-13 00:00:00', '2012-12-27 00:00:00',
       '2012-07-02 00:00:00', '09/NOV2012', '2012-08-30 00:00:00',
       '2013-06-29 00:00:00', '2016-03-16 00:00:00',
       '2016-03-15 00:00:00', '2011-10-10 00:00:00',
       '2010-06-29 00:00:00', '2011-08-10 00:00:00',
       '2011-11-17 00:00:00', '2012-12-17 00:00:00', '8 DE SEPT',
       '12 10001', '37. 00', '2011-08-31 00:00:00', 'JUNIO 2016.-',
       '2009-02-08 00:00:00', '2010-02-10 00:00:00',
       '2011-04-01 00:00:00', '2011-02-15 00:00:00', '8 DE',
       '2013-05-04 00:00:00', '12 DE JUNIO 13', '18 DE SEPTIEMBRE DEL 13',
       '2015-01-01 00:00:00', '2015-02-13 00:00:00', '5 DICIEMBRE 2014',
       '2017-10-09 00:00:00', '2018-02-26 00:00:00',
       '2018-05-12 00:00:00', '2013-12-18 00:00:00',
       '2018-09-01 00:00:00', '2018-06-11 00:00:00',
       '2018-10-01 00:00:00', '2017-10-01 00:00:00',
       '16 DE OCTUBRE DEL 13', '2016-01-15 00:00:00',
       '2017-01-30 00:00:00', '2016-04-15 00:00:00', '12 DE JUNIO.',
       '2013-04-16 00:00:00', '12 DE SEPTIEMBRE DEL 14',
       '2015-04-14 00:00:00', '2015-12-16 00:00:00',
       '2013-06-12 00:00:00', '16DE AGOSTO DEL 13', '2016-10-27 00:00:00',
       '2018-02-01 00:00:00', '2018-01-10 00:00:00',
       '2016-09-26 00:00:00', '14 DE ABRIL DEL 14', '120/70',
       '17 E ENERODEL 2015', '15 DE ENERO DEL 14', '2016-05-20 00:00:00',
       '25 DE NOV', '2015-06-12 00:00:00', '13 DE AGOSTO DEL 14',
       '14 DE JUNIO 13', '14 DE MARZO DEL 14', '13 DE JUNIO DEL 14',
       '14 DE OCTUBRE DEL 14', '2011-03-13 00:00:00',
       '16 DE JULIO DEL 13', '2016-08-18 00:00:00', '2017-03-06 00:00:00',
       '2018-04-09 00:00:00', '30/11//2016', '2012-07-11 00:00:00',
       '2018-11-07 00:00:00', '2018-03-01 00:00:00',
       '2019-10-17 00:00:00', '2018-04-18 00:00:00',
       '2018-06-13 00:00:00', '2018-08-10 00:00:00', '17 12',
       '2009-12-02 00:00:00', '26.09.17', '2016-01-01 00:00:00',
       '04.04.18', '2019-04-05 00:00:00', '11.05.17',
       '2015-08-05 00:00:00', '2015-04-29 00:00:00',
       '26 DE SEPTIEMBRE 2019', '31 DE OCTUBRE 2019',
       '2014-12-04 00:00:00',
       '31 07 14 GLUCOSA 130 DESCONTROLADA, PACIENTE QUE SE RECOMIENDA APEGO A SU TRATAMIENTO, ALIMENTACION Y A REALIZAR EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.2 OBESIDAD GDO II, CINTURA 103 CM, FC 70 X MIN, FR 18 X MIN, TEMP 36 GC, CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. TIENE LATANOPROST TOPICO, AJUSTO TTO, ENVIO A OFTALMOLOGIA VALORACION ANUAL',
       '2014-02-06 00:00:00', '2015-09-08 00:00:00', '21 ENERO 2016',
       '09 NOV 2015', '04 ABRIL 2016', '2015-01-02 00:00:00',
       '2014-08-28 00:00:00', '31 AGOSTO GLUCMEIA',
       '06 01 14 GLUCOSA 96 CONTROLADA, PACIENTE CON BUEN APEGO A SU TRATAMIENTO Y ALIMENTACION QUE SE LE HA RECOMENDADO, REALIZA EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.4',
       '05 11 14 GLUCOSA 353', '2013-12-05 00:00:00',
       '2020-04-14 00:00:00', '2013-11-08 00:00:00', '28.04.16',
       '10.06.16', '2014-09-29 00:00:00', '2017-08-11 00:00:00',
       '2011-12-30 00:00:00', '12.12.16', '2010-10-28 00:00:00',
       '2011-12-01 00:00:00', '30.04.15', '18.06.15',
       '2012-04-01 00:00:00', '2012-03-06 00:00:00', '10/MARZO/2011',
       '2017-08-26 00:00:00', '27 DE JULIO 2016', '5 AGOSTO 2016',
       '10 AGO 2018', '28 NOV 2017', '2021-04-01 00:00:00',
       '2021-02-01 00:00:00', '14 DIC 2020', '16 ENE 2020',
       '2009-06-01 00:00:00', '07 JUNIO 2018', '17 ENE 2020', 'ABRIL 21',
       'FEBRERO 21', '25 DE MAYO', '2010-12-14 00:00:00',
       '2010-02-02 00:00:00', '2011-01-18 00:00:00',
       '2011-04-14 00:00:00', '2010-09-27 00:00:00',
       '2010-10-22 00:00:00', '21 ENERO 16', '12 DE FEBRERO 2016',
       '08 MARZO 2016', '22 ABRIL DE 2015', '4 DE DIC DEL 2018',
       '2019-11-11 00:00:00', '19 DE JUNIO DEL 2017',
       '2012-02-16 00:00:00', '1 FEBRERO 2019', '17 ABRIL 2017',
       '06.05.15', '17 ABRIL 2019', '25 DE JULIO2019', '5 MARZO 2020',
       '2018-04-01 00:00:00',
       '5 SEPT 2018 ERITROS 5 HB 15.1 HTO 42.8 PLAQ 132 000',
       '2016-06-15 00:00:00', '14 DE SEPT 2020', '2020-04-27 00:00:00',
       '2017-12-01 00:00:00', '2018-01-01 00:00:00', '15 DE ABRIL 21',
       '2020-03-01 00:00:00', '04/MARZO/2016', '04 01 17 GLUCOSA 124',
       '5 SEPT 2018', '22 ABRIL 2015', '2020-07-10 00:00:00',
       '2017-08-01 00:00:00', '18 JUNIO 2021', '2015-04-01 00:00:00',
       '2016-03-04 00:00:00', '04 03 16 GLUCOSA 87',
       '2020-11-12 00:00:00', '2020-10-19 00:00:00',
       '16 12 16 GLUCOSA 148', '18 JUNIO2021', '21 DE EENRO DEL 2014',
       '29 DE ENERO DEL 2014', '2016-06-04 00:00:00',
       '2016-04-22 00:00:00', '2016-10-26 00:00:00',
       '2015-01-23 00:00:00', '2017-01-11 00:00:00',
       '2017-01-20 00:00:00', '10 DE AGOSTO', '2016-10-10 00:00:00',
       '2015-08-14 00:00:00', '2016-01-21 00:00:00',
       '2015-12-17 00:00:00', '24 DE SEPTIEMBRE DEL 2013',
       '2015-10-15 00:00:00', '2015-03-11 00:00:00',
       '2016-04-06 00:00:00', '2016-05-03 00:00:00',
       '2016-08-04 00:00:00', '3 DE MARZO DEL 2015',
       '28 DE AGOSTO DEL 2014', '2014-07-10 00:00:00',
       '2016-10-07 00:00:00', '21 DE FEBRERO DEL 2014',
       '15 DE JULIO DEL 2014', '2015-05-05 00:00:00',
       '2013-11-19 00:00:00', '2016-09-14 00:00:00',
       '28 DE DICIEMBRE DEL 2013', '2011-04-27 00:00:00', '5 ENERO 2012',
       '24 JUNIO 2012', '2009-09-10 00:00:00', '11 NOV. 2011',
       '08 JULIO 2011', '17 JUNIO 13', '2010-05-24 00:00:00',
       '10 NOV 2011', '2009-12-23 00:00:00', '5 ENERO 2013',
       '2010-11-01 00:00:00', '2019-06-13 00:00:00',
       '22 DE DICIEMBRE 2017', '2021-02-12 00:00:00',
       '2021-12-31 00:00:00', '24 DE JULIO 2018', '1 DE FEBRERO 2019',
       '23 DIC 20', '23 NOV 20', '2021-03-19 00:00:00', '18 MAYO 21',
       '13 DE MARZO 2020', '2017-10-06 00:00:00', '13 DE ENERO 2017',
       '2016-07-01 00:00:00', '18 DE MAYO', '17 D EJULIO 2018',
       '16 DE JULIO 2020188.3', '10 SPTIEMBRE 2019', '16 DE JULIO 2020',
       '2018-07-24 00:00:00', '2017-02-21 00:00:00', '24 /07/2018',
       '21 ABRIL 2016', '29 SEPT 2016', '17 DE OCTUBRE 2016',
       '19 DE JULIO 2018', '20 DE AGOSTO 2018', '2016-04-01 00:00:00',
       '9 DE JUNIO 2016', '21 DE FEBRERO 2017', '20 DE OCTUBRE 2018',
       '22 DE JUNIO DEL 2019', '19 DE JUNIO', '5 DE OCTUBRE 2016',
       '2011-06-09 00:00:00', '2011-07-08 00:00:00',
       '2009-06-12 00:00:00', '2012-09-12 00:00:00', '10 AL 13',
       '2014-09-26 00:00:00', '2014-11-01 00:00:00',
       '2012-02-15 00:00:00', '2012-05-02 00:00:00',
       '2016-02-25 00:00:00', '25 DE JULIO DEL 2013',
       '2014-09-01 00:00:00', '2014-06-10 00:00:00',
       '2010-07-02 00:00:00', '22 DE ENERO', '06 /08/82010',
       '2011-05-29 00:00:00', '11 DE ABRIL DE 2018', '16 DE JUN DE 2017',
       '2020-01-02 00:00:00', '2020-02-01 00:00:00', '13 MAYO 2019',
       '06 DE OCTUBRE DE 2016', '2016-01-04 00:00:00', '29 AGOSTO 2016',
       '16 DE OCTUBRE DE 2016', '09 DE JUN 2017', '2019-10-01 00:00:00',
       '2018-05-31 00:00:00', '13 JULIO DE 2018', '31 DE MAYO 18',
       '01 DE JUNIO', '26 DE JUNIO 18', '24 DE MAYO 2018',
       '09 DE MAYO DE 2018', '05 / 0 1 / 2015', '2014-10-01 00:00:00',
       '01 DE JUNIO DE 2018', '31 MAYO 2018', '11 OCT 2018',
       '05 DE SEPTIEMBRE DE 2019', '2019-12-01 00:00:00',
       '2017-09-20 00:00:00', '25 SEPT 2018', '2019-04-01 00:00:00',
       '12 DE FEBRERO 2014', '02 DE OCT DEL 2017',
       '28 DE AGOSTO DEL 2017', '16/08/ 17', '2017-08-29 00:00:00',
       '2017-12-04 00:00:00', '2017-10-02 00:00:00',
       '15 DE JULIO DLE2019', '26 / 0 7 / 2012', '26 DE MARZO 14',
       '29 DE MAYO DEL 2014', '18 DE JULIO DEL 2014',
       '2016-06-10 00:00:00', '2016-04-29 00:00:00',
       '2018-03-13 00:00:00', '2020-01-05 00:00:00',
       '2019-10-18 00:00:00', '2017-05-19 00:00:00',
       '2020-04-01 00:00:00', '22 DE OCTUBRE DEL 2014',
       '11 DE SEPTIEMBRE 14', '2019-11-20 00:00:00',
       '2016-11-09 00:00:00', '30/09/20156', '23 DE MAYO 14',
       '26 DE MAYO DEL 2014', '2015-02-06 00:00:00',
       '2016-12-07 00:00:00', '2017-01-17 00:00:00',
       '2017-01-18 00:00:00', '2019-07-20 00:00:00',
       '2019-04-17 00:00:00', '2019-07-19 00:00:00', 'UMF82',
       '2018-12-01 00:00:00', '2018-06-01 00:00:00',
       '2019-01-20 00:00:00', '2013-06-06 00:00:00',
       '2018-04-17 00:00:00', '2018-07-23 00:00:00',
       '2018-03-21 00:00:00', '7 DE AGOSTO 14', '11 DE JULIO 13',
       '5 DE JUNIO 13', '2015-07-21 00:00:00', '17 DE MAYO DEL 2015',
       '2015-05-28 00:00:00', '2015-03-03 00:00:00',
       '24 DE OCTUBRE DEL 2013', '13 DE MAYO 14', '12 DE MAYO DEL 2014',
       '11 DE MAYO DEL 2014', '2015-08-21 00:00:00', '26 DE JULIO 14',
       '2 DE ABRIL 14', '2019-04-21 00:00:00', '10 DE FEBRERO 14',
       '10 DE SEPTIEMBRE 13', '16 DE OCTUBRE DEL 2013',
       '27 DE DICIEMBRE 13', '2019-03-20 00:00:00', '2019-12-20 00:00:00',
       '27 04 2019---', '17 DE SEP 87', '22 DE NOV', '12 DE JULIO 2019',
       '1 DE ABRIL DE 150 MG , TIENE LAB EN LA UNIDAD SEP 2018',
       '12 DE MARZO 2018', '9 DE SEP', '5 DE ABRIL 2017',
       '2017-04-01 00:00:00', '3 DE DIC 2014', 'SEP 2018', '24 DE AGOSTO',
       '2016-03-07 00:00:00', '1 DE MARZO', '2016-09-01 00:00:00',
       '22 DE MARZO', '22 DE MARZO.', '2018-12-12 00:00:00', '24 DE SEP',
       '09 SEP 2016', 'SEP', '2014-12-01 00:00:00', '10/07/20017',
       '18 DE OCT DEL 2018', '01 DE JUNIO DEL 2019',
       '2017-12-11 00:00:00', '2017-06-06 00:00:00',
       '02 DEJULIO DLE 2018', '20 DE JULIO DEL 2016',
       '2017-04-12 00:00:00', '24 DE DIC DEL 2019', '2018-03-09 00:00:00',
       '2010-10-01 00:00:00', '2018-07-01 00:00:00', '22/FEB/2017',
       '2018-05-01 00:00:00', '2015-08-01 00:00:00',
       '11 DE JUNIO DEL 2015', '26 JUNIO 2007', '23.02.2021',
       '19 D EMARZO 2020', '4 D EMARZO 2019', '4 D AGOSTO 2020',
       '120/180', '2019-12-14 00:00:00', '2021-03-20 00:00:00',
       '2021-04-21 00:00:00', 'DEIEMBRE 2008', '2019-07-01 00:00:00',
       '2020-12-24 00:00:00', '12/2021', '2019-07-10 00:00:00',
       '2019-10-05 00:00:00', '2021-06-28 00:00:00',
       '2019-11-14 00:00:00', '13 DE JUNIO 2019', '20 DE DEIEMBRE 2008',
       '2021-05-01 00:00:00', '8 DE JULIO 2021', '21 ENERO 2021',
       '27 05 21.-', '2019-06-25 00:00:00', '2018-07-03 00:00:00',
       '31-12-2019-', '10 DE DIC 2010', '13 D EJULIO DEL 11', '10 DE DIC',
       '13 DE AGOSTO DEL 10', '14 DE NOV', '10 DIC, 10',
       '21 DE SEP. DEL 11', '9 DE ABRIL 10', '11 DE ABRIL DEL 11',
       '8 DE ABRIL DEL 11', '13 DE JULIO DEL 11', '22 DE 09 09',
       '13 DE OCTUBRE DEL 2009', '24 DE AGOSTO DEL 10',
       '11 DE NOVIEMBRE 10', '24 DE AGOST ODEL 10',
       '11 DE NOVIEMBRE DEL 10', '20 DE AGOSTO DEL 10',
       '24 DE FEBRERO DEL 12', '27 D E JUNIO DLE 12', '5 DE ENERO 10',
       '27 DE OCUTBRE', '2016-08-22 00:00:00', '21 JULIO 2010',
       '07 JUNIO 2010', '07 JULIO', '28 08 2010 30 08', '27 AGOSTO 2010',
       '2018-10-25 00:00:00', '17 SEPT 2018', '2018-11-27 00:00:00',
       '25 OCTUBRE 2018', '1 DE MARZO 2019', '22 SEPT 2017',
       '2015-03-09 00:00:00', '8 MARZO 2018', '10 ABRIL 2018',
       '24 DE JULIO 2019', '21 DE AGOSTO 2019', '29 DE JULIO 2019',
       '29 JULIO 2019', '2019-08-01 00:00:00', '21 DE AGOSTO 2019,SIN',
       '2019-09-14 00:00:00', '29 DIC 2017', '10 OCTUBRE 2018',
       '10 AGOSTO 2018', '2015-10-10 00:00:00', '3 ABRIL 2019',
       '2017-09-01 00:00:00', '25 DE MAYO 2015', '2015-07-22 00:00:00',
       '2015-06-23 00:00:00', '2017-05-09 00:00:00',
       '2014-10-03 00:00:00', '1 OCTUBRE 12',
       'ABRIL DEL 2012----PACIENTE', '20 ABRIL 12', '2018-12-21 00:00:00',
       '2019-11-28 00:00:00', '2019-03-27 00:00:00',
       '2016-11-23 00:00:00', '20 / 60', '2019-10-24 00:00:00',
       '2015-11-10 00:00:00', '2018-11-29 00:00:00', '24 DE DIC .DRA',
       '2017-06-18 00:00:00', 'AGISTO DEL 2017', '2017-07-17 00:00:00',
       '2019-07-30 00:00:00', '7/ 09/ 2017', '2018-10-11 00:00:00',
       '2021-02-19 00:00:00', '29 DE ABRIL DEL 2021',
       '2021-06-07 00:00:00', '2021-05-05 00:00:00', '04 DE ABRIL 2019',
       '27 DE FEB 2019', '2020-08-12 00:00:00', '08 DE SEP 2020',
       '05 DE MAYOP 2020', '2016-10-01 00:00:00', '4 DE MARZO DE 2016',
       '11 DE OCTUBRE 2016', '19 DE SEP 2016', '9 DE MAYO 17',
       '19 DE FEBRERO 2020', '2013-05-02 00:00:00', '2019-09-01 00:00:00',
       '2010-09-08 00:00:00', '2015-07-01 00:00:00', '018 03 11',
       '9 DE MAYO 18', '20 / 20', '2004-11-05 00:00:00',
       '2011-02-14 00:00:00', '2012-11-28 00:00:00',
       '2014-10-08 00:00:00', '18/ENE/2015', '2018-10-10 00:00:00',
       '2017-01-04 00:00:00', '2017-07-14 00:00:00', '25 MAYOP 2017',
       '2017-12-26 00:00:00', '2016-09-27 00:00:00',
       '2016-05-27 00:00:00', '2018-09-10 00:00:00', '25 AGOSTO 2020',
       '9 ENERO 2017', '2017-01-26 00:00:00', '2020-01-16 00:00:00',
       '2020-03-27 00:00:00', '2019-04-25 00:00:00',
       '2017-04-26 00:00:00', '2020-10-05 00:00:00',
       '2019-03-06 00:00:00', '2020-10-15 00:00:00',
       '2020-01-14 00:00:00', '2020-10-30 00:00:00',
       '2019-12-18 00:00:00', '2021-03-24 00:00:00',
       '2019-01-10 00:00:00', '2018-10-09 00:00:00',
       '2015-12-18 00:00:00', '2014-11-12 00:00:00',
       '2014-06-30 00:00:00', '30 DE AGOSTO DEL 2014',
       '2019-06-12 00:00:00', '2018-10-16 00:00:00',
       '2012-05-14 00:00:00', '21 DE ENERO 2020', '2019-06-10 00:00:00',
       '2021-06-18 00:00:00', '2010-07-22 00:00:00',
       '2010-05-31 00:00:00', '13 DIC 2010', '19 DE MARZO',
       '5 DE MARZO 2010', '13 082010', '13 SEP 2010',
       '2017-06-29 00:00:00', '2017-10-24 00:00:00',
       '2015-06-04 00:00:00', '17 SEP 2015', '2015-05-20 00:00:00',
       '2015-07-20 00:00:00', 'MASRZO DEL 2016', '2015-04-09 00:00:00',
       '2016-06-08 00:00:00', '2016-02-01 00:00:00',
       '2017-05-12 00:00:00', '2017-09-12 00:00:00',
       '2017-09-24 00:00:00', '30 SEP 2016', '2016-03-01 00:00:00',
       '2012-06-12 00:00:00', '2015-07-08 00:00:00',
       '2015-06-20 00:00:00', '2014-12-17 00:00:00',
       '2014-02-27 00:00:00', '2014-11-13 00:00:00',
       '14 03 16 GLUCOSA 255', '2015-12-01 00:00:00',
       '2016-02-18 00:00:00', '28 NOV 2011', '03.08 18',
       '2017-02-24 00:00:00', '18 SEP 2017', '06.12.17',
       '2018-08-03 00:00:00', 'SEPTIEMBRE 10 DE 2019',
       '2018-02-02 00:00:00', 'ENERO 2019---------------CONSIENTE',
       '2018-06-22 00:00:00', '2016-06-21 00:00:00',
       '2016-04-03 00:00:00', '10 / 12', '0 / 12', '5 / 12', '3 / 12',
       '11 / 12', '2019-04-04 00:00:00', '1 / 12', '2016-03-17 00:00:00',
       '9 / 12', '2015-01-28 00:00:00', '03 / 11 / 20156',
       '2018-10-18 00:00:00', '2017-10-16 00:00:00', '03 / 11 / 2016',
       '7 / 12', '10 / 12 DE EDAD, CON DX DE 1', '2015-09-29 00:00:00',
       '2016-03-08 00:00:00', '2016-04-04 00:00:00', '19 4'], dtype=object)

In [38]:
df.bandera_fechas_procesadas.unique()

array([nan,  1.,  0.])

In [39]:
df.fuente.unique()

array(['corhis_somatometria', 'NER', 'exphis_hc_diabetes'], dtype=object)

In [40]:
df.in_consulta.unique()

array([4593753, 2502589, 6253338, ..., 1187284, 3102755, 1013521])

In [41]:
df.fecha_nacimiento.unique()

array(['1951-12-09', '1977-06-16', '1944-02-02', '1944-05-14',
       '1940-01-01', '1951-12-29', '1955-03-21', '1963-12-31',
       '1956-10-14', '1969-04-15', '1954-05-09', '1960-07-06',
       '1968-06-23', '1933-05-01', '1964-03-29', '1961-09-04',
       '1946-11-05', '1938-09-12', '1936-06-23', '1936-08-20',
       '1934-12-29', '1964-07-05', '1964-12-15', '1969-04-11',
       '1949-04-17', '1957-03-10', '1938-11-20', '1947-09-12',
       '1964-06-29', '1958-01-01', '1967-01-20', '1948-10-04',
       '1975-03-24', '1954-06-07', '1960-06-27', '1958-12-17',
       '1940-09-30', '1961-04-30', '1973-10-06', '1969-12-20',
       '1949-12-22', '1949-08-15', '1948-07-18', '1974-04-10',
       '1951-08-12', '1960-10-28', '1963-02-13', '1968-04-08',
       '1937-11-09', '1957-12-28', '1952-11-13', '1955-08-10',
       '1949-02-15', nan, '1987-04-10'], dtype=object)

In [42]:
df.sexo.unique()

array(['F', 'M', nan], dtype=object)

In [43]:
df.medicamentos.unique()

array(['FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TABLETA CONTIENE: CLORHIDRATO DE FLUOXETINA EQUIVALENTE A 20 MG DE FLUOXETINA. ENVASE CON 14 CAPSULAS O TABLETAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG   ENVASE CON 30 TABLETAS.| PARACETAMOL TABLETA CADA TABLETA CONTIENE: PARACETAMOL 500 MG ENVASE CON 10  TABLETAS.| AMBROXOL COMPRIMIDO CADA COMPRIMIDO CONTIENE: CLORHIDRATO DE AMBROXOL 30 MG   ENVASE CON 20 COMPRIMIDOS.',
       'COMPLEJO B| METFORMINA, TABLETAS, METFORMINA, CLORHIDRATO DE, CADA TABLETA CONTIENE: 850 MILIGRAMOS.',
       'INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSION INYECTABLE ACCION INTERMEDIA  NPH CADA ML CONTIENE: INSULINA HUMANA ISOFANA (ORIGEN ADN RECOMBINANTE) 100 UI  O INSULINA ZINC ISOFANA HUMANA (ORIGEN ADN RECOMBINANTE) 100 UI ENVASE CON UN| BEZAFIBRATO TABLETA CADA TABLETA CONTIENE: BEZAFIBRATO 200 MG ENVASE CON 30  TABLETAS.| LOSARTAN GRAGEA O COMPRIMIDO RECUBIERTO CADA GRAGEA O COMPRIMIDO RECUBIERTO   CONTIENE: LOSARTAN POTASICO 50 MG ENVASE CON 30 GRAGEAS O COMPRIMIDOS   RECUBIERTOS.| PARACETAMOL TABLETA CADA TABLETA CONTIENE: PARACETAMOL 500 MG ENVASE CON 10  TABLETAS.| COMPLEJO B CADA TABLETA, COMPRIMIDO O CAPSULA CONTIENE: MONONITRATO O CLORHIDRATO DE TIAMINA 100 MG CLORHIDRATO DE PIRIDOXINA 5 MG CIANOCOBALAMINA 50 MICROGRAMOS ENVASE CON 30 TABLETAS, COMPRIMIDOS O CAPSULAS.| INDOMETACINA CAPSULA CADA CAPSULA CONTIENE: INDOMETACINA 25 MG ENVASE CON 30   CAPSULAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG   ENVASE CON 30 TABLETAS.| PANTOPRAZOL O RABEPRAZOL U OMEPRAZOL TABLETA O GRAGEA O CAPSULA CADA TABLETA O GRAGEA O CAPSULA CONTIENE: PANTOPRAZOL 40 MG O RABEPRAZOL SODICO 20 MG U OMEPRAZOL 20 MG ENVASE CON 14 TABLETAS O GRAGEAS O CAPSULAS.',
       ...,
       'CAPTOPRIL, TABLETAS CADA TABLETA CONTIENE: CAPTOPRIL 25 MG.| CALCITRIOL (ALFA 25 DIHIDROXICOLICOLECALCIFEROL), CAPSULA DE GELATINA BLANDA.  CADA CAPSULA CONTIENE: CALCITRIOL 0.25 MCG. | SULFATO FERROSO. TABLETAS. CADA TABLETA CONTIENE: SULFATO FERROSO DESECADO APROXIMADAMENTE 200 MG EQUIVALENTE A 60.27 MG DE HIERRO ELEMENTAL.| COMPLEJO B| FUROSEMIDA. TABLETAS. CADA TABLETA CONTIENE: FUROSEMIDA 40 MG.',
       'INSULINA HUMANA. SUSPENSION INYECTABLE. ACCION INTERMEDIA NPH, CADA MILILITRO   CONTIENE: INSULINA HUMANA ISOFANA (ORIGEN ADN RECOMBINANTE) 100 UI O INSULINA   ZINC ISOFANA HUMANA (ORIGEN ADN RECOMBINANTE) 100 UI. ENVASE CON| RANITIDINA. TABLETAS O GRAGEAS. CADA TABLETA O GRAGEA CONTIENE: CLORHIDRATO DE RANITIDINA EQUIVALENTE A 150 MG. DE RANITIDINA BASE.',
       'PREDNISONA TABLETA CADA TABLETA CONTIENE: PREDNISONA 5 MG ENVASE CON 20  TABLETAS.| PENTOXIFILINA TABLETA O GRAGEA DE LIBERACION PROLONGADA CADA TABLETA O GRAGEA  CONTIENE: PENTOXIFILINA 400 MG ENVASE CON 30 TABLETAS O GRAGEAS.| ESPIRONOLACTONA TABLETA CADA TABLETA CONTIENE: ESPIRONOLACTONA 25 MG ENVASE CON   30 TABLETAS.| COMPLEJO B CADA TABLETA, COMPRIMIDO O CAPSULA CONTIENE: MONONITRATO O CLORHIDRATO DE TIAMINA 100 MG CLORHIDRATO DE PIRIDOXINA 5 MG CIANOCOBALAMINA 50 MICROGRAMOS ENVASE CON 30 TABLETAS, COMPRIMIDOS O CAPSULAS.'],
      dtype=object)

In [44]:
df.codigos_cie.unique()

array([nan, 'E119', 'E119      , I10X', 'J068', 'E11X', 'Z713',
       'E119      , M790      , K295      , E039      , J988',
       'E109      , I10X      , M069', 'E119      , H491',
       'E109      , I10X',
       'E119      , E109      , M069      , F329      , Z911', 'E109',
       'E66X      , E039      , F419      , M069',
       'E109      , M069      , F329      , G479',
       'E109      , M790      , M069      , E66X      , K589',
       'E105      , E039',
       'E11X      , E039      , K297      , M069      , E66X',
       'E107      , M069      , E039',
       'E11X      , I10X      , F329      , J029',
       'E10X      , M069      , I10X      , E039      , M790      , K295      , G431',
       'E117', 'E109      , M790      , M069',
       'E11X      , I10X      , M069', 'E109      , M069',
       'E11X      , M069      , K295      , I872      , J040      , R51X',
       'D649', 'E105', 'E109      , I10X      , F412',
       'E109      , M069      , I99X',
       'E109      , I10X      , M069      , F329',
       'E119      , M069      , F329',
       'E109      , M069      , F329      , G510', 'E10X',
       'E107      , M069      , K295      , F329',
       'E109      , E039      , M790', 'E10X      , I10X      , E039',
       'E109      , M790',
       'E109      , I10X      , M069      , M790      , K295      , E039      , J029',
       'E109      , I10X      , E66X', 'E109      , E039',
       'E109      , M790      , F329', 'E107      , M790      , E039',
       'E10X      , I10X      , K295',
       'E109      , I10X      , E039      , M069',
       'E109      , I10X      , E039',
       'I10X      , E10X      , E782      , E039      , M069      , K529      , E660',
       'J00X', 'E119      , I10X      , E66X      , E039      , M790',
       'M069      , E119      , E039', 'E107      , F329',
       'E119      , I10X      , M069', 'I50X',
       'E10X      , I10X      , M069',
       'E11X      , E66X      , E039      , M069      , I10X      , K295      , F412',
       'E109      , I10X      , F329',
       'E109      , I10X      , E66X      , F329',
       'E109      , M790      , E785',
       'E109      , I10X      , F412      , E039', 'E10X      , E039',
       'E11X      , I10X      , E039      , M069      , R51X',
       'E10X      , I10X      , E039      , E785      , E790',
       'E10X      , E039      , J988',
       'E109      , M790      , F412      , E039',
       'E109      , E039      , F412', 'N390',
       'E109      , I10X      , E785      , M790',
       'E10X      , M790      , F329',
       'E11X      , I10X      , I872      , M790',
       'E100      , I10X      , E669',
       'E109      , I10X      , E669      , F412      , K590',
       'E109      , M545',
       'E115      , E669      , M199      , E785      , J449',
       'E105      , I10X      , E669      , M17X', 'E109      , M431',
       'E119      , I10X      , I872      , G439      , F412      , M199',
       'E109      , I872      , F412      , G439',
       'E119      , G439      , I872      , F412      , K297      , K590      , K529',
       'I10X      , E119', 'E109      , I10X      , E669      , I872',
       'E109      , I10X      , E669      , F412      , M545',
       'E119      , E669',
       'E119      , I10X      , F510      , F412      , K529      , G439',
       'E115      , I10X      , E785      , E669      , E790',
       'E109      , K529      , F412      , G439      , I10X      , K297      , M199',
       'I10X      , E669',
       'E119      , I10X      , E669      , I872      , K297      , K590',
       'E109      , K590      , I10X      , F510      , M199      , G439',
       'I10X      , E117      , I64X      , E059',
       'E109      , I10X      , I872      , F412',
       'E109      , I10X      , I872      , K590      , K297',
       'E119      , I10X      , E669',
       'E109      , I10X      , I872      , M545',
       'E109      , I10X      , F510      , I739      , F412      , M199',
       'I10X      , F412',
       'E109      , I10X      , E785      , M674      , G439      , E669',
       'E109      , I10X      , G439      , K590      , F412      , F510      , K529',
       'E119      , A09X      , I10X      , F412',
       'E119      , I10X      , I872      , F412      , K529      , K297      , K590      , M199',
       'I10X      , E119      , E669      , E785', 'E117      , K297',
       'E119      , I10X      , I872      , G439      , F412      , K297      , K590',
       'E104', 'E105      , I10X      , M17X',
       'E109      , F412      , I10X      , K297      , K590      , M199      , I872',
       'I10X',
       'E119      , I10X      , F412      , M199      , G439      , K590',
       'E119      , E785', 'E119      , M674      , M545',
       'E109      , E669      , I10X',
       'E119      , I10X      , E669      , F510',
       'E119      , I10X      , F419', 'E105      , J449      , F419',
       'E119      , E781',
       'I10X      , E119      , E785      , I99X      , F412',
       'E109      , I10X      , M545      , K529',
       'E119      , I10X      , G439', 'E119      , E785      , F412',
       'E115', 'E119      , E660      , E790', 'E103      , I10X',
       'E119      , G439      , F412      , M199      , K590',
       'E109      , I10X      , G439      , M199      , F412',
       'E107      , I10X      , E660      , M199',
       'E119      , I10X      , F412      , K590      , H001',
       'E119      , E660', 'E119      , I10X      , N390      , E781',
       'E119      , J209', 'E11X      , I10X',
       'E119      , I10X      , E785      , N390',
       'E119      , I10X      , E781', 'E119      , J029',
       'E119      , I10X      , E785', 'E119      , I10X      , E110',
       'I10X      , E119      , J00X',
       'E119      , I10X      , E785      , G403', 'E115      , M758',
       'E785      , E119      , I10X', 'M758      , I10X',
       'E117      , I10X      , G403', 'E119      , H401',
       'E119      , E66X      , H40X',
       'E119      , E785      , H401      , I872      , E660',
       'E10X      , H409', 'E14X      , I10X      , E785',
       'E119      , H401      , I872      , E660',
       'E119      , H401      , E785      , I872      , E660',
       'E113      , H40X      , E785', 'E10X      , J00X      , H401',
       'E10X      , H40X',
       'E119      , E785      , H401      , I872      , Z136      , E660',
       'E11X      , H401      , E785      , I739',
       'I10X      , E785      , H409      , E109',
       'H40X      , E113      , I10X', 'E11X      , I10X      , H40X',
       'E109      , E780      , E669      , H40X',
       'E119      , H401      , E785      , I872',
       'E113      , E785      , H40X', 'E11X      , S202',
       'E119      , H402', 'E119      , I10X      , H409',
       'E119      , I10X      , H401', 'E11X      , E039      , F412',
       'E119      , I10X      , L89X', 'I519      , E119',
       'E119      , G20X      , I519',
       'E119      , I429      , G20X      , E039', 'M891',
       'E119      , I10X      , E039', 'E119      , G20X      , E059',
       'E11X      , I519', 'I10X      , G20X      , F313', 'E149',
       'E119      , I10X      , G20X',
       'E119      , I429      , K589      , E039',
       'E11X      , I889      , I519      , N951', 'I10X      , E149',
       'E039      , E11X      , I519      , M790',
       'E116      , G20X      , E039',
       'E039      , E119      , I10X      , F412',
       'I519      , E039      , M790', 'E119      , G20X',
       'E119      , E039      , F412      , G20X', 'E116',
       'E119      , E039      , I429', 'E11X      , M545',
       'E119      , E039      , I517',
       'I519      , E11X      , E782      , K30X', 'E149      , I10X',
       'I10X      , E11X', 'E11X      , I519      , K291', 'E129',
       'E11X      , E059      , F419      , R634', 'E107',
       'E119      , I10X      , I519', 'E129      , I10X',
       'E11X      , E039      , I20X      , G20X      , F412      , M790',
       'E119      , I519', 'E144      , M790      , G20X      , I10X',
       'E119      , I872',
       'I10X      , E107      , I872      , N390      , K469      , E785',
       'J029      , E119', 'M139      , E109      , I10X',
       'E119      , I10X      , K469', 'E109      , I10X      , K469',
       'E109      , I10X      , I872', 'E119      , N390', 'E102',
       'E119      , N72X      , N644', 'E107      , I10X      , M199',
       'E11X      , I10X      , E785',
       'E119      , I10X      , E785      , E660', 'E10X      , I10X',
       'E785      , E109      , E668      , I872      , I10X      , N19X',
       'E11X      , E785      , E660      , I10X',
       'E11X      , I10X      , E785      , E660',
       'E119      , I10X      , E660      , E785',
       'I10X      , E119      , K30X      , E660      , E10X',
       'E11X      , I10X      , E785      , E790      , G470',
       'E119      , I10X      , E660',
       'E11X      , I10X      , E790      , E785',
       'E119      , I10X      , E785      , E669',
       'E119      , I10X      , E782', 'R730      , I10X      , M069',
       'E743      , I10X      , M069', 'R730      , E782      , I872',
       'E782      , R730      , I872', 'E743      , M069      , B351',
       'R730      , I872      , M069      , I10X',
       'E119      , E780      , I872      , I10X',
       'R730      , I10X      , E782      , M069',
       'R730      , I10X      , I872      , M069', 'R730      , M255',
       'E743      , G442      , M069', 'E119      , I872      , K589',
       'E119      , I10X      , I872', 'F412      , E119      , N189',
       'R730      , E780', 'E119      , I10X      , F522',
       'I10X      , E119      , F522', 'I10X      , E119      , E781',
       'E119      , I10X      , F522      , H001', 'F522      , E119',
       'E119      , B356', 'E119      , I10X      , F529',
       'E119      , I10X      , B369', 'I10X      , E114',
       'E119      , I10X      , F528', 'E119      , M549',
       'E11X      , E781      , I872', 'E119      , J00X',
       'E119      , E781      , I872      , E660', 'E119      , M54X',
       'E119      , R51X',
       'E119      , I10X      , E66X      , M199      , N390',
       'E119      , E785      , I872      , F419      , E660',
       'E119      , E785      , I872      , F419      , E660      , N390',
       'E119      , I10X      , M722', 'E119      , M722',
       'E119      , I10X      , M819', 'E119      , M190',
       'E119      , E785      , I872',
       'E119      , E785      , I872      , E660      , F419',
       'E119      , M545', 'E119      , E785      , I872      , E660',
       'E119      , E785      , I872      , E660      , N390',
       'E119      , N390      , E785', 'E119      , E669      , I10X',
       'E109      , K529      , E669', 'E119      , H000',
       'M549      , E109', 'E109      , I10X      , I845',
       'E119      , F412', 'E109      , I10X      , E669',
       'E105      , I10X      , E669',
       'E109      , I10X      , I872      , K529      , E669',
       'E109      , N63X      , E669      , I10X      , K529',
       'E109      , E669', 'J069      , E109      , I10X',
       'I10X      , E109', 'E669      , I10X      , E109',
       'E109      , E669      , S934', 'E112      , N390',
       'E104      , I10X      , E669', 'E109      , I10X      , N72X',
       'E109      , I10X      , E669      , N601', 'E119      , A09X',
       'E104      , N644',
       'E119      , I10X      , E785      , N390      , F510',
       'E119      , I10X      , F510',
       'E109      , I10X      , E669      , S934',
       'E109      , N601      , K590', 'N390      , E785      , E105',
       'E109      , M549      , E660', 'E119      , I10X      , J029',
       'E119      , J20X', 'I10X      , H258      , E119',
       'E119      , R54X', 'E119      , N18X      , D539      , E785',
       'E119      , I10X      , G442',
       'E11X      , I10X      , E785      , D649',
       'E117      , I10X      , E113', 'E105      , I10X',
       'I10X      , R730', 'E119      , H251      , I10X      , A46X',
       'E11X      , I10X      , D649      , K295',
       'E11X      , D649      , I10X      , E785',
       'E119      , I10X      , N17X', 'E119      , I10X      , K522',
       'E119      , I10X      , F510      , M770',
       'E117      , F510      , K589', 'I10X      , E115',
       'E119      , I499', 'E119      , B351',
       'E119      , I10X      , N390', 'Z758', 'E119      , E755',
       'E119      , I845', 'E117      , F412', 'E119      , Z450',
       'E117      , E112      , Z450', 'E112      , I259      , Z450',
       'E112      , I259      , Z450      , I64X', 'E119      , N189',
       'Z450      , E119', 'E119      , E123',
       'E119      , I10X      , E112', 'E119      , Z450      , E102',
       'E119      , N19X', 'S720      , E112      , I10X', 'E112',
       'E119      , E112      , R42X', 'E119      , E112',
       'E119      , I10X      , Z450      , N189',
       'E107      , I10X      , I129',
       'E117      , I10X      , E780      , E669      , N189',
       'E119      , I10X      , M170', 'E117      , I10X      , I519',
       'E117      , I10X      , E780      , E669      , F102      , I500      , K729      , I48X',
       'E119      , I10X      , B351', 'E117      , I10X',
       'I10X      , E119      , K729',
       'E119      , I10X      , I509      , I259',
       'I10X      , I519      , E119      , J029',
       'E119      , I10X      , J459', 'E115      , I10X      , M170',
       'I10X      , E119      , E785      , K30X',
       'D401      , E109      , I10X', 'M170      , E785',
       'E119      , I10X      , E785      , M199',
       'I10X      , E119      , E780      , E669      , I509',
       'E119      , I500', 'E117      , I10X      , I519      , J449',
       'I10X      , E119      , B354',
       'E115      , I10X      , M199      , I872      , E785      , J449      , J029',
       'E119      , I10X      , I259',
       'E115      , I10X      , I519      , M199      , J449',
       'I10X      , I500      , I48X      , B351      , B353',
       'I10X      , E113      , R54X      , K30X',
       'I10X      , E119      , J449',
       'I10X      , E119      , E669      , E782      , I519',
       'E115      , I10X      , I519      , I872      , M199',
       'E119      , I10X      , E780      , E669      , F102      , I509      , I129      , I48X',
       'E112      , N189', 'N40X      , N189',
       'E112      , I10X      , N189',
       'E112      , I10X      , I64X      , N189      , N40X',
       'E112      , I10X      , E113      , N40X',
       'E112      , I10X      , N189      , N40X',
       'E102      , I10X      , N189      , N40X',
       'N189      , N40X      , D649      , E112',
       'N40X      , E112      , I10X',
       'N189      , I10X      , E112      , N40X',
       'E112      , I10X      , N40X      , N189',
       'N40X      , E112      , N189      , I10X',
       'E112      , I10X      , N40X      , Z992', 'E119      , L568',
       'E119      , H810      , M819      , R32X      , I69X',
       'E119      , M819      , L578      , H612', 'E11X      , E785',
       'E119      , L578',
       'E119      , E780      , H810      , E660      , M819',
       'E119      , M819      , I69X      , H810',
       'E119      , M819      , L578', 'E11X      , M179      , R42X',
       'E119      , M541', 'E119      , M819      , L578      , H103',
       'K20X',
       'E11X      , K30X      , I872      , H269      , M819      , R32X',
       'E119      , M751', 'E119      , R32X      , M819      , L578',
       'N19X      , M819', 'H810', 'E119      , E66X      , R32X',
       'E119      , M174', 'E119      , K210',
       'E119      , J00X      , E146', 'I420      , E119', 'I429',
       'I429      , R104', 'E11X      , K30X',
       'E109      , K295      , N390', 'E119      , M461',
       'E102      , I10X', 'E119      , U590      , M779',
       'E119      , M169', 'E119      , N601', 'E119      , L309',
       'E109      , N390', 'E119      , U590      , J00X',
       'E110      , N390', 'E109      , I10X      , J00X',
       'E109      , A09X', 'K297      , E115',
       'E110      , I10X      , T140      , M199', 'E119      , M544',
       'E119      , M542', 'E119      , C61X',
       'N40X      , E119      , K291', 'E103', 'E119      , N40X',
       'E117      , E785', 'E119      , I10X      , C61X',
       'E119      , I872      , E669      , E780      , I10X',
       'E115      , M199', 'C61X      , I10X      , E119',
       'I10X      , E115      , R32X', 'E119      , I10X      , N40X',
       'E119      , I10X      , L031', 'E119      , R32X',
       'E119      , N189      , N319      , I10X',
       'I10X      , C61X      , E119', 'E119      , N40X      , J449',
       'E119      , E785      , B351', 'E119      , J981      , C61X',
       'E119      , N189      , C61X', 'E127', 'D099',
       'E117      , I10X      , R32X', 'E117      , I10X      , C61X',
       'E119      , I10X      , C61X      , K295      , R042',
       'E119      , N189      , N40X', 'I10X      , E117      , C61X',
       'I10X      , E119      , K297      , I872      , C61X',
       'E115      , I872',
       'I10X      , E119      , E669      , M199      , I872      , K295      , N40X',
       'E119      , I10X      , R32X',
       'E110      , E113      , I10X      , R32X',
       'C61X      , E119      , J981',
       'E117      , I10X      , R32X      , K590      , I872', 'C61X',
       'I10X      , E117      , I872      , K297', 'E119      , N319',
       'E119      , C61X      , J981', 'E119      , C61X      , C80X',
       'E119      , B351      , E785', 'M891      , E782',
       'E119      , B86X      , I10X', 'E144      , N40X      , E785',
       'E119      , B86X', 'I10X      , Z713      , B351',
       'E11X      , I10X      , E66X',
       'N40X      , E119      , I10X      , H041      , E785      , F510',
       'K291      , E119      , I10X',
       'E119      , I10X      , E785      , H041      , N40X      , F510',
       'E119      , I10X      , N40X      , E669', 'E119      , F329',
       'E119      , F412      , N40X      , L219',
       'Z713      , I10X      , B351', 'E119      , F412      , N40X',
       'I10X      , L309      , B370      , E119', 'E113      , E785',
       'Z713      , E781      , N390', 'E119      , N40X      , H041',
       'E144      , I10X      , E785      , F510      , J00X',
       'L281      , J068      , E119      , E785',
       'E117      , I10X      , B351      , F411',
       'I10X      , E119      , N40X', 'E144      , I10X',
       'E119      , J312      , K219', 'E660      , I10X',
       'E119      , F419', 'E119      , L21X      , F510',
       'E119      , F412      , L989', 'E119      , I10X      , F412',
       'E144      , N40X      , I10X',
       'B351      , E11X      , I10X      , F510      , M199',
       'E11X      , I872      , L568',
       'E11X      , I10X      , G570      , M199      , F510',
       'E14X      , I10X      , K922      , F510',
       'E11X      , I10X      , F510      , L84X      , G570',
       'E11X      , M199      , F510      , I10X',
       'E11X      , I10X      , M199      , F510',
       'F510      , E11X      , I10X      , I872',
       'I10X      , E119      , Z450      , M545',
       'I10X      , E11X      , F419      , K297',
       'E119      , I10X      , G479',
       'I10X      , E11X      , I872      , G570',
       'E11X      , I10X      , B351      , E669      , M199',
       'E115      , I10X      , M174      , I872      , M199      , K295',
       'F510      , E11X      , I10X',
       'E119      , I10X      , I872      , F510',
       'E11X      , I10X      , F510      , M199',
       'E11X      , I10X      , I872      , M543',
       'E119      , I10X      , H900      , M199',

In [45]:
df.diagnosticos.unique()

array([nan, 'Diabetes tipo II', 'Diabetes tipo II, Hipertension arterial',
       'Faringoamigdalitis aguda',
       'Diabetes mellitus no insulinodependiente',
       'Diabetes consulta y supervisión de la dieta',
       'Diabetes tipo II, Fibromialgia , Gastritis cronica, Hipotiroidismo, Infección respiratoria',
       'Diabetes tipo I, Hipertension arterial, Artritis reumatoide',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Parálisis nervio craneal iv par o patético',
       'Diabetes tipo I, Hipertension arterial',
       'Diabetes tipo II, Diabetes tipo I, Artritis reumatoide , Trastorno depresivo (ver también depresión) , Historia incumplimiento del régimen o tratamiento médico',
       'Diabetes insulinodependiente',
       'Obesidad, Hipotiroidismo, Ansiedad , Artritis reumatoide',
       'Diabetes tipo I, Artritis reumatoide , Trastorno depresivo (ver también depresión) , Trastorno sueño',
       'Diabetes tipo I, Fibromialgia , Artritis reumatoide, Obesidad, Colitis espastica',
       'Diabetes mellitus insulinodependiente con complicaciones circulatorias perifericas, Hipotiroidismo',
       'Diabetes mellitus no insulinodependiente, Hipotiroidismo, Gastritis, Artritis reumatoide , Obesidad',
       'Diabetes mellitus insulinodependiente, con complicaciones multiples, Artritis reumatoide , Hipotiroidismo',
       'Diabetes mellitus no insulinodependiente, Hipertension arterial, Depresión , Faringitis aguda',
       'Diabetes mellitus insulinodependiente, Artritis reumatoide , Hipertension arterial, Hipotiroidismo, Fibromialgia , Gastritis cronica, Migraña clásica',
       'Diabetes mellitus no insulinodependiente,con complicaciones multiples',
       'Diabetes tipo I, Fibromialgia , Artritis reumatoide',
       'Diabetes mellitus no insulinodependiente, Hipertension arterial, Artritis reumatoide',
       'Diabetes tipo I, Artritis reumatoide',
       'Diabetes mellitus no insulinodependiente, Artritis reumatoide , Gastritis cronica, Insuficiencia venosa, Laringitis aguda, Cefalea',
       'Anemia',
       'Diabetes mellitus insulinodependiente, con complicaciones circulatorias perifericas',
       'Diabetes insulinodependiente , Hipertension arterial, Ansiedad depresión',
       'Diabetes insulinodependiente , Artritis reumatoide , Insuficiencia vascular',
       'Diabetes insulinodependiente , Hipertension arterial, Artritis reumatoide , Depresión',
       'Diabetes tipo II, Artritis reumatoide, Trastorno depresivo (ver también depresión)',
       'Diabetes tipo I, Artritis reumatoide , Depresión , Paralisis facial',
       'Diabetes mellitus insulinodependiente',
       'Diabetes mellitus insulinodependiente con complicaciones multiples, Artritis reumatoide , Gastritis cronica, Depresión',
       'Diabetes insulinodependiente , Hipotiroidismo, Fibromialgia',
       'Diabetes mellitus insulinodependiente, Hipertension arterial, Hipotiroidismo',
       'Diabetes mellitus insulinodependiente, sin mencion de complicacion',
       'Diabetes tipo I, Fibromialgia',
       'Diabetes insulinodependiente , Hipertension arterial, Artritis reumatoide , Fibromialgia , Gastritis cronica, Hipotiroidismo, Faringitis aguda',
       'Diabetes insulinodependiente , Hipertension arterial, Obesidad',
       'Diabetes tipo I, Hipotiroidismo',
       'Diabetes tipo I, Fibromialgia , Trastorno depresivo (ver también depresión)',
       'Diabetes insulinodependiente , Hipertension arterial',
       'Diabetes mellitus insulinodependiente con complicaciones multiples, Fibromialgia , Hipotiroidismo',
       'Diabetes mellitus insulinodependiente, Hipertension arterial, Gastritis cronica',
       'Diabetes mellitus insulinodependiente, sin mencion de complicacion, Hipertension arterial, Hipotiroidismo adquirido, Artritis reumatoide',
       'Diabetes insulinodependiente , Hipertension arterial, Hipotiroidismo',
       'Hipertension arterial, Diabetes mellitus insulinodependiente, Hiperlipidemia mixta , Hipotiroidismo (adquirido) , Artritis reumatoide , Colitis crónica (no infecciosa) , Obesidad alimentaria',
       'Rinofaringitis aguda',
       'Diabetes tipo II, Hipertension arterial, Obesidad, Hipotiroidismo, Fibromialgia',
       'Artritis reumatoide , Diabetes tipo II, Hipotiroidismo',
       'Diabetes mellitus insulinodependiente con complicaciones multiples, Depresión',
       'Diabetes tipo II, Hipertension arterial, Artritis reumatoide',
       'Insuficiencia cardiaca',
       'Diabetes mellitus insulinodependiente, Hipertension arterial, Artritis reumatoide',
       'Diabetes de edad adulta',
       'Diabetes mellitus no insulinodependiente, Obesidad, Hipotiroidismo, Artritis reumatoide, Hipertension arterial, Gastritis cronica, Ansiedad depresión',
       'Diabetes insulinodependiente , Hipertension arterial, Trastorno depresivo (ver también depresión)',
       'Diabetes insulinodependiente , Hipertension arterial, Obesidad, Depresión',
       'Diabetes insulinodependiente , Fibromialgia , Dislipidemia',
       'Diabetes mellitus insulinodependiente, sin mencion de complicacion, Artritis reumatoide',
       'Diabetes insulinodependiente , Hipertension arterial, Ansiedad depresión , Hipotiroidismo',
       'Diabetes mellitus insulinodependiente, Hipotiroidismo',
       'Diabetes mellitus no insulinodependiente, Hipertension arterial, Hipotiroidismo, Artritis reumatoide , Cefalea',
       'Diabetes mellitus insulinodependiente, Hipertension arterial, Hipotiroidismo, Dislipidemia, Hiperuricemia',
       'Diabetes mellitus insulinodependiente, Hipotiroidismo, Infección respiratoria',
       'Diabetes insulinodependiente , Fibromialgia , Ansiedad depresión , Hipotiroidismo',
       'Diabetes insulinodependiente , Hipotiroidismo, Ansiedad depresión',
       'Infección vías urinarias',
       'Diabetes insulinodependiente , Hipertension arterial, Dislipidemia, Fibromialgia',
       'Diabetes mellitus insulinodependiente, Fibromialgia , Depresión',
       'Diabetes mellitus no insulinodependiente, Hipertension arterial, Insuficiencia venosa, Fibromialgia',
       'Neuropatia diabetica insulinodependiente, Hipertension arterial, Obesidad',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Obesidad, Trastorno mixto de ansiedad y depresion, Estreñimiento',
       'Diabetes mellitus no insulinodependiente sin complicaciones',
       'Diabetes mellitus insulinodependiente sin complicaciones, Lumbalgia',
       'Diabetes mellitus no insulinodependiente con complicaciones circulatorias perifericas, Obesidad, Osteoartrosis degenerativa, Dislipidemia, Neumopatia obstructiva cronica',
       'Diabetes mellitus insulinodependiente con complicaciones circulatorias perifericas, Hipertension arterial, Obesidad, Gonartrosis [artrosis de la rodilla]',
       'Diabetes mellitus insulinodependiente sin complicaciones, Espondilolistesis adquirida',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Insuficiencia venosa (cronica) (periferica), Migraña, Trastorno mixto de ansiedad y depresion, Osteoartrosis degenerativa',
       'Diabetes mellitus insulinodependiente sin complicaciones, Insuficiencia venosa (cronica) (periferica), Trastorno mixto de ansiedad y depresion, Migraña',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Migraña, Insuficiencia venosa (cronica) (periferica), Trastorno mixto de ansiedad y depresion, Gastritis, Estreñimiento, Colitis cronica alimentaria',
       'Hipertension arterial, Diabetes mellitus no insulinodependiente sin complicaciones',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Obesidad, Insuficiencia venosa (cronica) (periferica)',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Obesidad, Trastorno mixto de ansiedad y depresion, Lumbalgia',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Obesidad',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Insomnio no organico, Trastorno mixto de ansiedad y depresion, Colitis cronica alimentaria, Migraña',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus no insulinodependiente con complicaciones circulatorias perifericas, Hipertension arterial, Dislipidemia, Obesidad, Hiperuricemia',
       'Diabetes mellitus insulinodependiente sin complicaciones, Colitis cronica alimentaria, Trastorno mixto de ansiedad y depresion, Migraña, Hipertension arterial, Gastritis, Osteoartrosis degenerativa',
       'Hipertension arterial, Obesidad',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Obesidad, Insuficiencia venosa (cronica) (periferica), Gastritis, Estreñimiento',
       'Diabetes mellitus insulinodependiente sin complicaciones, Estreñimiento, Hipertension arterial, Insomnio no organico, Osteoartrosis degenerativa, Migraña',
       'Hipertension arterial, Diabetes mellitus no insulinodependiente con complicaciones multiples, Evento vascular cerebral, Hipertiroidismo',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Insuficiencia venosa (cronica) (periferica), Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus insulinodependiente sin complicaciones',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Insuficiencia venosa (cronica) (periferica), Estreñimiento, Gastritis',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Obesidad',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Insuficiencia venosa (cronica) (periferica), Lumbalgia',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Insomnio no organico, Insuficiencia vascular periférica , Trastorno mixto de ansiedad y depresion, Osteoartrosis degenerativa',
       'Hipertension arterial, Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Dislipidemia, Ganglion, Migraña, Obesidad',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Migraña, Estreñimiento, Trastorno mixto de ansiedad y depresion, Insomnio no organico, Colitis cronica alimentaria',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Gastroenteritis, Hipertension arterial, Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Insuficiencia venosa (cronica) (periferica), Trastorno mixto de ansiedad y depresion, Colitis cronica alimentaria, Gastritis, Estreñimiento, Osteoartrosis degenerativa',
       'Hipertension arterial, Diabetes mellitus no insulinodependiente sin complicaciones, Obesidad, Dislipidemia',
       'Diabetes mellitus no insulinodependiente con complicaciones multiples, Gastritis',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Insuficiencia venosa (cronica) (periferica), Migraña, Trastorno mixto de ansiedad y depresion, Gastritis, Estreñimiento',
       'Diabetes mellitus insulinodependiente con complicaciones neurologicas',
       'Diabetes mellitus insulinodependiente con complicaciones circulatorias perifericas, Hipertension arterial, Gonartrosis [artrosis de la rodilla]',
       'Diabetes mellitus insulinodependiente sin complicaciones, Trastorno mixto de ansiedad y depresion, Hipertension arterial, Gastritis, Estreñimiento, Osteoartrosis degenerativa, Insuficiencia venosa (cronica) (periferica)',
       'Hipertension arterial',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Trastorno mixto de ansiedad y depresion, Osteoartrosis degenerativa, Migraña, Estreñimiento',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Dislipidemia',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Ganglion, Lumbalgia',
       'Diabetes mellitus insulinodependiente sin complicaciones, Obesidad, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Obesidad, Insomnio no organico',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Ansiedad',
       'Diabetes mellitus insulinodependiente con complicaciones circulatorias perifericas, Neumopatia obstructiva cronica , Trastorno de ansiedad',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertrigliceridemia',
       'Hipertension arterial, Diabetes mellitus no insulinodependiente sin complicaciones, Dislipidemia, Insuficiencia vascular , Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Lumbalgia, Colitis cronica alimentaria',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Migraña',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Dislipidemia, Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus no insulinodependiente con complicaciones circulatorias perifericas',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Obesidad exogena, Hiperuricemia',
       'Diabetes mellitus insulinodependiente con complicaciones oftalmicas, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Migraña, Trastorno mixto de ansiedad y depresion, Osteoartrosis degenerativa, Estreñimiento',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial, Migraña, Osteoartrosis degenerativa, Trastorno mixto de ansiedad y depresion',
       'Diabetes mellitus insulinodependiente con complicaciones multiples, Hipertension arterial, Obesidad debida a exceso de calorias, Osteoartrosis degenerativa',
       'Diabetes tipo II, Hipertension arterial, Trastorno mixto de ansiedad y depresion, Estreñimiento, Chalazion',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Obesidad exogena',
       'Hipertension arterial, Diabetes mellitus no insulinodependiente,sin mencion de complicacion',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Infeccion urinaria, Hipertrigliceridemia',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Bronquitis aguda',
       'Diabetes mellitus no insulinodependiente, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Dislipidemia, Infeccion urinaria',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Hipertrigliceridemia',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Faringitis aguda',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Dislipidemia',
       'Diabetes mellitus insulinodependiente sin complicaciones, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Neuropatia diabetica no insulinodependiente',
       'Hipertension arterial, Diabetes mellitus no insulinodependiente sin complicaciones, Rinofaringitis',
       'Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial, Dislipidemia, Epilepsia generalizada convulsiva',
       'Hipertension esencial (primaria)',
       'Diabetes mellitus no insulinodependiente con complicaciones circulatorias perifericas, Hombro doloroso',
       'Dislipidemia, Diabetes mellitus no insulinodependiente sin complicaciones, Hipertension arterial',
       'Hombro doloroso, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente con complicaciones multiples, Hipertension arterial, Epilepsia generalizada convulsiva',
       'Diabetes tipo II, Glaucoma crónico',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Obesidad, Glaucoma',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Dislipidemia, Glaucoma crónico , Insuficiencia venosa (cronica) (periferica), Obesidad exogena',
       'Diabetes mellitus insulinodependiente, Glaucoma',
       'Diabetes mellitus no especificada, Hipertension arterial, Dislipidemia',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Glaucoma crónico , Insuficiencia venosa (cronica) (periferica), Obesidad exogena',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Glaucoma crónico , Dislipidemia, Insuficiencia venosa (cronica) (periferica), Obesidad exogena',
       'Diabetes mellitus no insulinodependiente,con complicaciones oftalmicas, Glaucoma, Dislipidemia',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Hipertension esencial (primaria)',
       'Diabetes mellitus insulinodependiente, Rinofaringitis, Glaucoma crónico',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Obesidad exogena',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Dislipidemia, Glaucoma crónico , Insuficiencia venosa (cronica) (periferica), Pesquisa hipertensión (arterial) , Obesidad exogena',
       'Diabetes tipo II, Hipertension esencial (primaria)',
       'Diabetes mellitus no insulinodependiente, Glaucoma crónico , Dislipidemia, Insuficiencia vascular periférica',
       'Hipertension arterial, Dislipidemia, Glaucoma, Diabetes insulinodependiente',
       'Glaucoma, Diabetes mellitus no insulinodependiente,con complicaciones oftalmicas, Hipertension arterial',
       'Diabetes mellitus no insulinodependiente, Hipertension esencial (primaria), Glaucoma',
       'Diabetes mellitus insulinodependiente, sin mencion de complicacion, Hipercolesterolemia, Obesidad, Glaucoma',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Glaucoma crónico , Dislipidemia, Insuficiencia venosa (cronica) (periferica)',
       'Diabetes mellitus no insulinodependiente,con complicaciones oftalmicas, Dislipidemia, Glaucoma',
       'Diabetes mellitus no insulinodependiente, Contusion del torax',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Hipertension arterial',
       'Diabetes estable , Glaucoma agudo',
       'Diabetes tipo II, Hipertension arterial, Glaucoma',
       'Diabetes tipo II, Hipertension arterial, Glaucoma crónico',
       'Diabetes mellitus no insulinodependiente, Hipotiroidismo, Trastorno mixto de ansiedad y depresion',
       'Diabetes tipo II, Hipertension arterial, Necrosis presión (decúbito, úlcera) l89,x',
       'Cardiopatía (ver también enfermedad corazón) , Diabetes de edad adulta',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Enfermedad de parkinson, Cardiopatía (ver también enfermedad corazón)',
       'Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Miocardiopatía (ver también cardiomiopatía) , Enfermedad de parkinson, Hipotiroidismo',
       'Detencion del crecimiento epifisario',
       'Diabetes estable , Hipertension arterial, Hipotiroidismo adquirido',
       'Diabetes tipo II, Enfermedad de parkinson, Hipertiroidismo',
       'Diabetes mellitus no insulinodependiente, Cardiopatía (ver también enfermedad corazón)',
       'Hipertension arterial, Enfermedad de parkinson, Trastorno afectivo bipolar, episodio depresivo presente leve o moderado',
       'Diabetes diabético(a) (mellitus) (compensada) (familiar) (grave)',
       'Diabetes tipo II, Hipertension arterial, Enfermedad de parkinson',

In [46]:
df.fecha_consulta.unique()

array(['2014-12-29 09:02:48.167', '2010-12-21 10:58:00.640',
       '2017-10-16 10:09:10.830', ..., '2012-05-28 17:23:44.613',
       '2020-07-07 16:38:16.830', '2011-07-20 18:52:01.410'], dtype=object)

### Limpieza y Transformación de datos

Glucosa

In [47]:
# concat columns by separator
#df['presion_arterial'].str.cat(df[['sistolica', 'diastolica']], sep='/')
# split column into multiple columns by delimiter 
df['glucosa'] = df['glucosa'].replace('14606072007|0', np.nan, regex=True)
df['glucosa'] = df['glucosa'].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')
df_g = df['glucosa'].str.split('|', expand=True)
df_g.columns = ['glucosa1', 'glucosa2']
df_g['glucosa1']=df_g['glucosa1'].astype(float)
df_g['glucosa2']=df_g['glucosa2'].astype(float)
df["glucosa1"] = df_g["glucosa1"]
df["glucosa2"] = df_g["glucosa2"]

In [48]:
df.glucosa1.unique()

array([135. , 131. , 148. ,   nan, 126. , 132. , 239. , 123. , 178. ,
       113. , 124. , 128. , 137. , 199. , 159. , 162. , 212. , 145. ,
       133. , 169. , 218. , 156. , 158. , 125. , 255. , 316. , 234. ,
       283. ,  98. , 195. , 152. ,  88. , 344. , 163. , 182. , 262. ,
       153. , 193. , 275. , 138. , 115. , 144. , 177. , 164. , 116. ,
       157. , 251. , 118. ,  94. , 111. ,  79. ,  95. , 127. ,  86. ,
        78. ,  71. ,  91. , 136. ,  84. , 146. ,  68. , 183. ,  99. ,
       139. ,  63. , 216. , 119. , 191. , 142. ,  81. ,  92. , 114. ,
        93. , 184. ,  72. , 151. , 122. ,  96. , 129. , 134. , 112. ,
        83. , 154. , 121. , 286. , 265. , 192. , 256. , 242. , 294. ,
       161. , 272. , 268. , 249. ,  97. ,  89. , 188. , 155. , 176. ,
       378. ,   1. , 244. ,  87. , 171. , 235. , 174. , 166. , 228. ,
       519. , 436. ,  85. ,  67. , 312. , 133.7, 232. , 175. , 287. ,
       196.7, 196. , 173. , 394. , 117. , 185. , 357. , 188.3, 184.9,
       213.3, 199.5, 149. , 224. , 141. , 167. , 355. ,  97.8, 271. ,
       475. , 211. , 229. , 266. , 452. , 252. , 168. , 319. , 198. ,
       313. , 217. , 333. , 367. , 373. , 219. , 253. ,  77. , 172. ,
       143. , 351. , 181.2, 225. , 399. , 423. ,  55.7, 374. , 134.7,
       147.1, 285. , 346. , 213. , 345. , 292. , 284. , 299. , 243. ,
       336. , 341. , 347. , 276. ,  46. ,  62. , 273. , 448. ,  47. ,
       227. , 328. , 282. , 365. , 197. , 254. , 236. , 194. ,  73. ,
       186. ,  82. , 215. ,  36. ,  11. , 221. , 147. , 245. ,  24. ,
       277. ,  74. , 258. , 246. , 397. , 231. , 298. ])

In [49]:
df['trigliceridos'] = df['trigliceridos'].replace(',', '', regex=True)
df['trigliceridos'] = df['trigliceridos'].astype(float)
df.trigliceridos.unique()

array([     nan,    0.   ,  274.   ,  386.   ,  625.   ,  295.   ,
        384.   ,  284.   ,  283.   ,  738.   ,  189.   ,  256.   ,
        604.   ,  285.   ,  347.   ,  252.   ,  319.   ,  230.   ,
        796.   ,  341.   ,  694.   ,  580.   ,  752.   ,  320.   ,
        402.   ,  150.   ,  426.   ,  349.   ,  205.   ,  215.   ,
        380.   ,  272.   ,  329.   ,  352.   ,  521.   ,  257.   ,
        278.   ,  200.   ,  158.   ,  103.   ,  294.   ,  196.   ,
        153.   ,   96.   ,  198.   ,  102.   ,  141.   ,  122.   ,
        156.   ,  217.   ,  186.   ,  118.   ,  129.   ,   93.   ,
        133.   ,  123.   ,   97.7  ,  361.   ,  337.   ,  247.   ,
        264.   , 1332.   ,  701.   , 1241.   ,  250.   ,  416.   ,
        218.   ,  137.   ,  148.   ,  140.   ,  220.   ,  222.   ,
        111.   ,  154.   ,  182.   ,  180.   ,  184.   ,  168.   ,
        181.   ,  173.   ,  237.   ,  147.   ,  159.   ,  178.   ,
        424.   ,  242.   ,  288.   ,  440.   ,  160.   ,   92.   ,
        485.   ,  520.   ,  120.   ,  177.   ,  166.   ,  136.   ,
        136.8  ,  464.   ,  246.   ,  142.   ,  365.   ,   95.   ,
        104.   ,  172.   ,  114.   ,  290.   ,   63.   ,  134.   ,
        229.   ,  260.   ,  298.   ,  176.   ,   76.   ,   82.   ,
        179.   ,  130.   ,  135.   ,  152.   ,  245.   ,  225.   ,
        345.   ,  342.   ,  268.   ,  545.   ,   70.   ,  224.   ,
        296.   ,  997.   ,  185.   ,  223.   ,   88.   ,  210.   ,
        251.   ,  414.   ,  121.   ,  161.   ,   81.   ,  108.3  ,
        620.   ,  276.2  ,  276.   ,  490.   ,  427.   ,  240.   ,
         66.4  ,  163.   ,  112.   ,  128.   ,  117.   ,  238.   ,
        192.   ,  145.   ,  100.   ,  265.   ,  197.   ,  280.   ,
        212.   ,  125.   ,  313.   ,  362.   ,  636.   ,  379.   ,
        105.   ,  138.   ,  146.   ,  144.   ,   73.   ,  106.   ,
        107.   ,  235.   ,  231.   ,  236.   ,   99.   ,   74.   ,
         90.   ,  124.   ,  318.414,  327.   ,  517.   ,  211.   ,
        227.   ,  241.   ,  394.   ,   87.   ,  180.66 ,   74.21 ])

In [50]:
df.count()

newid                              9315
cx_curp                            9315
nota_medica                        2359
glucosa                            1298
colesterol                         2311
trigliceridos                      2373
hdl                                117
ldl                                85
fecha                              1924
presion_arterial                   5058
hba1c                              2075
hipertension                       379
plaquetas                          258
creatinina                         527
acido_urico                        250
urea                               195
peso                               4995
altura                             4993
tfg                                189
imc                                495
año_de_diagnostico_diabetes        298
año_de_diagnostico_hipertension    161
fechas_procesadas                  2359
bandera_fechas_procesadas          2359
fuente                             9315
in_consulta                        9315
fecha_nacimiento                   9146
sexo                               9146
medicamentos                       8517
codigos_cie                        6282
diagnosticos                       6282
fecha_consulta                     9315
glucosa1                           1298
glucosa2                           17
dtype: int64

In [51]:
df['presion_arterial'] =  np.where(df.hba1c.str.contains("/") & df['presion_arterial'].isnull(), \
                                               df['hba1c'],\
                                               df['presion_arterial'])

df['hba1c'] =  np.where(df.hba1c.str.contains("/"), \
                                               np.nan, \
                                               df['hba1c'])

In [52]:
df.count()

newid                              9315
cx_curp                            9315
nota_medica                        2359
glucosa                            1298
colesterol                         2311
trigliceridos                      2373
hdl                                117
ldl                                85
fecha                              1924
presion_arterial                   5061
hba1c                              2072
hipertension                       379
plaquetas                          258
creatinina                         527
acido_urico                        250
urea                               195
peso                               4995
altura                             4993
tfg                                189
imc                                495
año_de_diagnostico_diabetes        298
año_de_diagnostico_hipertension    161
fechas_procesadas                  2359
bandera_fechas_procesadas          2359
fuente                             9315
in_consulta                        9315
fecha_nacimiento                   9146
sexo                               9146
medicamentos                       8517
codigos_cie                        6282
diagnosticos                       6282
fecha_consulta                     9315
glucosa1                           1298
glucosa2                           17
dtype: int64

Dividiendo presión en sistólica y diastólica

In [53]:
# concat columns by separator
#df['presion_arterial'].str.cat(df[['sistolica', 'diastolica']], sep='/')
# split column into multiple columns by delimiter 
df['presion_arterial'] = df['presion_arterial'].replace('NULL', np.nan, regex=True)
df_pa = df['presion_arterial'].str.split('/', expand=True)
df_pa.columns = ['sistolica', 'diastolica']
df_pa['sistolica']=df_pa['sistolica'].astype(float)
df_pa['diastolica']=df_pa['diastolica'].astype(float)
df["sistolica"] = df_pa["sistolica"]
df["diastolica"] = df_pa["diastolica"]
df.head(5)

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta,glucosa1,glucosa2,sistolica,diastolica
0,4593753CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,135,NaN,NaN,NaN,NaN,NaN,120/60,...,1951-12-09,F,FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TABLETA CONTIENE: CLORHIDRATO DE FLUOXETINA EQUIVALENTE A 20 MG DE FLUOXETINA. ENVASE CON 14 CAPSULAS O TABLETAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG ENVASE CON 30 TABLETAS.| PARACETAMOL TABLETA CADA TABLETA CONTIENE: PARACETAMOL 500 MG ENVASE CON 10 TABLETAS.| AMBROXOL COMPRIMIDO CADA COMPRIMIDO CONTIENE: CLORHIDRATO DE AMBROXOL 30 MG ENVASE CON 20 COMPRIMIDOS.,NaN,NaN,2014-12-29 09:02:48.167,135.0,NaN,120.0,60.0
1,2502589CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,131,NaN,NaN,NaN,NaN,NaN,130/80,...,1951-12-09,F,"COMPLEJO B| METFORMINA, TABLETAS, METFORMINA, CLORHIDRATO DE, CADA TABLETA CONTIENE: 850 MILIGRAMOS.",NaN,NaN,2010-12-21 10:58:00.640,131.0,NaN,130.0,80.0
2,6253338CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,148,NaN,NaN,NaN,NaN,NaN,120/80,...,1951-12-09,F,"INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSION INYECTABLE ACCION INTERMEDIA NPH CADA ML CONTIENE: INSULINA HUMANA ISOFANA (ORIGEN ADN RECOMBINANTE) 100 UI O INSULINA ZINC ISOFANA HUMANA (ORIGEN ADN RECOMBINANTE) 100 UI ENVASE CON UN| BEZAFIBRATO TABLETA CADA TABLETA CONTIENE: BEZAFIBRATO 200 MG ENVASE CON 30 TABLETAS.| LOSARTAN GRAGEA O COMPRIMIDO RECUBIERTO CADA GRAGEA O COMPRIMIDO RECUBIERTO CONTIENE: LOSARTAN POTASICO 50 MG ENVASE CON 30 GRAGEAS O COMPRIMIDOS RECUBIERTOS.| PARACETAMOL TABLETA CADA TABLETA CONTIENE: PARACETAMOL 500 MG ENVASE CON 10 TABLETAS.| COMPLEJO B CADA TABLETA, COMPRIMIDO O CAPSULA CONTIENE: MONONITRATO O CLORHIDRATO DE TIAMINA 100 MG CLORHIDRATO DE PIRIDOXINA 5 MG CIANOCOBALAMINA 50 MICROGRAMOS ENVASE CON 30 TABLETAS, COMPRIMIDOS O CAPSULAS.| INDOMETACINA CAPSULA CADA CAPSULA CONTIENE: INDOMETACINA 25 MG ENVASE CON 30 CAPSULAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG ENVASE CON 30 TABLETAS.| PANTOPRAZOL O RABEPRAZOL U OMEPRAZOL TABLETA O GRAGEA O CAPSULA CADA TABLETA O GRAGEA O CAPSULA CONTIENE: PANTOPRAZOL 40 MG O RABEPRAZOL SODICO 20 MG U OMEPRAZOL 20 MG ENVASE CON 14 TABLETAS O GRAGEAS O CAPSULAS.",NaN,NaN,2017-10-16 10:09:10.830,148.0,NaN,120.0,80.0
3,6866604CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130/70,...,1951-12-09,F,"FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TABLETA CONTIENE: CLORHIDRATO DE FLUOXETINA EQUIVALENTE A 20 MG DE FLUOXETINA. ENVASE CON 14 CAPSULAS O TABLETAS.| PARACETAMOL TABLETA CADA TABLETA CONTIENE: PARACETAMOL 500 MG ENVASE CON 10 TABLETAS.| COMPLEJO B CADA TABLETA, COMPRIMIDO O CAPSULA CONTIENE: MONONITRATO O CLORHIDRATO DE TIAMINA 100 MG CLORHIDRATO DE PIRIDOXINA 5 MG CIANOCOBALAMINA 50 MICROGRAMOS ENVASE CON 30 TABLETAS, COMPRIMIDOS O CAPSULAS.| INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSION INYECTABLE ACCION INTERMEDIA NPH CADA ML CONTIENE: INSULINA HUMANA ISOFANA (ORIGEN ADN RECOMBINANTE) 100 UI O INSULINA ZINC ISOFANA HUMANA (ORIGEN ADN RECOMBINANTE) 100 UI ENVASE CON UN| LOSARTAN GRAGEA O COMPRIMIDO RECUBIERTO CADA GRAGEA O COMPRIMIDO RECUBIERTO CONTIENE: LOSARTAN POTASICO 50 MG ENVASE CON 30 GRAGEAS O COMPRIMIDOS RECUBIERTOS.| BEZAFIBRATO TABLETA CADA TABLETA CONTIENE: BEZAFIBRATO 200 MG ENVASE CON 30 TABLETAS.| PINAVERIO TABLETA CADA TABLETA CONTIENE: BROMURO DE PINAVERIO 100 MG ENVASE CON 14 TABLETAS.| BUTILHIOSCINA GRAGEA O TABLETA. CADA GRAGEA O TABLETA CONTIENE: BROMURO DE BUTILHIOSCINA 10 MG ENVASE CON 10 GRAGEAS O TABLETAS.| METOCLOPRAMIDA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METOCLOPRAMIDA 10 MG ENVASE CON 20 TABLETAS.| MICONAZOL CREMA CADA GRAMO CONTIENE: NITRATO DE MICONAZOL 20 MG ENVASE CON 20 G.| RANITIDINA GRAGEA O TABLETA CADA GRAGEA O TABLETA CONTIENE: CLORHIDRATO DE RANITIDINA EQUIVALENTE A 150 MG DE RANITIDINA. ENVASE CON 20 GRAGEAS O TABLETAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG ENVASE CON 30 TABLETAS.",NaN,NaN,2018-11-02 10:22:01.733,NaN,NaN,130.0,70.0
4,2870758CAAE51120998X96PC1,CAAE51120998X96PC1,"ELIZABET DE 59.9 AÑOS EDAD---ACUDE A EVALCUION MENSUAL--SE REFIERE ESTABLE..GLLUCOSA 126 MG/DL EN SEPTIEMBRE DEL 2011.......NO HA ACUDIDO A SOLICITAR CITA CON MEDICINA INTERNA.............EF ORIENTADA .COOPERADORA EN LA ENTREVISTA,EUTERMICA..HIDRATADA.BUENA COLORACION DE PIEL. .OJOS INTGEROS SIN OPASIDADES PERICORNEAL.,ARCADA DENTAL INCOMPLETA CON REGULAR HIGIENE ORAL.CUELLO SIN PLETORA.PULSOS CAROTIDEOS RITMICOS..RUIDOS CARDIACOS RITMICOS CON BUENA ACUSTICA.AREA PULMONAR BIEN VENTILADA SIN FENOMENOS EXUDATIVOS.....ABDOMEN BLANDO CON MODERADO PANICULO ADIPOSO,NO DOLOROSO.PERISTALSIS ACTIVA..EXTREMIDADES INTEGRAS CON PULSOS Y REFLEJOS PRESNETES...NO EDEMA...IMC 22.58...PLAN.CAMINATA/NATACION O BICICLETA FIJA.ALTERNOS A TOLERANCIA Y ASISTIDOS...ORIENTACION HIGIENICO.DIETETICO-INFLUENZA-COLERA.HIGIENE DE PIES...CITA ABIERTA URGENCIAS/MED FAMILIA",126,NaN,NaN,NaN,NaN,SEPTIEMBRE DEL 2011,NaN,...,1951-12-09,F,"COMPLEJO B| PRAVASTATINA. TABLETAS. CADA TABLETA CONTIENE: PRAVASTATINA SODICA 10 MG.| ENALAPRIL O LISINOPRIL O RAMIPRIL. CAPSULA O TABLETA. CADA CAPSULA O TABLETA CONTIENE: MALEATO DE ENALAPRIL 10 MG O LISINOPRIL 10 MG O RAMIPRIL 10 MG ENVASE CON 30 CAPSULAS O TABLETAS.| MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| METFORMINA, TABLETAS, METFORMINA, CLORHIDRATO DE, CADA TABLETA CONTIENE: 850 MILIGRAMOS.| BEZAFIBRATO. TABLETAS. CADA TABLETA CONTIENE: BEZAFIBRATO 200 MG.",E119,Diabetes tipo II,2011-10-08 09:47:14.953,126.0,NaN,NaN,NaN

In [54]:
df['hba1c'] = df['hba1c'].astype(float)
df.hba1c.unique()

array([      nan, 0.000e+00, 1.180e+01, 8.400e+00, 1.100e+01, 8.500e+00,
       1.200e+01, 1.000e+01, 7.000e+00, 8.000e+00, 9.500e+00, 9.000e+00,
       6.800e+00, 8.300e+00, 9.400e+00, 5.700e+00, 5.400e+00, 5.200e+00,
       7.700e+00, 1.080e+01, 8.700e+00, 6.000e+00, 8.200e+00, 5.100e+00,
       7.800e+00, 7.500e+00, 9.700e+00, 7.900e+00, 7.400e+00, 7.300e+00,
       6.090e+00, 6.009e+03, 8.100e+00, 6.700e+00, 6.600e+00, 6.300e+00])

In [55]:
df['plaquetas'] = df['plaquetas'].replace(',', '', regex=True)
df['plaquetas'] = df['plaquetas'].replace(' ', '', regex=True)
df['plaquetas'] = df['plaquetas'].astype(float)
df.plaquetas.unique()

array([     nan, 3.60e+02, 4.39e+02, 3.62e+02, 4.75e+05, 3.64e+05,
       3.94e+02, 4.08e+05, 2.92e+02, 2.07e+02, 2.70e+02, 2.79e+02,
       2.91e+02, 2.73e+02, 2.93e+02, 2.63e+02, 2.69e+02, 2.53e+05,
       2.98e+02, 3.37e+02, 2.97e+02, 2.94e+02, 2.68e+02, 2.31e+02,
       2.42e+02, 2.19e+02, 2.04e+02, 2.15e+02, 1.23e+02, 1.30e+02,
       9.05e+01, 2.09e+02, 4.57e+02, 1.19e+02, 3.21e+02, 1.22e+05,
       1.73e+05, 2.26e+02, 1.75e+02, 1.80e+02, 2.48e+02, 2.58e+02,
       2.60e+02, 2.00e+02, 6.13e+02, 2.35e+02, 1.79e+02, 2.86e+02,
       2.53e+02, 1.84e+02, 2.65e+02, 2.05e+05, 3.17e+02, 2.59e+05,
       2.96e+02, 2.62e+05, 1.36e+02, 7.10e+01, 3.05e+05, 3.14e+02,
       2.78e+02, 2.57e+02, 2.49e+02, 3.05e+02, 3.29e+05, 3.02e+05,
       1.20e+02, 3.31e+02, 3.09e+02, 3.08e+02, 3.02e+02, 2.50e+02,
       2.44e+02, 2.20e+02, 3.04e+02, 1.98e+02, 3.55e+02, 3.52e+05,
       2.28e+05, 2.41e+05])

In [56]:
df['creatinina'] = df['creatinina'].replace(',', '', regex=True)
df['creatinina'] = df['creatinina'].replace(' ', '', regex=True)
df['creatinina'] = df['creatinina'].replace('-', '', regex=True)
df['creatinina'] = df['creatinina'].astype(float)
df.creatinina.unique()

array([  nan,  1.  ,  1.4 ,  2.1 , 14.  ,  1.7 ,  1.6 ,  0.8 ,  1.1 ,
        1.5 ,  1.3 ,  0.6 ,  0.7 ,  0.9 ,  0.5 ,  0.87,  1.2 , 80.  ,
        0.65,  1.54,  2.7 ,  4.3 ,  1.8 ,  3.2 ,  0.89,  8.6 , 11.  ,
        6.6 ,  8.8 ,  7.9 ,  2.5 , 22.  ,  2.2 ,  3.  ,  4.2 ])

In [57]:
df['acido_urico'] = df['acido_urico'].replace(',', '', regex=True)
df['acido_urico'] = df['acido_urico'].replace(' ', '', regex=True)
df['acido_urico'] = df['acido_urico'].replace('-', '', regex=True)
df['acido_urico'] = df['acido_urico'].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')
#df['acido_urico']  = df['acido_urico'].map(utils.dejar_solo_cifras)
df['acido_urico'] = df['acido_urico'].astype(float)
df.acido_urico.unique()

array([  nan,  3.9 ,  4.8 ,  8.1 ,  5.3 ,  7.8 ,  5.6 ,  3.5 ,  5.  ,
        6.5 ,  6.4 ,  6.9 ,  5.5 ,  5.2 ,  6.8 ,  4.4 ,  5.1 ,  6.3 ,
        3.7 ,  7.4 ,  7.1 ,  5.9 ,  6.1 ,  3.3 ,  3.4 ,  7.7 ,  7.5 ,
        4.2 ,  8.7 ,  6.6 ,  9.5 ,  8.  ,  5.7 ,  4.29,  6.  ,  5.4 ,
        9.1 ,  4.9 ,  4.  ,  4.7 , 15.  ,  2.1 ,  8.4 ,  3.8 ,  4.3 ,
        3.  ,  2.7 ,  4.6 ,  7.2 ,  7.  ])

In [58]:
df['tfg'] = df['tfg'].replace(',', '', regex=True)
df['tfg'] = df['tfg'].replace(' ', '', regex=True)
df['tfg'] = df['tfg'].replace('-', '', regex=True)
df['tfg']=df['tfg'].astype(str)
df['tfg'] = df['tfg'].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')

In [59]:
for i in range(len(df['tfg'])):
    x = df['tfg'][i]
    if(x.count(".")>1):
        print(df['tfg'][i])
        print(df['tfg'][i][:5])
        df['tfg'][i] = df['tfg'][i][:5]
        
df['tfg'] = df['tfg'].astype(float)
df.tfg.unique()

72.47.56
72.47

array([   nan,  40.  ,  85.4 ,  77.  ,  81.  ,  68.61, 120.83, 122.  ,
        96.  ,  97.  ,  32.7 ,  65.37,  49.29,  62.3 ,  60.11,  60.95,
        64.41,  45.13,  78.7 ,  72.  ,  52.1 ,  46.  ,  51.  ,  57.  ,
        57.2 ,  86.  , 121.  ,  91.12,  56.26, 133.46, 183.  , 137.  ,
        27.1 ,  71.  ,  88.  , 117.41,  53.  ,  80.62,  89.7 ,  72.47,
       244.  , 249.  , 116.  ,  84.  ,  88.09,  77.83, 143.  ,  64.77,
        76.  ,  98.  ,  62.24,  69.  ])

In [60]:
df['imc'] = df['imc'].replace(',', '', regex=True)
df['imc'] = df['imc'].replace(' ', '', regex=True)
df['imc'] = df['imc'].replace('-', '', regex=True)
df['imc'] = df['imc'].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')
df['imc']=df['imc'].astype(str)
for i in range(len(df['imc'])):
    x = df['imc'][i]
    if(x.count(".")>1):
        df['imc'][i] = df['imc'][i][:5]
df['imc'] = df['imc'].astype(float)
df.imc.unique()

array([      nan, 2.258e+01, 3.700e+01, 3.900e+01, 3.549e+01, 4.200e+01,
       4.000e+01, 3.548e+01, 3.808e+01, 3.605e+01, 3.222e+01, 3.476e+01,
       2.953e+01, 2.914e+01, 3.105e+01, 3.281e+01, 3.155e+01, 3.162e+01,
       3.242e+01, 3.100e+01, 3.248e+01, 3.029e+01, 3.200e+01, 3.300e+01,
       3.000e+01, 2.600e+01, 3.474e+01, 2.850e+01, 2.890e+01, 2.865e+01,
       2.860e+01, 3.458e+01, 3.140e+01, 3.340e+01, 3.070e+01, 2.820e+01,
       3.170e+01, 3.240e+01, 3.245e+01, 2.970e+01, 3.251e+01, 2.044e+01,
       2.330e+01, 2.293e+01, 2.577e+01, 1.800e+01, 2.456e+01, 2.402e+01,
       1.933e+01, 3.279e+01, 3.172e+01, 3.052e+01, 3.132e+01, 3.056e+01,
       3.119e+01, 3.073e+01, 2.900e+01, 3.048e+01, 3.078e+01, 3.270e+01,
       3.288e+01, 3.310e+01, 3.220e+01, 3.320e+01, 3.362e+01, 3.400e+01,
       3.559e+01, 3.374e+01, 3.342e+01, 3.552e+01, 2.300e+01, 3.285e+01,
       2.915e+01, 2.550e+01, 2.380e+01, 2.631e+01, 2.883e+01, 3.225e+01,
       3.164e+01, 3.123e+01, 3.184e+01, 2.500e+01, 2.840e+01, 2.413e+01,
       2.466e+01, 2.800e+01, 2.977e+01, 2.635e+01, 2.959e+01, 2.595e+01,
       2.733e+01, 2.533e+01, 2.855e+01, 2.788e+01, 2.695e+01, 2.700e+01,
       2.612e+01, 2.617e+01, 2.578e+01, 3.007e+01, 2.968e+01, 2.960e+01,
       2.908e+03, 2.505e+03, 3.030e+03, 3.117e+01, 2.880e+01, 4.040e+01,
       3.629e+01, 4.016e+01, 4.081e+01, 3.082e+01, 2.857e+01, 3.662e+01,
       2.740e+01, 2.671e+01, 2.610e+01, 2.520e+01, 2.590e+01, 2.510e+01,
       2.109e+01, 2.100e+01, 2.191e+01, 2.127e+01, 3.815e+01, 1.650e+00,
       3.013e+01, 1.735e+01, 1.887e+01, 1.744e+01, 2.514e+01, 2.400e+01,
       2.395e+01, 2.509e+01, 2.442e+01, 2.602e+01, 2.566e+01, 2.565e+01,
       2.546e+01, 2.507e+01, 3.846e+01, 3.930e+01, 4.060e+01, 3.377e+01,
       3.179e+01, 3.822e+01, 2.933e+01, 3.066e+01, 4.400e+01, 5.860e+01,
       3.533e+01, 4.875e+01, 5.381e+01, 5.120e+01, 5.114e+01, 2.490e+01,
       2.470e+01, 3.471e+01, 2.958e+01, 3.421e+01, 3.020e+01, 3.404e+01,
       3.485e+01, 3.444e+01, 2.076e+01, 2.698e+01, 2.647e+01, 2.200e+01,
       2.162e+01, 2.681e+01, 2.491e+01, 2.145e+01, 2.525e+01])

In [61]:
df.tfg.unique()

array([   nan,  40.  ,  85.4 ,  77.  ,  81.  ,  68.61, 120.83, 122.  ,
        96.  ,  97.  ,  32.7 ,  65.37,  49.29,  62.3 ,  60.11,  60.95,
        64.41,  45.13,  78.7 ,  72.  ,  52.1 ,  46.  ,  51.  ,  57.  ,
        57.2 ,  86.  , 121.  ,  91.12,  56.26, 133.46, 183.  , 137.  ,
        27.1 ,  71.  ,  88.  , 117.41,  53.  ,  80.62,  89.7 ,  72.47,
       244.  , 249.  , 116.  ,  84.  ,  88.09,  77.83, 143.  ,  64.77,
        76.  ,  98.  ,  62.24,  69.  ])

In [62]:
df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].replace(',', '', regex=True)
df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].replace(' ', '', regex=True)
df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].replace('-', '', regex=True)
df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].replace('NA', np.nan, regex=True)
df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].astype(str)
df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')

df['año_de_diagnostico_diabetes'] = df['año_de_diagnostico_diabetes'].astype(np.float).astype("Int32")
#df['año_de_diagnostico_diabetes'] = int(df['año_de_diagnostico_diabetes'])
for i in range(len(df['año_de_diagnostico_diabetes'])):
    x = df['año_de_diagnostico_diabetes'][i]
    if pd.isna(x):
        x=x
    else:
        #print(x)
        if(x > 2022):
            df['año_de_diagnostico_diabetes'][i] = np.nan    
            
"""nums = []
for i in df['año_de_diagnostico_diabetes']:
    if i is None:
        nums.append(np.nan)
    else:
        i = int(i)
        nums.append(i)"""
    
df['año_de_diagnostico_diabetes']=df['año_de_diagnostico_diabetes'].map(lambda x: pd.NA if pd.isna(x) else int(x))
#df['x'] = pd.DataFrame({'año_de_diagnostico_diabetes':nums})
            
#df.x.unique()
df.año_de_diagnostico_diabetes.unique()

array([<NA>, 1982, 1981, 1983, 2002, 2010, 2011, 2012, 2013, 2009, 2000,
       2018, 2014, 2006, 2015, 2001, 1999, 1995, 2017, 1997, 2016, 1986,
       1998, 2003, 2005, 1994, 1996, 1984, 2004], dtype=object)

In [63]:
df['año_de_diagnostico_hipertension'] = df['año_de_diagnostico_hipertension'].astype(np.float).astype("Int32")
df['año_de_diagnostico_hipertension']=df['año_de_diagnostico_hipertension'].map(lambda x: pd.NA if pd.isna(x) else int(x))
df.año_de_diagnostico_hipertension.unique()

array([<NA>, 1997, 2009, 2016, 2018, 2000, 2010, 2012, 1999, 2017, 2006,
       2013, 2001], dtype=object)

In [64]:
df['fechas_procesadas2'] =df['fechas_procesadas']

In [65]:
df['fechas_procesadas2']=df['fechas_procesadas2'].astype(str)
print(df[df["fechas_procesadas2"].apply(lambda x: len(x) > 100)][['nota_medica','fechas_procesadas2','glucosa']])
b = df[df["fechas_procesadas2"].apply(lambda x: len(x) > 100)][['nota_medica','fechas_procesadas2']]
b

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       nota_medica  \
1449  DIABETIMSS MATUTINO ACUDE A CONTROL MENSUAL PADECE DIABETES MELLITUS DE 2 AÑOS DE EVOLUCION, GLAUCOMA CRONICO, DISLIPIDEMIA, E INSUF VENOSA PERIFERICA, ACTUALMENTE NIEGA SINTOMATOLOGÍA VASCULOESPASMODICA O DATOS DE DESCONTROL METABOLICO, NO POLIURIA, POLIDIPSIA O POLIFAGIA NIEGA DATOS DE NEUROPATIA. LAB DEL 31 07 14  GLUCOSA 130  DESCONTROLADA, PACIENTE QUE SE RECOMIENDA APEGO A SU TRATAMIENTO, ALIMENTACION Y A REALIZAR EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.2 OBESIDAD GDO II, CINTURA 103 CM, FC 70 X MIN, FR 18 X MIN, TEMP 36 GC, CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. TIENE  LATANOPROST TOPICO, AJUSTO TTO, ENVIO A OFTALMOLOGIA  VALORACION  ANUAL
1505  DIABETIMSS MATUTINO ACUDE A CONTROL MENSUAL PADECE DIABETES MELLITUS DE 2 AÑO DE EVOLUCION, BGLAUOCMA CRONICO, DISLIPIDEMIA, E INSUF VENOSA PERIFERICA, ACTUALMENTE NIEGA SINTOMATOLOGÍA VASCULOESPASMODICA O DATOS DE DESCONTROL METABOLICO, NO POLIURIA, POLIDIPSIA O POLIFAGIA NIEGA DATOS DE NEUROPATIA. LAB DEL 06 01 14  GLUCOSA 96  CONTROLADA,  PACIENTE CON BUEN APEGO A SU TRATAMIENTO Y ALIMENTACION QUE SE LE HA RECOMENDADO, REALIZA EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.4 OBESIDAD GDO II, CINTURA 105  CM, FC 70 FR 18 TEMP 36 CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. SE AJUSTA TTO, DOY RECETA POR LATANOPROST TOPICO

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      fechas_procesadas2  \
1449  31 07 14 GLUCOSA 130 DESCONTROLADA, PACIENTE QUE SE RECOMIENDA APEGO A SU TRATAMIENTO, ALIMENTACION Y A REALIZAR EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.2 OBESIDAD GDO II, CINTURA 103 CM, FC 70 X MIN, FR 18 X MIN, TEMP 36 GC, CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. TIENE LATANOPROST TOPICO, AJUSTO TTO, ENVIO A OFTALMOLOGIA VALORACION ANUAL
1505  06 01 14 GLUCOSA 96 CONTROLADA, PACIENTE CON BUEN APEGO A SU TRATAMIENTO Y ALIMENTACION QUE SE LE HA RECOMENDADO, REALIZA EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.4

     glucosa
1449  NaN
1505  NaN

,nota_medica,fechas_procesadas2
1449,"DIABETIMSS MATUTINO ACUDE A CONTROL MENSUAL PADECE DIABETES MELLITUS DE 2 AÑOS DE EVOLUCION, GLAUCOMA CRONICO, DISLIPIDEMIA, E INSUF VENOSA PERIFERICA, ACTUALMENTE NIEGA SINTOMATOLOGÍA VASCULOESPASMODICA O DATOS DE DESCONTROL METABOLICO, NO POLIURIA, POLIDIPSIA O POLIFAGIA NIEGA DATOS DE NEUROPATIA. LAB DEL 31 07 14 GLUCOSA 130 DESCONTROLADA, PACIENTE QUE SE RECOMIENDA APEGO A SU TRATAMIENTO, ALIMENTACION Y A REALIZAR EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.2 OBESIDAD GDO II, CINTURA 103 CM, FC 70 X MIN, FR 18 X MIN, TEMP 36 GC, CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. TIENE LATANOPROST TOPICO, AJUSTO TTO, ENVIO A OFTALMOLOGIA VALORACION ANUAL","31 07 14 GLUCOSA 130 DESCONTROLADA, PACIENTE QUE SE RECOMIENDA APEGO A SU TRATAMIENTO, ALIMENTACION Y A REALIZAR EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.2 OBESIDAD GDO II, CINTURA 103 CM, FC 70 X MIN, FR 18 X MIN, TEMP 36 GC, CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. TIENE LATANOPROST TOPICO, AJUSTO TTO, ENVIO A OFTALMOLOGIA VALORACION ANUAL"
1505,"DIABETIMSS MATUTINO ACUDE A CONTROL MENSUAL PADECE DIABETES MELLITUS DE 2 AÑO DE EVOLUCION, BGLAUOCMA CRONICO, DISLIPIDEMIA, E INSUF VENOSA PERIFERICA, ACTUALMENTE NIEGA SINTOMATOLOGÍA VASCULOESPASMODICA O DATOS DE DESCONTROL METABOLICO, NO POLIURIA, POLIDIPSIA O POLIFAGIA NIEGA DATOS DE NEUROPATIA. LAB DEL 06 01 14 GLUCOSA 96 CONTROLADA, PACIENTE CON BUEN APEGO A SU TRATAMIENTO Y ALIMENTACION QUE SE LE HA RECOMENDADO, REALIZA EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.4 OBESIDAD GDO II, CINTURA 105 CM, FC 70 FR 18 TEMP 36 CONCIENTE, ORIENTADO, TRANQUILO, BUEN ESTADO DE HIDRATACION, BUENA COLORACIÒN DE TEGUMENTOS, CUELLO CILINDRICO NO INGURGITACION YUGULAR, OROFARINGE AMIGDALAS NORMALES CARDIOPULMONAR SIN COMPROMISO, RUIDOS CARDIACOS RITMICOS SIN DATOS DE FALLA CARDIACA, ABDOMEN BLANDO DEPRESIBLE, NO IRRITACION PERITONEAL, CON PERISTALSIS NORMAL, NO MEGALÌAS, GIORDANO NEGATIVO BILATERAL, EXTREMIDADES PULSOS NORMALES, BUEN LLENADO CAPILAR, REFLEJOS NORMALES. SENSIBILIDAD CONSERVADA, NO EDEMAS, CON ALGUNAS DILATACIONES VENOSAS DE PREDOMINIO MPI, PIES SIN LESIONES, NO ULCERACIONES, UÑAS RECORTADAS ESTADO DE HIGIENE ACEPTABLE, HAGO INCAPIE EN ALIMENTACION CORRECTA Y EJERCICIO, PRONOSTICO RESERVADO A EVOLUCION, SE RECOMIENDA CUIDADOS DE LOS PIES CITA 1 MES O ABIERTA EN CASO NECESARIO. SE AJUSTA TTO, DOY RECETA POR LATANOPROST TOPICO","06 01 14 GLUCOSA 96 CONTROLADA, PACIENTE CON BUEN APEGO A SU TRATAMIENTO Y ALIMENTACION QUE SE LE HA RECOMENDADO, REALIZA EJERCICIO DIARIO (CAMINATA) POR LO MENOS MEDIA HORA. PACIENTE CON IMC 31.4"

In [66]:
np.where(b.fechas_procesadas2.str.len() > 50, \
         b['fechas_procesadas2'].astype(str).str[:8],\
         b['fechas_procesadas2'])

array(['31 07 14', '06 01 14'], dtype=object)

In [67]:
np.where(b.fechas_procesadas2.str.len() > 50, \
         "20"+b['fechas_procesadas2'].astype(str).str[6:8]+"-"+
              b['fechas_procesadas2'].astype(str).str[3:5]+"-"+
              b['fechas_procesadas2'].astype(str).str[0:2],\
         b['fechas_procesadas2'])

array(['2014-07-31', '2014-01-06'], dtype=object)

In [68]:
df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.len() > 50, \
                                    "20"+df['fechas_procesadas2'].astype(str).str[6:8]+"-"+
                                         df['fechas_procesadas2'].astype(str).str[3:5]+"-"+
                                         df['fechas_procesadas2'].astype(str).str[0:2],\
                                         df['fechas_procesadas2'])

In [69]:
df.fechas_procesadas2.unique()

array(['nan', '2011-09-01 00:00:00', '07 12', '37. 22',
       '19 DE AGOSTO 2015', '06 DE AGOSTO 2015', '24 DE ENERO 2016',
       '20 DE ENERO DE 2017', '2018-08-01 00:00:00',
       '2019-03-01 00:00:00', '2019-11-01 00:00:00', 'NAN',
       '2013-12-01 00:00:00', '2019-05-01 00:00:00',
       '2016-05-01 00:00:00', '18 DE JULIO', '4 DE JULIO',
       '13 SEPT 2016--', '2017-06-01 00:00:00', '2017-01-01 00:00:00',
       '15 DE JUNIO', '12 DE MARZO DE 2017', '6 DE MARZO',
       '8 DE DE FEBRERO DE 2018', '14 DE NERO DEL 1ÑO 11',
       '2 DE JUNIO 2014', '15 DE DIC 2015.-', '25 MARZO DE 2019',
       '19 DE JULIO 2016', '15 DE JUNIO DE 2016', '2014-01-24 00:00:00',
       '2020-01-01 00:00:00', '20 DE OCTUBRE DE 2014',
       '2010-12-20 00:00:00', '20 SEP 2016', '06 DE MAYO DE 2015',
       '2012-08-13 00:00:00', '2012-12-27 00:00:00',
       '2012-07-02 00:00:00', '09/NOV2012', '2012-08-30 00:00:00',
       '2013-06-29 00:00:00', '2016-03-16 00:00:00',
       '2016-03-15 00:00:00', '2011-10-10 00:00:00',
       '2010-06-29 00:00:00', '2011-08-10 00:00:00',
       '2011-11-17 00:00:00', '2012-12-17 00:00:00', '8 DE SEPT',
       '12 10001', '37. 00', '2011-08-31 00:00:00', 'JUNIO 2016.-',
       '2009-02-08 00:00:00', '2010-02-10 00:00:00',
       '2011-04-01 00:00:00', '2011-02-15 00:00:00', '8 DE',
       '2013-05-04 00:00:00', '12 DE JUNIO 13', '18 DE SEPTIEMBRE DEL 13',
       '2015-01-01 00:00:00', '2015-02-13 00:00:00', '5 DICIEMBRE 2014',
       '2017-10-09 00:00:00', '2018-02-26 00:00:00',
       '2018-05-12 00:00:00', '2013-12-18 00:00:00',
       '2018-09-01 00:00:00', '2018-06-11 00:00:00',
       '2018-10-01 00:00:00', '2017-10-01 00:00:00',
       '16 DE OCTUBRE DEL 13', '2016-01-15 00:00:00',
       '2017-01-30 00:00:00', '2016-04-15 00:00:00', '12 DE JUNIO.',
       '2013-04-16 00:00:00', '12 DE SEPTIEMBRE DEL 14',
       '2015-04-14 00:00:00', '2015-12-16 00:00:00',
       '2013-06-12 00:00:00', '16DE AGOSTO DEL 13', '2016-10-27 00:00:00',
       '2018-02-01 00:00:00', '2018-01-10 00:00:00',
       '2016-09-26 00:00:00', '14 DE ABRIL DEL 14', '120/70',
       '17 E ENERODEL 2015', '15 DE ENERO DEL 14', '2016-05-20 00:00:00',
       '25 DE NOV', '2015-06-12 00:00:00', '13 DE AGOSTO DEL 14',
       '14 DE JUNIO 13', '14 DE MARZO DEL 14', '13 DE JUNIO DEL 14',
       '14 DE OCTUBRE DEL 14', '2011-03-13 00:00:00',
       '16 DE JULIO DEL 13', '2016-08-18 00:00:00', '2017-03-06 00:00:00',
       '2018-04-09 00:00:00', '30/11//2016', '2012-07-11 00:00:00',
       '2018-11-07 00:00:00', '2018-03-01 00:00:00',
       '2019-10-17 00:00:00', '2018-04-18 00:00:00',
       '2018-06-13 00:00:00', '2018-08-10 00:00:00', '17 12',
       '2009-12-02 00:00:00', '26.09.17', '2016-01-01 00:00:00',
       '04.04.18', '2019-04-05 00:00:00', '11.05.17',
       '2015-08-05 00:00:00', '2015-04-29 00:00:00',
       '26 DE SEPTIEMBRE 2019', '31 DE OCTUBRE 2019',
       '2014-12-04 00:00:00', '2014-07-31', '2014-02-06 00:00:00',
       '2015-09-08 00:00:00', '21 ENERO 2016', '09 NOV 2015',
       '04 ABRIL 2016', '2015-01-02 00:00:00', '2014-08-28 00:00:00',
       '31 AGOSTO GLUCMEIA', '2014-01-06', '05 11 14 GLUCOSA 353',
       '2013-12-05 00:00:00', '2020-04-14 00:00:00',
       '2013-11-08 00:00:00', '28.04.16', '10.06.16',
       '2014-09-29 00:00:00', '2017-08-11 00:00:00',
       '2011-12-30 00:00:00', '12.12.16', '2010-10-28 00:00:00',
       '2011-12-01 00:00:00', '30.04.15', '18.06.15',
       '2012-04-01 00:00:00', '2012-03-06 00:00:00', '10/MARZO/2011',
       '2017-08-26 00:00:00', '27 DE JULIO 2016', '5 AGOSTO 2016',
       '10 AGO 2018', '28 NOV 2017', '2021-04-01 00:00:00',
       '2021-02-01 00:00:00', '14 DIC 2020', '16 ENE 2020',
       '2009-06-01 00:00:00', '07 JUNIO 2018', '17 ENE 2020', 'ABRIL 21',
       'FEBRERO 21', '25 DE MAYO', '2010-12-14 00:00:00',
       '2010-02-02 00:00:00', '2011-01-18 00:00:00',
       '2011-04-14 00:00:00', '2010-09-27 00:00:00',
       '2010-10-22 00:00:00', '21 ENERO 16', '12 DE FEBRERO 2016',
       '08 MARZO 2016', '22 ABRIL DE 2015', '4 DE DIC DEL 2018',
       '2019-11-11 00:00:00', '19 DE JUNIO DEL 2017',
       '2012-02-16 00:00:00', '1 FEBRERO 2019', '17 ABRIL 2017',
       '06.05.15', '17 ABRIL 2019', '25 DE JULIO2019', '5 MARZO 2020',
       '2018-04-01 00:00:00', '20 2-EP-5 ', '2016-06-15 00:00:00',
       '14 DE SEPT 2020', '2020-04-27 00:00:00', '2017-12-01 00:00:00',
       '2018-01-01 00:00:00', '15 DE ABRIL 21', '2020-03-01 00:00:00',
       '04/MARZO/2016', '04 01 17 GLUCOSA 124', '5 SEPT 2018',
       '22 ABRIL 2015', '2020-07-10 00:00:00', '2017-08-01 00:00:00',
       '18 JUNIO 2021', '2015-04-01 00:00:00', '2016-03-04 00:00:00',
       '04 03 16 GLUCOSA 87', '2020-11-12 00:00:00',
       '2020-10-19 00:00:00', '16 12 16 GLUCOSA 148', '18 JUNIO2021',
       '21 DE EENRO DEL 2014', '29 DE ENERO DEL 2014',
       '2016-06-04 00:00:00', '2016-04-22 00:00:00',
       '2016-10-26 00:00:00', '2015-01-23 00:00:00',
       '2017-01-11 00:00:00', '2017-01-20 00:00:00', '10 DE AGOSTO',
       '2016-10-10 00:00:00', '2015-08-14 00:00:00',
       '2016-01-21 00:00:00', '2015-12-17 00:00:00',
       '24 DE SEPTIEMBRE DEL 2013', '2015-10-15 00:00:00',
       '2015-03-11 00:00:00', '2016-04-06 00:00:00',
       '2016-05-03 00:00:00', '2016-08-04 00:00:00',
       '3 DE MARZO DEL 2015', '28 DE AGOSTO DEL 2014',
       '2014-07-10 00:00:00', '2016-10-07 00:00:00',
       '21 DE FEBRERO DEL 2014', '15 DE JULIO DEL 2014',
       '2015-05-05 00:00:00', '2013-11-19 00:00:00',
       '2016-09-14 00:00:00', '28 DE DICIEMBRE DEL 2013',
       '2011-04-27 00:00:00', '5 ENERO 2012', '24 JUNIO 2012',
       '2009-09-10 00:00:00', '11 NOV. 2011', '08 JULIO 2011',
       '17 JUNIO 13', '2010-05-24 00:00:00', '10 NOV 2011',
       '2009-12-23 00:00:00', '5 ENERO 2013', '2010-11-01 00:00:00',
       '2019-06-13 00:00:00', '22 DE DICIEMBRE 2017',
       '2021-02-12 00:00:00', '2021-12-31 00:00:00', '24 DE JULIO 2018',
       '1 DE FEBRERO 2019', '23 DIC 20', '23 NOV 20',
       '2021-03-19 00:00:00', '18 MAYO 21', '13 DE MARZO 2020',
       '2017-10-06 00:00:00', '13 DE ENERO 2017', '2016-07-01 00:00:00',
       '18 DE MAYO', '17 D EJULIO 2018', '16 DE JULIO 2020188.3',
       '10 SPTIEMBRE 2019', '16 DE JULIO 2020', '2018-07-24 00:00:00',
       '2017-02-21 00:00:00', '24 /07/2018', '21 ABRIL 2016',
       '29 SEPT 2016', '17 DE OCTUBRE 2016', '19 DE JULIO 2018',
       '20 DE AGOSTO 2018', '2016-04-01 00:00:00', '9 DE JUNIO 2016',
       '21 DE FEBRERO 2017', '20 DE OCTUBRE 2018', '22 DE JUNIO DEL 2019',
       '19 DE JUNIO', '5 DE OCTUBRE 2016', '2011-06-09 00:00:00',
       '2011-07-08 00:00:00', '2009-06-12 00:00:00',
       '2012-09-12 00:00:00', '10 AL 13', '2014-09-26 00:00:00',
       '2014-11-01 00:00:00', '2012-02-15 00:00:00',
       '2012-05-02 00:00:00', '2016-02-25 00:00:00',
       '25 DE JULIO DEL 2013', '2014-09-01 00:00:00',
       '2014-06-10 00:00:00', '2010-07-02 00:00:00', '22 DE ENERO',
       '06 /08/82010', '2011-05-29 00:00:00', '11 DE ABRIL DE 2018',
       '16 DE JUN DE 2017', '2020-01-02 00:00:00', '2020-02-01 00:00:00',
       '13 MAYO 2019', '06 DE OCTUBRE DE 2016', '2016-01-04 00:00:00',
       '29 AGOSTO 2016', '16 DE OCTUBRE DE 2016', '09 DE JUN 2017',
       '2019-10-01 00:00:00', '2018-05-31 00:00:00', '13 JULIO DE 2018',
       '31 DE MAYO 18', '01 DE JUNIO', '26 DE JUNIO 18',
       '24 DE MAYO 2018', '09 DE MAYO DE 2018', '05 / 0 1 / 2015',
       '2014-10-01 00:00:00', '01 DE JUNIO DE 2018', '31 MAYO 2018',
       '11 OCT 2018', '05 DE SEPTIEMBRE DE 2019', '2019-12-01 00:00:00',
       '2017-09-20 00:00:00', '25 SEPT 2018', '2019-04-01 00:00:00',
       '12 DE FEBRERO 2014', '02 DE OCT DEL 2017',
       '28 DE AGOSTO DEL 2017', '16/08/ 17', '2017-08-29 00:00:00',
       '2017-12-04 00:00:00', '2017-10-02 00:00:00',
       '15 DE JULIO DLE2019', '26 / 0 7 / 2012', '26 DE MARZO 14',
       '29 DE MAYO DEL 2014', '18 DE JULIO DEL 2014',
       '2016-06-10 00:00:00', '2016-04-29 00:00:00',
       '2018-03-13 00:00:00', '2020-01-05 00:00:00',
       '2019-10-18 00:00:00', '2017-05-19 00:00:00',
       '2020-04-01 00:00:00', '22 DE OCTUBRE DEL 2014',
       '11 DE SEPTIEMBRE 14', '2019-11-20 00:00:00',
       '2016-11-09 00:00:00', '30/09/20156', '23 DE MAYO 14',
       '26 DE MAYO DEL 2014', '2015-02-06 00:00:00',
       '2016-12-07 00:00:00', '2017-01-17 00:00:00',
       '2017-01-18 00:00:00', '2019-07-20 00:00:00',
       '2019-04-17 00:00:00', '2019-07-19 00:00:00', 'UMF82',
       '2018-12-01 00:00:00', '2018-06-01 00:00:00',
       '2019-01-20 00:00:00', '2013-06-06 00:00:00',
       '2018-04-17 00:00:00', '2018-07-23 00:00:00',
       '2018-03-21 00:00:00', '7 DE AGOSTO 14', '11 DE JULIO 13',
       '5 DE JUNIO 13', '2015-07-21 00:00:00', '17 DE MAYO DEL 2015',
       '2015-05-28 00:00:00', '2015-03-03 00:00:00',
       '24 DE OCTUBRE DEL 2013', '13 DE MAYO 14', '12 DE MAYO DEL 2014',
       '11 DE MAYO DEL 2014', '2015-08-21 00:00:00', '26 DE JULIO 14',
       '2 DE ABRIL 14', '2019-04-21 00:00:00', '10 DE FEBRERO 14',
       '10 DE SEPTIEMBRE 13', '16 DE OCTUBRE DEL 2013',
       '27 DE DICIEMBRE 13', '2019-03-20 00:00:00', '2019-12-20 00:00:00',
       '27 04 2019---', '17 DE SEP 87', '22 DE NOV', '12 DE JULIO 2019',
       '20BR-E -1 ', '12 DE MARZO 2018', '9 DE SEP', '5 DE ABRIL 2017',
       '2017-04-01 00:00:00', '3 DE DIC 2014', 'SEP 2018', '24 DE AGOSTO',
       '2016-03-07 00:00:00', '1 DE MARZO', '2016-09-01 00:00:00',
       '22 DE MARZO', '22 DE MARZO.', '2018-12-12 00:00:00', '24 DE SEP',
       '09 SEP 2016', 'SEP', '2014-12-01 00:00:00', '10/07/20017',
       '18 DE OCT DEL 2018', '01 DE JUNIO DEL 2019',
       '2017-12-11 00:00:00', '2017-06-06 00:00:00',
       '02 DEJULIO DLE 2018', '20 DE JULIO DEL 2016',
       '2017-04-12 00:00:00', '24 DE DIC DEL 2019', '2018-03-09 00:00:00',
       '2010-10-01 00:00:00', '2018-07-01 00:00:00', '22/FEB/2017',
       '2018-05-01 00:00:00', '2015-08-01 00:00:00',
       '11 DE JUNIO DEL 2015', '26 JUNIO 2007', '23.02.2021',
       '19 D EMARZO 2020', '4 D EMARZO 2019', '4 D AGOSTO 2020',
       '120/180', '2019-12-14 00:00:00', '2021-03-20 00:00:00',
       '2021-04-21 00:00:00', 'DEIEMBRE 2008', '2019-07-01 00:00:00',
       '2020-12-24 00:00:00', '12/2021', '2019-07-10 00:00:00',
       '2019-10-05 00:00:00', '2021-06-28 00:00:00',
       '2019-11-14 00:00:00', '13 DE JUNIO 2019', '20 DE DEIEMBRE 2008',
       '2021-05-01 00:00:00', '8 DE JULIO 2021', '21 ENERO 2021',
       '27 05 21.-', '2019-06-25 00:00:00', '2018-07-03 00:00:00',
       '31-12-2019-', '10 DE DIC 2010', '13 D EJULIO DEL 11', '10 DE DIC',
       '13 DE AGOSTO DEL 10', '14 DE NOV', '10 DIC, 10',
       '21 DE SEP. DEL 11', '9 DE ABRIL 10', '11 DE ABRIL DEL 11',
       '8 DE ABRIL DEL 11', '13 DE JULIO DEL 11', '22 DE 09 09',
       '13 DE OCTUBRE DEL 2009', '24 DE AGOSTO DEL 10',
       '11 DE NOVIEMBRE 10', '24 DE AGOST ODEL 10',
       '11 DE NOVIEMBRE DEL 10', '20 DE AGOSTO DEL 10',
       '24 DE FEBRERO DEL 12', '27 D E JUNIO DLE 12', '5 DE ENERO 10',
       '27 DE OCUTBRE', '2016-08-22 00:00:00', '21 JULIO 2010',
       '07 JUNIO 2010', '07 JULIO', '28 08 2010 30 08', '27 AGOSTO 2010',
       '2018-10-25 00:00:00', '17 SEPT 2018', '2018-11-27 00:00:00',
       '25 OCTUBRE 2018', '1 DE MARZO 2019', '22 SEPT 2017',
       '2015-03-09 00:00:00', '8 MARZO 2018', '10 ABRIL 2018',
       '24 DE JULIO 2019', '21 DE AGOSTO 2019', '29 DE JULIO 2019',
       '29 JULIO 2019', '2019-08-01 00:00:00', '21 DE AGOSTO 2019,SIN',
       '2019-09-14 00:00:00', '29 DIC 2017', '10 OCTUBRE 2018',
       '10 AGOSTO 2018', '2015-10-10 00:00:00', '3 ABRIL 2019',
       '2017-09-01 00:00:00', '25 DE MAYO 2015', '2015-07-22 00:00:00',
       '2015-06-23 00:00:00', '2017-05-09 00:00:00',
       '2014-10-03 00:00:00', '1 OCTUBRE 12',
       'ABRIL DEL 2012----PACIENTE', '20 ABRIL 12', '2018-12-21 00:00:00',
       '2019-11-28 00:00:00', '2019-03-27 00:00:00',
       '2016-11-23 00:00:00', '20 / 60', '2019-10-24 00:00:00',
       '2015-11-10 00:00:00', '2018-11-29 00:00:00', '24 DE DIC .DRA',
       '2017-06-18 00:00:00', 'AGISTO DEL 2017', '2017-07-17 00:00:00',
       '2019-07-30 00:00:00', '7/ 09/ 2017', '2018-10-11 00:00:00',
       '2021-02-19 00:00:00', '29 DE ABRIL DEL 2021',
       '2021-06-07 00:00:00', '2021-05-05 00:00:00', '04 DE ABRIL 2019',
       '27 DE FEB 2019', '2020-08-12 00:00:00', '08 DE SEP 2020',
       '05 DE MAYOP 2020', '2016-10-01 00:00:00', '4 DE MARZO DE 2016',
       '11 DE OCTUBRE 2016', '19 DE SEP 2016', '9 DE MAYO 17',
       '19 DE FEBRERO 2020', '2013-05-02 00:00:00', '2019-09-01 00:00:00',
       '2010-09-08 00:00:00', '2015-07-01 00:00:00', '018 03 11',
       '9 DE MAYO 18', '20 / 20', '2004-11-05 00:00:00',
       '2011-02-14 00:00:00', '2012-11-28 00:00:00',
       '2014-10-08 00:00:00', '18/ENE/2015', '2018-10-10 00:00:00',
       '2017-01-04 00:00:00', '2017-07-14 00:00:00', '25 MAYOP 2017',
       '2017-12-26 00:00:00', '2016-09-27 00:00:00',
       '2016-05-27 00:00:00', '2018-09-10 00:00:00', '25 AGOSTO 2020',
       '9 ENERO 2017', '2017-01-26 00:00:00', '2020-01-16 00:00:00',
       '2020-03-27 00:00:00', '2019-04-25 00:00:00',
       '2017-04-26 00:00:00', '2020-10-05 00:00:00',
       '2019-03-06 00:00:00', '2020-10-15 00:00:00',
       '2020-01-14 00:00:00', '2020-10-30 00:00:00',
       '2019-12-18 00:00:00', '2021-03-24 00:00:00',
       '2019-01-10 00:00:00', '2018-10-09 00:00:00',
       '2015-12-18 00:00:00', '2014-11-12 00:00:00',
       '2014-06-30 00:00:00', '30 DE AGOSTO DEL 2014',
       '2019-06-12 00:00:00', '2018-10-16 00:00:00',
       '2012-05-14 00:00:00', '21 DE ENERO 2020', '2019-06-10 00:00:00',
       '2021-06-18 00:00:00', '2010-07-22 00:00:00',
       '2010-05-31 00:00:00', '13 DIC 2010', '19 DE MARZO',
       '5 DE MARZO 2010', '13 082010', '13 SEP 2010',
       '2017-06-29 00:00:00', '2017-10-24 00:00:00',
       '2015-06-04 00:00:00', '17 SEP 2015', '2015-05-20 00:00:00',
       '2015-07-20 00:00:00', 'MASRZO DEL 2016', '2015-04-09 00:00:00',
       '2016-06-08 00:00:00', '2016-02-01 00:00:00',
       '2017-05-12 00:00:00', '2017-09-12 00:00:00',
       '2017-09-24 00:00:00', '30 SEP 2016', '2016-03-01 00:00:00',
       '2012-06-12 00:00:00', '2015-07-08 00:00:00',
       '2015-06-20 00:00:00', '2014-12-17 00:00:00',
       '2014-02-27 00:00:00', '2014-11-13 00:00:00',
       '14 03 16 GLUCOSA 255', '2015-12-01 00:00:00',
       '2016-02-18 00:00:00', '28 NOV 2011', '03.08 18',
       '2017-02-24 00:00:00', '18 SEP 2017', '06.12.17',
       '2018-08-03 00:00:00', 'SEPTIEMBRE 10 DE 2019',
       '2018-02-02 00:00:00', 'ENERO 2019---------------CONSIENTE',
       '2018-06-22 00:00:00', '2016-06-21 00:00:00',
       '2016-04-03 00:00:00', '10 / 12', '0 / 12', '5 / 12', '3 / 12',
       '11 / 12', '2019-04-04 00:00:00', '1 / 12', '2016-03-17 00:00:00',
       '9 / 12', '2015-01-28 00:00:00', '03 / 11 / 20156',
       '2018-10-18 00:00:00', '2017-10-16 00:00:00', '03 / 11 / 2016',
       '7 / 12', '10 / 12 DE EDAD, CON DX DE 1', '2015-09-29 00:00:00',
       '2016-03-08 00:00:00', '2016-04-04 00:00:00', '19 4'], dtype=object)

In [70]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace(' DE ', '/', regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace(' DEL ', '/', regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('10 / 12/EDAD, CON DX/1', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('ABRIL/2012----PACIENTE', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('ENERO 2019---------------CONSIENTE', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
df[df["fechas_procesadas2"].apply(lambda x: len(x) > 19)][['fechas_procesadas2','glucosa']]

        fechas_procesadas2 glucosa
1511  05 11 14 GLUCOSA 353  NaN
2540  04 01 17 GLUCOSA 124  NaN
2665  16 12 16 GLUCOSA 148  NaN
8691  14 03 16 GLUCOSA 255  NaN

In [71]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    if ('GLUCOSA' in x) & (len(x) > 19):
        print("20"+x[6:8]+"-"+x[3:5]+"-"+x[0:2])
        """df['fechas_procesadas2'][i] = "20"+df['fechas_procesadas2'][i].astype(str).str[6:8]+"-"+
                                           df['fechas_procesadas2'][i].astype(str).str[3:5]+"-"+
                                           df['fechas_procesadas2'][i].astype(str).str[0:2]"""
        print(x[17:len(x)])
        y = "20"+x[6:8]+"-"+x[3:5]+"-"+x[0:2]
        print(datetime.strptime(y, '%Y-%m-%d'))

2014-11-05
353
2014-11-05 00:00:00
2017-01-04
124
2017-01-04 00:00:00
2016-12-16
148
2016-12-16 00:00:00
2016-03-14
255
2016-03-14 00:00:00

In [72]:
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    if ('GLUCOSA' in x) & (len(x) > 19):
        y = "20"+x[6:8]+"-"+x[3:5]+"-"+x[0:2]
        df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d') 
        df['glucosa1'][i] = x[17:len(x)]

In [73]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('DE ', '/', regex=True)
#df[df["fechas_procesadas2"].apply(lambda x: len(x) != 19 & x is not None)][['fechas_procesadas2']]
df.fechas_procesadas2.unique()

array(['nan', '2011-09-01 00:00:00', '07 12', '37. 22', '19/AGOSTO 2015',
       '06/AGOSTO 2015', '24/ENERO 2016', '20/ENERO/2017',
       '2018-08-01 00:00:00', '2019-03-01 00:00:00',
       '2019-11-01 00:00:00', 'NAN', '2013-12-01 00:00:00',
       '2019-05-01 00:00:00', '2016-05-01 00:00:00', '18/JULIO',
       '4/JULIO', '13 SEPT 2016--', '2017-06-01 00:00:00',
       '2017-01-01 00:00:00', '15/JUNIO', '12/MARZO/2017', '6/MARZO',
       '8//FEBRERO/2018', '14/NERO/1ÑO 11', '2/JUNIO 2014',
       '15/DIC 2015.-', '25 MARZO/2019', '19/JULIO 2016', '15/JUNIO/2016',
       '2014-01-24 00:00:00', '2020-01-01 00:00:00', '20/OCTUBRE/2014',
       '2010-12-20 00:00:00', '20 SEP 2016', '06/MAYO/2015',
       '2012-08-13 00:00:00', '2012-12-27 00:00:00',
       '2012-07-02 00:00:00', '09/NOV2012', '2012-08-30 00:00:00',
       '2013-06-29 00:00:00', '2016-03-16 00:00:00',
       '2016-03-15 00:00:00', '2011-10-10 00:00:00',
       '2010-06-29 00:00:00', '2011-08-10 00:00:00',
       '2011-11-17 00:00:00', '2012-12-17 00:00:00', '8/SEPT', '12 10001',
       '37. 00', '2011-08-31 00:00:00', 'JUNIO 2016.-',
       '2009-02-08 00:00:00', '2010-02-10 00:00:00',
       '2011-04-01 00:00:00', '2011-02-15 00:00:00', '8 DE',
       '2013-05-04 00:00:00', '12/JUNIO 13', '18/SEPTIEMBRE/13',
       '2015-01-01 00:00:00', '2015-02-13 00:00:00', '5 DICIEMBRE 2014',
       '2017-10-09 00:00:00', '2018-02-26 00:00:00',
       '2018-05-12 00:00:00', '2013-12-18 00:00:00',
       '2018-09-01 00:00:00', '2018-06-11 00:00:00',
       '2018-10-01 00:00:00', '2017-10-01 00:00:00', '16/OCTUBRE/13',
       '2016-01-15 00:00:00', '2017-01-30 00:00:00',
       '2016-04-15 00:00:00', '12/JUNIO.', '2013-04-16 00:00:00',
       '12/SEPTIEMBRE/14', '2015-04-14 00:00:00', '2015-12-16 00:00:00',
       '2013-06-12 00:00:00', '16/AGOSTO/13', '2016-10-27 00:00:00',
       '2018-02-01 00:00:00', '2018-01-10 00:00:00',
       '2016-09-26 00:00:00', '14/ABRIL/14', '120/70',
       '17 E ENERODEL 2015', '15/ENERO/14', '2016-05-20 00:00:00',
       '25/NOV', '2015-06-12 00:00:00', '13/AGOSTO/14', '14/JUNIO 13',
       '14/MARZO/14', '13/JUNIO/14', '14/OCTUBRE/14',
       '2011-03-13 00:00:00', '16/JULIO/13', '2016-08-18 00:00:00',
       '2017-03-06 00:00:00', '2018-04-09 00:00:00', '30/11//2016',
       '2012-07-11 00:00:00', '2018-11-07 00:00:00',
       '2018-03-01 00:00:00', '2019-10-17 00:00:00',
       '2018-04-18 00:00:00', '2018-06-13 00:00:00',
       '2018-08-10 00:00:00', '17 12', '2009-12-02 00:00:00', '26.09.17',
       '2016-01-01 00:00:00', '04.04.18', '2019-04-05 00:00:00',
       '11.05.17', '2015-08-05 00:00:00', '2015-04-29 00:00:00',
       '26/SEPTIEMBRE 2019', '31/OCTUBRE 2019', '2014-12-04 00:00:00',
       '2014-07-31', '2014-02-06 00:00:00', '2015-09-08 00:00:00',
       '21 ENERO 2016', '09 NOV 2015', '04 ABRIL 2016',
       '2015-01-02 00:00:00', '2014-08-28 00:00:00', '31 AGOSTO GLUCMEIA',
       '2014-01-06', '2014-11-05 00:00:00', '2013-12-05 00:00:00',
       '2020-04-14 00:00:00', '2013-11-08 00:00:00', '28.04.16',
       '10.06.16', '2014-09-29 00:00:00', '2017-08-11 00:00:00',
       '2011-12-30 00:00:00', '12.12.16', '2010-10-28 00:00:00',
       '2011-12-01 00:00:00', '30.04.15', '18.06.15',
       '2012-04-01 00:00:00', '2012-03-06 00:00:00', '10/MARZO/2011',
       '2017-08-26 00:00:00', '27/JULIO 2016', '5 AGOSTO 2016',
       '10 AGO 2018', '28 NOV 2017', '2021-04-01 00:00:00',
       '2021-02-01 00:00:00', '14 DIC 2020', '16 ENE 2020',
       '2009-06-01 00:00:00', '07 JUNIO 2018', '17 ENE 2020', 'ABRIL 21',
       'FEBRERO 21', '25/MAYO', '2010-12-14 00:00:00',
       '2010-02-02 00:00:00', '2011-01-18 00:00:00',
       '2011-04-14 00:00:00', '2010-09-27 00:00:00',
       '2010-10-22 00:00:00', '21 ENERO 16', '12/FEBRERO 2016',
       '08 MARZO 2016', '22 ABRIL/2015', '4/DIC/2018',
       '2019-11-11 00:00:00', '19/JUNIO/2017', '2012-02-16 00:00:00',
       '1 FEBRERO 2019', '17 ABRIL 2017', '06.05.15', '17 ABRIL 2019',
       '25/JULIO2019', '5 MARZO 2020', '2018-04-01 00:00:00',
       '20 2-EP-5 ', '2016-06-15 00:00:00', '14/SEPT 2020',
       '2020-04-27 00:00:00', '2017-12-01 00:00:00',
       '2018-01-01 00:00:00', '15/ABRIL 21', '2020-03-01 00:00:00',
       '04/MARZO/2016', '2017-01-04 00:00:00', '5 SEPT 2018',
       '22 ABRIL 2015', '2020-07-10 00:00:00', '2017-08-01 00:00:00',
       '18 JUNIO 2021', '2015-04-01 00:00:00', '2016-03-04 00:00:00',
       '04 03 16 GLUCOSA 87', '2020-11-12 00:00:00',
       '2020-10-19 00:00:00', '2016-12-16 00:00:00', '18 JUNIO2021',
       '21/EENRO/2014', '29/ENERO/2014', '2016-06-04 00:00:00',
       '2016-04-22 00:00:00', '2016-10-26 00:00:00',
       '2015-01-23 00:00:00', '2017-01-11 00:00:00',
       '2017-01-20 00:00:00', '10/AGOSTO', '2016-10-10 00:00:00',
       '2015-08-14 00:00:00', '2016-01-21 00:00:00',
       '2015-12-17 00:00:00', '24/SEPTIEMBRE/2013', '2015-10-15 00:00:00',
       '2015-03-11 00:00:00', '2016-04-06 00:00:00',
       '2016-05-03 00:00:00', '2016-08-04 00:00:00', '3/MARZO/2015',
       '28/AGOSTO/2014', '2014-07-10 00:00:00', '2016-10-07 00:00:00',
       '21/FEBRERO/2014', '15/JULIO/2014', '2015-05-05 00:00:00',
       '2013-11-19 00:00:00', '2016-09-14 00:00:00', '28/DICIEMBRE/2013',
       '2011-04-27 00:00:00', '5 ENERO 2012', '24 JUNIO 2012',
       '2009-09-10 00:00:00', '11 NOV. 2011', '08 JULIO 2011',
       '17 JUNIO 13', '2010-05-24 00:00:00', '10 NOV 2011',
       '2009-12-23 00:00:00', '5 ENERO 2013', '2010-11-01 00:00:00',
       '2019-06-13 00:00:00', '22/DICIEMBRE 2017', '2021-02-12 00:00:00',
       '2021-12-31 00:00:00', '24/JULIO 2018', '1/FEBRERO 2019',
       '23 DIC 20', '23 NOV 20', '2021-03-19 00:00:00', '18 MAYO 21',
       '13/MARZO 2020', '2017-10-06 00:00:00', '13/ENERO 2017',
       '2016-07-01 00:00:00', '18/MAYO', '17 D EJULIO 2018',
       '16/JULIO 2020188.3', '10 SPTIEMBRE 2019', '16/JULIO 2020',
       '2018-07-24 00:00:00', '2017-02-21 00:00:00', '24 /07/2018',
       '21 ABRIL 2016', '29 SEPT 2016', '17/OCTUBRE 2016',
       '19/JULIO 2018', '20/AGOSTO 2018', '2016-04-01 00:00:00',
       '9/JUNIO 2016', '21/FEBRERO 2017', '20/OCTUBRE 2018',
       '22/JUNIO/2019', '19/JUNIO', '5/OCTUBRE 2016',
       '2011-06-09 00:00:00', '2011-07-08 00:00:00',
       '2009-06-12 00:00:00', '2012-09-12 00:00:00', '10 AL 13',
       '2014-09-26 00:00:00', '2014-11-01 00:00:00',
       '2012-02-15 00:00:00', '2012-05-02 00:00:00',
       '2016-02-25 00:00:00', '25/JULIO/2013', '2014-09-01 00:00:00',
       '2014-06-10 00:00:00', '2010-07-02 00:00:00', '22/ENERO',
       '06 /08/82010', '2011-05-29 00:00:00', '11/ABRIL/2018',
       '16/JUN/2017', '2020-01-02 00:00:00', '2020-02-01 00:00:00',
       '13 MAYO 2019', '06/OCTUBRE/2016', '2016-01-04 00:00:00',
       '29 AGOSTO 2016', '16/OCTUBRE/2016', '09/JUN 2017',
       '2019-10-01 00:00:00', '2018-05-31 00:00:00', '13 JULIO/2018',
       '31/MAYO 18', '01/JUNIO', '26/JUNIO 18', '24/MAYO 2018',
       '09/MAYO/2018', '05 / 0 1 / 2015', '2014-10-01 00:00:00',
       '01/JUNIO/2018', '31 MAYO 2018', '11 OCT 2018',
       '05/SEPTIEMBRE/2019', '2019-12-01 00:00:00', '2017-09-20 00:00:00',
       '25 SEPT 2018', '2019-04-01 00:00:00', '12/FEBRERO 2014',
       '02/OCT/2017', '28/AGOSTO/2017', '16/08/ 17',
       '2017-08-29 00:00:00', '2017-12-04 00:00:00',
       '2017-10-02 00:00:00', '15/JULIO DLE2019', '26 / 0 7 / 2012',
       '26/MARZO 14', '29/MAYO/2014', '18/JULIO/2014',
       '2016-06-10 00:00:00', '2016-04-29 00:00:00',
       '2018-03-13 00:00:00', '2020-01-05 00:00:00',
       '2019-10-18 00:00:00', '2017-05-19 00:00:00',
       '2020-04-01 00:00:00', '22/OCTUBRE/2014', '11/SEPTIEMBRE 14',
       '2019-11-20 00:00:00', '2016-11-09 00:00:00', '30/09/20156',
       '23/MAYO 14', '26/MAYO/2014', '2015-02-06 00:00:00',
       '2016-12-07 00:00:00', '2017-01-17 00:00:00',
       '2017-01-18 00:00:00', '2019-07-20 00:00:00',
       '2019-04-17 00:00:00', '2019-07-19 00:00:00', 'UMF82',
       '2018-12-01 00:00:00', '2018-06-01 00:00:00',
       '2019-01-20 00:00:00', '2013-06-06 00:00:00',
       '2018-04-17 00:00:00', '2018-07-23 00:00:00',
       '2018-03-21 00:00:00', '7/AGOSTO 14', '11/JULIO 13', '5/JUNIO 13',
       '2015-07-21 00:00:00', '17/MAYO/2015', '2015-05-28 00:00:00',
       '2015-03-03 00:00:00', '24/OCTUBRE/2013', '13/MAYO 14',
       '12/MAYO/2014', '11/MAYO/2014', '2015-08-21 00:00:00',
       '26/JULIO 14', '2/ABRIL 14', '2019-04-21 00:00:00',
       '10/FEBRERO 14', '10/SEPTIEMBRE 13', '16/OCTUBRE/2013',
       '27/DICIEMBRE 13', '2019-03-20 00:00:00', '2019-12-20 00:00:00',
       '27 04 2019---', '17/SEP 87', '22/NOV', '12/JULIO 2019',
       '20BR-E -1 ', '12/MARZO 2018', '9/SEP', '5/ABRIL 2017',
       '2017-04-01 00:00:00', '3/DIC 2014', 'SEP 2018', '24/AGOSTO',
       '2016-03-07 00:00:00', '1/MARZO', '2016-09-01 00:00:00',
       '22/MARZO', '22/MARZO.', '2018-12-12 00:00:00', '24/SEP',
       '09 SEP 2016', 'SEP', '2014-12-01 00:00:00', '10/07/20017',
       '18/OCT/2018', '01/JUNIO/2019', '2017-12-11 00:00:00',
       '2017-06-06 00:00:00', '02 DEJULIO DLE 2018', '20/JULIO/2016',
       '2017-04-12 00:00:00', '24/DIC/2019', '2018-03-09 00:00:00',
       '2010-10-01 00:00:00', '2018-07-01 00:00:00', '22/FEB/2017',
       '2018-05-01 00:00:00', '2015-08-01 00:00:00', '11/JUNIO/2015',
       '26 JUNIO 2007', '23.02.2021', '19 D EMARZO 2020',
       '4 D EMARZO 2019', '4 D AGOSTO 2020', '120/180',
       '2019-12-14 00:00:00', '2021-03-20 00:00:00',
       '2021-04-21 00:00:00', 'DEIEMBRE 2008', '2019-07-01 00:00:00',
       '2020-12-24 00:00:00', '12/2021', '2019-07-10 00:00:00',
       '2019-10-05 00:00:00', '2021-06-28 00:00:00',
       '2019-11-14 00:00:00', '13/JUNIO 2019', '20/DEIEMBRE 2008',
       '2021-05-01 00:00:00', '8/JULIO 2021', '21 ENERO 2021',
       '27 05 21.-', '2019-06-25 00:00:00', '2018-07-03 00:00:00',
       '31-12-2019-', '10/DIC 2010', '13 D EJULIO/11', '10/DIC',
       '13/AGOSTO/10', '14/NOV', '10 DIC, 10', '21/SEP./11', '9/ABRIL 10',
       '11/ABRIL/11', '8/ABRIL/11', '13/JULIO/11', '22/09 09',
       '13/OCTUBRE/2009', '24/AGOSTO/10', '11/NOVIEMBRE 10',
       '24/AGOST ODEL 10', '11/NOVIEMBRE/10', '20/AGOSTO/10',
       '24/FEBRERO/12', '27 D E JUNIO DLE 12', '5/ENERO 10', '27/OCUTBRE',
       '2016-08-22 00:00:00', '21 JULIO 2010', '07 JUNIO 2010',
       '07 JULIO', '28 08 2010 30 08', '27 AGOSTO 2010',
       '2018-10-25 00:00:00', '17 SEPT 2018', '2018-11-27 00:00:00',
       '25 OCTUBRE 2018', '1/MARZO 2019', '22 SEPT 2017',
       '2015-03-09 00:00:00', '8 MARZO 2018', '10 ABRIL 2018',
       '24/JULIO 2019', '21/AGOSTO 2019', '29/JULIO 2019',
       '29 JULIO 2019', '2019-08-01 00:00:00', '21/AGOSTO 2019,SIN',
       '2019-09-14 00:00:00', '29 DIC 2017', '10 OCTUBRE 2018',
       '10 AGOSTO 2018', '2015-10-10 00:00:00', '3 ABRIL 2019',
       '2017-09-01 00:00:00', '25/MAYO 2015', '2015-07-22 00:00:00',
       '2015-06-23 00:00:00', '2017-05-09 00:00:00',
       '2014-10-03 00:00:00', '1 OCTUBRE 12', '20 ABRIL 12',
       '2018-12-21 00:00:00', '2019-11-28 00:00:00',
       '2019-03-27 00:00:00', '2016-11-23 00:00:00', '20 / 60',
       '2019-10-24 00:00:00', '2015-11-10 00:00:00',
       '2018-11-29 00:00:00', '24/DIC .DRA', '2017-06-18 00:00:00',
       'AGISTO/2017', '2017-07-17 00:00:00', '2019-07-30 00:00:00',
       '7/ 09/ 2017', '2018-10-11 00:00:00', '2021-02-19 00:00:00',
       '29/ABRIL/2021', '2021-06-07 00:00:00', '2021-05-05 00:00:00',
       '04/ABRIL 2019', '27/FEB 2019', '2020-08-12 00:00:00',
       '08/SEP 2020', '05/MAYOP 2020', '2016-10-01 00:00:00',
       '4/MARZO/2016', '11/OCTUBRE 2016', '19/SEP 2016', '9/MAYO 17',
       '19/FEBRERO 2020', '2013-05-02 00:00:00', '2019-09-01 00:00:00',
       '2010-09-08 00:00:00', '2015-07-01 00:00:00', '018 03 11',
       '9/MAYO 18', '20 / 20', '2004-11-05 00:00:00',
       '2011-02-14 00:00:00', '2012-11-28 00:00:00',
       '2014-10-08 00:00:00', '18/ENE/2015', '2018-10-10 00:00:00',
       '2017-07-14 00:00:00', '25 MAYOP 2017', '2017-12-26 00:00:00',
       '2016-09-27 00:00:00', '2016-05-27 00:00:00',
       '2018-09-10 00:00:00', '25 AGOSTO 2020', '9 ENERO 2017',
       '2017-01-26 00:00:00', '2020-01-16 00:00:00',
       '2020-03-27 00:00:00', '2019-04-25 00:00:00',
       '2017-04-26 00:00:00', '2020-10-05 00:00:00',
       '2019-03-06 00:00:00', '2020-10-15 00:00:00',
       '2020-01-14 00:00:00', '2020-10-30 00:00:00',
       '2019-12-18 00:00:00', '2021-03-24 00:00:00',
       '2019-01-10 00:00:00', '2018-10-09 00:00:00',
       '2015-12-18 00:00:00', '2014-11-12 00:00:00',
       '2014-06-30 00:00:00', '30/AGOSTO/2014', '2019-06-12 00:00:00',
       '2018-10-16 00:00:00', '2012-05-14 00:00:00', '21/ENERO 2020',
       '2019-06-10 00:00:00', '2021-06-18 00:00:00',
       '2010-07-22 00:00:00', '2010-05-31 00:00:00', '13 DIC 2010',
       '19/MARZO', '5/MARZO 2010', '13 082010', '13 SEP 2010',
       '2017-06-29 00:00:00', '2017-10-24 00:00:00',
       '2015-06-04 00:00:00', '17 SEP 2015', '2015-05-20 00:00:00',
       '2015-07-20 00:00:00', 'MASRZO/2016', '2015-04-09 00:00:00',
       '2016-06-08 00:00:00', '2016-02-01 00:00:00',
       '2017-05-12 00:00:00', '2017-09-12 00:00:00',
       '2017-09-24 00:00:00', '30 SEP 2016', '2016-03-01 00:00:00',
       '2012-06-12 00:00:00', '2015-07-08 00:00:00',
       '2015-06-20 00:00:00', '2014-12-17 00:00:00',
       '2014-02-27 00:00:00', '2014-11-13 00:00:00',
       '2016-03-14 00:00:00', '2015-12-01 00:00:00',
       '2016-02-18 00:00:00', '28 NOV 2011', '03.08 18',
       '2017-02-24 00:00:00', '18 SEP 2017', '06.12.17',
       '2018-08-03 00:00:00', 'SEPTIEMBRE 10/2019', '2018-02-02 00:00:00',
       '2018-06-22 00:00:00', '2016-06-21 00:00:00',
       '2016-04-03 00:00:00', '10 / 12', '0 / 12', '5 / 12', '3 / 12',
       '11 / 12', '2019-04-04 00:00:00', '1 / 12', '2016-03-17 00:00:00',
       '9 / 12', '2015-01-28 00:00:00', '03 / 11 / 20156',
       '2018-10-18 00:00:00', '2017-10-16 00:00:00', '03 / 11 / 2016',
       '7 / 12', '2015-09-29 00:00:00', '2016-03-08 00:00:00',
       '2016-04-04 00:00:00', '19 4'], dtype=object)

In [74]:
c = df[df["fechas_procesadas2"].str.contains("/")][['fechas_procesadas2']]
c = pd.DataFrame(c)
c

     fechas_procesadas2
128   19/AGOSTO 2015
129   06/AGOSTO 2015
135   24/ENERO 2016
136   20/ENERO/2017
141   20/ENERO/2017
...             ...
9138  10 / 12
9140  7 / 12
9148  10 / 12
9155  20 / 20
9156  3 / 12

[652 rows x 1 columns]

In [75]:
c = np.where(c.fechas_procesadas2.str.contains("/"), \
         c['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                replace('//', '/', regex=True).\
                                replace('ENERO', '01', regex=True).\
                                replace('FEBRERO', '02', regex=True).\
                                replace('MARZO', '03', regex=True).\
                                replace('ABRIL', '04', regex=True).\
                                replace('MAYO', '05', regex=True).\
                                replace('JUNIO', '06', regex=True).\
                                replace('JULIO', '07', regex=True).\
                                replace('AGOSTO', '08', regex=True).\
                                replace('SEPTIEMBRE', '09', regex=True).\
                                replace('OCTUBRE', '10', regex=True).\
                                replace('NOVIEMBRE', '11', regex=True).\
                                replace('DICIEMBRE', '12', regex=True).\
                                replace('//', '/', regex=True),\
         c['fechas_procesadas2'])
c = pd.DataFrame(c)
c.columns = ['fechas_procesadas2']
c

    fechas_procesadas2
0    19/08/2015
1    06/08/2015
2    24/01/2016
3    20/01/2017
4    20/01/2017
..          ...
647  10/12
648  7/12
649  10/12
650  20/20
651  3/12

[652 rows x 1 columns]

In [76]:
for i in range(len(c['fechas_procesadas2'])):
    x = c['fechas_procesadas2'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 10) and x[6:10].isnumeric() and x[3:5].isnumeric() and x[0:2].isnumeric():
        y = x[6:10]+"-"+x[3:5]+"-"+x[0:2]
        print(y)
        #df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d')

2015-08-19
2015-08-06
2016-01-24
2017-01-20
2017-01-20
2016-01-24
2016-01-24
2016-01-24
2017-01-20
2017-01-20
2016-01-24
2015-08-19
2016-01-24
2016-01-24
2017-01-20
2016-01-24
2017-03-12
2016-01-24
2019-03-25
2016-07-19
2017-03-12
2016-01-24
2017-01-20
2016-06-15
2016-01-24
2014-10-20
2016-01-24
2017-03-12
2017-01-20
2017-01-20
2016-01-24
2016-06-15
2016-06-15
2017-03-12
2016-07-19
2017-01-20
2016-01-24
2014-10-20
2015-05-06
2016-01-24
2017-01-20
2016-01-24
2014-10-20
2016-06-15
2016-06-15
2016-07-19
2016-01-24
2017-01-20
2014-10-20
2016-07-19
2016-01-24
2017-03-12
2017-01-20
2016-01-24
2016-01-24
2017-01-20
2016-01-24
2016-06-15
2017-01-20
2016-01-24
2017-03-12
2016-07-19
2017-01-20
2016-01-24
2016-06-15
2014-10-20
2014-10-20
2019-03-25
2016-01-24
2017-01-20
2016-07-19
2017-03-12
2016-01-24
2017-03-12
2016-01-24
2016-07-19
2017-01-20
2016-01-24
2017-01-20
2017-03-12
2016-01-24
2016-07-19
2015-08-19
2015-08-06
2017-03-12
2017-01-20
2016-01-24
2016-01-24
2017-01-20
2017-03-12
2016-01-24
2017-03-12
2017-01-20
2016-07-19
2016-06-15
2016-06-15
2014-10-20
2015-08-06
2015-08-19
2015-08-19
2015-08-06
2016-06-15
2016-06-15
2016-06-15
2016-06-15
2016-06-15
2017-03-12
2016-01-24
2016-07-19
2017-01-20
2016-06-15
2016-06-15
2016-07-19
2016-11-30
2019-09-26
2019-10-31
2019-09-26
2011-03-10
2016-07-27
2016-02-12
2016-02-12
2016-02-12
2015-04-22
2017-06-19
2016-03-04
2014-01-29
2013-09-24
2014-08-28
2014-02-21
2014-07-15
2013-12-28
2017-12-22
2018-07-24
2020-03-13
2020-03-13
2018-07-24
2018-07-24
2020-03-13
2017-01-13
2020-07-16
2018-07-24
2016-10-17
2018-07-24
2018-07-19
2018-08-20
2018-07-19
2018-08-20
2017-02-21
2018-10-20
2016-10-17
2019-06-22
2018-10-20
2017-02-21
2013-07-25
2018-04-11
2016-10-06
2016-10-06
2016-10-16
2016-10-06
2016-10-06
2018-04-11
2016-10-06
2016-10-06
2016-10-06
2018-07-13
2016-10-06
2018-04-11
2016-10-06
2016-10-06
2018-04-11
2016-10-06
2018-05-24
2018-05-09
2018-05-09
2018-06-01
2018-04-11
2016-10-06
2018-05-09
2016-10-06
2018-06-01
2018-04-11
2016-10-06
2018-04-11
2016-10-06
2019-09-05
2018-04-11
2016-10-06
2016-10-06
2018-04-11
2016-10-06
2016-10-06
2018-04-11
2019-09-05
2016-10-06
2018-05-24
2016-10-06
2018-04-11
2016-10-06
2016-10-06
2018-04-11
2016-10-06
2018-04-11
2016-10-06
2018-04-11
2016-10-06
2016-10-06
2016-10-06
2018-04-11
2016-10-06
2016-10-06
2018-04-11
2014-02-12
2017-08-28
2014-05-29
2014-07-18
2014-05-29
2014-10-22
2014-07-18
2014-05-29
2014-05-26
2014-07-18
2014-05-29
2014-05-29
2014-07-18
2014-10-22
2015-05-17
2014-07-18
2014-05-29
2013-10-24
2014-05-12
2014-05-11
2014-05-29
2014-07-18
2014-05-29
2014-07-18
2014-05-12
2014-05-11
2013-10-16
2019-07-12
2018-03-12
2018-03-12
2018-03-12
2019-07-12
2018-03-12
2019-07-12
2018-03-12
2018-03-12
2018-03-12
2019-07-12
2018-03-12
2018-03-12
2019-07-12
2018-03-12
2019-07-12
2019-07-12
2018-03-12
2019-07-12
2019-06-01
2016-07-20
2019-06-01
2019-06-01
2016-07-20
2016-07-20
2016-07-20
2015-06-11
2019-06-13
2009-10-13
2019-07-24
2019-08-21
2019-07-29
2015-05-25
2021-04-29
2019-04-04
2019-04-04
2019-04-04
2016-10-11
2016-10-11
2016-10-11
2020-02-19
2016-10-11
2020-02-19
2016-10-11
2016-10-11
2020-02-19
2020-02-19
2016-10-11
2016-10-11
2020-02-19
2016-10-11
2016-10-11
2016-10-11
2016-10-11
2016-10-11
2016-10-11
2016-10-11
2016-10-11
2020-02-19
2016-10-11
2016-10-11
2020-02-19
2016-10-11
2016-10-11
2014-08-30
2020-01-21
2019-10-09
2016-11-03

In [77]:
df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("/"), \
                                    df['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('ENERO', '01', regex=True).\
                                    replace('FEBRERO', '02', regex=True).\
                                    replace('MARZO', '03', regex=True).\
                                    replace('ABRIL', '04', regex=True).\
                                    replace('MAYO', '05', regex=True).\
                                    replace('JUNIO', '06', regex=True).\
                                    replace('JULIO', '07', regex=True).\
                                    replace('AGOSTO', '08', regex=True).\
                                    replace('SEPTIEMBRE', '09', regex=True).\
                                    replace('OCTUBRE', '10', regex=True).\
                                    replace('NOVIEMBRE', '11', regex=True).\
                                    replace('DICIEMBRE', '12', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

In [78]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 10) and x[6:10].isnumeric() and x[3:5].isnumeric() and x[0:2].isnumeric():
        y = x[6:10]+"-"+x[3:5]+"-"+x[0:2]
        #print(y)
        df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d')

In [79]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
df['fechas_procesadas2'] = np.where(df["fechas_procesadas2"].str.contains(" ")&\
   ~df["fechas_procesadas2"].str.contains("00:00:00"),
                                    df['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
print(sorted(df['fechas_procesadas2'].unique()))

['0/12', '01/06', '018/03/11', '02/DEJULIO/DLE/2018', '02/OCT/2017', '03.08/18', '03/11/20156', '04.04.18', '04/03/16/GLUCOSA/87', '04/ABRIL/2016', '05/0/1/2015', '05/05P/2020', '06.05.15', '06.12.17', '06/08/82010', '07/12', '07/JULIO', '07/JUNIO/2010', '07/JUNIO/2018', '08/JULIO/2011', '08/MARZO/2016', '08/SEP/2020', '09/JUN/2017', '09/NOV/2015', '09/NOV2012', '09/SEP/2016', '1/02/2019', '1/03', '1/03/2019', '1/12', '1/FEBRERO/2019', '1/OCTUBRE/12', '10.06.16', '10/02/14', '10/07/20017', '10/08', '10/09/13', '10/12', '10/ABRIL/2018', '10/AGO/2018', '10/AGOSTO/2018', '10/AL/13', '10/DIC', '10/DIC,/10', '10/DIC/2010', '10/NOV/2011', '10/OCTUBRE/2018', '10/SPTIEMBRE/2019', '11.05.17', '11/04/11', '11/07/13', '11/09/14', '11/11/10', '11/12', '11/NOV./2011', '11/OCT/2018', '12.12.16', '12/06.', '12/06/13', '12/09/14', '12/10001', '12/2021', '120/180', '120/70', '13/05/14', '13/06/14', '13/07/11', '13/08/10', '13/08/14', '13/082010', '13/D/E07/11', '13/DIC/2010', '13/MAYO/2019', '13/SEP/2010', '13/SEPT/2016--', '14/03/14', '14/04/14', '14/06/13', '14/10/14', '14/DIC/2020', '14/NERO/1ÑO/11', '14/NOV', '14/SEPT/2020', '15/01/14', '15/04/21', '15/06', '15/07/DLE2019', '15/DIC/2015.-', '16/07/13', '16/07/2020188.3', '16/08/13', '16/08/17', '16/10/13', '16/ENE/2020', '16/JUN/2017', '17/12', '17/ABRIL/2017', '17/ABRIL/2019', '17/D/EJULIO/2018', '17/E/ENERODEL/2015', '17/ENE/2020', '17/JUNIO/13', '17/SEP/2015', '17/SEP/87', '17/SEPT/2018', '18.06.15', '18/05', '18/07', '18/09/13', '18/ENE/2015', '18/JUNIO/2021', '18/JUNIO2021', '18/MAYO/21', '18/OCT/2018', '18/SEP/2017', '19/03', '19/06', '19/4', '19/D/EMARZO/2020', '19/SEP/2016', '2/04/14', '2/06/2014', '20/08/10', '20/2-EP-5/', '20/20', '20/60', '20/ABRIL/12', '20/DEIEMBRE/2008', '20/SEP/2016', '2004-11-05 00:00:00', '2009-02-08 00:00:00', '2009-06-01 00:00:00', '2009-06-12 00:00:00', '2009-09-10 00:00:00', '2009-10-13 00:00:00', '2009-12-02 00:00:00', '2009-12-23 00:00:00', '2010-02-02 00:00:00', '2010-02-10 00:00:00', '2010-05-24 00:00:00', '2010-05-31 00:00:00', '2010-06-29 00:00:00', '2010-07-02 00:00:00', '2010-07-22 00:00:00', '2010-09-08 00:00:00', '2010-09-27 00:00:00', '2010-10-01 00:00:00', '2010-10-22 00:00:00', '2010-10-28 00:00:00', '2010-11-01 00:00:00', '2010-12-14 00:00:00', '2010-12-20 00:00:00', '2011-01-18 00:00:00', '2011-02-14 00:00:00', '2011-02-15 00:00:00', '2011-03-10 00:00:00', '2011-03-13 00:00:00', '2011-04-01 00:00:00', '2011-04-14 00:00:00', '2011-04-27 00:00:00', '2011-05-29 00:00:00', '2011-06-09 00:00:00', '2011-07-08 00:00:00', '2011-08-10 00:00:00', '2011-08-31 00:00:00', '2011-09-01 00:00:00', '2011-10-10 00:00:00', '2011-11-17 00:00:00', '2011-12-01 00:00:00', '2011-12-30 00:00:00', '2012-02-15 00:00:00', '2012-02-16 00:00:00', '2012-03-06 00:00:00', '2012-04-01 00:00:00', '2012-05-02 00:00:00', '2012-05-14 00:00:00', '2012-06-12 00:00:00', '2012-07-02 00:00:00', '2012-07-11 00:00:00', '2012-08-13 00:00:00', '2012-08-30 00:00:00', '2012-09-12 00:00:00', '2012-11-28 00:00:00', '2012-12-17 00:00:00', '2012-12-27 00:00:00', '2013-04-16 00:00:00', '2013-05-02 00:00:00', '2013-05-04 00:00:00', '2013-06-06 00:00:00', '2013-06-12 00:00:00', '2013-06-29 00:00:00', '2013-07-25 00:00:00', '2013-09-24 00:00:00', '2013-10-16 00:00:00', '2013-10-24 00:00:00', '2013-11-08 00:00:00', '2013-11-19 00:00:00', '2013-12-01 00:00:00', '2013-12-05 00:00:00', '2013-12-18 00:00:00', '2013-12-28 00:00:00', '2014-01-06', '2014-01-24 00:00:00', '2014-01-29 00:00:00', '2014-02-06 00:00:00', '2014-02-12 00:00:00', '2014-02-21 00:00:00', '2014-02-27 00:00:00', '2014-05-11 00:00:00', '2014-05-12 00:00:00', '2014-05-26 00:00:00', '2014-05-29 00:00:00', '2014-06-10 00:00:00', '2014-06-30 00:00:00', '2014-07-10 00:00:00', '2014-07-15 00:00:00', '2014-07-18 00:00:00', '2014-07-31', '2014-08-28 00:00:00', '2014-08-30 00:00:00', '2014-09-01 00:00:00', '2014-09-26 00:00:00', '2014-09-29 00:00:00', '2014-10-01 00:00:00', '2014-10-03 00:00:00', '2014-10-08 00:00:00', '2014-10-20 00:00:00', '2014-10-22 00:00:00', '2014-11-01 00:00:00', '2014-11-05 00:00:00', '2014-11-12 00:00:00', '2014-11-13 00:00:00', '2014-12-01 00:00:00', '2014-12-04 00:00:00', '2014-12-17 00:00:00', '2015-01-01 00:00:00', '2015-01-02 00:00:00', '2015-01-23 00:00:00', '2015-01-28 00:00:00', '2015-02-06 00:00:00', '2015-02-13 00:00:00', '2015-03-03 00:00:00', '2015-03-09 00:00:00', '2015-03-11 00:00:00', '2015-04-01 00:00:00', '2015-04-09 00:00:00', '2015-04-14 00:00:00', '2015-04-22 00:00:00', '2015-04-29 00:00:00', '2015-05-05 00:00:00', '2015-05-06 00:00:00', '2015-05-17 00:00:00', '2015-05-20 00:00:00', '2015-05-25 00:00:00', '2015-05-28 00:00:00', '2015-06-04 00:00:00', '2015-06-11 00:00:00', '2015-06-12 00:00:00', '2015-06-20 00:00:00', '2015-06-23 00:00:00', '2015-07-01 00:00:00', '2015-07-08 00:00:00', '2015-07-20 00:00:00', '2015-07-21 00:00:00', '2015-07-22 00:00:00', '2015-08-01 00:00:00', '2015-08-05 00:00:00', '2015-08-06 00:00:00', '2015-08-14 00:00:00', '2015-08-19 00:00:00', '2015-08-21 00:00:00', '2015-09-08 00:00:00', '2015-09-29 00:00:00', '2015-10-10 00:00:00', '2015-10-15 00:00:00', '2015-11-10 00:00:00', '2015-12-01 00:00:00', '2015-12-16 00:00:00', '2015-12-17 00:00:00', '2015-12-18 00:00:00', '2016-01-01 00:00:00', '2016-01-04 00:00:00', '2016-01-15 00:00:00', '2016-01-21 00:00:00', '2016-01-24 00:00:00', '2016-02-01 00:00:00', '2016-02-12 00:00:00', '2016-02-18 00:00:00', '2016-02-25 00:00:00', '2016-03-01 00:00:00', '2016-03-04 00:00:00', '2016-03-07 00:00:00', '2016-03-08 00:00:00', '2016-03-14 00:00:00', '2016-03-15 00:00:00', '2016-03-16 00:00:00', '2016-03-17 00:00:00', '2016-04-01 00:00:00', '2016-04-03 00:00:00', '2016-04-04 00:00:00', '2016-04-06 00:00:00', '2016-04-15 00:00:00', '2016-04-22 00:00:00', '2016-04-29 00:00:00', '2016-05-01 00:00:00', '2016-05-03 00:00:00', '2016-05-20 00:00:00', '2016-05-27 00:00:00', '2016-06-04 00:00:00', '2016-06-08 00:00:00', '2016-06-10 00:00:00', '2016-06-15 00:00:00', '2016-06-21 00:00:00', '2016-07-01 00:00:00', '2016-07-19 00:00:00', '2016-07-20 00:00:00', '2016-07-27 00:00:00', '2016-08-04 00:00:00', '2016-08-18 00:00:00', '2016-08-22 00:00:00', '2016-09-01 00:00:00', '2016-09-14 00:00:00', '2016-09-26 00:00:00', '2016-09-27 00:00:00', '2016-10-01 00:00:00', '2016-10-06 00:00:00', '2016-10-07 00:00:00', '2016-10-10 00:00:00', '2016-10-11 00:00:00', '2016-10-16 00:00:00', '2016-10-17 00:00:00', '2016-10-26 00:00:00', '2016-10-27 00:00:00', '2016-11-03 00:00:00', '2016-11-09 00:00:00', '2016-11-23 00:00:00', '2016-11-30 00:00:00', '2016-12-07 00:00:00', '2016-12-16 00:00:00', '2017-01-01 00:00:00', '2017-01-04 00:00:00', '2017-01-11 00:00:00', '2017-01-13 00:00:00', '2017-01-17 00:00:00', '2017-01-18 00:00:00', '2017-01-20 00:00:00', '2017-01-26 00:00:00', '2017-01-30 00:00:00', '2017-02-21 00:00:00', '2017-02-24 00:00:00', '2017-03-06 00:00:00', '2017-03-12 00:00:00', '2017-04-01 00:00:00', '2017-04-12 00:00:00', '2017-04-26 00:00:00', '2017-05-09 00:00:00', '2017-05-12 00:00:00', '2017-05-19 00:00:00', '2017-06-01 00:00:00', '2017-06-06 00:00:00', '2017-06-18 00:00:00', '2017-06-19 00:00:00', '2017-06-29 00:00:00', '2017-07-14 00:00:00', '2017-07-17 00:00:00', '2017-08-01 00:00:00', '2017-08-11 00:00:00', '2017-08-26 00:00:00', '2017-08-28 00:00:00', '2017-08-29 00:00:00', '2017-09-01 00:00:00', '2017-09-12 00:00:00', '2017-09-20 00:00:00', '2017-09-24 00:00:00', '2017-10-01 00:00:00', '2017-10-02 00:00:00', '2017-10-06 00:00:00', '2017-10-09 00:00:00', '2017-10-16 00:00:00', '2017-10-24 00:00:00', '2017-12-01 00:00:00', '2017-12-04 00:00:00', '2017-12-11 00:00:00', '2017-12-22 00:00:00', '2017-12-26 00:00:00', '2018-01-01 00:00:00', '2018-01-10 00:00:00', '2018-02-01 00:00:00', '2018-02-02 00:00:00', '2018-02-26 00:00:00', '2018-03-01 00:00:00', '2018-03-09 00:00:00', '2018-03-12 00:00:00', '2018-03-13 00:00:00', '2018-03-21 00:00:00', '2018-04-01 00:00:00', '2018-04-09 00:00:00', '2018-04-11 00:00:00', '2018-04-17 00:00:00', '2018-04-18 00:00:00', '2018-05-01 00:00:00', '2018-05-09 00:00:00', '2018-05-12 00:00:00', '2018-05-24 00:00:00', '2018-05-31 00:00:00', '2018-06-01 00:00:00', '2018-06-11 00:00:00', '2018-06-13 00:00:00', '2018-06-22 00:00:00', '2018-07-01 00:00:00', '2018-07-03 00:00:00', '2018-07-13 00:00:00', '2018-07-19 00:00:00', '2018-07-23 00:00:00', '2018-07-24 00:00:00', '2018-08-01 00:00:00', '2018-08-03 00:00:00', '2018-08-10 00:00:00', '2018-08-20 00:00:00', '2018-09-01 00:00:00', '2018-09-10 00:00:00', '2018-10-01 00:00:00', '2018-10-09 00:00:00', '2018-10-10 00:00:00', '2018-10-11 00:00:00', '2018-10-16 00:00:00', '2018-10-18 00:00:00', '2018-10-20 00:00:00', '2018-10-25 00:00:00', '2018-11-07 00:00:00', '2018-11-27 00:00:00', '2018-11-29 00:00:00', '2018-12-01 00:00:00', '2018-12-12 00:00:00', '2018-12-21 00:00:00', '2019-01-10 00:00:00', '2019-01-20 00:00:00', '2019-03-01 00:00:00', '2019-03-06 00:00:00', '2019-03-20 00:00:00', '2019-03-25 00:00:00', '2019-03-27 00:00:00', '2019-04-01 00:00:00', '2019-04-04 00:00:00', '2019-04-05 00:00:00', '2019-04-17 00:00:00', '2019-04-21 00:00:00', '2019-04-25 00:00:00', '2019-05-01 00:00:00', '2019-06-01 00:00:00', '2019-06-10 00:00:00', '2019-06-12 00:00:00', '2019-06-13 00:00:00', '2019-06-22 00:00:00', '2019-06-25 00:00:00', '2019-07-01 00:00:00', '2019-07-10 00:00:00', '2019-07-12 00:00:00', '2019-07-19 00:00:00', '2019-07-20 00:00:00', '2019-07-24 00:00:00', '2019-07-29 00:00:00', '2019-07-30 00:00:00', '2019-08-01 00:00:00', '2019-08-21 00:00:00', '2019-09-01 00:00:00', '2019-09-05 00:00:00', '2019-09-14 00:00:00', '2019-09-26 00:00:00', '2019-10-01 00:00:00', '2019-10-05 00:00:00', '2019-10-09 00:00:00', '2019-10-17 00:00:00', '2019-10-18 00:00:00', '2019-10-24 00:00:00', '2019-10-31 00:00:00', '2019-11-01 00:00:00', '2019-11-11 00:00:00', '2019-11-14 00:00:00', '2019-11-20 00:00:00', '2019-11-28 00:00:00', '2019-12-01 00:00:00', '2019-12-14 00:00:00', '2019-12-18 00:00:00', '2019-12-20 00:00:00', '2020-01-01 00:00:00', '2020-01-02 00:00:00', '2020-01-05 00:00:00', '2020-01-14 00:00:00', '2020-01-16 00:00:00', '2020-01-21 00:00:00', '2020-02-01 00:00:00', '2020-02-19 00:00:00', '2020-03-01 00:00:00', '2020-03-13 00:00:00', '2020-03-27 00:00:00', '2020-04-01 00:00:00', '2020-04-14 00:00:00', '2020-04-27 00:00:00', '2020-07-10 00:00:00', '2020-07-16 00:00:00', '2020-08-12 00:00:00', '2020-10-05 00:00:00', '2020-10-15 00:00:00', '2020-10-19 00:00:00', '2020-10-30 00:00:00', '2020-11-12 00:00:00', '2020-12-24 00:00:00', '2021-02-01 00:00:00', '2021-02-12 00:00:00', '2021-02-19 00:00:00', '2021-03-19 00:00:00', '2021-03-20 00:00:00', '2021-03-24 00:00:00', '2021-04-01 00:00:00', '2021-04-21 00:00:00', '2021-04-29 00:00:00', '2021-05-01 00:00:00', '2021-05-05 00:00:00', '2021-06-07 00:00:00', '2021-06-18 00:00:00', '2021-06-28 00:00:00', '2021-12-31 00:00:00', '20BR-E/-1/', '21/08/2019,SIN', '21/ABRIL/2016', '21/EENRO/2014', '21/ENERO/16', '21/ENERO/2016', '21/ENERO/2021', '21/JULIO/2010', '21/SEP./11', '22/01', '22/03', '22/03.', '22/09/09', '22/ABRIL/2015', '22/FEB/2017', '22/NOV', '22/SEPT/2017', '23.02.2021', '23/05/14', '23/DIC/20', '23/NOV/20', '24/02/12', '24/08', '24/08/10', '24/AGOST/ODEL/10', '24/DIC/.DRA', '24/DIC/2019', '24/JUNIO/2012', '24/SEP', '25/05', '25/072019', '25/AGOSTO/2020', '25/MAYOP/2017', '25/NOV', '25/OCTUBRE/2018', '25/SEPT/2018', '26.09.17', '26/0/7/2012', '26/03/14', '26/06/18', '26/07/14', '26/JUNIO/2007', '27/04/2019---', '27/05/21.-', '27/12/13', '27/AGOSTO/2010', '27/D/E/JUNIO/DLE/12', '27/FEB/2019', '27/OCUTBRE', '28.04.16', '28/08/2010/30/08', '28/NOV/2011', '28/NOV/2017', '29/AGOSTO/2016', '29/DIC/2017', '29/JULIO/2019', '29/SEPT/2016', '3/03/2015', '3/12', '3/ABRIL/2019', '3/DIC/2014', '30.04.15', '30/09/20156', '30/SEP/2016', '31-12-2019-', '31/05/18', '31/AGOSTO/GLUCMEIA', '31/MAYO/2018', '37./00', '37./22', '4/03/2016', '4/07', '4/D/AGOSTO/2020', '4/D/EMARZO/2019', '4/DIC/2018', '5/01/10', '5/03/2010', '5/04/2017', '5/06/13', '5/10/2016', '5/12', '5/AGOSTO/2016', '5/DICIEMBRE/2014', '5/ENERO/2012', '5/ENERO/2013', '5/MARZO/2020', '5/SEPT/2018', '6/03', '7/08/14', '7/09/2017', '7/12', '8/02/2018', '8/04/11', '8/07/2021', '8/DE', '8/MARZO/2018', '8/SEPT', '9/04/10', '9/05/17', '9/05/18', '9/06/2016', '9/12', '9/ENERO/2017', '9/SEP', 'ABRIL/21', 'AGISTO/2017', 'DEIEMBRE/2008', 'FEBRERO/21', 'JUNIO/2016.-', 'MASRZO/2016', 'NAN', 'SEP', 'SEP/2018', 'UMF82', 'nan']

In [80]:
df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("O"), \
                                    df['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("A"), \
                                    df['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("E"), \
                                    df['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("/"), \
                                    df['fechas_procesadas2'].replace(' ', '/', regex=True).\
                                    replace('./', '/', regex=True).\
                                    replace(',/', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

In [81]:
df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("/"), \
                                    df['fechas_procesadas2'].replace('/ENERO/', '/01/', regex=True).\
                                    replace('/FEBRERO/', '/02/', regex=True).\
                                    replace('/MARZO/', '/03/', regex=True).\
                                    replace('/ABRIL/', '/04/', regex=True).\
                                    replace('/MAYO/', '/05/', regex=True).\
                                    replace('/JUNIO/', '/06/', regex=True).\
                                    replace('/JULIO/', '/07/', regex=True).\
                                    replace('/AGOSTO/', '/08/', regex=True).\
                                    replace('/SEPTIEMBRE/', '/09/', regex=True).\
                                    replace('/OCTUBRE/', '/10/', regex=True).\
                                    replace('/NOVIEMBRE/', '/11/', regex=True).\
                                    replace('/NOV/', '/11/', regex=True).\
                                    replace('/JUN/', '/06/', regex=True).\
                                    replace('/SPTIEMBRE/', '/09/', regex=True).\
                                    replace('/DEIEMBR/', '/12/', regex=True).\
                                    replace('/SEPT/', '/09/', regex=True).\
                                    replace('/SEP/', '/09/', regex=True).\
                                    replace('/FEB/', '/02/', regex=True).\
                                    replace('/ENE/', '/01/', regex=True).\
                                    replace('/DIC/', '/12/', regex=True).\
                                    replace('/OCT/', '/10/', regex=True).\
                                    replace('/AGO/', '/08/', regex=True).\
                                    replace('/JULI/', '/07/', regex=True).\
                                    replace('/JUNI/', '/06/', regex=True).\
                                    replace('/EN/', '/01/', regex=True).\
                                    replace('/AGOST/', '/08/', regex=True).\
                                    replace('/OCTUBR/', '/10/', regex=True).\
                                    replace('/NO/', '/11/', regex=True).\
                                    replace('/MAY/', '/05/', regex=True).\
                                    replace('/SE/', '/09/', regex=True).\
                                    replace('/ABRI/', '/04/', regex=True).\
                                    replace('/EMARZ/', '/03/', regex=True).\
                                    replace('/SPTIEMBR/', '/09/', regex=True).\
                                    replace('/EJULI/', '/07/', regex=True).\
                                    replace('/DI/', '/12/', regex=True).\
                                    replace('/A/', '/08/', regex=True).\
                                    replace('/ENER/', '/01/', regex=True).\
                                    replace('/EENR/', '/01/', regex=True).\
                                    replace('/AGOS/ODE/', '/08/', regex=True).\
                                    replace('/ENERODE/', '/01/', regex=True).\
                                    replace('/FE/', '/02/', regex=True).\
                                    replace('/JU/', '/06/', regex=True).\
                                    replace('/DEJULI/DL/', '/07/', regex=True).\
                                    replace('/MARZ/', '/03/', regex=True).\
                                    replace('/NOV2', '/11/2', regex=True).\
                                    replace('/JUNIO2', '/06/2', regex=True).\
                                    replace('/AG/', '/08/', regex=True).\
                                    replace('/OC/', '/10/', regex=True).\
                                    replace('/FEBRER/', '/02/', regex=True).\
                                    replace('/NER/1Ñ/', '/01/', regex=True).\
                                    replace('/06/DL/', '/06/', regex=True).\
                                    replace('/DICIEMBR/', '/12/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

In [82]:
df['fechas_procesadas2'] = np.where(df.fechas_procesadas2.str.contains("\."), \
                                    df['fechas_procesadas2'].replace('\.', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fechas_procesadas2'])

In [83]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 8) and x[6:8].isnumeric() and x[3:5].isnumeric() and x[0:2].isnumeric():
        y = "20"+x[6:8]+"-"+x[3:5]+"-"+x[0:2]
        #print(y)
        df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d')

In [84]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 9) and x[5:9].isnumeric() and x[2:4].isnumeric() and x[0:1].isnumeric():
        #print(x)
        if x[0:1] == '0':
            y = x[5:9]+"-"+x[2:4]+"-01"
        else:
            y = x[5:9]+"-"+x[2:4]+"-0"+x[0:1]
        #print(y)
        df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d')

In [85]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 7) and x[5:7].isnumeric() and x[2:4].isnumeric() and x[0:1].isnumeric():
        a = ""
        if(int(x[5:7])>22):
            a = "19"
        else:
            a = "20"
        #print(x)
        if x[0:1] == '0':
            y = a+x[5:7]+"-"+x[2:4]+"-01"
        else:
            y = a+x[5:7]+"-"+x[2:4]+"-0"+x[0:1]
        #print(y)
        df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d')

In [86]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
for i in range(len(df['fechas_procesadas2'])):
    x = df['fechas_procesadas2'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 8) and x[4:8].isnumeric() and x[1:3].isnumeric() and x[0:1] == '/':
        #print(x)
        y = x[4:8]+"-"+x[1:3]+"-01"
        #print(y)
        df['fechas_procesadas2'][i] = datetime.strptime(y, '%Y-%m-%d')

In [87]:
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('UMF82', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('20BR-/-/', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('3/0/20156', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('3/08/GLUCMEIA', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('37/00', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('0/0/1/GLUCOS/87', np.nan, regex=True)
df['fechas_procesadas2'] = df['fechas_procesadas2'].replace('1/0/DLE2019', np.nan, regex=True)

In [88]:
select_values = ['/0/10', '/0/11', '/0/13', '/0/14', '/0/17', '/0/18', '/0/2010', '/0/2014', 
'/0/2015', '/0/2016', '/0/2017', 
 '/0/2018', '/0/2019', '/0/2021', '/03', '/07', '/1/2016', '/10/12', '/12', '/DE', '/DICIEMBR/2014', '/SEP', 
 '/SEPT', '0/0/82010', '0/06', '0/1/20156', '0/12', '0/2015', '0/JULIO', '01/0/11', '03/0/18', '1/0/10', 
 '1/0/11', '1/0/13', '1/0/14', '1/0/17', '1/0/20017', '1/0/2020188/3', '1/0/21', '1/0/DLE2019', '1/03', 
 '1/05', '1/06', '1/06/', '1/07', '1/08', '1/082010', '1/09/2016--', '1/1/10', '1/1/13', '1/1/14', '1/10001', 
 '1/12', '1/12/2015/-', '1/2021', '1/4', '1/DIC', '1/E0/11', '1/NOV', '12/180', '12/70', '2/0/09', '2/0/10', 
 '2/0/12', '2/0/14', '2/0/18', '2/0/201/3/08', '2/0/2019,SIN', '2/0/2019---', '2/0/21/-', '2/01', '2/03', 
 '2/03/', '2/05', '2/072019', '2/08', '2/1/13', '2/12/DRA', '2/2-EP-/', '2/20', '2/2012', '2/60', '2/NOV', 
 '2/OCUTBRE', '2/SEP', '3/0/18', '31-12-2019-', '37/22', 'ABRI/21', 'AGIST/2017', 'DEIEMBR/2008', 'FEBRER/21', 
 'JUNI/2016/-', 'MASRZ/2016', 'NAN', 'SE/2018', 'SEP', 'nan']
df_cut = df.query('fechas_procesadas2 in @select_values')
print(sorted(df_cut.fechas_procesadas2.unique()))

['/0/10', '/0/11', '/0/13', '/0/14', '/0/17', '/0/18', '/0/2010', '/0/2014', '/0/2015', '/0/2016', '/0/2017', '/0/2018', '/0/2019', '/0/2021', '/03', '/07', '/1/2016', '/10/12', '/12', '/DE', '/SEP', '/SEPT', '0/0/82010', '0/06', '0/1/20156', '0/12', '0/2015', '0/JULIO', '01/0/11', '03/0/18', '1/0/10', '1/0/11', '1/0/13', '1/0/14', '1/0/17', '1/0/20017', '1/0/2020188/3', '1/0/21', '1/03', '1/05', '1/06', '1/06/', '1/07', '1/08', '1/082010', '1/09/2016--', '1/1/10', '1/1/13', '1/1/14', '1/10001', '1/12', '1/12/2015/-', '1/2021', '1/4', '1/DIC', '1/E0/11', '1/NOV', '12/180', '12/70', '2/0/09', '2/0/10', '2/0/12', '2/0/14', '2/0/18', '2/0/201/3/08', '2/0/2019,SIN', '2/0/2019---', '2/0/21/-', '2/01', '2/03', '2/03/', '2/05', '2/072019', '2/08', '2/1/13', '2/12/DRA', '2/2-EP-/', '2/20', '2/2012', '2/60', '2/NOV', '2/OCUTBRE', '2/SEP', '3/0/18', '31-12-2019-', '37/22', 'ABRI/21', 'AGIST/2017', 'DEIEMBR/2008', 'FEBRER/21', 'JUNI/2016/-', 'MASRZ/2016', 'NAN', 'SE/2018', 'SEP', 'nan']

In [89]:
df['fechas_procesadas2'] = np.where(df['fechas_procesadas2'].isin(['/0/10', '/0/11', '/0/13', '/0/14', '/0/17', 
'/0/18', '/0/2010', '/0/2014', '/0/2015', '/0/2016', '/0/2017', '/0/2018', '/0/2019', '/0/2021', '/03', '/07', 
'/1/2016', '/10/12', '/12', '/DE', '/DICIEMBR/2014', '/SEP', '/SEPT', '0/0/82010', '0/06', '0/1/20156', '0/12', 
'0/2015', '0/JULIO', '01/0/11', '03/0/18', '1/0/10', '1/0/11', '1/0/13', '1/0/14', '1/0/17', '1/0/20017', 
'1/0/2020188/3', '1/0/21', '1/0/DLE2019', '1/03', '1/05', '1/06', '1/06/', '1/07', '1/08', '1/082010', 
'1/09/2016--', '1/1/10', '1/1/13', '1/1/14', '1/10001', '1/12', '1/12/2015/-', '1/2021', '1/4', '1/DIC', 
'1/E0/11', '1/NOV', '12/180', '12/70', '2/0/09', '2/0/10', '2/0/12', '2/0/14', '2/0/18', '2/0/201/3/08', 
'2/0/2019,SIN', '2/0/2019---', '2/0/21/-', '2/01', '2/03', '2/03/', '2/05', '2/072019', '2/08', '2/1/13', 
'2/12/DRA', '2/2-EP-/', '2/20', '2/2012', '2/60', '2/NOV', '2/OCUTBRE', '2/SEP', '3/0/18', '31-12-2019-', 
'37/22', 'ABRI/21', 'AGIST/2017', 'DEIEMBR/2008', 'FEBRER/21', 'JUNI/2016/-', 'MASRZ/2016', 'NAN', 'SE/2018', 
'SEP', 'nan']), np.nan, df['fechas_procesadas2'])

In [90]:
#df['fechas_procesadas2'] = df['fechas_procesadas2'].astype(str)
#df['fechas_procesadas2'] = pd.to_datetime(df['fechas_procesadas2']).dt.date
df['fechas_procesadas2']= pd.to_datetime(df['fechas_procesadas2'])
print(sorted(df['fechas_procesadas2'].unique()))

[numpy.datetime64('NaT'), numpy.datetime64('1987-09-01T00:00:00.000000000'), numpy.datetime64('2004-11-05T00:00:00.000000000'), numpy.datetime64('2007-06-02T00:00:00.000000000'), numpy.datetime64('2008-12-02T00:00:00.000000000'), numpy.datetime64('2009-02-08T00:00:00.000000000'), numpy.datetime64('2009-06-01T00:00:00.000000000'), numpy.datetime64('2009-06-12T00:00:00.000000000'), numpy.datetime64('2009-09-10T00:00:00.000000000'), numpy.datetime64('2009-10-13T00:00:00.000000000'), numpy.datetime64('2009-12-02T00:00:00.000000000'), numpy.datetime64('2009-12-23T00:00:00.000000000'), numpy.datetime64('2010-02-02T00:00:00.000000000'), numpy.datetime64('2010-02-10T00:00:00.000000000'), numpy.datetime64('2010-05-24T00:00:00.000000000'), numpy.datetime64('2010-05-31T00:00:00.000000000'), numpy.datetime64('2010-06-01T00:00:00.000000000'), numpy.datetime64('2010-06-29T00:00:00.000000000'), numpy.datetime64('2010-07-02T00:00:00.000000000'), numpy.datetime64('2010-07-22T00:00:00.000000000'), numpy.datetime64('2010-08-02T00:00:00.000000000'), numpy.datetime64('2010-09-01T00:00:00.000000000'), numpy.datetime64('2010-09-08T00:00:00.000000000'), numpy.datetime64('2010-09-27T00:00:00.000000000'), numpy.datetime64('2010-10-01T00:00:00.000000000'), numpy.datetime64('2010-10-22T00:00:00.000000000'), numpy.datetime64('2010-10-28T00:00:00.000000000'), numpy.datetime64('2010-11-01T00:00:00.000000000'), numpy.datetime64('2010-12-01T00:00:00.000000000'), numpy.datetime64('2010-12-14T00:00:00.000000000'), numpy.datetime64('2010-12-20T00:00:00.000000000'), numpy.datetime64('2011-01-01T00:00:00.000000000'), numpy.datetime64('2011-01-18T00:00:00.000000000'), numpy.datetime64('2011-02-14T00:00:00.000000000'), numpy.datetime64('2011-02-15T00:00:00.000000000'), numpy.datetime64('2011-03-10T00:00:00.000000000'), numpy.datetime64('2011-03-13T00:00:00.000000000'), numpy.datetime64('2011-04-01T00:00:00.000000000'), numpy.datetime64('2011-04-14T00:00:00.000000000'), numpy.datetime64('2011-04-27T00:00:00.000000000'), numpy.datetime64('2011-05-29T00:00:00.000000000'), numpy.datetime64('2011-06-09T00:00:00.000000000'), numpy.datetime64('2011-07-01T00:00:00.000000000'), numpy.datetime64('2011-07-08T00:00:00.000000000'), numpy.datetime64('2011-08-10T00:00:00.000000000'), numpy.datetime64('2011-08-31T00:00:00.000000000'), numpy.datetime64('2011-09-01T00:00:00.000000000'), numpy.datetime64('2011-09-02T00:00:00.000000000'), numpy.datetime64('2011-10-10T00:00:00.000000000'), numpy.datetime64('2011-11-01T00:00:00.000000000'), numpy.datetime64('2011-11-02T00:00:00.000000000'), numpy.datetime64('2011-11-17T00:00:00.000000000'), numpy.datetime64('2011-12-01T00:00:00.000000000'), numpy.datetime64('2011-12-30T00:00:00.000000000'), numpy.datetime64('2012-01-01T00:00:00.000000000'), numpy.datetime64('2012-02-15T00:00:00.000000000'), numpy.datetime64('2012-02-16T00:00:00.000000000'), numpy.datetime64('2012-03-06T00:00:00.000000000'), numpy.datetime64('2012-04-01T00:00:00.000000000'), numpy.datetime64('2012-04-02T00:00:00.000000000'), numpy.datetime64('2012-05-02T00:00:00.000000000'), numpy.datetime64('2012-05-14T00:00:00.000000000'), numpy.datetime64('2012-06-02T00:00:00.000000000'), numpy.datetime64('2012-06-12T00:00:00.000000000'), numpy.datetime64('2012-07-02T00:00:00.000000000'), numpy.datetime64('2012-07-11T00:00:00.000000000'), numpy.datetime64('2012-08-13T00:00:00.000000000'), numpy.datetime64('2012-08-30T00:00:00.000000000'), numpy.datetime64('2012-09-12T00:00:00.000000000'), numpy.datetime64('2012-11-01T00:00:00.000000000'), numpy.datetime64('2012-11-28T00:00:00.000000000'), numpy.datetime64('2012-12-17T00:00:00.000000000'), numpy.datetime64('2012-12-27T00:00:00.000000000'), numpy.datetime64('2013-01-01T00:00:00.000000000'), numpy.datetime64('2013-04-16T00:00:00.000000000'), numpy.datetime64('2013-05-02T00:00:00.000000000'), numpy.datetime64('2013-05-04T00:00:00.000000000'), numpy.datetime64('2013-06-01T00:00:00.000000000'), numpy.datetime64('2013-06-06T00:00:00.000000000'), numpy.datetime64('2013-06-12T00:00:00.000000000'), numpy.datetime64('2013-06-29T00:00:00.000000000'), numpy.datetime64('2013-07-25T00:00:00.000000000'), numpy.datetime64('2013-08-01T00:00:00.000000000'), numpy.datetime64('2013-09-24T00:00:00.000000000'), numpy.datetime64('2013-10-16T00:00:00.000000000'), numpy.datetime64('2013-10-24T00:00:00.000000000'), numpy.datetime64('2013-11-08T00:00:00.000000000'), numpy.datetime64('2013-11-19T00:00:00.000000000'), numpy.datetime64('2013-12-01T00:00:00.000000000'), numpy.datetime64('2013-12-05T00:00:00.000000000'), numpy.datetime64('2013-12-18T00:00:00.000000000'), numpy.datetime64('2013-12-28T00:00:00.000000000'), numpy.datetime64('2014-01-02T00:00:00.000000000'), numpy.datetime64('2014-01-06T00:00:00.000000000'), numpy.datetime64('2014-01-24T00:00:00.000000000'), numpy.datetime64('2014-01-29T00:00:00.000000000'), numpy.datetime64('2014-02-06T00:00:00.000000000'), numpy.datetime64('2014-02-12T00:00:00.000000000'), numpy.datetime64('2014-02-21T00:00:00.000000000'), numpy.datetime64('2014-02-27T00:00:00.000000000'), numpy.datetime64('2014-05-11T00:00:00.000000000'), numpy.datetime64('2014-05-12T00:00:00.000000000'), numpy.datetime64('2014-05-26T00:00:00.000000000'), numpy.datetime64('2014-05-29T00:00:00.000000000'), numpy.datetime64('2014-06-10T00:00:00.000000000'), numpy.datetime64('2014-06-30T00:00:00.000000000'), numpy.datetime64('2014-07-10T00:00:00.000000000'), numpy.datetime64('2014-07-15T00:00:00.000000000'), numpy.datetime64('2014-07-18T00:00:00.000000000'), numpy.datetime64('2014-07-31T00:00:00.000000000'), numpy.datetime64('2014-08-28T00:00:00.000000000'), numpy.datetime64('2014-08-30T00:00:00.000000000'), numpy.datetime64('2014-09-01T00:00:00.000000000'), numpy.datetime64('2014-09-26T00:00:00.000000000'), numpy.datetime64('2014-09-29T00:00:00.000000000'), numpy.datetime64('2014-10-01T00:00:00.000000000'), numpy.datetime64('2014-10-03T00:00:00.000000000'), numpy.datetime64('2014-10-08T00:00:00.000000000'), numpy.datetime64('2014-10-20T00:00:00.000000000'), numpy.datetime64('2014-10-22T00:00:00.000000000'), numpy.datetime64('2014-11-01T00:00:00.000000000'), numpy.datetime64('2014-11-05T00:00:00.000000000'), numpy.datetime64('2014-11-12T00:00:00.000000000'), numpy.datetime64('2014-11-13T00:00:00.000000000'), numpy.datetime64('2014-12-01T00:00:00.000000000'), numpy.datetime64('2014-12-04T00:00:00.000000000'), numpy.datetime64('2014-12-17T00:00:00.000000000'), numpy.datetime64('2015-01-01T00:00:00.000000000'), numpy.datetime64('2015-01-02T00:00:00.000000000'), numpy.datetime64('2015-01-23T00:00:00.000000000'), numpy.datetime64('2015-01-28T00:00:00.000000000'), numpy.datetime64('2015-02-06T00:00:00.000000000'), numpy.datetime64('2015-02-13T00:00:00.000000000'), numpy.datetime64('2015-03-03T00:00:00.000000000'), numpy.datetime64('2015-03-09T00:00:00.000000000'), numpy.datetime64('2015-03-11T00:00:00.000000000'), numpy.datetime64('2015-04-01T00:00:00.000000000'), numpy.datetime64('2015-04-02T00:00:00.000000000'), numpy.datetime64('2015-04-09T00:00:00.000000000'), numpy.datetime64('2015-04-14T00:00:00.000000000'), numpy.datetime64('2015-04-22T00:00:00.000000000'), numpy.datetime64('2015-04-29T00:00:00.000000000'), numpy.datetime64('2015-04-30T00:00:00.000000000'), numpy.datetime64('2015-05-05T00:00:00.000000000'), numpy.datetime64('2015-05-06T00:00:00.000000000'), numpy.datetime64('2015-05-17T00:00:00.000000000'), numpy.datetime64('2015-05-20T00:00:00.000000000'), numpy.datetime64('2015-05-25T00:00:00.000000000'), numpy.datetime64('2015-05-28T00:00:00.000000000'), numpy.datetime64('2015-06-04T00:00:00.000000000'), numpy.datetime64('2015-06-11T00:00:00.000000000'), numpy.datetime64('2015-06-12T00:00:00.000000000'), numpy.datetime64('2015-06-18T00:00:00.000000000'), numpy.datetime64('2015-06-20T00:00:00.000000000'), numpy.datetime64('2015-06-23T00:00:00.000000000'), numpy.datetime64('2015-07-01T00:00:00.000000000'), numpy.datetime64('2015-07-08T00:00:00.000000000'), numpy.datetime64('2015-07-20T00:00:00.000000000'), numpy.datetime64('2015-07-21T00:00:00.000000000'), numpy.datetime64('2015-07-22T00:00:00.000000000'), numpy.datetime64('2015-08-01T00:00:00.000000000'), numpy.datetime64('2015-08-05T00:00:00.000000000'), numpy.datetime64('2015-08-06T00:00:00.000000000'), numpy.datetime64('2015-08-14T00:00:00.000000000'), numpy.datetime64('2015-08-19T00:00:00.000000000'), numpy.datetime64('2015-08-21T00:00:00.000000000'), numpy.datetime64('2015-09-01T00:00:00.000000000'), numpy.datetime64('2015-09-08T00:00:00.000000000'), numpy.datetime64('2015-09-29T00:00:00.000000000'), numpy.datetime64('2015-10-10T00:00:00.000000000'), numpy.datetime64('2015-10-15T00:00:00.000000000'), numpy.datetime64('2015-11-01T00:00:00.000000000'), numpy.datetime64('2015-11-10T00:00:00.000000000'), numpy.datetime64('2015-12-01T00:00:00.000000000'), numpy.datetime64('2015-12-16T00:00:00.000000000'), numpy.datetime64('2015-12-17T00:00:00.000000000'), numpy.datetime64('2015-12-18T00:00:00.000000000'), numpy.datetime64('2016-01-01T00:00:00.000000000'), numpy.datetime64('2016-01-02T00:00:00.000000000'), numpy.datetime64('2016-01-04T00:00:00.000000000'), numpy.datetime64('2016-01-15T00:00:00.000000000'), numpy.datetime64('2016-01-21T00:00:00.000000000'), numpy.datetime64('2016-01-24T00:00:00.000000000'), numpy.datetime64('2016-02-01T00:00:00.000000000'), numpy.datetime64('2016-02-12T00:00:00.000000000'), numpy.datetime64('2016-02-18T00:00:00.000000000'), numpy.datetime64('2016-02-25T00:00:00.000000000'), numpy.datetime64('2016-03-01T00:00:00.000000000'), numpy.datetime64('2016-03-04T00:00:00.000000000'), numpy.datetime64('2016-03-07T00:00:00.000000000'), numpy.datetime64('2016-03-08T00:00:00.000000000'), numpy.datetime64('2016-03-14T00:00:00.000000000'), numpy.datetime64('2016-03-15T00:00:00.000000000'), numpy.datetime64('2016-03-16T00:00:00.000000000'), numpy.datetime64('2016-03-17T00:00:00.000000000'), numpy.datetime64('2016-04-01T00:00:00.000000000'), numpy.datetime64('2016-04-02T00:00:00.000000000'), numpy.datetime64('2016-04-03T00:00:00.000000000'), numpy.datetime64('2016-04-04T00:00:00.000000000'), numpy.datetime64('2016-04-06T00:00:00.000000000'), numpy.datetime64('2016-04-15T00:00:00.000000000'), numpy.datetime64('2016-04-22T00:00:00.000000000'), numpy.datetime64('2016-04-28T00:00:00.000000000'), numpy.datetime64('2016-04-29T00:00:00.000000000'), numpy.datetime64('2016-05-01T00:00:00.000000000'), numpy.datetime64('2016-05-03T00:00:00.000000000'), numpy.datetime64('2016-05-20T00:00:00.000000000'), numpy.datetime64('2016-05-27T00:00:00.000000000'), numpy.datetime64('2016-06-04T00:00:00.000000000'), numpy.datetime64('2016-06-08T00:00:00.000000000'), numpy.datetime64('2016-06-10T00:00:00.000000000'), numpy.datetime64('2016-06-15T00:00:00.000000000'), numpy.datetime64('2016-06-21T00:00:00.000000000'), numpy.datetime64('2016-07-01T00:00:00.000000000'), numpy.datetime64('2016-07-19T00:00:00.000000000'), numpy.datetime64('2016-07-20T00:00:00.000000000'), numpy.datetime64('2016-07-27T00:00:00.000000000'), numpy.datetime64('2016-08-01T00:00:00.000000000'), numpy.datetime64('2016-08-02T00:00:00.000000000'), numpy.datetime64('2016-08-04T00:00:00.000000000'), numpy.datetime64('2016-08-18T00:00:00.000000000'), numpy.datetime64('2016-08-22T00:00:00.000000000'), numpy.datetime64('2016-09-01T00:00:00.000000000'), numpy.datetime64('2016-09-02T00:00:00.000000000'), numpy.datetime64('2016-09-03T00:00:00.000000000'), numpy.datetime64('2016-09-14T00:00:00.000000000'), numpy.datetime64('2016-09-26T00:00:00.000000000'), numpy.datetime64('2016-09-27T00:00:00.000000000'), numpy.datetime64('2016-10-01T00:00:00.000000000'), numpy.datetime64('2016-10-06T00:00:00.000000000'), numpy.datetime64('2016-10-07T00:00:00.000000000'), numpy.datetime64('2016-10-10T00:00:00.000000000'), numpy.datetime64('2016-10-11T00:00:00.000000000'), numpy.datetime64('2016-10-16T00:00:00.000000000'), numpy.datetime64('2016-10-17T00:00:00.000000000'), numpy.datetime64('2016-10-26T00:00:00.000000000'), numpy.datetime64('2016-10-27T00:00:00.000000000'), numpy.datetime64('2016-11-03T00:00:00.000000000'), numpy.datetime64('2016-11-09T00:00:00.000000000'), numpy.datetime64('2016-11-23T00:00:00.000000000'), numpy.datetime64('2016-11-30T00:00:00.000000000'), numpy.datetime64('2016-12-07T00:00:00.000000000'), numpy.datetime64('2016-12-12T00:00:00.000000000'), numpy.datetime64('2016-12-16T00:00:00.000000000'), numpy.datetime64('2017-01-01T00:00:00.000000000'), numpy.datetime64('2017-01-04T00:00:00.000000000'), numpy.datetime64('2017-01-11T00:00:00.000000000'), numpy.datetime64('2017-01-13T00:00:00.000000000'), numpy.datetime64('2017-01-17T00:00:00.000000000'), numpy.datetime64('2017-01-18T00:00:00.000000000'), numpy.datetime64('2017-01-20T00:00:00.000000000'), numpy.datetime64('2017-01-26T00:00:00.000000000'), numpy.datetime64('2017-01-30T00:00:00.000000000'), numpy.datetime64('2017-02-02T00:00:00.000000000'), numpy.datetime64('2017-02-21T00:00:00.000000000'), numpy.datetime64('2017-02-24T00:00:00.000000000'), numpy.datetime64('2017-03-06T00:00:00.000000000'), numpy.datetime64('2017-03-12T00:00:00.000000000'), numpy.datetime64('2017-04-01T00:00:00.000000000'), numpy.datetime64('2017-04-12T00:00:00.000000000'), numpy.datetime64('2017-04-26T00:00:00.000000000'), numpy.datetime64('2017-05-02T00:00:00.000000000'), numpy.datetime64('2017-05-09T00:00:00.000000000'), numpy.datetime64('2017-05-11T00:00:00.000000000'), numpy.datetime64('2017-05-12T00:00:00.000000000'), numpy.datetime64('2017-05-19T00:00:00.000000000'), numpy.datetime64('2017-06-01T00:00:00.000000000'), numpy.datetime64('2017-06-06T00:00:00.000000000'), numpy.datetime64('2017-06-18T00:00:00.000000000'), numpy.datetime64('2017-06-19T00:00:00.000000000'), numpy.datetime64('2017-06-29T00:00:00.000000000'), numpy.datetime64('2017-07-14T00:00:00.000000000'), numpy.datetime64('2017-07-17T00:00:00.000000000'), numpy.datetime64('2017-08-01T00:00:00.000000000'), numpy.datetime64('2017-08-11T00:00:00.000000000'), numpy.datetime64('2017-08-26T00:00:00.000000000'), numpy.datetime64('2017-08-28T00:00:00.000000000'), numpy.datetime64('2017-08-29T00:00:00.000000000'), numpy.datetime64('2017-09-01T00:00:00.000000000'), numpy.datetime64('2017-09-02T00:00:00.000000000'), numpy.datetime64('2017-09-12T00:00:00.000000000'), numpy.datetime64('2017-09-20T00:00:00.000000000'), numpy.datetime64('2017-09-24T00:00:00.000000000'), numpy.datetime64('2017-09-26T00:00:00.000000000'), numpy.datetime64('2017-10-01T00:00:00.000000000'), numpy.datetime64('2017-10-02T00:00:00.000000000'), numpy.datetime64('2017-10-06T00:00:00.000000000'), numpy.datetime64('2017-10-09T00:00:00.000000000'), numpy.datetime64('2017-10-16T00:00:00.000000000'), numpy.datetime64('2017-10-24T00:00:00.000000000'), numpy.datetime64('2017-11-02T00:00:00.000000000'), numpy.datetime64('2017-12-01T00:00:00.000000000'), numpy.datetime64('2017-12-02T00:00:00.000000000'), numpy.datetime64('2017-12-04T00:00:00.000000000'), numpy.datetime64('2017-12-06T00:00:00.000000000'), numpy.datetime64('2017-12-11T00:00:00.000000000'), numpy.datetime64('2017-12-22T00:00:00.000000000'), numpy.datetime64('2017-12-26T00:00:00.000000000'), numpy.datetime64('2018-01-01T00:00:00.000000000'), numpy.datetime64('2018-01-10T00:00:00.000000000'), numpy.datetime64('2018-02-01T00:00:00.000000000'), numpy.datetime64('2018-02-02T00:00:00.000000000'), numpy.datetime64('2018-02-26T00:00:00.000000000'), numpy.datetime64('2018-03-01T00:00:00.000000000'), numpy.datetime64('2018-03-09T00:00:00.000000000'), numpy.datetime64('2018-03-12T00:00:00.000000000'), numpy.datetime64('2018-03-13T00:00:00.000000000'), numpy.datetime64('2018-03-21T00:00:00.000000000'), numpy.datetime64('2018-04-01T00:00:00.000000000'), numpy.datetime64('2018-04-04T00:00:00.000000000'), numpy.datetime64('2018-04-09T00:00:00.000000000'), numpy.datetime64('2018-04-11T00:00:00.000000000'), numpy.datetime64('2018-04-17T00:00:00.000000000'), numpy.datetime64('2018-04-18T00:00:00.000000000'), numpy.datetime64('2018-05-01T00:00:00.000000000'), numpy.datetime64('2018-05-03T00:00:00.000000000'), numpy.datetime64('2018-05-09T00:00:00.000000000'), numpy.datetime64('2018-05-12T00:00:00.000000000'), numpy.datetime64('2018-05-24T00:00:00.000000000'), numpy.datetime64('2018-05-31T00:00:00.000000000'), numpy.datetime64('2018-06-01T00:00:00.000000000'), numpy.datetime64('2018-06-11T00:00:00.000000000'), numpy.datetime64('2018-06-13T00:00:00.000000000'), numpy.datetime64('2018-06-22T00:00:00.000000000'), numpy.datetime64('2018-07-01T00:00:00.000000000'), numpy.datetime64('2018-07-03T00:00:00.000000000'), numpy.datetime64('2018-07-13T00:00:00.000000000'), numpy.datetime64('2018-07-19T00:00:00.000000000'), numpy.datetime64('2018-07-23T00:00:00.000000000'), numpy.datetime64('2018-07-24T00:00:00.000000000'), numpy.datetime64('2018-08-01T00:00:00.000000000'), numpy.datetime64('2018-08-03T00:00:00.000000000'), numpy.datetime64('2018-08-10T00:00:00.000000000'), numpy.datetime64('2018-08-20T00:00:00.000000000'), numpy.datetime64('2018-09-01T00:00:00.000000000'), numpy.datetime64('2018-09-02T00:00:00.000000000'), numpy.datetime64('2018-09-10T00:00:00.000000000'), numpy.datetime64('2018-10-01T00:00:00.000000000'), numpy.datetime64('2018-10-02T00:00:00.000000000'), numpy.datetime64('2018-10-09T00:00:00.000000000'), numpy.datetime64('2018-10-10T00:00:00.000000000'), numpy.datetime64('2018-10-11T00:00:00.000000000'), numpy.datetime64('2018-10-16T00:00:00.000000000'), numpy.datetime64('2018-10-18T00:00:00.000000000'), numpy.datetime64('2018-10-20T00:00:00.000000000'), numpy.datetime64('2018-10-25T00:00:00.000000000'), numpy.datetime64('2018-11-07T00:00:00.000000000'), numpy.datetime64('2018-11-27T00:00:00.000000000'), numpy.datetime64('2018-11-29T00:00:00.000000000'), numpy.datetime64('2018-12-01T00:00:00.000000000'), numpy.datetime64('2018-12-12T00:00:00.000000000'), numpy.datetime64('2018-12-21T00:00:00.000000000'), numpy.datetime64('2019-01-10T00:00:00.000000000'), numpy.datetime64('2019-01-20T00:00:00.000000000'), numpy.datetime64('2019-02-01T00:00:00.000000000'), numpy.datetime64('2019-02-02T00:00:00.000000000'), numpy.datetime64('2019-03-01T00:00:00.000000000'), numpy.datetime64('2019-03-06T00:00:00.000000000'), numpy.datetime64('2019-03-20T00:00:00.000000000'), numpy.datetime64('2019-03-25T00:00:00.000000000'), numpy.datetime64('2019-03-27T00:00:00.000000000'), numpy.datetime64('2019-04-01T00:00:00.000000000'), numpy.datetime64('2019-04-04T00:00:00.000000000'), numpy.datetime64('2019-04-05T00:00:00.000000000'), numpy.datetime64('2019-04-17T00:00:00.000000000'), numpy.datetime64('2019-04-21T00:00:00.000000000'), numpy.datetime64('2019-04-25T00:00:00.000000000'), numpy.datetime64('2019-05-01T00:00:00.000000000'), numpy.datetime64('2019-06-01T00:00:00.000000000'), numpy.datetime64('2019-06-10T00:00:00.000000000'), numpy.datetime64('2019-06-12T00:00:00.000000000'), numpy.datetime64('2019-06-13T00:00:00.000000000'), numpy.datetime64('2019-06-22T00:00:00.000000000'), numpy.datetime64('2019-06-25T00:00:00.000000000'), numpy.datetime64('2019-07-01T00:00:00.000000000'), numpy.datetime64('2019-07-02T00:00:00.000000000'), numpy.datetime64('2019-07-10T00:00:00.000000000'), numpy.datetime64('2019-07-12T00:00:00.000000000'), numpy.datetime64('2019-07-19T00:00:00.000000000'), numpy.datetime64('2019-07-20T00:00:00.000000000'), numpy.datetime64('2019-07-24T00:00:00.000000000'), numpy.datetime64('2019-07-29T00:00:00.000000000'), numpy.datetime64('2019-07-30T00:00:00.000000000'), numpy.datetime64('2019-08-01T00:00:00.000000000'), numpy.datetime64('2019-08-21T00:00:00.000000000'), numpy.datetime64('2019-09-01T00:00:00.000000000'), numpy.datetime64('2019-09-05T00:00:00.000000000'), numpy.datetime64('2019-09-14T00:00:00.000000000'), numpy.datetime64('2019-09-26T00:00:00.000000000'), numpy.datetime64('2019-10-01T00:00:00.000000000'), numpy.datetime64('2019-10-05T00:00:00.000000000'), numpy.datetime64('2019-10-09T00:00:00.000000000'), numpy.datetime64('2019-10-17T00:0

In [91]:
#print(np.where(contain_values.hba1c.str.contains("/"), \contain_values['hba1c'],\contain_values['presion_arterial']))

In [92]:
#df['fecha_nacimiento'] = pd.to_datetime(df['fecha_nacimiento']).dt.date
df['fecha_nacimiento']= pd.to_datetime(df['fecha_nacimiento'])
df.fecha_nacimiento.unique()

array(['1951-12-09T00:00:00.000000000', '1977-06-16T00:00:00.000000000',
       '1944-02-02T00:00:00.000000000', '1944-05-14T00:00:00.000000000',
       '1940-01-01T00:00:00.000000000', '1951-12-29T00:00:00.000000000',
       '1955-03-21T00:00:00.000000000', '1963-12-31T00:00:00.000000000',
       '1956-10-14T00:00:00.000000000', '1969-04-15T00:00:00.000000000',
       '1954-05-09T00:00:00.000000000', '1960-07-06T00:00:00.000000000',
       '1968-06-23T00:00:00.000000000', '1933-05-01T00:00:00.000000000',
       '1964-03-29T00:00:00.000000000', '1961-09-04T00:00:00.000000000',
       '1946-11-05T00:00:00.000000000', '1938-09-12T00:00:00.000000000',
       '1936-06-23T00:00:00.000000000', '1936-08-20T00:00:00.000000000',
       '1934-12-29T00:00:00.000000000', '1964-07-05T00:00:00.000000000',
       '1964-12-15T00:00:00.000000000', '1969-04-11T00:00:00.000000000',
       '1949-04-17T00:00:00.000000000', '1957-03-10T00:00:00.000000000',
       '1938-11-20T00:00:00.000000000', '1947-09-12T00:00:00.000000000',
       '1964-06-29T00:00:00.000000000', '1958-01-01T00:00:00.000000000',
       '1967-01-20T00:00:00.000000000', '1948-10-04T00:00:00.000000000',
       '1975-03-24T00:00:00.000000000', '1954-06-07T00:00:00.000000000',
       '1960-06-27T00:00:00.000000000', '1958-12-17T00:00:00.000000000',
       '1940-09-30T00:00:00.000000000', '1961-04-30T00:00:00.000000000',
       '1973-10-06T00:00:00.000000000', '1969-12-20T00:00:00.000000000',
       '1949-12-22T00:00:00.000000000', '1949-08-15T00:00:00.000000000',
       '1948-07-18T00:00:00.000000000', '1974-04-10T00:00:00.000000000',
       '1951-08-12T00:00:00.000000000', '1960-10-28T00:00:00.000000000',
       '1963-02-13T00:00:00.000000000', '1968-04-08T00:00:00.000000000',
       '1937-11-09T00:00:00.000000000', '1957-12-28T00:00:00.000000000',
       '1952-11-13T00:00:00.000000000', '1955-08-10T00:00:00.000000000',
       '1949-02-15T00:00:00.000000000',                           'NaT',
       '1987-04-10T00:00:00.000000000'], dtype='datetime64[ns]')

In [93]:
df['sexo'] = df['sexo'].astype('category')

In [94]:
#df['fecha_consulta'] = pd.to_datetime(df['fecha_consulta']).dt.date
df['fecha_consulta']= pd.to_datetime(df['fecha_consulta'])
df.fecha_consulta.unique()

array(['2014-12-29T09:02:48.167000000', '2010-12-21T10:58:00.640000000',
       '2017-10-16T10:09:10.830000000', ...,
       '2012-05-28T17:23:44.613000000', '2020-07-07T16:38:16.830000000',
       '2011-07-20T18:52:01.410000000'], dtype='datetime64[ns]')

In [95]:
df['edad'] = np.nan
for i in range(len(df['newid'])): 
    if pd.isna(df['fecha_nacimiento'][i]):
        df['edad'][i] = np.nan        
    else: 
        df['edad'][i] = int(df['fecha_consulta'][i].year-\
                            df['fecha_nacimiento'][i].year)
        
#df['edad'] = df['edad'].astype('int')
#df.info()

In [96]:
df['hta'] = np.nan
for i in range(len(df['newid'])):
    x = df['hipertension'][i]
    #print(x)
    if pd.isna(x):
        df['hta'][i] = '0'
    elif ('HIPER' in x) or ('HTA' in x) or ('HAS' in x) or ('ARTERIAL' in x):
        df['hta'][i] = '1'
    else:
        df['hta'][i] = '0'
        print(x)
df['hta'] = df['hta'].astype('category')        
df.hta.unique()

HOPY

[0.0, 1.0]
Categories (2, float64): [0.0, 1.0]

In [97]:
df['codigos_cie'] = df['codigos_cie'].replace(' ', '', regex=True)
df.codigos_cie.unique()

array([nan, 'E119', 'E119,I10X', 'J068', 'E11X', 'Z713',
       'E119,M790,K295,E039,J988', 'E109,I10X,M069', 'E119,H491',
       'E109,I10X', 'E119,E109,M069,F329,Z911', 'E109',
       'E66X,E039,F419,M069', 'E109,M069,F329,G479',
       'E109,M790,M069,E66X,K589', 'E105,E039',
       'E11X,E039,K297,M069,E66X', 'E107,M069,E039',
       'E11X,I10X,F329,J029', 'E10X,M069,I10X,E039,M790,K295,G431',
       'E117', 'E109,M790,M069', 'E11X,I10X,M069', 'E109,M069',
       'E11X,M069,K295,I872,J040,R51X', 'D649', 'E105', 'E109,I10X,F412',
       'E109,M069,I99X', 'E109,I10X,M069,F329', 'E119,M069,F329',
       'E109,M069,F329,G510', 'E10X', 'E107,M069,K295,F329',
       'E109,E039,M790', 'E10X,I10X,E039', 'E109,M790',
       'E109,I10X,M069,M790,K295,E039,J029', 'E109,I10X,E66X',
       'E109,E039', 'E109,M790,F329', 'E107,M790,E039', 'E10X,I10X,K295',
       'E109,I10X,E039,M069', 'E109,I10X,E039',
       'I10X,E10X,E782,E039,M069,K529,E660', 'J00X',
       'E119,I10X,E66X,E039,M790', 'M069,E119,E039', 'E107,F329',
       'E119,I10X,M069', 'I50X', 'E10X,I10X,M069',
       'E11X,E66X,E039,M069,I10X,K295,F412', 'E109,I10X,F329',
       'E109,I10X,E66X,F329', 'E109,M790,E785', 'E109,I10X,F412,E039',
       'E10X,E039', 'E11X,I10X,E039,M069,R51X',
       'E10X,I10X,E039,E785,E790', 'E10X,E039,J988',
       'E109,M790,F412,E039', 'E109,E039,F412', 'N390',
       'E109,I10X,E785,M790', 'E10X,M790,F329', 'E11X,I10X,I872,M790',
       'E100,I10X,E669', 'E109,I10X,E669,F412,K590', 'E109,M545',
       'E115,E669,M199,E785,J449', 'E105,I10X,E669,M17X', 'E109,M431',
       'E119,I10X,I872,G439,F412,M199', 'E109,I872,F412,G439',
       'E119,G439,I872,F412,K297,K590,K529', 'I10X,E119',
       'E109,I10X,E669,I872', 'E109,I10X,E669,F412,M545', 'E119,E669',
       'E119,I10X,F510,F412,K529,G439', 'E115,I10X,E785,E669,E790',
       'E109,K529,F412,G439,I10X,K297,M199', 'I10X,E669',
       'E119,I10X,E669,I872,K297,K590', 'E109,K590,I10X,F510,M199,G439',
       'I10X,E117,I64X,E059', 'E109,I10X,I872,F412',
       'E109,I10X,I872,K590,K297', 'E119,I10X,E669',
       'E109,I10X,I872,M545', 'E109,I10X,F510,I739,F412,M199',
       'I10X,F412', 'E109,I10X,E785,M674,G439,E669',
       'E109,I10X,G439,K590,F412,F510,K529', 'E119,A09X,I10X,F412',
       'E119,I10X,I872,F412,K529,K297,K590,M199', 'I10X,E119,E669,E785',
       'E117,K297', 'E119,I10X,I872,G439,F412,K297,K590', 'E104',
       'E105,I10X,M17X', 'E109,F412,I10X,K297,K590,M199,I872', 'I10X',
       'E119,I10X,F412,M199,G439,K590', 'E119,E785', 'E119,M674,M545',
       'E109,E669,I10X', 'E119,I10X,E669,F510', 'E119,I10X,F419',
       'E105,J449,F419', 'E119,E781', 'I10X,E119,E785,I99X,F412',
       'E109,I10X,M545,K529', 'E119,I10X,G439', 'E119,E785,F412', 'E115',
       'E119,E660,E790', 'E103,I10X', 'E119,G439,F412,M199,K590',
       'E109,I10X,G439,M199,F412', 'E107,I10X,E660,M199',
       'E119,I10X,F412,K590,H001', 'E119,E660', 'E119,I10X,N390,E781',
       'E119,J209', 'E11X,I10X', 'E119,I10X,E785,N390', 'E119,I10X,E781',
       'E119,J029', 'E119,I10X,E785', 'E119,I10X,E110', 'I10X,E119,J00X',
       'E119,I10X,E785,G403', 'E115,M758', 'E785,E119,I10X', 'M758,I10X',
       'E117,I10X,G403', 'E119,H401', 'E119,E66X,H40X',
       'E119,E785,H401,I872,E660', 'E10X,H409', 'E14X,I10X,E785',
       'E119,H401,I872,E660', 'E119,H401,E785,I872,E660',
       'E113,H40X,E785', 'E10X,J00X,H401', 'E10X,H40X',
       'E119,E785,H401,I872,Z136,E660', 'E11X,H401,E785,I739',
       'I10X,E785,H409,E109', 'H40X,E113,I10X', 'E11X,I10X,H40X',
       'E109,E780,E669,H40X', 'E119,H401,E785,I872', 'E113,E785,H40X',
       'E11X,S202', 'E119,H402', 'E119,I10X,H409', 'E119,I10X,H401',
       'E11X,E039,F412', 'E119,I10X,L89X', 'I519,E119', 'E119,G20X,I519',
       'E119,I429,G20X,E039', 'M891', 'E119,I10X,E039', 'E119,G20X,E059',
       'E11X,I519', 'I10X,G20X,F313', 'E149', 'E119,I10X,G20X',
       'E119,I429,K589,E039', 'E11X,I889,I519,N951', 'I10X,E149',
       'E039,E11X,I519,M790', 'E116,G20X,E039', 'E039,E119,I10X,F412',
       'I519,E039,M790', 'E119,G20X', 'E119,E039,F412,G20X', 'E116',
       'E119,E039,I429', 'E11X,M545', 'E119,E039,I517',
       'I519,E11X,E782,K30X', 'E149,I10X', 'I10X,E11X', 'E11X,I519,K291',
       'E129', 'E11X,E059,F419,R634', 'E107', 'E119,I10X,I519',
       'E129,I10X', 'E11X,E039,I20X,G20X,F412,M790', 'E119,I519',
       'E144,M790,G20X,I10X', 'E119,I872',
       'I10X,E107,I872,N390,K469,E785', 'J029,E119', 'M139,E109,I10X',
       'E119,I10X,K469', 'E109,I10X,K469', 'E109,I10X,I872', 'E119,N390',
       'E102', 'E119,N72X,N644', 'E107,I10X,M199', 'E11X,I10X,E785',
       'E119,I10X,E785,E660', 'E10X,I10X',
       'E785,E109,E668,I872,I10X,N19X', 'E11X,E785,E660,I10X',
       'E11X,I10X,E785,E660', 'E119,I10X,E660,E785',
       'I10X,E119,K30X,E660,E10X', 'E11X,I10X,E785,E790,G470',
       'E119,I10X,E660', 'E11X,I10X,E790,E785', 'E119,I10X,E785,E669',
       'E119,I10X,E782', 'R730,I10X,M069', 'E743,I10X,M069',
       'R730,E782,I872', 'E782,R730,I872', 'E743,M069,B351',
       'R730,I872,M069,I10X', 'E119,E780,I872,I10X',
       'R730,I10X,E782,M069', 'R730,I10X,I872,M069', 'R730,M255',
       'E743,G442,M069', 'E119,I872,K589', 'E119,I10X,I872',
       'F412,E119,N189', 'R730,E780', 'E119,I10X,F522', 'I10X,E119,F522',
       'I10X,E119,E781', 'E119,I10X,F522,H001', 'F522,E119', 'E119,B356',
       'E119,I10X,F529', 'E119,I10X,B369', 'I10X,E114', 'E119,I10X,F528',
       'E119,M549', 'E11X,E781,I872', 'E119,J00X', 'E119,E781,I872,E660',
       'E119,M54X', 'E119,R51X', 'E119,I10X,E66X,M199,N390',
       'E119,E785,I872,F419,E660', 'E119,E785,I872,F419,E660,N390',
       'E119,I10X,M722', 'E119,M722', 'E119,I10X,M819', 'E119,M190',
       'E119,E785,I872', 'E119,E785,I872,E660,F419', 'E119,M545',
       'E119,E785,I872,E660', 'E119,E785,I872,E660,N390',
       'E119,N390,E785', 'E119,E669,I10X', 'E109,K529,E669', 'E119,H000',
       'M549,E109', 'E109,I10X,I845', 'E119,F412', 'E109,I10X,E669',
       'E105,I10X,E669', 'E109,I10X,I872,K529,E669',
       'E109,N63X,E669,I10X,K529', 'E109,E669', 'J069,E109,I10X',
       'I10X,E109', 'E669,I10X,E109', 'E109,E669,S934', 'E112,N390',
       'E104,I10X,E669', 'E109,I10X,N72X', 'E109,I10X,E669,N601',
       'E119,A09X', 'E104,N644', 'E119,I10X,E785,N390,F510',
       'E119,I10X,F510', 'E109,I10X,E669,S934', 'E109,N601,K590',
       'N390,E785,E105', 'E109,M549,E660', 'E119,I10X,J029', 'E119,J20X',
       'I10X,H258,E119', 'E119,R54X', 'E119,N18X,D539,E785',
       'E119,I10X,G442', 'E11X,I10X,E785,D649', 'E117,I10X,E113',
       'E105,I10X', 'I10X,R730', 'E119,H251,I10X,A46X',
       'E11X,I10X,D649,K295', 'E11X,D649,I10X,E785', 'E119,I10X,N17X',
       'E119,I10X,K522', 'E119,I10X,F510,M770', 'E117,F510,K589',
       'I10X,E115', 'E119,I499', 'E119,B351', 'E119,I10X,N390', 'Z758',
       'E119,E755', 'E119,I845', 'E117,F412', 'E119,Z450',
       'E117,E112,Z450', 'E112,I259,Z450', 'E112,I259,Z450,I64X',
       'E119,N189', 'Z450,E119', 'E119,E123', 'E119,I10X,E112',
       'E119,Z450,E102', 'E119,N19X', 'S720,E112,I10X', 'E112',
       'E119,E112,R42X', 'E119,E112', 'E119,I10X,Z450,N189',
       'E107,I10X,I129', 'E117,I10X,E780,E669,N189', 'E119,I10X,M170',
       'E117,I10X,I519', 'E117,I10X,E780,E669,F102,I500,K729,I48X',
       'E119,I10X,B351', 'E117,I10X', 'I10X,E119,K729',
       'E119,I10X,I509,I259', 'I10X,I519,E119,J029', 'E119,I10X,J459',
       'E115,I10X,M170', 'I10X,E119,E785,K30X', 'D401,E109,I10X',
       'M170,E785', 'E119,I10X,E785,M199', 'I10X,E119,E780,E669,I509',
       'E119,I500', 'E117,I10X,I519,J449', 'I10X,E119,B354',
       'E115,I10X,M199,I872,E785,J449,J029', 'E119,I10X,I259',
       'E115,I10X,I519,M199,J449', 'I10X,I500,I48X,B351,B353',
       'I10X,E113,R54X,K30X', 'I10X,E119,J449',
       'I10X,E119,E669,E782,I519', 'E115,I10X,I519,I872,M199',
       'E119,I10X,E780,E669,F102,I509,I129,I48X', 'E112,N189',
       'N40X,N189', 'E112,I10X,N189', 'E112,I10X,I64X,N189,N40X',
       'E112,I10X,E113,N40X', 'E112,I10X,N189,N40X',
       'E102,I10X,N189,N40X', 'N189,N40X,D649,E112', 'N40X,E112,I10X',
       'N189,I10X,E112,N40X', 'E112,I10X,N40X,N189',
       'N40X,E112,N189,I10X', 'E112,I10X,N40X,Z992', 'E119,L568',
       'E119,H810,M819,R32X,I69X', 'E119,M819,L578,H612', 'E11X,E785',
       'E119,L578', 'E119,E780,H810,E660,M819', 'E119,M819,I69X,H810',
       'E119,M819,L578', 'E11X,M179,R42X', 'E119,M541',
       'E119,M819,L578,H103', 'K20X', 'E11X,K30X,I872,H269,M819,R32X',
       'E119,M751', 'E119,R32X,M819,L578', 'N19X,M819', 'H810',
       'E119,E66X,R32X', 'E119,M174', 'E119,K210', 'E119,J00X,E146',
       'I420,E119', 'I429', 'I429,R104', 'E11X,K30X', 'E109,K295,N390',
       'E119,M461', 'E102,I10X', 'E119,U590,M779', 'E119,M169',
       'E119,N601', 'E119,L309', 'E109,N390', 'E119,U590,J00X',
       'E110,N390', 'E109,I10X,J00X', 'E109,A09X', 'K297,E115',
       'E110,I10X,T140,M199', 'E119,M544', 'E119,M542', 'E119,C61X',
       'N40X,E119,K291', 'E103', 'E119,N40X', 'E117,E785',
       'E119,I10X,C61X', 'E119,I872,E669,E780,I10X', 'E115,M199',
       'C61X,I10X,E119', 'I10X,E115,R32X', 'E119,I10X,N40X',
       'E119,I10X,L031', 'E119,R32X', 'E119,N189,N319,I10X',
       'I10X,C61X,E119', 'E119,N40X,J449', 'E119,E785,B351',
       'E119,J981,C61X', 'E119,N189,C61X', 'E127', 'D099',
       'E117,I10X,R32X', 'E117,I10X,C61X', 'E119,I10X,C61X,K295,R042',
       'E119,N189,N40X', 'I10X,E117,C61X', 'I10X,E119,K297,I872,C61X',
       'E115,I872', 'I10X,E119,E669,M199,I872,K295,N40X',
       'E119,I10X,R32X', 'E110,E113,I10X,R32X', 'C61X,E119,J981',
       'E117,I10X,R32X,K590,I872', 'C61X', 'I10X,E117,I872,K297',
       'E119,N319', 'E119,C61X,J981', 'E119,C61X,C80X', 'E119,B351,E785',
       'M891,E782', 'E119,B86X,I10X', 'E144,N40X,E785', 'E119,B86X',
       'I10X,Z713,B351', 'E11X,I10X,E66X',
       'N40X,E119,I10X,H041,E785,F510', 'K291,E119,I10X',
       'E119,I10X,E785,H041,N40X,F510', 'E119,I10X,N40X,E669',
       'E119,F329', 'E119,F412,N40X,L219', 'Z713,I10X,B351',
       'E119,F412,N40X', 'I10X,L309,B370,E119', 'E113,E785',
       'Z713,E781,N390', 'E119,N40X,H041', 'E144,I10X,E785,F510,J00X',
       'L281,J068,E119,E785', 'E117,I10X,B351,F411', 'I10X,E119,N40X',
       'E144,I10X', 'E119,J312,K219', 'E660,I10X', 'E119,F419',
       'E119,L21X,F510', 'E119,F412,L989', 'E119,I10X,F412',
       'E144,N40X,I10X', 'B351,E11X,I10X,F510,M199', 'E11X,I872,L568',
       'E11X,I10X,G570,M199,F510', 'E14X,I10X,K922,F510',
       'E11X,I10X,F510,L84X,G570', 'E11X,M199,F510,I10X',
       'E11X,I10X,M199,F510', 'F510,E11X,I10X,I872',
       'I10X,E119,Z450,M545', 'I10X,E11X,F419,K297', 'E119,I10X,G479',
       'I10X,E11X,I872,G570', 'E11X,I10X,B351,E669,M199',
       'E115,I10X,M174,I872,M199,K295', 'F510,E11X,I10X',
       'E119,I10X,I872,F510', 'E11X,I10X,F510,M199',
       'E11X,I10X,I872,M543', 'E119,I10X,H900,M199',
       'E11X,I10X,E660,E890', 'E11X,I10X,E660,F412,E890', 'E125',
       'I10X,E119,H919,F510,M199', 'E103,I10X,E669', 'I10X,E102,E781',
       'E102,E100,N390', 'E107,H350', 'E119,S913', 'E105,H350,I872',
       'E119,G629', 'E117,E115,E669', 'E115,I10X', 'E117,I872',
       'L989,E119', 'E119,E781,F412', 'E119,I10X,J02X', 'E109,K295',
       'E11X,N760', 'E109,S525', 'M54X,E119,I10X', 'E119,I10X,A09X',
       'E109,J00X,I10X', 'K297,R51X,E11X', 'E119,I10X,K297',
       'E109,I10X,S526', 'E110,E112', 'E112,I10X', 'E112,I10X,E110',
       'E112,J209', 'E112,I10X,J189', 'E112,I10X,E110,A09X',
       'E112,G629,I10X', 'E112,I10X,J448', 'E112,I10X,L309', 'E112,E110',
       'E112,I10X,D24X', 'E112,I10X,T859,J00X', 'E119,I10X,N189',
       'E112,I10X,E115', 'E112,E110,I10X', 'E102,I119', 'E119,J329,I10X',
       'E103,E669', 'E119,I10X,K589', 'E103,D696,I849', 'E11X,L984',
       'E11X,I10X,E115,T941', 'E11X,I10X,E115,T941,F510',
       'E10X,I10X,N390,B351', 'E119,I10X,N18X', 'E119,N18X',
       'E11X,B351,K295', 'E107,I10X', 'E119,E780,E669', 'E119,E109',
       'E119,I10X,K029', 'E119,I10X,E780,E669', 'E119,I10X,E780',
       'E119,I10X,T251', 'E119,I10X,B354,I872', 'E119,I10X,N289',
       'E115,I10X,G629', 'E119,I10X,I872,I69X', 'E119,I10X,I698',
       'E119,I10X,I693', 'E119,I10X,I69X', 'I10X,N390,E11X,G629',
       'E112,N189,E785', 'I10X,E119,K589,K297', 'E119,I10X,S934',
       'E119,I10X,E790,E781,E660', 'I10X,E11X,E785', 'E11X,Z035,H110',
       'E11X,F419', 'E10X,F419', 'E11X,N601', 'E119,E785,E660',
       'E11X,G590,I10X', 'Z713,B02X', 'E11X,E781', 'E11X,N390',
       'E119,B02X', 'E119,I10X,D649', 'I10X,E117', 'E119,S800',
       'N811,E119,D649', 'H259,E119,I10X', 'E119,I10X,D649,N390',
       'E117,I10X,E123', 'I10X,E117,D649,N390', 'I10X,E117,E127',
       'I10X,E117,I872', 'K30X,J029,E119', 'E114',
       'I10X,E119,E785,K297,S009', 'K297,E119', 'E785,E119,M199',
       'E114,I10X,L309', 'E119,L989', 'E116,I10X', 'E119,I10X,J00X',
       'E119,H350', 'E119,R42X', 'E11X,I10X,E144', 'E11X,J00X,I872',
       'E119,H40X', 'H40X', 'E109,H409,M199', 'E11X,H40X,H919',
       'E11X,I10X,E780', 'E11X,E103', 'E119,I10X,H547', 'E119,H40X,M190',
       'E119,H409', 'E11X,M190', 'E11X,H40X', 'E119,J988',
       'E119,H40X,I10X', 'E11X,K295,M190', 'E103,E780', 'E11X,H524',
       'E11X,I10X,H409,E780,I872', 'J068,E119', 'I10X,E11X,B351',
       'E119,H40X,I10X,M190', 'H402', 'E11X,I10X,I872,B351,H40X', 'E106',
       'E119,I10X,H40X', 'E11X,I10X,B351,I872,H40X', 'E119,H40X,M199',
       'E785', 'I10X,E119,H40X', 'E11X,I10X,K295,M190', 'E119,I10X,M190',
       'E119,C509,F412,M255', 'E119,C509', 'E119,C509,F510',
       'E119,K30X,C509,E781', 'E119,C509,N390,E785', 'E119,K297,D24X',
       'E119,K297,F412,E782,E790', 'E119,E669,C509',
       'E119,C509,E781,E790', 'E119,C509,J029,F412',
       'E119,C509,E781,K30X', 'E119,C509,M549', 'C509', 'C509,I10X',
       'E119,C509,M255', 'E119,F412,G442', 'E119,C509,K297,J00X',
       'E119,C509,K029', 'E119,E782,K297', 'E119,C509,K088',
       'E119,C509,F412', 'E119,K297', 'E119,C509,A099',
       'E119,I10X,C509,F510', 'E119,C509,M179', 'E119,C509,E669,J304',
       'E119,N390,C509,E669', 'E119,C509,K297', 'E119,I10X,C509,E669',
       'E119,C509,J029', 'E119,E660,J029', 'E119,M069',
       'E109,J00X,F412,E660', 'E119,M790,M139,E669', 'E109,J029',
       'M069,E119,K295,F412', 'E117,M069', 'E117,M069,E669,M790,J029',
       'E119,I10X,E660,K050', 'E119,M069,E669', 'E119,I10X,J00X,E660',
       'E119,E669,M069', 'I10X,E119,J029', 'E119,I10X,E660,J00X', 'E113',
       'E112,M545,I872,M069', 'E119,M069,J00X,E669', 'E115,E110',
       'E119,E660,J00X,M069,F412', 'E119,K295,M069,J029',
       'E119,E660,M431', 'E119,M069,J00X', 'E119,I872,E660,H669',
       'E119,J029,M069,E660', 'E119,M069,E660,F412', 'E119,M069,M545',
       'E119,I10X,J029,E660', 'E119,M069,M790',
       'E119,M790,E660,F412,M069,Z138', 'E119,M069,M790,J029',
       'E119,M790,M069', 'E119,M069,J029', 'E119,M479', 'E119,I10X,E668',
       'E119,E660,S700,M069', 'E11X,M069,Z136', 'E119,I10X,I739',
       'E119,I10X,K295', 'E117,M069,M790', 'E117,M069,M790,J029',
       'E119,I10X,M069,E669', 'E119,M069,K295,E669', 'E119,M069,E660',
       'E119,K449,M069', 'E117,I10X,N302', 'E119,E660,M069', 'E119,R104',
       'E119,I872,E660', 'E119,J029,S936', 'E119,E660,M069,J029',
       'E119,I10X,E669,I872,F329', 'E119,M069,K297,M469', 'J209',
       'E119,Z138', 'E119,M790,M139,E669,J029', 'E119,M790,M069,E669',
       'E119,M069,K291,J00X', 'J00X,E119,M069,K295',
       'E119,I10X,H110,J00X', 'I10X,J029', 'E117,I10X,E785', 'E119,N72X',
       'E103,F412,E781', 'M545,N18X,J449',
       'E11X,I10X,J448,K590,E669,E144', 'E11X,I10X,E669,J00X',
       'E11X,I10X,N18X,J448', 'E11X,N18X,J449', 'E11X,I10X,J448',
       'E11X,I10X,Z491,J448,N18X', 'E119,I10X,N18X,J449',
       'E119,I10X,E660,I872', 'E107,N18X,J449,E668',
       'E11X,N18X,I10X,J448,E660', 'E142,I10X',
       'E11X,I10X,N18X,J448,E660', 'L023,E11X,I10X,J448,E669',
       'E113,I10X,I872,E660', 'E11X,I10X,J448,E669',
       'E11X,I10X,N18X,Z491,J448,E669', 'E119,I872,F412,F328',
       'E119,I10X,K30X,K21X,E669', 'E109,E781,F412,K297',
       'E109,F412,E781', 'E109,K297,K589,E781', 'I10X,M069,E119',
       'E109,I959,E785,E790,I872,M779', 'I10X,E669,E119,K30X',
       'E109,E781,E790,I10X,I872', 'E109,I10X,M199,N72X',
       'E119,K30X,E781', 'E119,I10X,E781,K30X',
       'H113,I10X,E107,M069,F419', 'E119,I10X,C509', 'E10X,D099',
       'E10X,I259,I10X,D05X', 'E148,C509', 'I10X,E119,E669,C509',
       'E11X,I10X,H041,K221', 'E11X,I10X,K221', 'E11X,K221,G470',
       'J00X,E11X,I10X,K221', 'E119,I10X,G470,M544',
       'H001,E11X,I10X,G470,K221', 'N419,E11X,K221', 'M479,E119',
       'E119,I10X,J068', 'R011,I10X,G470,H041', 'E11X,I10X,H041,G470',
       'E119,G470,G610,I739', 'M722,E11X,I10X,N419', 'Z728', 'E119,T861',
       'E271', 'E102,N189', 'E119,T861,I10X,N189'], dtype=object)

In [98]:
# E10 Diabetes mellitus insulinodependiente
# E11 Diabetes mellitus no insulinodependiente
# E12 Diabetes mellitus asociada con desnutrición
# E13 Otras diabetes mellitus especificadas
# E14 Diabetes mellitus, no especificada

df['dm_cie'] = np.nan
for i in range(len(df['newid'])):
    x = df['codigos_cie'][i]
    #print(x)
    if pd.isna(x):
        df['dm_cie'][i] = '0'
    elif ('E10' in x) or ('E11' in x) or ('E12' in x) or ('E13' in x) or ('E14' in x):
        df['dm_cie'][i] = '1'
    else:
        df['dm_cie'][i] = '0'
        print(x)

df['dm_cie'] = df['dm_cie'].astype('category')         
df.dm_cie.unique()

J068
J068
J068
J068
Z713
Z713
E66X,E039,F419,M069
E66X,E039,F419,M069
E66X,E039,F419,M069
E66X,E039,F419,M069
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
D649
D649
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
J00X
J00X
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
I50X
I50X
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
N390
N390
Z713
Z713
Z713
Z713
Z713
I10X,E669
I10X,E669
I10X,E669
I10X,E669
I10X,F412
I10X,F412
I10X,F412
I10X
I10X
I10X
I10X
I10X
I10X
M758,I10X
M758,I10X
M891
M891
M891
I10X,G20X,F313
I10X,G20X,F313
I10X,G20X,F313
I10X
I10X
I10X
I10X
I519,E039,M790
I519,E039,M790
I519,E039,M790
I10X
I10X
R730,I10X,M069
R730,I10X,M069
E743,I10X,M069
E743,I10X,M069
E743,I10X,M069
E743,I10X,M069
R730,I10X,M069
R730,I10X,M069
R730,E782,I872
R730,E782,I872
E782,R730,I872
E782,R730,I872
E782,R730,I872
E743,M069,B351
E743,M069,B351
E743,M069,B351
E743,M069,B351
E743,M069,B351
R730,I872,M069,I10X
R730,I872,M069,I10X
R730,I10X,E782,M069
R730,I10X,E782,M069
R730,I10X,I872,M069
R730,I10X,I872,M069
R730,M255
R730,M255
R730,M255
E743,G442,M069
E743,G442,M069
E743,G442,M069
E743,G442,M069
E743,G442,M069
E743,G442,M069
R730,E780
R730,E780
N390
N390
I10X
I10X
I10X
I10X
I10X
I10X,R730
I10X,R730
I10X
I10X
I10X
Z758
Z758
I10X
I10X
I10X
I10X
M170,E785
M170,E785
I10X,I500,I48X,B351,B353
I10X,I500,I48X,B351,B353
I10X,I500,I48X,B351,B353
I10X,I500,I48X,B351,B353
I10X
I10X
N40X,N189
N40X,N189
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
N19X,M819
N19X,M819
H810
H810
H810
H810
H810
H810
H810
I429
I429
I429
I429
I429
I429,R104
I429,R104
I10X
I10X
I10X
D099
D099
D099
D099
D099
D099
C61X
C61X
C61X
C61X
C61X
C61X
M891,E782
M891,E782
M891,E782
M891,E782
M891,E782
I10X
I10X
I10X,Z713,B351
I10X,Z713,B351
Z713,I10X,B351
Z713,I10X,B351
Z713,E781,N390
Z713,E781,N390
Z713,E781,N390
E660,I10X
E660,I10X
Z713
Z713
I10X
I10X
Z758
Z758
Z713,B02X
Z713,B02X
I10X
I10X
Z713
Z713
Z713
H40X
H40X
H40X
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
I10X
I10X
Z713
Z713
Z713
H402
H402
H402
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
E785
E785
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
C509
C509
C509
C509,I10X
C509,I10X
N390
N390
N390
N390
N390
N390
N390
N390
N390
N390
N390
N390
N390
N390
J209
J209
J209
I10X,J029
I10X,J029
I10X,J029
I10X
I10X
I10X
I10X
I10X
I10X
M545,N18X,J449
M545,N18X,J449
R011,I10X,G470,H041
R011,I10X,G470,H041
R011,I10X,G470,H041
Z728
Z728
E271
E271

[0.0, 1.0]
Categories (2, float64): [0.0, 1.0]

In [99]:
# I10 Hipertensión esencial (primaria)
# I11 Enfermedad cardíaca hipertensiva
# I12 Enfermedad renal hipertensiva
# I13 Enfermedad cardiorrenal hipertensiva
# I15 Hipertensión secundaria

df['hta_cie'] = np.nan
for i in range(len(df['newid'])):
    x = df['codigos_cie'][i]
    #print(x)
    if pd.isna(x):
        df['hta_cie'][i] = '0'
    elif ('I10' in x) or ('I11' in x) or ('I12' in x) or ('I13' in x) or ('I15' in x):
        df['hta_cie'][i] = '1'
    else:
        df['hta_cie'][i] = '0'
        print(x)

df['hta_cie'] = df['hta_cie'].astype('category')   
df.hta_cie.unique()

E119
E119
E119
J068
J068
J068
J068
E11X
E11X
E11X
E11X
Z713
Z713
E119,M790,K295,E039,J988
E119,M790,K295,E039,J988
E119,M790,K295,E039,J988
E119,M790,K295,E039,J988
E119,M790,K295,E039,J988
E119,H491
E119,H491
E119,H491
E119,H491
E119,H491
E119,E109,M069,F329,Z911
E119,E109,M069,F329,Z911
E119,E109,M069,F329,Z911
E119,E109,M069,F329,Z911
E119,E109,M069,F329,Z911
E109
E109
E109
E66X,E039,F419,M069
E66X,E039,F419,M069
E66X,E039,F419,M069
E66X,E039,F419,M069
E109,M069,F329,G479
E109,M069,F329,G479
E109,M069,F329,G479
E109,M069,F329,G479
E109,M069,F329,G479
E109,M790,M069,E66X,K589
E109,M790,M069,E66X,K589
E109,M790,M069,E66X,K589
E109,M790,M069,E66X,K589
E109,M790,M069,E66X,K589
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
E105,E039
Z713
Z713
Z713
E11X,E039,K297,M069,E66X
E11X,E039,K297,M069,E66X
E11X,E039,K297,M069,E66X
E11X,E039,K297,M069,E66X
E107,M069,E039
E107,M069,E039
E107,M069,E039
Z713
Z713
Z713
Z713
E117
E117
E117
Z713
Z713
Z713
E109,M790,M069
E109,M790,M069
E109,M790,M069
E109,M790,M069
E109,M790,M069
E109,M069
E109,M069
E109,M069
E109,M069
Z713
Z713
Z713
E11X,M069,K295,I872,J040,R51X
E11X,M069,K295,I872,J040,R51X
E11X,M069,K295,I872,J040,R51X
E11X,M069,K295,I872,J040,R51X
E11X,M069,K295,I872,J040,R51X
E11X,M069,K295,I872,J040,R51X
D649
D649
E105
E105
Z713
Z713
Z713
Z713
Z713
Z713
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E109,M069,I99X
E119
E119
E119
E119,M069,F329
E119,M069,F329
E119,M069,F329
E119,M069,F329
Z713
Z713
E109,M069,F329,G510
E109,M069,F329,G510
E109,M069,F329,G510
E109,M069,F329,G510
E109,M069,F329,G510
E10X
E10X
E107,M069,K295,F329
E107,M069,K295,F329
E107,M069,K295,F329
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
E109,E039,M790
Z713
Z713
Z713
E109
E109
E109
E109,M790
E109,M790
E109,M790
E109,M790
E109,M790
E109,E039
E109,E039
E109,E039
E109,E039
E109,M790,F329
E109,M790,F329
E109,M790,F329
E109,M790,F329
E109,M790,F329
E119
E119
E119
E119
E119
E107,M790,E039
E107,M790,E039
E107,M790,E039
E107,M790,E039
Z713
Z713
Z713
E10X
E10X
E10X
E10X
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
Z713
J00X
J00X
Z713
Z713
Z713
Z713
Z713
E10X
E10X
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
M069,E119,E039
E109
E109
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
E107,F329
Z713
Z713
Z713
I50X
I50X
E119
E119
Z713
Z713
Z713
E109
E109
E109
E109
E119
E119
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
E109,M790,E785
Z713
Z713
E109,M069
E109,M069
Z713
Z713
Z713
Z713
E10X,E039
E10X,E039
E10X,E039
E119
E119
E119
E10X,E039,J988
E10X,E039,J988
E10X,E039,J988
E10X,E039,J988
E10X,E039,J988
E109,M790,F412,E039
E109,M790,F412,E039
E109,M790,F412,E039
E109,M790,F412,E039
E109,M790,F412,E039
E109,M790,F412,E039
E109,E039,F412
E109,E039,F412
E109,E039,F412
E109,E039,F412
E109
E109
N390
N390
Z713
Z713
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
E10X,M790,F329
Z713
Z713
Z713
E119
E119
E109,M545
E109,M545
E109,M545
E119
E119
E119
E119
E119
E115,E669,M199,E785,J449
E115,E669,M199,E785,J449
E115,E669,M199,E785,J449
E119
E119
E119
E119
E119
E119
E119
E119
E109,M431
E109,M431
E109,M431
E109,I872,F412,G439
E109,I872,F412,G439
E109,I872,F412,G439
E119,G439,I872,F412,K297,K590,K529
E119,G439,I872,F412,K297,K590,K529
E119,G439,I872,F412,K297,K590,K529
E119,G439,I872,F412,K297,K590,K529
E119
E119
E119,E669
E119,E669
E119,E669
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E109
E109
E119
E119
E117,K297
E117,K297
E117,K297
E117,K297
E117,K297
E104
E104
E119
E119
E119,E785
E119,E785
E119
E119
E119
E119
E119,M674,M545
E119,M674,M545
E119,M674,M545
E105,J449,F419
E105,J449,F419
E105,J449,F419
E119,E781
E119,E781
E119
E119
E119
E119
E119,E785,F412
E119,E785,F412
E119,E669
E119,E669
E119,E669
E119,E669
E115
E115
E115
E119,E660,E790
E119,E660,E790
E119,G439,F412,M199,K590
E119,G439,F412,M199,K590
E119,G439,F412,M199,K590
E119,G439,F412,M199,K590
E119
E119
E109
E109
E109
E119
E119
E119
E119
E119
E119,E660
E119,E660
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,J209
E119,J209
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,J029
E119,J029
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E117
E117
E115
E115
E115
E117
E117
E115,M758
E115,M758
E117
E117
E119,E785
E119,E785
E119,E785
E119
E119
E117
E117
E117
E117
E117
E117
E117
E117
E117
E119
E119
E117
E117
E119,H401
E119,H401
E119,E66X,H40X
E119,E66X,H40X
E119,E66X,H40X
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E10X,H409
E10X,H409
E10X,H409
E10X
E10X
E10X
E10X
E10X
E119,H401,I872,E660
E119,H401,I872,E660
E119,H401,I872,E660
E11X
E11X
E11X
E11X
E11X
E119
E119
E119
E119
E119
E119
E119
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E113,H40X,E785
E113,H40X,E785
E113,H40X,E785
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E10X,J00X,H401
E10X,J00X,H401
E10X,J00X,H401
E10X,J00X,H401
E10X,J00X,H401
E119
E119
E119
E119,E660
E119,E660
E119,E660
E10X,H40X
E10X,H40X
E119
E119
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,I872,E660
E119,H401,I872,E660
E119,H401,I872,E660
E10X
E10X
E10X
E10X
E10X
E10X
E10X
E119,E785,H401,I872,Z136,E660
E119,E785,H401,I872,Z136,E660
E119,E785,H401,I872,Z136,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E113,H40X,E785
E113,H40X,E785
E113,H40X,E785
E119
E119
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119
E119
E119
E119
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E11X,H401,E785,I739
E11X,H401,E785,I739
E11X,H401,E785,I739
E119
E119
E119
E119
E119
E109,E780,E669,H40X
E109,E780,E669,H40X
E109,E780,E669,H40X
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,E785
E119,E785
E119,E785
E119,E785
E11X
E11X
E11X
E119,H401,E785,I872
E119,H401,E785,I872
E119,H401,E785,I872
E113,E785,H40X
E113,E785,H40X
E113,E785,H40X
E11X,S202
E11X,S202
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E119,H401,E785,I872,E660
E10X
E10X
E10X
E10X
E10X
E10X
E10X
E10X
E10X
E11X
E11X
E11X
E11X
E11X
E11X
E11X
E119
E119
E119
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119
E119
E119
E119
E119,H402
E119,H402
E119,H402
E119,H402
E119,H402
E119,H402
E119,H402
E119,H402
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119,E785,H401,I872,E660
E119
E119
E119
E11X
E11X
E11X
E11X
E11X
E11X,E039,F412
E11X,E039,F412
E11X,E039,F412
E119
E119
E119
I519,E119
I519,E119
E119,G20X,I519
E119,G20X,I519
E119,I429,G20X,E039
E119,I429,G20X,E039
M891
M891
M891
E119
E119
E119,G20X,E059
E119,G20X,E059
E119,G20X,E059
E11X,I519
E11X,I519
E11X,I519
E149
E149
E119,I429,K589,E039
E119,I429,K589,E039
E11X
E11X
E11X
E11X,I889,I519,N951
E11X,I889,I519,N951
E11X,I889,I519,N951
E119
E119
E119
E039,E11X,I519,M790
E039,E11X,I519,M790
E11X
E11X
E11X
E11X
E116,G20X,E039
E116,G20X,E039
E116,G20X,E039
I519,E039,M790
I519,E039,M790
I519,E039,M790
E119,G20X
E119,G20X
E119,E039,F412,G20X
E119,E039,F412,G20X
E119,E039,F412,G20X
E11X
E11X
E11X
E119
E119
E119
E119
E116
E116
E119,E039,I429
E119,E039,I429
E119,E039,I429
E119
E119
E119
E11X,M545
E11X,M545
E11X,M545
E119,E039,I517
E119,E039,I517
I519,E11X,E782,K30X
I519,E11X,E782,K30X
E119,E039,I429
E119,E039,I429
E119,E039,I429
E116
E116
E116
E119
E119
E11X,I519,K291
E11X,I519,K291
E11X,I519,K291
E11X,I519,K291
E119,G20X
E119,G20X
E119,G20X
E129
E129
E119
E119
E119
E119,G20X
E119,G20X
E119,G20X
E11X
E11X
E119
E119
E119,G20X
E119,G20X
E119,G20X
E11X,E059,F419,R634
E11X,E059,F419,R634
E149
E149
E107
E107
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,I429,G20X,E039
E119,I429,G20X,E039
E119,I429,G20X,E039
E11X,E039,I20X,G20X,F412,M790
E11X,E039,I20X,G20X,F412,M790
E11X,E039,I20X,G20X,F412,M790
E119,I519
E119,I519
E119,I519
E119,I519
E119,E785
E119,E785
E109
E109
E119,I872
E119,I872
E109
E109
E109
E119
E119
E117
E117
E119
E119
E109
E109
E117
E117
E119
E119
E119
J029,E119
J029,E119
E119
E119
E119
E119
E119
E119
E109
E109
E117
E117
E117
E119
E119
E109
E109
E109
E109
E109
E109
E119
E119
E119,N390
E119,N390
E119,N390
E119
E119
E102
E102
E102
E102
E119
E119
E119,N72X,N644
E119,N72X,N644
E102
E102
E107
E107
E115
E115
E119
E119
E119
E119
E119

R730,E782,I872
R730,E782,I872
E782,R730,I872
E782,R730,I872
E782,R730,I872
E743,M069,B351
E743,M069,B351
E743,M069,B351
E743,M069,B351
E743,M069,B351
E119
E119
E119,I872
E119,I872
R730,M255
R730,M255
R730,M255
E743,G442,M069
E743,G442,M069
E743,G442,M069
E743,G442,M069
E743,G442,M069
E743,G442,M069
E119,I872,K589
E119,I872,K589
F412,E119,N189
F412,E119,N189
R730,E780
R730,E780
N390
N390
E119
E119
E119
F522,E119
F522,E119
F522,E119
E119,B356
E119,B356
F522,E119
F522,E119
F522,E119
E119
E119
E119
E119,M549
E119,M549
E119,M549
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E11X
E11X
E11X
E119
E119
E119
E119
E11X,E781,I872
E11X,E781,I872
E11X,E781,I872
E119,J00X
E119,J00X
E119,J00X
E119,E781,I872,E660
E119,E781,I872,E660
E119,E781,I872,E660
E119
E119
E119
E11X
E11X
E11X
E119,M54X
E119,M54X
E119,M54X
E119,M54X
E119,M54X
E119,M54X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,R51X
E119,R51X
E119,R51X
E119,I872
E119,I872
E119,I872
E119,I872
E119,E785,I872,F419,E660
E119,E785,I872,F419,E660
E119,E785,I872,F419,E660
E119
E119
E119
E119,E785,I872,F419,E660,N390
E119,E785,I872,F419,E660,N390
E119,E785,I872,F419,E660,N390
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,M722
E119,M722
E119,M722
E119
E119
E119
E119
E119
E119
E119
E119
E119,M190
E119,M190
E119,M190
E119,M190
E119,M190
E119,M190
E119,E785,I872
E119,E785,I872
E119,E785,I872
E119
E119
E119
E119
E119
E119
E119,E785,I872,E660,F419
E119,E785,I872,E660,F419
E119,E785,I872,E660,F419
E119,M545
E119,M545
E119,M545
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,E781,I872,E660
E119,E781,I872,E660
E119,E781,I872,E660
E119,E785,I872,F419,E660
E119,E785,I872,F419,E660
E119,E785,I872,F419,E660
E119
E119
E119
E11X
E11X
E11X
E119
E119
E119
E119
E119
E119,E785,I872,E660
E119,E785,I872,E660
E119,E785,I872,E660
E119
E119
E119
E119
E119,E785,I872,E660,N390
E119,E785,I872,E660,N390
E119,E785,I872,E660,N390
E119,N390,E785
E119,N390,E785
E119,N390,E785
E119,N390,E785
E119,N390,E785
E119,E785,I872,F419,E660
E119,E785,I872,F419,E660
E119,E785,I872,F419,E660
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E109
E109
E109,K529,E669
E109,K529,E669
E109,K529,E669
E109,K529,E669
E109,K529,E669
E119,H000
E119,H000
E119,H000
M549,E109
M549,E109
E105
E105
E119,F412
E119,F412
E119,F412
E109
E109
E109,E669
E109,E669
E109,E669
E109,E669
E109,E669
E109
E109
E109,E669,S934
E109,E669,S934
E109,E669,S934
E109,E669,S934
E109,E669,S934
E119
E119
E119
E119
E112,N390
E112,N390
E112,N390
E112,N390
E112,N390
E112,N390
E109
E109
E119,A09X
E119,A09X
E104,N644
E104,N644
E109,N601,K590
E109,N601,K590
E119,E669
E119,E669
E119,E669
N390,E785,E105
N390,E785,E105
N390,E785,E105
E109,M549,E660
E109,M549,E660
E119
E119
E119,J20X
E119,J20X
E11X
E11X
E11X
E11X
E11X
E11X
E11X
E11X
E11X
E119,R54X
E119,R54X
E119,N18X,D539,E785
E119,N18X,D539,E785
E119,N18X,D539,E785
E11X
E11X
E11X
E11X
E11X
E11X
E119
E119
E119
E119
E119
E11X
E11X
E11X
E11X
E11X
E11X
E117
E117
E117
E11X
E11X
E11X
E10X
E10X
E10X
E119
E119
E119
E11X
E11X
E119,E669
E119,E669
E117,F510,K589
E117,F510,K589
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,I499
E119,I499
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,B351
E119,B351
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
Z758
Z758
E119
E119
E119
E119
E119
E119,E755
E119,E755
E119,E755
E119
E119
E119
E119
E119
E119
E119
E119,I845
E119,I845
E119,I845
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E117,F412
E117,F412
E117,F412
E119
E119
E119
E119
E119
E117
E117
E117
E119,N390
E119,N390
E119,N390
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,Z450
E119,Z450
E119,Z450
E119,Z450
E119,Z450
E119,Z450
E119,Z450
E117,E112,Z450
E117,E112,Z450
E117,E112,Z450
E117,E112,Z450
E117,E112,Z450
E112,I259,Z450
E112,I259,Z450
E112,I259,Z450
E112,I259,Z450
E112,I259,Z450
E112,I259,Z450
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E112,I259,Z450,I64X
E119,N189
E119,N189
E119,N189
E119,N189
E119,N189
E119,N189
E119,N189
E119,N189
Z450,E119
Z450,E119
E119
E119
E119
E119,E123
E119,E123
E119,E123
E119,Z450,E102
E119,Z450,E102
E119,Z450,E102
E119
E119
E119
E119,N189
E119,N189
E119,N189
E119,N189
E119,N189
E119,N19X
E119,N19X
E119,N19X
E112
E112
E112
E119,I499
E119,I499
E119,N189
E119,N189
E119,N189
E119,E112,R42X
E119,E112,R42X
E119,E112,R42X
E119,E112
E119,E112
E119
E119
E119,E112
E119,E112
E119,E112
E119,E112
E119
E119
E119,N189
E119,N189
E119,N189
E119,N189
E119,N189
E119
E119
E119
E117
E117
E119,J00X
E119,J00X
E117
E117
E117
E117
E117
E117
E117
E117
E119
E119
E119
E119
E117
E117
E117
E117
E119
E119
E119
M170,E785
M170,E785
E119
E119
E119
E119
E119,I500
E119,I500
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E117
E117
E117
E119
E119
E119
E119
E119
E112,N189
E112,N189
N40X,N189
N40X,N189
E112
N189,N40X,D649,E112
N189,N40X,D649,E112
E119
E119
E112
E112
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119
E119
E119
E119
E119
E119,H810,M819,R32X,I69X
E119,H810,M819,R32X,I69X
E119,H810,M819,R32X,I69X
E119,H810,M819,R32X,I69X
E119,H810,M819,R32X,I69X
E119,M819,L578,H612
E119,M819,L578,H612
E119,M819,L578,H612
E119,M819,L578,H612
E119,M819,L578,H612
E119,M819,L578,H612
E119,M819,L578,H612
E11X,E785
E11X,E785
E119,L578
E119,L578
E119,L578
E119,L578
E119,L578
E119
E119
E119
E119
E119
E119
E119
E119,E780,H810,E660,M819
E119,E780,H810,E660,M819
E119,E780,H810,E660,M819
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,I69X,H810
E119
E119
E119,E669
E119,E669
E119,E669
E116
E116
E119
E119
E119,M819,L578
E119,M819,L578
E119,M819,L578
E119,M819,L578
E119,M819,L578
E11X,M179,R42X
E11X,M179,R42X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E11X
E11X
E119,M541
E119,M541
E119,M541
E119,M541
E119,M541
E119,M541
E119,M541
E119,M541
E119,M819,L578,H103
E119,M819,L578,H103
E119,M819,L578,H103
E119,M819,L578,H103
E119,M819,L578,H103
E119,M819,L578,H103
E119
E119
E119
E119
E119,E785
E119,E785
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
K20X
E11X,K30X,I872,H269,M819,R32X
E11X,K30X,I872,H269,M819,R32X
E11X,K30X,I872,H269,M819,R32X
E119
E119
E119
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119,L568
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,M751
E119,M751
E119,M751
E119,M751
E119,M751
E119,M751
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,R32X,M819,L578
E119,R32X,M819,L578
E119,R32X,M819,L578
E119,R32X,M819,L578
E119,R32X,M819,L578
E119
E119
E119
E119
E119
N19X,M819
N19X,M819
E119
E119
E119
H810
H810
H810
H810
H810
H810
H810
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,E785
E119,E785
E119,E785
E119,E785
E119,E785
E119,E785
E119,E785
E119,E66X,R32X
E119,E66X,R32X
E119,E66X,R32X
E119,E66X,R32X
E119,E66X,R32X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,M174
E119,M174
E119,M174
E119,M174
E119,M174
E119,M174
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,I69X,H810
E119,M819,L578
E119,M819,L578
E119,M819,L578
E119,M819,L578
E119,M819,L578
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,J00X
E119,J00X
E119
E119
E119
E119
E119,K210
E119,K210
E119,K210
E119,K210
E119,K210
E119,K210
E119,K210
E119,K210
E119,J00X,E146
E119,J00X,E146
E119,J00X,E146
E119,J00X,E146
E119,J00X,E146
E119,J00X,E146
E119,J00X,E146
E119
E119
E119
E119
E119
E119
E119
E119
E119
I420,E119
I420,E119
I420,E119
I420,E119
I429
I429
E119
E119
E119
I429
I429
I429
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
I429,R104
I429,R104
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E11X,K30X
E11X,K30X
E11X,K30X
E119
E119
E119
E119,F412
E119,F412
E119
E119
E119
E109,K295,N390
E109,K295,N390
E109,K295,N390
E109,K295,N390
E109,K295,N390
E109,K295,N390
E119,M461
E119,M461
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E109,E669
E109,E669
E109,E669
E109,E669
E109,E669
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,U590,M779
E119,U590,M779
E119,U590,M779
E119,U590,M779
E119,U590,M779
E119
E119
E119
E119
E119
E119
E119
E119
E119,M169
E119,M169
E119,M169
E119,N601
E119,N601
E119,N601
E119,N601
E119,L309
E119,L309
E119,L309
E119,L309
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E109,N390
E109,N390
E109,N390
E109,N390
E109,N390
E109,N390
E109,N390
E109,N390
E119,U590,J00X
E119,U590,J00X
E119,U590,J00X
E119,U590,J00X
E119
E119
E119
E119,N390
E119,N390
E119,N390
E119,N390
E119,N390
E107
E107
E107
E107
E107
E119
E119
E119
E119
E119
E109,N390
E109,N390
E109,N390
E109,N390
E109,N390
E109,N390
E110,N390
E110,N390
E110,N390
E110,N390
E110,N390
E109,A09X
E109,A09X
E109,A09X
E119,J029
E119,J029
E119,N390
E119,N390
E119,N390
E119,N390
E119,N390
K297,E115
K297,E115
E109
E109
E109
E119
E119
E119
E119
E119
E119
E119

E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,A09X
E119,A09X
E119,A09X
E119
E119
E119
E119,M544
E119,M544
E119,M544
E119,M544
E119,M542
E119,M542
E119,M542
E119,M542
E119
E119
E119
E119
E119
E119
E119
E119,J029
E119,J029
E119,J029
E119
E119
E119
E119
E119
E119
E119,C61X
E119,C61X
E119,C61X
E119,C61X
N40X,E119,K291
N40X,E119,K291
N40X,E119,K291
E103
E103
E103
E119,N40X
E119,N40X
E119,N40X
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E117,E785
E117,E785
E119,N40X
E119,N40X
E119,N40X
E119
E119
E119
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119,E781
E119,E781
E119,E781
E119
E119
E115,M199
E115,M199
E119,N40X
E119,N40X
E119,N40X
E119,N40X
E119,N40X
E119
E119
E119,R32X
E119,R32X
E119,R32X
E119,R32X
E119,R32X
E119,R32X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,N40X,J449
E119,N40X,J449
E119,N40X,J449
E119,N40X,J449
E119
E119
E119,E785,B351
E119,E785,B351
E119,C61X
E119,N40X
E119,N40X
E119,N40X
E119,J981,C61X
E119,J981,C61X
E119,J981,C61X
E119,J981,C61X
E119,N189,C61X
E119,N189,C61X
E119,N189,C61X
E119,N189,C61X
E119,N189,C61X
E119,N189,C61X
E119
E119
E119
E119
E127
E127
D099
D099
D099
D099
D099
D099
E119
E119
E119
E119
E119
E119,N189,N40X
E119,N189,N40X
E119,N189,N40X
E119,N40X
E119,N40X
E119,N40X
E119
E119
E119
E119
E119
E119
E119
E119,N40X
E119,N40X
E119,N40X
E115,I872
E115,I872
E117
E117
E119
E119
E119
E119
E119
C61X,E119,J981
C61X,E119,J981
C61X,E119,J981
C61X,E119,J981
C61X,E119,J981
C61X,E119,J981
E119
E119
E119
E119
E119
E119
E119
E119
E119
C61X
C61X
C61X
C61X
C61X
C61X
E119,N40X
E119,N40X
E119,N40X
E119,R32X
E119,R32X
E119,R32X
E119,R32X
E119
E119
E119
E119
E119,N40X
E119,N40X
E119,N40X
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119
E119
E119,N319
E119,N319
E119,N319
E119,N319
E119,N319
E119,C61X,J981
E119,C61X,J981
E119,C61X,J981
E119,C61X,J981
E119,C61X,J981
E119,C61X
E119,C61X
E119,C61X
E119
E119
E117
E117
E117,E785
E117,E785
E119,C61X,C80X
E119,C61X,C80X
E119,C61X,C80X
E119,C61X,C80X
E119,C61X,C80X
E119,B351,E785
E119,B351,E785
E119,B351,E785
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119,C61X
E119
E119
M891,E782
M891,E782
M891,E782
M891,E782
M891,E782
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
E119,N40X
E119,N40X
E119,N40X
E119,N40X
E119,N40X
E119
E119
E119
E119
E119,B86X
E119,B86X
E119,B86X
E119,B86X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,F329
E119,F329
E119,F329
E119,F412,N40X,L219
E119,F412,N40X,L219
E119,F412,N40X,L219
E119,F412,N40X,L219
E119,F412,N40X,L219
E119
E119
E119
E119
E119,F412,N40X
E119,F412,N40X
E119,F412,N40X
E119,F412,N40X
E119
E119
E119
E119
E113,E785
E113,E785
E113,E785
E113,E785
Z713,E781,N390
Z713,E781,N390
Z713,E781,N390
E119,N40X,H041
E119,N40X,H041
E119,N40X,H041
E119,N40X,H041
E119,F412
E119,F412
E119,F412
E119,F412
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E109
E109
E109
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
L281,J068,E119,E785
L281,J068,E119,E785
L281,J068,E119,E785
L281,J068,E119,E785
L281,J068,E119,E785
E119
E119
E119
E119
E119
E119,J312,K219
E119,J312,K219
E119,J312,K219
E119,J312,K219
E119,J312,K219
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,F419
E119,F419
E119,F419
E119,L21X,F510
E119,L21X,F510
E119,L21X,F510
E119,L21X,F510
E119,L21X,F510
E119,L21X,F510
E119,F412,L989
E119,F412,L989
E119,F412,L989
E119,F412,L989
E119
E119
E119
E119
E119
E119
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
E144,N40X,E785
Z713
Z713
E11X,I872,L568
E11X,I872,L568
E11X,I872,L568
E119
E119
E119
E119
E119
E11X
E11X
E119
E119
E125
E125
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
Z758
Z758
E102
E102
E102
E102,E100,N390
E102,E100,N390
E102,E100,N390
E102,E100,N390
E119
E119
E119
E119
E119
E119
E119
E109
E109
E109
E109
E109
E109
E109
E107,H350
E107,H350
E107,H350
E107,H350
E119,S913
E119,S913
E119,S913
E105,H350,I872
E105,H350,I872
E105,H350,I872
E105,H350,I872
E105,H350,I872
E105,H350,I872
E119,G629
E119,G629
E119,G629
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E104
E104
E103
E103
E103
E119
E119
E119
E119
E10X
E10X
E10X
E119
E119
E119
E117,E115,E669
E117,E115,E669
E117,E115,E669
E119
E119
E119
E119
E119
E117
E117
E117
E117,I872
E117,I872
E117,I872
E115
E115
E115
E117
E117
E117
L989,E119
L989,E119
E119,E781,F412
E119,E781,F412
E119,E781,F412
E11X
E11X
E11X
E109,K295
E109,K295
E109,K295
E119
E119
E119
E11X,N760
E11X,N760
E109,S525
E109,S525
K297,R51X,E11X
K297,R51X,E11X
E11X
E11X
E11X
E110,E112
E110,E112
E112
E112
E112
E119
E119
E119
E112,J209
E112,J209
E112,J209
E112
E112
E112
E112,E110
E112,E110
E112,E110
E112,E110
E112,E110
E112,E110
E112,E110
E115
E115
E112
E112
E112
E112
E112
E112
E112,E110
E112,E110
E112,E110
E112
E112
E112
E119,E785
E119,E785
E119
E119
E119
E119
E119
E119
E103,E669
E103,E669
E103,E669
E119
E119
E119
E103,D696,I849
E103,D696,I849
E103,D696,I849
E119
E119
E119
E119
E119
E11X,L984
E11X,L984
E11X,L984
E119
E119
E119
E119
E119
E119
E119,N18X
E119,N18X
E119,N18X
E119,N18X
E119,N18X
E11X,B351,K295
E11X,B351,K295
E119,E780,E669
E119,E780,E669
E119,E780,E669
E119
E119
E119
E119
E119
E109
E109
E119,E109
E119,E109
E119
E119
E119
E119
E119
E119
E119
E119
E107
E107
E107
E119
E119
E119
E109
E109
E109
E109
E109
E109
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,N18X
E119,N18X
E119,N18X
E119,N18X
E119,N18X
E109
E109
E109
E109
E109
E109
E11X
E11X
E11X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,N18X
E119,N18X
E119,N18X
E119,N18X
E119,N18X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E11X
E11X
E119
E119
E119
E11X
E11X
E11X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E112,N189,E785
E112,N189,E785
E112,N189,E785
E119
E119
E11X
E11X
E11X
E11X
E119
E119
E119
E119
E119
E11X
E11X
E11X
E11X,Z035,H110
E11X,Z035,H110
E11X,Z035,H110
E11X,F419
E11X,F419
E11X,F419
E10X,F419
E10X,F419
E10X,F419
E11X,N601
E11X,N601
E11X,N601
E119
E119
E11X
E11X
E11X
E119,E785,E660
E119,E785,E660
E11X
E11X
E11X
E11X
E119
E119
E119
Z713,B02X
Z713,B02X
E119
E119
E119
E11X,E781
E11X,E781
E11X,E781
E11X,N390
E11X,N390
E11X,N390
E119,B02X
E119,B02X
E11X,N601
E11X,N601
E117
E117
E117
E119,S800
E119,S800
E119,S800
E119
E119
E119
E119
E119
E119
N811,E119,D649
N811,E119,D649
E119
E119
E119
E117
E117
E117
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E112
E112
E112
E119
E119
E119
E117
E117
E119
E119
E119
E117
E117
E117
E11X
E11X
E11X
E117
E117
E117
E119
E119
E119
E119
E119
E119,N390
E119,N390
K30X,J029,E119
K30X,J029,E119
E119
E119
E119
E119
E119
E119
E119
E119
E117
E117
E117
E119,E785
E119,E785
E119,E785
E114
E114
E114
E119
E119
E119
E119
E119
E119
E115
E115
E115
E119
E119
E119
E119
E119
E117
E117
E119
E119
E119
K297,E119
K297,E119
E119
E119
E119
E785,E119,M199
E785,E119,M199
E117
E117
E119,L989
E119,L989
E119,L989
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,E669
E119,E669
E119,E669
E119
E119
E119
E119
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,H350
E119,H350
E119,H350
E119,E669
E119,E669
E119,B351
E119,B351
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,E669
E119,R42X
E119,R42X
E119,R42X
E119,R42X
E119
E119
E119
E119
E11X,J00X,I872
E11X,J00X,I872
E11X,J00X,I872
E119,H40X
E119,H40X
E119,H40X
E119,H40X
E119
E119
E119
Z713
Z713
Z713
H40X
H40X
H40X
Z713
Z713
Z713
E119
E119
E119
E119
E109,H409,M199
E109,H409,M199
E109,H409,M199
E109,H409,M199
Z713
Z713
Z713
E11X,H40X,H919
E11X,H40X,H919
E11X,H40X,H919
E11X,H40X,H919
E119
E119
E119
E109
E109
E109
E11X,E103
E11X,E103
E11X,E103
E109
E109
E109
E119,H40X,M190
E119,H40X,M190
E119,H40X,M190
E119,H40X,M190
Z713
Z713
Z713
E119,H409
E119,H409
E119,H409
E119,H409
Z713
Z713
Z713
E119,H40X
E119,H40X
E119,H40X
E109
E109
E119
E119
E119
E119,H40X
E119,H40X
E119,H40X
E119,H40X
E11X,M190
E11X,M190
E11X,M190
E11X,H40X
E11X,H40X
E11X,H40X
Z713
Z713
Z713
E11X,H40X
E11X,H40X
E11X,H40X
E11X,H40X
E119,J988
E119,J988
E119,J988
E11X,M190
E11X,M190
E11X,M190
E11X,M190
E11X,M190
Z713
Z713
Z713
Z713
Z713
E11X,K295,M190
E11X,K295,M190
E11X,K295,M190
E10X
E10X
Z713
Z713
Z713
E11X
E11X
E11X
E11X
E119
E119
E103,E780
E103,E780
E103,E780
E103,E780
E119
E119
E119
Z713
Z713
Z713
E11X,H524
E11X,H524
E11X,H524
J068,E119
J068,E119
J068,E119
E119
E119
E119
E11X
E11X
E11X
E11X
E119
E119
E119
E119
H402
H402

H402
E109
E109
E109
Z713
Z713
Z713
Z713
Z713
Z713
E106
E106
E106
Z713
Z713
Z713
Z713
Z713
Z713
E119,H40X,M190
E119,H40X,M190
E119,H40X,M190
E11X
E11X
E11X
E119
E119
E119
E119,H40X,M199
E119,H40X,M199
E119,H40X,M199
E119,H40X
E119,H40X
E119,H40X
E119,H40X
E785
E785
Z713
Z713
Z713
Z713
E119
E119
E119
Z713
Z713
Z713
E119
E119
E109
E109
E109
Z713
Z713
E109
E109
E109
E119,C509,F412,M255
E119,C509,F412,M255
E119,C509
E119,C509
E119,C509
E119,C509,F510
E119,C509,F510
E119,C509,F510
E119
E119
E119
E119
E119
E119
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,K30X,C509,E781
E119,K30X,C509,E781
E119,K30X,C509,E781
E119,K30X,C509,E781
E119,C509,N390,E785
E119,C509,N390,E785
E119,C509,N390,E785
E119,C509,N390,E785
E119,C509
E119,C509
E119,C509
E119,K297,D24X
E119,K297,D24X
E119,K297,D24X
E119,C509,F510
E119,C509,F510
E119,K297,F412,E782,E790
E119,K297,F412,E782,E790
E119,K297,F412,E782,E790
E119
E119
E119
E119,E669,C509
E119,E669,C509
E119,E669,C509
E119,C509,E781,E790
E119,C509,E781,E790
E119,C509,E781,E790
E119,C509,E781,E790
E119,C509,J029,F412
E119,C509,J029,F412
E119,C509,J029,F412
E119,C509,E781,K30X
E119,C509,E781,K30X
E119,C509,E781,K30X
E119,C509,E781,K30X
E119
E119
E119
E119
E119
E119
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509,M549
E119,C509,M549
C509
C509
C509
E117
E117
E117
E117
E117
E119,F412
E119,F412
E119,C509,M255
E119,C509,M255
E119,F412
E119,F412
E119
E119
E119
E119
E119
E119,F412,G442
E119,F412,G442
E119,C509
E119,C509
E119,C509
E119
E119
E119
E119
E119
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509
E119,C509,K297,J00X
E119,C509,K297,J00X
E119,C509,K297,J00X
E119,C509,K029
E119,C509,K029
E119,C509,K029
E119
E119
E119,E782,K297
E119,E782,K297
E119,E782,K297
E119,E782,K297
E119,E782,K297
E119,E782,K297
E119,C509,K088
E119,C509,K088
E119,C509,K088
E119,C509,K088
E119,C509,F412
E119,C509,F412
E119,K297
E119,K297
E119,C509,A099
E119,C509,A099
E119,C509,A099
E119
E119
E119
E119
E119
E119
E119,C509,M179
E119,C509,M179
E119,C509,M179
E119,C509,E669,J304
E119,C509,E669,J304
E119,C509,E669,J304
E119
E119
E119
E119
E119
E119,N390,C509,E669
E119,N390,C509,E669
E119,N390,C509,E669
E119
E119
E119
E119
E119
E119
E119,C509,K297
E119,C509,K297
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,C509,J029
E119,C509,J029
E119,C509,J029
E119,E669,C509
E119,E669,C509
E119,E669,C509
E119,E669,C509
E119,E669,C509
E119,E660,J029
E119,E660,J029
E115
E115
E119,M069
E119,M069
E119,J029
E119,J029
E119,J029
E119
E119
E119
E119
E119
E119
E119
E119
N390
N390
N390
N390
N390
N390
E119
E119
E119
E119
E119
E109,J00X,F412,E660
E109,J00X,F412,E660
E109,J00X,F412,E660
E119,M790,M139,E669
E119,M790,M139,E669
E119,M790,M139,E669
E119
E119
E119
E119
E109,J029
E109,J029
M069,E119,K295,F412
M069,E119,K295,F412
E119
E119
E119
E119
E119
E117,M069
E117,M069
E117,M069,E669,M790,J029
E117,M069,E669,M790,J029
E117,M069,E669,M790,J029
E119,M069,E669
E119,M069,E669
E119
E119
E119
E119,E669
E119,E669
E119,E669
E119,E669,M069
E119,E669,M069
E119,E669,M069
E119,E669,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
N390
N390
N390
N390
N390
N390
N390
N390
E113
E113
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069,E669
E119,M069,E669
E119,M069,E669
E119,M069,E669
E112,M545,I872,M069
E112,M545,I872,M069
E112,M545,I872,M069
E112,M545,I872,M069
E119,M069,J00X,E669
E119,M069,J00X,E669
E119,M069,J00X,E669
E119,M069,J00X,E669
E115,E110
E115,E110
E119,E660,J00X,M069,F412
E119,E660,J00X,M069,F412
E119,E660,J00X,M069,F412
E119
E119
E119
E119
E119
E119
E119
E119,K295,M069,J029
E119,K295,M069,J029
E119
E119
E119
E119,E660,M431
E119,E660,M431
E119,E660,M431
E119,E660,M431
E119
E119
E119
E119
E119,M069,J00X
E119,M069,J00X
E119,M069,J00X
E119,I872,E660,H669
E119,I872,E660,H669
E119,J029,M069,E660
E119,J029,M069,E660
E119,J029,M069,E660
E119,M069,E660,F412
E119,M069,E660,F412
E119,M069,M545
E119,M069,M545
E119,M069,M545
E119,M069,M545
E119,M069,M545
E119,M069,M545
E119,M069,M545
E119,M069,M790
E119,M069,M790
E119,M069,M790
E119,E660
E119,E660
E119,E660
E119,E660
E119,E660
E119,E660
E119
E119
E119,M069,M790
E119,M069,M790
E119,M069,M790
E119,M790,E660,F412,M069,Z138
E119,M790,E660,F412,M069,Z138
E119,M790,E660,F412,M069,Z138
E119,M069,M790,J029
E119,M069,M790,J029
E119,M545
E119,M545
E119,M545
E115
E115
E115
E119,M790,M069
E119,M790,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069,J029
E119,M069,J029
E119,M479
E119,M479
E119,M479
E119,M479
E119,M479
E119,M479
E119
E119
E119
E115
E115
E119,E660,S700,M069
E119,E660,S700,M069
E119
E119
E119
E119
E119
E119
E11X,M069,Z136
E11X,M069,Z136
E11X,M069,Z136
E11X,M069,Z136
E11X,M069,Z136
E119,M069
E119,M069
E119,M069
E119,M069
E119,M069
E117,M069,M790
E117,M069,M790
E117,M069,M790
E117,M069,M790,J029
E117,M069,M790,J029
E117,M069,M790,J029
E119,M069,K295,E669
E119,M069,K295,E669
E119,M069,E660
E119,M069,E660
E119,M069,E660
E119
E119
E119
E119
E119
E119
E119,K449,M069
E119,K449,M069
E119,K449,M069
E119,K449,M069
E119,K449,M069
E119,K449,M069
E119,K449,M069
E119,K449,M069
E119,J029
E119,J029
E119,E660,M069
E119,R104
E119,R104
E119,R104
E119,R104
E119,R104
E119,I872,E660
E119,I872,E660
E119
E119
E119,E660,M069
E119,E660,M069
E119,E660,M069
E119,E660,M069
E119,E660,M069
E119,E660,M069
E119,J00X
E119,J00X
E119,J00X
E119,J00X
E119,J00X
E119,J00X
E119
E119
E119
E119
E119
E119,J029,S936
E119,J029,S936
E119,M069,M790,J029
E119,M069,M790,J029
E119,M069,M790,J029
E119,E660,M069,J029
E119,E660,M069,J029
E119,E660,M069,J029
E119
E119
E119
E119
E119
E119,M069,J00X
E119,M069,J00X
E119,M790,M139,E669
E119,M790,M139,E669
E119,M790,M139,E669
E119,M069,K297,M469
E119,M069,K297,M469
E119,M069,K297,M469
E113
E113
E113
E113
E113
J209
J209
J209
E119,Z138
E119,Z138
E119,Z138
E119,Z138
E119,Z138
E119,M790,M139,E669,J029
E119,M790,M139,E669,J029
E119,M790,M139,E669,J029
E11X
E11X
E11X
E119,M790,M069,E669
E119,M790,M069,E669
E119,M069,K291,J00X
E119,M069,K291,J00X
E119,M069,K291,J00X
E119
E119
J00X,E119,M069,K295
J00X,E119,M069,K295
J00X,E119,M069,K295
E119
E119
E119
E119
E119
E115
E115
E119,I872,E660
E119,I872,E660
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,N72X
E119,N72X
E119,N72X
E119,E669
E119,E669
E119,E669
E119
E119
E119
E119
E119
E119
E119
E119
E112
E112
E119
E119
E119
E103,F412,E781
E103,F412,E781
E103,F412,E781
E103,F412,E781
M545,N18X,J449
M545,N18X,J449
E119
E119
E119
E119
E11X
E11X
E11X
E11X
E11X,N18X,J449
E11X,N18X,J449
E11X,N18X,J449
E119
E119
E119
E119
E119
E119
E119
E119
E107,N18X,J449,E668
E107,N18X,J449,E668
E107,N18X,J449,E668
E119
E119
E119
E11X
E11X
E11X
E11X
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E109
E109
E119,I872,F412,F328
E119,I872,F412,F328
E119,I872,F412,F328
E109
E109
E109
E109
E119
E119
E119
E119,M069
E119,M069
E109
E109
E109
E109
E109,E781,F412,K297
E109,E781,F412,K297
E109,E781,F412,K297
E109,E781,F412,K297
E109,E781,F412,K297
E109,F412,E781
E109,F412,E781
E109,F412,E781
E109,F412,E781
E109,F412,E781
E109
E109
E109
E109
E109
E109,K297,K589,E781
E109,K297,K589,E781
E109,K297,K589,E781
E109,K297,K589,E781
E109,I959,E785,E790,I872,M779
E109,I959,E785,E790,I872,M779
E109,I959,E785,E790,I872,M779
E119
E119
J029,E119
J029,E119
J029,E119
E107
E107
E107
E107
E107
E119
E119
E119
E107
E107
E107
E107
E107
E109
E109
E109
E109
E119
E119
E119
E119,K30X,E781
E119,K30X,E781
E119,K30X,E781
E119,K30X,E781
E119
E119
E109,F412,E781
E109,F412,E781
E109,F412,E781
E109,F412,E781
E107
E107
E107
E107
E107
E10X,D099
E10X,D099
E119
E119
E119
E119
E119
E148,C509
E148,C509
E148,C509
E119
E119
E119
E119
E119
E119
E119
E119
E119
E11X,K221,G470
E11X,K221,G470
E119
E119
E119
E119
E119
E119
E119
E119
E119
E11X
E11X
E11X
E149
E149
E149
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
N419,E11X,K221
N419,E11X,K221
N419,E11X,K221
M479,E119
M479,E119
M479,E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119
E119,G470,G610,I739
E119,G470,G610,I739
E119,G470,G610,I739
E119
E119
E119
E119
E119
E119
E119
E119

E119
E119
E119
E119
E119
E119
E102
E102
E119
E119
Z728
Z728
E119,T861
E119,T861
E271
E271
E109
E109
E102,N189
E102,N189
E102,N189
E102,N189
E102,N189
E102,N189
E102,N189
E119
E119

[0.0, 1.0]
Categories (2, float64): [0.0, 1.0]

**Validando rango de datos**

In [100]:
# https://www.tuotromedico.com/parametros/glucosa-en-sangre-baja.htm
# https://www.tuotromedico.com/parametros/glucosa-en-sangre-alta.htm
# Glucosa min = 0 max = 632

# https://www.healthline.com/health/es/tabla-de-presion-arterial#medici%C3%B3n
# https://www.tuotromedico.com/temas/hipertension_arterial.htm
# Presion arterial min=60 max=190

# https://www.tuotromedico.com/parametros/trigliceridos-en-sangre-bajos.htm
# https://www.tuotromedico.com/parametros/trigliceridos-en-sangre-altos.htm
# Trigliceridos min = 0 max = 684

# https://medlineplus.gov/spanish/cholesterollevelswhatyouneedtoknow.html

**Únicos por laboratorio**

In [136]:
df_glucosa = df[(~pd.isna(df['glucosa'])) & (~pd.isna(df['fechas_procesadas2'])) & (df['fuente'] == 'NER')]\
[['cx_curp','glucosa','glucosa1','glucosa2','fechas_procesadas2']]
display(df_glucosa)
df_glucosa = df_glucosa.drop_duplicates()
df_glucosa['lab'] = "glucosa"
df_glucosa

                 cx_curp glucosa  glucosa1  glucosa2 fechas_procesadas2
4     CAAE51120998X96PC1  126     126.0    NaN       2011-09-01
137   CAAJ770616UNX3HRC2  255     255.0    NaN       2018-08-01
142   CAAJ770616UNX3HRC2  316     316.0    NaN       2018-08-01
154   CAAJ770616UNX3HRC2  316     316.0    NaN       2018-08-01
160   CAAJ770616UNX3HRC2  255     255.0    NaN       2018-08-01
...                  ...  ...       ...     ..              ...
9163  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9166  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9175  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9180  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9183  JIDR510316QA5Z4PC3  96      96.0     NaN       2015-09-29

[527 rows x 5 columns]

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab
4,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,glucosa
137,CAAJ770616UNX3HRC2,255,255.0,NaN,2018-08-01,glucosa
142,CAAJ770616UNX3HRC2,316,316.0,NaN,2018-08-01,glucosa
166,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,glucosa
172,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa
...,...,...,...,...,...,...
9071,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-01-28,glucosa
9085,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa
9103,JIDR510316QA5Z4PC3,126,126.0,NaN,2016-11-03,glucosa
9117,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa
9183,JIDR510316QA5Z4PC3,96,96.0,NaN,2015-09-29,glucosa

In [128]:
prop_codigo = df_glucosa.groupby(['cx_curp','fechas_procesadas2'], as_index=False)['lab']\
.count()\
.rename(columns={'lab': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_gu_rep = prop_codigo.sort_values(by = ['prop'], ascending = False)
gd = df_gu_rep[df_gu_rep['count']>1]
gd

                cx_curp fechas_procesadas2  count      prop
158  PIRE6806019N4I6PC1 2016-06-04          4      0.017937
12   AADV5603014KS44QC1 2017-06-06          3      0.013453
63   COGJ5108018PI47QC1 2020-02-19          3      0.013453
172  SAPL460201_WS10QC2 2017-01-01          2      0.008969
123  OIMS600706LWUN8PC2 2016-06-15          2      0.008969
19   AEDJ750301XGAEGRC1 2016-08-22          2      0.008969
175  SAPL460201_WS10QC2 2020-03-13          2      0.008969
168  SAJB6406296LNT8PC4 2020-08-01          2      0.008969
187  VEVF4904172GTC8QC1 2018-03-12          2      0.008969
51   CALT491222GG7DGRC3 2015-11-10          2      0.008969
178  SAPL460201_WS10QC2 2020-12-02          2      0.008969
48   CAAJ770616UNX3HRC2 2018-08-01          2      0.008969
194  ZAGM6412151ICF4PC4 2016-12-07          2      0.008969
195  ZAGM6412151ICF4PC4 2017-01-17          2      0.008969
62   COGJ5108018PI47QC1 2019-09-01          2      0.008969
61   COGJ5108018PI47QC1 2019-03-20          2      0.008969
106  MAVC341201G0YJFRC1 2018-04-11          2      0.008969
2    AAAZ581217189U5PC3 2015-08-21          2      0.008969
160  ROCA5508101VD78DB4 2017-02-24          2      0.008969

In [103]:
df_glucosa[df_glucosa['cx_curp']=='PIRE6806019N4I6PC1'].sort_values('fechas_procesadas2')

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab
2793,PIRE6806019N4I6PC1,153,153.0,NaN,2013-12-01,glucosa
2858,PIRE6806019N4I6PC1,153,153.0,NaN,2013-12-28,glucosa
2683,PIRE6806019N4I6PC1,153,153.0,NaN,2014-01-02,glucosa
2799,PIRE6806019N4I6PC1,436,436.0,NaN,2016-01-21,glucosa
2741,PIRE6806019N4I6PC1,145,145.0,NaN,2016-04-06,glucosa
2688,PIRE6806019N4I6PC1,228,228.0,NaN,2016-04-22,glucosa
2687,PIRE6806019N4I6PC1,166,166.0,NaN,2016-06-04,glucosa
2705,PIRE6806019N4I6PC1,519,519.0,NaN,2016-06-04,glucosa
2717,PIRE6806019N4I6PC1,134,134.0,NaN,2016-06-04,glucosa
2788,PIRE6806019N4I6PC1,145,145.0,NaN,2016-06-04,glucosa

In [104]:
np.median([166,519,134,145])

155.5

In [139]:
display(df_glucosa[(~df_glucosa.cx_curp.isin(gd.cx_curp))&\
                   (~df_glucosa.fechas_procesadas2.isin(gd.fechas_procesadas2))])

               cx_curp glucosa  glucosa1  glucosa2 fechas_procesadas2  \
0   CAAJ770616UNX3HRC2  255     255.0    NaN       2018-08-01
1   CAAJ770616UNX3HRC2  316     316.0    NaN       2018-08-01
2   OIMS600706LWUN8PC2  378     378.0    NaN       2016-06-15
3   OIMS600706LWUN8PC2  136     136.0    NaN       2016-06-15
4   PIRE6806019N4I6PC1  166     166.0    NaN       2016-06-04
5   PIRE6806019N4I6PC1  519     519.0    NaN       2016-06-04
6   PIRE6806019N4I6PC1  134     134.0    NaN       2016-06-04
7   PIRE6806019N4I6PC1  145     145.0    NaN       2016-06-04
8   SAPL460201_WS10QC2  139     139.0    NaN       2017-01-01
9   SAPL460201_WS10QC2  394     394.0    NaN       2017-01-01
10  SAPL460201_WS10QC2  174     174.0    NaN       2020-12-02
11  SAPL460201_WS10QC2  232     232.0    NaN       2020-12-02
12  SAPL460201_WS10QC2  287     287.0    NaN       2020-03-13
13  SAPL460201_WS10QC2  196.7   196.7    NaN       2020-03-13
14  MAVC341201G0YJFRC1  121     121.0    NaN       2018-04-11
15  MAVC341201G0YJFRC1  195     195.0    NaN       2018-04-11
16  ZAGM6412151ICF4PC4  125     125.0    NaN       2016-12-07
17  ZAGM6412151ICF4PC4  229     229.0    NaN       2016-12-07
18  ZAGM6412151ICF4PC4  211     211.0    NaN       2017-01-17
19  ZAGM6412151ICF4PC4  128     128.0    NaN       2017-01-17
20  VEVF4904172GTC8QC1  83      83.0     NaN       2018-03-12
21  VEVF4904172GTC8QC1  135     135.0    NaN       2018-03-12
22  AADV5603014KS44QC1  117     117.0    NaN       2017-06-06
23  AADV5603014KS44QC1  139     139.0    NaN       2017-06-06
24  AADV5603014KS44QC1  262     262.0    NaN       2017-06-06
25  SAJB6406296LNT8PC4  144     144.0    NaN       2020-08-01
26  SAJB6406296LNT8PC4  55.7    55.7     NaN       2020-08-01
27  AEDJ750301XGAEGRC1  292     292.0    NaN       2016-08-22
28  AEDJ750301XGAEGRC1  175     175.0    NaN       2016-08-22
29  AAAZ581217189U5PC3  112     112.0    NaN       2015-08-21
30  AAAZ581217189U5PC3  47      47.0     NaN       2015-08-21
31  CALT491222GG7DGRC3  155     155.0    NaN       2015-11-10
32  CALT491222GG7DGRC3  115     115.0    NaN       2015-11-10
33  COGJ5108018PI47QC1  112     112.0    NaN       2020-02-19
34  COGJ5108018PI47QC1  159     159.0    NaN       2020-02-19
35  COGJ5108018PI47QC1  145     145.0    NaN       2020-02-19
36  COGJ5108018PI47QC1  125     125.0    NaN       2019-09-01
37  COGJ5108018PI47QC1  112     112.0    NaN       2019-09-01
38  COGJ5108018PI47QC1  112     112.0    NaN       2019-03-20
39  COGJ5108018PI47QC1  93      93.0     NaN       2019-03-20
40  ROCA5508101VD78DB4  183     183.0    NaN       2017-02-24
41  ROCA5508101VD78DB4  196     196.0    NaN       2017-02-24

        lab  count      prop
0   glucosa  2      0.008969
1   glucosa  2      0.008969
2   glucosa  2      0.008969
3   glucosa  2      0.008969
4   glucosa  4      0.017937
5   glucosa  4      0.017937
6   glucosa  4      0.017937
7   glucosa  4      0.017937
8   glucosa  2      0.008969
9   glucosa  2      0.008969
10  glucosa  2      0.008969
11  glucosa  2      0.008969
12  glucosa  2      0.008969
13  glucosa  2      0.008969
14  glucosa  2      0.008969
15  glucosa  2      0.008969
16  glucosa  2      0.008969
17  glucosa  2      0.008969
18  glucosa  2      0.008969
19  glucosa  2      0.008969
20  glucosa  2      0.008969
21  glucosa  2      0.008969
22  glucosa  3      0.013453
23  glucosa  3      0.013453
24  glucosa  3      0.013453
25  glucosa  2      0.008969
26  glucosa  2      0.008969
27  glucosa  2      0.008969
28  glucosa  2      0.008969
29  glucosa  2      0.008969
30  glucosa  2      0.008969
31  glucosa  2      0.008969
32  glucosa  2      0.008969
33  glucosa  3      0.013453
34  glucosa  3      0.013453
35  glucosa  3      0.013453
36  glucosa  2      0.008969
37  glucosa  2      0.008969
38  glucosa  2      0.008969
39  glucosa  2      0.008969
40  glucosa  2      0.008969
41  glucosa  2      0.008969

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab
4,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,glucosa
734,GOML440127J80Z9PC2,135,135.0,NaN,2015-02-13,glucosa
887,GOML440127J80Z9PC2,156,156.0,NaN,2014-12-01,glucosa
969,GOML440127J80Z9PC2,115,115.0,NaN,2011-03-13,glucosa
1056,PEGO194405B3QH4QC1,133,133.0,NaN,2012-07-11,glucosa
...,...,...,...,...,...,...
9071,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-01-28,glucosa
9085,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa
9103,JIDR510316QA5Z4PC3,126,126.0,NaN,2016-11-03,glucosa
9117,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa
9183,JIDR510316QA5Z4PC3,96,96.0,NaN,2015-09-29,glucosa

In [144]:
df_merged = df_glucosa.merge(gd, how="left", left_on=["cx_curp","fechas_procesadas2"],\
                             right_on=["cx_curp","fechas_procesadas2"], indicator=True)
df_merged = df_merged.query("_merge == 'left_only'")
df_merged

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab,count,prop,_merge
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,glucosa,NaN,NaN,left_only
3,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,glucosa,NaN,NaN,left_only
4,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa,NaN,NaN,left_only
5,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,glucosa,NaN,NaN,left_only
6,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,glucosa,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...
218,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-01-28,glucosa,NaN,NaN,left_only
219,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa,NaN,NaN,left_only
220,JIDR510316QA5Z4PC3,126,126.0,NaN,2016-11-03,glucosa,NaN,NaN,left_only
221,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa,NaN,NaN,left_only
222,JIDR510316QA5Z4PC3,96,96.0,NaN,2015-09-29,glucosa,NaN,NaN,left_only

In [145]:
prop_codigo = df_merged.groupby(['cx_curp','fechas_procesadas2'], as_index=False)['lab']\
.count()\
.rename(columns={'lab': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_gu_rep2 = prop_codigo.sort_values(by = ['prop'], ascending = False)
gd2 = df_gu_rep2[df_gu_rep2['count']>1]
gd2

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [151]:
def uniq_lab(df, column_names, column):
    """
    
    """
    # uniq values
    df_column = df[(~pd.isna(df[column])) & (~pd.isna(df['fechas_procesadas2'])) & (df['fuente'] == 'NER')]\
    [column_names]
    display(df_column)
    df_column = df_column.drop_duplicates()
    df_column['lab'] = column
    print("Valores únicos lab - fecha \n")
    display(df_column)
    
    # duplicated values same date
    prop_codigo = df_column.groupby(['cx_curp','fechas_procesadas2'], as_index=False)['lab']\
    .count()\
    .rename(columns={'lab': 'count'})
    prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
    df_rep = prop_codigo.sort_values(by = ['prop'], ascending = False)
    df_rep = df_rep[df_rep['count']>1]
    print("Valores repetidos \n")
    display(df_rep)
    
    column_names.append('lab')
    
    # delete dupliacted values in same date
    df_merged = df_column.merge(df_rep, how="left", left_on=["cx_curp","fechas_procesadas2"],\
                             right_on=["cx_curp","fechas_procesadas2"], indicator=True)
    df_merged = df_merged.query("_merge == 'left_only'")[column_names]
    print("Valores únicos lab - fecha revisión \n")
    display(df_merged)
    
    # comprobando
    prop_codigo = df_merged.groupby(['cx_curp','fechas_procesadas2'], as_index=False)['lab']\
    .count()\
    .rename(columns={'lab': 'count'})
    prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
    df_rep2 = prop_codigo.sort_values(by = ['prop'], ascending = False)
    gd2 = df_rep2[df_gu_rep2['count']>1]
    print("Valores repetidos revisión \n")
    display(gd2)
    
    return df_merged

In [152]:
df_glucosa = uniq_lab(df,['cx_curp','glucosa','glucosa1','glucosa2','fechas_procesadas2'],'glucosa')

                 cx_curp glucosa  glucosa1  glucosa2 fechas_procesadas2
4     CAAE51120998X96PC1  126     126.0    NaN       2011-09-01
137   CAAJ770616UNX3HRC2  255     255.0    NaN       2018-08-01
142   CAAJ770616UNX3HRC2  316     316.0    NaN       2018-08-01
154   CAAJ770616UNX3HRC2  316     316.0    NaN       2018-08-01
160   CAAJ770616UNX3HRC2  255     255.0    NaN       2018-08-01
...                  ...  ...       ...     ..              ...
9163  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9166  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9175  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9180  JIDR510316QA5Z4PC3  124     124.0    NaN       2019-04-04
9183  JIDR510316QA5Z4PC3  96      96.0     NaN       2015-09-29

[527 rows x 5 columns]

Valores únicos lab - fecha

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab
4,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,glucosa
137,CAAJ770616UNX3HRC2,255,255.0,NaN,2018-08-01,glucosa
142,CAAJ770616UNX3HRC2,316,316.0,NaN,2018-08-01,glucosa
166,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,glucosa
172,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa
...,...,...,...,...,...,...
9071,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-01-28,glucosa
9085,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa
9103,JIDR510316QA5Z4PC3,126,126.0,NaN,2016-11-03,glucosa
9117,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa
9183,JIDR510316QA5Z4PC3,96,96.0,NaN,2015-09-29,glucosa

Valores repetidos

                cx_curp fechas_procesadas2  count      prop
158  PIRE6806019N4I6PC1 2016-06-04          4      0.017937
12   AADV5603014KS44QC1 2017-06-06          3      0.013453
63   COGJ5108018PI47QC1 2020-02-19          3      0.013453
172  SAPL460201_WS10QC2 2017-01-01          2      0.008969
123  OIMS600706LWUN8PC2 2016-06-15          2      0.008969
19   AEDJ750301XGAEGRC1 2016-08-22          2      0.008969
175  SAPL460201_WS10QC2 2020-03-13          2      0.008969
168  SAJB6406296LNT8PC4 2020-08-01          2      0.008969
187  VEVF4904172GTC8QC1 2018-03-12          2      0.008969
51   CALT491222GG7DGRC3 2015-11-10          2      0.008969
178  SAPL460201_WS10QC2 2020-12-02          2      0.008969
48   CAAJ770616UNX3HRC2 2018-08-01          2      0.008969
194  ZAGM6412151ICF4PC4 2016-12-07          2      0.008969
195  ZAGM6412151ICF4PC4 2017-01-17          2      0.008969
62   COGJ5108018PI47QC1 2019-09-01          2      0.008969
61   COGJ5108018PI47QC1 2019-03-20          2      0.008969
106  MAVC341201G0YJFRC1 2018-04-11          2      0.008969
2    AAAZ581217189U5PC3 2015-08-21          2      0.008969
160  ROCA5508101VD78DB4 2017-02-24          2      0.008969

Valores únicos lab - fecha revisión

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,glucosa
3,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,glucosa
4,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa
5,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,glucosa
6,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,glucosa
...,...,...,...,...,...,...
218,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-01-28,glucosa
219,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa
220,JIDR510316QA5Z4PC3,126,126.0,NaN,2016-11-03,glucosa
221,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa
222,JIDR510316QA5Z4PC3,96,96.0,NaN,2015-09-29,glucosa

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [153]:
df_colesterol = uniq_lab(df,['cx_curp','colesterol','fechas_procesadas2'],'colesterol')

                 cx_curp  colesterol fechas_procesadas2
129   CAAJ770616UNX3HRC2  163.0      2015-08-06
137   CAAJ770616UNX3HRC2  191.0      2018-08-01
142   CAAJ770616UNX3HRC2  191.0      2018-08-01
148   CAAJ770616UNX3HRC2  163.0      2019-11-01
160   CAAJ770616UNX3HRC2  191.0      2018-08-01
...                  ...    ...             ...
9160  JIDR510316QA5Z4PC3  155.0      2018-10-18
9163  JIDR510316QA5Z4PC3  158.0      2019-04-04
9166  JIDR510316QA5Z4PC3  158.0      2019-04-04
9175  JIDR510316QA5Z4PC3  158.0      2019-04-04
9180  JIDR510316QA5Z4PC3  158.0      2019-04-04

[293 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp  colesterol fechas_procesadas2         lab
129   CAAJ770616UNX3HRC2  163.0      2015-08-06          colesterol
137   CAAJ770616UNX3HRC2  191.0      2018-08-01          colesterol
148   CAAJ770616UNX3HRC2  163.0      2019-11-01          colesterol
172   CAAJ770616UNX3HRC2  123.0      2019-05-01          colesterol
212   CAAJ770616UNX3HRC2  123.0      2019-03-25          colesterol
...                  ...    ...             ...                 ...
8722  ROCA5508101VD78DB4  174.0      2018-06-13          colesterol
8737  ROCA5508101VD78DB4  205.0      2017-09-01          colesterol
9052  JIDR510316QA5Z4PC3  158.0      2019-04-04          colesterol
9085  JIDR510316QA5Z4PC3  155.0      2018-10-18          colesterol
9117  JIDR510316QA5Z4PC3  189.0      2015-06-23          colesterol

[110 rows x 4 columns]

Valores repetidos

               cx_curp fechas_procesadas2  count      prop
32  COGJ5108018PI47QC1 2020-02-19          2      0.018182
18  BOLM631201LV35XPC1 2018-08-01          2      0.018182

Valores únicos lab - fecha revisión

                cx_curp  colesterol fechas_procesadas2         lab
0    CAAJ770616UNX3HRC2  163.0      2015-08-06          colesterol
1    CAAJ770616UNX3HRC2  191.0      2018-08-01          colesterol
2    CAAJ770616UNX3HRC2  163.0      2019-11-01          colesterol
3    CAAJ770616UNX3HRC2  123.0      2019-05-01          colesterol
4    CAAJ770616UNX3HRC2  123.0      2019-03-25          colesterol
..                  ...    ...             ...                 ...
105  ROCA5508101VD78DB4  174.0      2018-06-13          colesterol
106  ROCA5508101VD78DB4  205.0      2017-09-01          colesterol
107  JIDR510316QA5Z4PC3  158.0      2019-04-04          colesterol
108  JIDR510316QA5Z4PC3  155.0      2018-10-18          colesterol
109  JIDR510316QA5Z4PC3  189.0      2015-06-23          colesterol

[106 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [154]:
df_u = pd.merge(df_glucosa,df_colesterol, on = ['cx_curp','fechas_procesadas2'])
df_u

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab_x,colesterol,lab_y
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa,123.0,colesterol
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,glucosa,123.0,colesterol
2,CAAJ770616UNX3HRC2,344,344.0,NaN,2015-05-06,glucosa,244.0,colesterol
3,CAAJ770616UNX3HRC2,193,193.0,NaN,2015-08-06,glucosa,163.0,colesterol
4,PEGO194405B3QH4QC1,86,86.0,NaN,2018-11-07,glucosa,215.0,colesterol
...,...,...,...,...,...,...,...,...
69,ROCA5508101VD78DB4,186,186.0,NaN,2016-10-27,glucosa,191.0,colesterol
70,ROCA5508101VD78DB4,155,155.0,NaN,2017-09-01,glucosa,205.0,colesterol
71,JIDR510316QA5Z4PC3,124,124.0,NaN,2019-04-04,glucosa,158.0,colesterol
72,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa,155.0,colesterol
73,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa,189.0,colesterol

In [155]:
print(df_glucosa.shape)
print(df_colesterol.shape)

(181, 6)
(106, 4)

In [158]:
# 235
df_lab = pd.merge(df_glucosa,df_colesterol, how = "outer", on = ['cx_curp','fechas_procesadas2']).\
            drop_duplicates()
df_lab = df_lab[df_lab.columns.drop(list(df_lab.filter(regex='lab')))]
df_lab

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN
...,...,...,...,...,...,...
208,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0
209,GUSJ5712286XUN73A2,NaN,NaN,NaN,2012-06-12,231.0
210,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-11-12,166.0
211,ROCA5508101VD78DB4,NaN,NaN,NaN,2017-02-24,204.0
212,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,174.0

In [179]:
def unir_lab(df1,df2):
    """
    """
    # inner join
    print("Inner join \n")
    df_u = pd.merge(df1,df2, on = ['cx_curp','fechas_procesadas2'])
    display(df_u)
    print("Shapes dfs")
    print(df1.shape)
    print(df2.shape)
    df_lab = pd.merge(df1,df2, how = "outer", on = ['cx_curp','fechas_procesadas2']).\
                drop_duplicates()
    df_lab = df_lab[df_lab.columns.drop(list(df_lab.filter(regex='lab')))]
    display(df_lab)
    return df_lab

In [180]:
df_lab = unir_lab(df_glucosa,df_colesterol)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab_x,colesterol,lab_y
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa,123.0,colesterol
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,glucosa,123.0,colesterol
2,CAAJ770616UNX3HRC2,344,344.0,NaN,2015-05-06,glucosa,244.0,colesterol
3,CAAJ770616UNX3HRC2,193,193.0,NaN,2015-08-06,glucosa,163.0,colesterol
4,PEGO194405B3QH4QC1,86,86.0,NaN,2018-11-07,glucosa,215.0,colesterol
...,...,...,...,...,...,...,...,...
69,ROCA5508101VD78DB4,186,186.0,NaN,2016-10-27,glucosa,191.0,colesterol
70,ROCA5508101VD78DB4,155,155.0,NaN,2017-09-01,glucosa,205.0,colesterol
71,JIDR510316QA5Z4PC3,124,124.0,NaN,2019-04-04,glucosa,158.0,colesterol
72,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa,155.0,colesterol
73,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa,189.0,colesterol

Shapes dfs
(181, 6)
(106, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN
...,...,...,...,...,...,...
208,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0
209,GUSJ5712286XUN73A2,NaN,NaN,NaN,2012-06-12,231.0
210,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-11-12,166.0
211,ROCA5508101VD78DB4,NaN,NaN,NaN,2017-02-24,204.0
212,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,174.0

In [159]:
df_trigliceridos = uniq_lab(df,['cx_curp','trigliceridos','fechas_procesadas2'],'trigliceridos')

                 cx_curp  trigliceridos fechas_procesadas2
128   CAAJ770616UNX3HRC2  274.0         2015-08-19
129   CAAJ770616UNX3HRC2  386.0         2015-08-06
137   CAAJ770616UNX3HRC2  625.0         2018-08-01
142   CAAJ770616UNX3HRC2  625.0         2018-08-01
148   CAAJ770616UNX3HRC2  295.0         2019-11-01
...                  ...    ...                ...
9160  JIDR510316QA5Z4PC3  73.0          2018-10-18
9163  JIDR510316QA5Z4PC3  87.0          2019-04-04
9166  JIDR510316QA5Z4PC3  87.0          2019-04-04
9175  JIDR510316QA5Z4PC3  87.0          2019-04-04
9180  JIDR510316QA5Z4PC3  87.0          2019-04-04

[329 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp  trigliceridos fechas_procesadas2            lab
128   CAAJ770616UNX3HRC2  274.00        2015-08-19          trigliceridos
129   CAAJ770616UNX3HRC2  386.00        2015-08-06          trigliceridos
137   CAAJ770616UNX3HRC2  625.00        2018-08-01          trigliceridos
148   CAAJ770616UNX3HRC2  295.00        2019-11-01          trigliceridos
166   CAAJ770616UNX3HRC2  274.00        2013-12-01          trigliceridos
...                  ...     ...               ...                    ...
8737  ROCA5508101VD78DB4  231.00        2017-09-01          trigliceridos
9052  JIDR510316QA5Z4PC3  87.00         2019-04-04          trigliceridos
9071  JIDR510316QA5Z4PC3  180.66        2015-01-28          trigliceridos
9085  JIDR510316QA5Z4PC3  73.00         2018-10-18          trigliceridos
9117  JIDR510316QA5Z4PC3  74.21         2015-06-23          trigliceridos

[120 rows x 4 columns]

Valores repetidos

               cx_curp fechas_procesadas2  count      prop
16  BOLM631201LV35XPC1 2018-08-01          2      0.016667
3   AADV5603014KS44QC1 2017-12-11          2      0.016667
6   AADV5603014KS44QC1 2019-12-02          2      0.016667
37  COGJ5108018PI47QC1 2020-02-19          2      0.016667

Valores únicos lab - fecha revisión

                cx_curp  trigliceridos fechas_procesadas2            lab
0    CAAJ770616UNX3HRC2  274.00        2015-08-19          trigliceridos
1    CAAJ770616UNX3HRC2  386.00        2015-08-06          trigliceridos
2    CAAJ770616UNX3HRC2  625.00        2018-08-01          trigliceridos
3    CAAJ770616UNX3HRC2  295.00        2019-11-01          trigliceridos
4    CAAJ770616UNX3HRC2  274.00        2013-12-01          trigliceridos
..                  ...     ...               ...                    ...
115  ROCA5508101VD78DB4  231.00        2017-09-01          trigliceridos
116  JIDR510316QA5Z4PC3  87.00         2019-04-04          trigliceridos
117  JIDR510316QA5Z4PC3  180.66        2015-01-28          trigliceridos
118  JIDR510316QA5Z4PC3  73.00         2018-10-18          trigliceridos
119  JIDR510316QA5Z4PC3  74.21         2015-06-23          trigliceridos

[112 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [181]:
df_lab = unir_lab(df_lab,df_trigliceridos)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,lab
0,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,trigliceridos
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,trigliceridos
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.0,384.0,trigliceridos
3,CAAJ770616UNX3HRC2,344,344.0,NaN,2015-05-06,244.0,604.0,trigliceridos
4,CAAJ770616UNX3HRC2,163,163.0,NaN,2012-07-02,NaN,347.0,trigliceridos
...,...,...,...,...,...,...,...,...
97,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-09-01,205.0,148.0,trigliceridos
98,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0,120.0,trigliceridos
99,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-11-12,166.0,178.0,trigliceridos
100,ROCA5508101VD78DB4,NaN,NaN,NaN,2017-02-24,204.0,424.0,trigliceridos
101,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,174.0,394.0,trigliceridos

Shapes dfs
(213, 6)
(112, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN
...,...,...,...,...,...,...,...
218,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-05-03,NaN,92.0
219,ZAGM6412151ICF4PC4,NaN,NaN,NaN,2015-05-28,NaN,242.0
220,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0
221,COGJ5108018PI47QC1,NaN,NaN,NaN,2004-11-05,NaN,140.0
222,RORC5211012YV34CA1,NaN,NaN,NaN,2011-11-02,NaN,245.0

In [160]:
df_hdl = uniq_lab(df,['cx_curp','hdl','fechas_procesadas2'],'hdl')

                 cx_curp   hdl fechas_procesadas2
1149  PEGO194405B3QH4QC1  48.0 2019-10-17
1262  PEGO194405B3QH4QC1  47.0 2018-08-10
1391  AOCC511229UR4RIRC3  48.0 2018-04-04
1406  AOCC511229UR4RIRC3  51.0 2017-05-11
1418  AOCC511229UR4RIRC3  48.0 2018-04-04
...                  ...   ...        ...
9160  JIDR510316QA5Z4PC3  56.0 2018-10-18
9163  JIDR510316QA5Z4PC3  49.0 2019-04-04
9166  JIDR510316QA5Z4PC3  49.0 2019-04-04
9175  JIDR510316QA5Z4PC3  49.0 2019-04-04
9180  JIDR510316QA5Z4PC3  49.0 2019-04-04

[109 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp    hdl fechas_procesadas2  lab
1149  PEGO194405B3QH4QC1  48.00 2019-10-17          hdl
1262  PEGO194405B3QH4QC1  47.00 2018-08-10          hdl
1391  AOCC511229UR4RIRC3  48.00 2018-04-04          hdl
1406  AOCC511229UR4RIRC3  51.00 2017-05-11          hdl
1442  AOCC511229UR4RIRC3  46.00 2019-10-31          hdl
1477  AOCC511229UR4RIRC3  47.00 2015-11-01          hdl
3154  GASG61090173W69PC1  48.70 2021-12-31          hdl
4970  AADV5603014KS44QC1  20.40 2017-12-11          hdl
4971  AADV5603014KS44QC1  28.24 2017-06-06          hdl
5043  AADV5603014KS44QC1  20.00 2019-06-01          hdl
5114  AADV5603014KS44QC1  21.00 2019-12-02          hdl
5159  AADV5603014KS44QC1  22.30 2018-03-09          hdl
5180  AADV5603014KS44QC1  21.00 2018-07-01          hdl
6172  AAAZ581217189U5PC3  73.00 2018-09-01          hdl
6315  AAAZ581217189U5PC3  73.00 2018-10-02          hdl
7253  MACL740410NK1YGRC2  47.00 2019-02-02          hdl
7256  MACL740410NK1YGRC2  53.00 2020-08-12          hdl
7353  COGJ5108018PI47QC1  44.00 2020-02-19          hdl
7388  COGJ5108018PI47QC1  43.00 2015-07-01          hdl
7525  COGJ5108018PI47QC1  44.00 2019-09-01          hdl
7533  COGJ5108018PI47QC1  44.00 2019-03-20          hdl
7661  PIPB6010280UNG7PC4  35.00 2017-01-04          hdl
7673  PIPB6010280UNG7PC4  49.00 2016-09-27          hdl
7740  PIPB6010280UNG7PC4  36.00 2017-01-26          hdl
8395  OOCG680408JBU4ERC2  58.00 2010-07-22          hdl
8662  GUSJ5712286XUN73A2  40.00 2014-11-12          hdl
8700  RORC5211012YV34CA1  38.00 2016-02-18          hdl
8719  ROCA5508101VD78DB4  35.00 2017-02-24          hdl
9052  JIDR510316QA5Z4PC3  49.00 2019-04-04          hdl
9085  JIDR510316QA5Z4PC3  56.00 2018-10-18          hdl

Valores repetidos

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

Valores únicos lab - fecha revisión

               cx_curp    hdl fechas_procesadas2  lab
0   PEGO194405B3QH4QC1  48.00 2019-10-17          hdl
1   PEGO194405B3QH4QC1  47.00 2018-08-10          hdl
2   AOCC511229UR4RIRC3  48.00 2018-04-04          hdl
3   AOCC511229UR4RIRC3  51.00 2017-05-11          hdl
4   AOCC511229UR4RIRC3  46.00 2019-10-31          hdl
5   AOCC511229UR4RIRC3  47.00 2015-11-01          hdl
6   GASG61090173W69PC1  48.70 2021-12-31          hdl
7   AADV5603014KS44QC1  20.40 2017-12-11          hdl
8   AADV5603014KS44QC1  28.24 2017-06-06          hdl
9   AADV5603014KS44QC1  20.00 2019-06-01          hdl
10  AADV5603014KS44QC1  21.00 2019-12-02          hdl
11  AADV5603014KS44QC1  22.30 2018-03-09          hdl
12  AADV5603014KS44QC1  21.00 2018-07-01          hdl
13  AAAZ581217189U5PC3  73.00 2018-09-01          hdl
14  AAAZ581217189U5PC3  73.00 2018-10-02          hdl
15  MACL740410NK1YGRC2  47.00 2019-02-02          hdl
16  MACL740410NK1YGRC2  53.00 2020-08-12          hdl
17  COGJ5108018PI47QC1  44.00 2020-02-19          hdl
18  COGJ5108018PI47QC1  43.00 2015-07-01          hdl
19  COGJ5108018PI47QC1  44.00 2019-09-01          hdl
20  COGJ5108018PI47QC1  44.00 2019-03-20          hdl
21  PIPB6010280UNG7PC4  35.00 2017-01-04          hdl
22  PIPB6010280UNG7PC4  49.00 2016-09-27          hdl
23  PIPB6010280UNG7PC4  36.00 2017-01-26          hdl
24  OOCG680408JBU4ERC2  58.00 2010-07-22          hdl
25  GUSJ5712286XUN73A2  40.00 2014-11-12          hdl
26  RORC5211012YV34CA1  38.00 2016-02-18          hdl
27  ROCA5508101VD78DB4  35.00 2017-02-24          hdl
28  JIDR510316QA5Z4PC3  49.00 2019-04-04          hdl
29  JIDR510316QA5Z4PC3  56.00 2018-10-18          hdl

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [182]:
df_lab = unir_lab(df_lab,df_hdl)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,lab
0,PEGO194405B3QH4QC1,111,111.0,NaN,2019-10-17,204.0,215.0,48.00,hdl
1,PEGO194405B3QH4QC1,99,99.0,NaN,2018-08-10,199.0,200.0,47.00,hdl
2,AOCC511229UR4RIRC3,156,156.0,NaN,2018-04-04,235.0,153.0,48.00,hdl
3,AOCC511229UR4RIRC3,125,125.0,NaN,2017-05-11,201.0,198.0,51.00,hdl
4,AOCC511229UR4RIRC3,125,125.0,NaN,2019-10-31,NaN,158.0,46.00,hdl
5,AOCC511229UR4RIRC3,151,151.0,NaN,2015-11-01,193.0,141.0,47.00,hdl
6,GASG61090173W69PC1,176,176.0,NaN,2021-12-31,128.7,136.8,48.70,hdl
7,AADV5603014KS44QC1,121,121.0,NaN,2019-06-01,113.0,296.0,20.00,hdl
8,AADV5603014KS44QC1,133,133.0,NaN,2017-12-11,242.0,NaN,20.40,hdl
9,AADV5603014KS44QC1,218,218.0,NaN,2018-07-01,123.0,223.0,21.00,hdl
10,AADV5603014KS44QC1,112,112.0,NaN,2019-12-02,NaN,NaN,21.00,hdl
11,AAAZ581217189U5PC3,46,46.0,NaN,2018-09-01,198.0,NaN,73.00,hdl
12,MACL740410NK1YGRC2,225,225.0,NaN,2019-02-02,168.0,105.0,47.00,hdl
13,MACL740410NK1YGRC2,163,163.0,NaN,2020-08-12,182.0,138.0,53.00,hdl
14,COGJ5108018PI47QC1,147,147.0,NaN,2015-07-01,215.0,144.0,43.00,hdl
15,PIPB6010280UNG7PC4,121,121.0,NaN,2017-01-04,223.0,154.0,35.00,hdl
16,PIPB6010280UNG7PC4,118,118.0,NaN,2016-09-27,204.0,251.0,49.00,hdl
17,PIPB6010280UNG7PC4,128,128.0,NaN,2017-01-26,213.0,189.0,36.00,hdl
18,OOCG680408JBU4ERC2,169,169.0,NaN,2010-07-22,212.0,124.0,58.00,hdl
19,RORC5211012YV34CA1,397,397.0,NaN,2016-02-18,207.0,241.0,38.00,hdl
20,JIDR510316QA5Z4PC3,124,124.0,NaN,2019-04-04,158.0,87.0,49.00,hdl
21,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,155.0,73.0,56.00,hdl
22,AADV5603014KS44QC1,NaN,NaN,NaN,2018-03-09,143.0,NaN,22.30,hdl
23,AAAZ581217189U5PC3,NaN,NaN,NaN,2018-10-02,198.0,NaN,73.00,hdl
24,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-09-01,205.0,148.0,44.00,hdl
25,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0,120.0,44.00,hdl
26,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-11-12,166.0,178.0,40.00,hdl
27,ROCA5508101VD78DB4,NaN,NaN,NaN,2017-02-24,204.0,424.0,35.00,hdl
28,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0,28.24,hdl

Shapes dfs
(223, 7)
(30, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
219,ZAGM6412151ICF4PC4,NaN,NaN,NaN,2015-05-28,NaN,242.0,NaN
220,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0,28.24
221,COGJ5108018PI47QC1,NaN,NaN,NaN,2004-11-05,NaN,140.0,NaN
222,RORC5211012YV34CA1,NaN,NaN,NaN,2011-11-02,NaN,245.0,NaN
223,COGJ5108018PI47QC1,NaN,NaN,NaN,2020-02-19,NaN,NaN,44.00

In [161]:
df_ldl = uniq_lab(df,['cx_curp','ldl','fechas_procesadas2'],'ldl')

                 cx_curp    ldl fechas_procesadas2
1159  PEGO194405B3QH4QC1  75.6  2018-04-18
1391  AOCC511229UR4RIRC3  156.0 2018-04-04
1406  AOCC511229UR4RIRC3  110.0 2017-05-11
1418  AOCC511229UR4RIRC3  156.0 2018-04-04
1422  AOCC511229UR4RIRC3  110.0 2017-05-11
...                  ...    ...        ...
9160  JIDR510316QA5Z4PC3  83.0  2018-10-18
9163  JIDR510316QA5Z4PC3  91.0  2019-04-04
9166  JIDR510316QA5Z4PC3  91.0  2019-04-04
9175  JIDR510316QA5Z4PC3  91.0  2019-04-04
9180  JIDR510316QA5Z4PC3  91.0  2019-04-04

[78 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp    ldl fechas_procesadas2  lab
1159  PEGO194405B3QH4QC1  75.6  2018-04-18          ldl
1391  AOCC511229UR4RIRC3  156.0 2018-04-04          ldl
1406  AOCC511229UR4RIRC3  110.0 2017-05-11          ldl
1442  AOCC511229UR4RIRC3  150.0 2019-10-31          ldl
1477  AOCC511229UR4RIRC3  117.0 2015-11-01          ldl
1497  AOCC511229UR4RIRC3  171.0 2014-08-28          ldl
1540  AOCC511229UR4RIRC3  135.0 2020-04-14          ldl
4945  AADV5603014KS44QC1  33.0  2019-06-01          ldl
4970  AADV5603014KS44QC1  22.8  2017-12-11          ldl
4971  AADV5603014KS44QC1  134.0 2017-06-06          ldl
5114  AADV5603014KS44QC1  40.0  2019-12-02          ldl
5159  AADV5603014KS44QC1  88.0  2018-03-09          ldl
5180  AADV5603014KS44QC1  66.0  2018-07-01          ldl
6172  AAAZ581217189U5PC3  104.0 2018-09-01          ldl
6315  AAAZ581217189U5PC3  104.0 2018-10-02          ldl
7256  MACL740410NK1YGRC2  101.0 2020-08-12          ldl
7353  COGJ5108018PI47QC1  131.0 2020-02-19          ldl
7388  COGJ5108018PI47QC1  144.0 2015-07-01          ldl
7525  COGJ5108018PI47QC1  131.0 2019-09-01          ldl
7533  COGJ5108018PI47QC1  131.0 2019-03-20          ldl
8395  OOCG680408JBU4ERC2  129.0 2010-07-22          ldl
8662  GUSJ5712286XUN73A2  89.0  2014-11-12          ldl
8700  RORC5211012YV34CA1  120.0 2016-02-18          ldl
9052  JIDR510316QA5Z4PC3  91.0  2019-04-04          ldl
9085  JIDR510316QA5Z4PC3  83.0  2018-10-18          ldl

Valores repetidos

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

Valores únicos lab - fecha revisión

               cx_curp    ldl fechas_procesadas2  lab
0   PEGO194405B3QH4QC1  75.6  2018-04-18          ldl
1   AOCC511229UR4RIRC3  156.0 2018-04-04          ldl
2   AOCC511229UR4RIRC3  110.0 2017-05-11          ldl
3   AOCC511229UR4RIRC3  150.0 2019-10-31          ldl
4   AOCC511229UR4RIRC3  117.0 2015-11-01          ldl
5   AOCC511229UR4RIRC3  171.0 2014-08-28          ldl
6   AOCC511229UR4RIRC3  135.0 2020-04-14          ldl
7   AADV5603014KS44QC1  33.0  2019-06-01          ldl
8   AADV5603014KS44QC1  22.8  2017-12-11          ldl
9   AADV5603014KS44QC1  134.0 2017-06-06          ldl
10  AADV5603014KS44QC1  40.0  2019-12-02          ldl
11  AADV5603014KS44QC1  88.0  2018-03-09          ldl
12  AADV5603014KS44QC1  66.0  2018-07-01          ldl
13  AAAZ581217189U5PC3  104.0 2018-09-01          ldl
14  AAAZ581217189U5PC3  104.0 2018-10-02          ldl
15  MACL740410NK1YGRC2  101.0 2020-08-12          ldl
16  COGJ5108018PI47QC1  131.0 2020-02-19          ldl
17  COGJ5108018PI47QC1  144.0 2015-07-01          ldl
18  COGJ5108018PI47QC1  131.0 2019-09-01          ldl
19  COGJ5108018PI47QC1  131.0 2019-03-20          ldl
20  OOCG680408JBU4ERC2  129.0 2010-07-22          ldl
21  GUSJ5712286XUN73A2  89.0  2014-11-12          ldl
22  RORC5211012YV34CA1  120.0 2016-02-18          ldl
23  JIDR510316QA5Z4PC3  91.0  2019-04-04          ldl
24  JIDR510316QA5Z4PC3  83.0  2018-10-18          ldl

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [183]:
df_lab = unir_lab(df_lab,df_ldl)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,lab
0,PEGO194405B3QH4QC1,146,146.0,NaN,2018-04-18,195.0,272.0,NaN,75.6,ldl
1,AOCC511229UR4RIRC3,156,156.0,NaN,2018-04-04,235.0,153.0,48.00,156.0,ldl
2,AOCC511229UR4RIRC3,125,125.0,NaN,2017-05-11,201.0,198.0,51.00,110.0,ldl
3,AOCC511229UR4RIRC3,125,125.0,NaN,2019-10-31,NaN,158.0,46.00,150.0,ldl
4,AOCC511229UR4RIRC3,151,151.0,NaN,2015-11-01,193.0,141.0,47.00,117.0,ldl
5,AADV5603014KS44QC1,121,121.0,NaN,2019-06-01,113.0,296.0,20.00,33.0,ldl
6,AADV5603014KS44QC1,133,133.0,NaN,2017-12-11,242.0,NaN,20.40,22.8,ldl
7,AADV5603014KS44QC1,218,218.0,NaN,2018-07-01,123.0,223.0,21.00,66.0,ldl
8,AADV5603014KS44QC1,112,112.0,NaN,2019-12-02,NaN,NaN,21.00,40.0,ldl
9,AAAZ581217189U5PC3,46,46.0,NaN,2018-09-01,198.0,NaN,73.00,104.0,ldl
10,MACL740410NK1YGRC2,163,163.0,NaN,2020-08-12,182.0,138.0,53.00,101.0,ldl
11,COGJ5108018PI47QC1,147,147.0,NaN,2015-07-01,215.0,144.0,43.00,144.0,ldl
12,OOCG680408JBU4ERC2,169,169.0,NaN,2010-07-22,212.0,124.0,58.00,129.0,ldl
13,RORC5211012YV34CA1,397,397.0,NaN,2016-02-18,207.0,241.0,38.00,120.0,ldl
14,JIDR510316QA5Z4PC3,124,124.0,NaN,2019-04-04,158.0,87.0,49.00,91.0,ldl
15,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,155.0,73.0,56.00,83.0,ldl
16,AOCC511229UR4RIRC3,NaN,NaN,NaN,2014-08-28,235.0,122.0,NaN,171.0,ldl
17,AOCC511229UR4RIRC3,NaN,NaN,NaN,2020-04-14,235.0,217.0,NaN,135.0,ldl
18,AADV5603014KS44QC1,NaN,NaN,NaN,2018-03-09,143.0,NaN,22.30,88.0,ldl
19,AAAZ581217189U5PC3,NaN,NaN,NaN,2018-10-02,198.0,NaN,73.00,104.0,ldl
20,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-09-01,205.0,148.0,44.00,131.0,ldl
21,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0,120.0,44.00,131.0,ldl
22,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-11-12,166.0,178.0,40.00,89.0,ldl
23,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0,28.24,134.0,ldl
24,COGJ5108018PI47QC1,NaN,NaN,NaN,2020-02-19,NaN,NaN,44.00,131.0,ldl

Shapes dfs
(224, 8)
(25, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
219,ZAGM6412151ICF4PC4,NaN,NaN,NaN,2015-05-28,NaN,242.0,NaN,NaN
220,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0,28.24,134.0
221,COGJ5108018PI47QC1,NaN,NaN,NaN,2004-11-05,NaN,140.0,NaN,NaN
222,RORC5211012YV34CA1,NaN,NaN,NaN,2011-11-02,NaN,245.0,NaN,NaN
223,COGJ5108018PI47QC1,NaN,NaN,NaN,2020-02-19,NaN,NaN,44.00,131.0

In [162]:
df_presion = uniq_lab(df,['cx_curp','presion_arterial','sistolica','diastolica','fechas_procesadas2'],'presion_arterial')

,cx_curp,presion_arterial,sistolica,diastolica,fechas_procesadas2
183,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-05-01
225,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
312,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
361,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
394,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
433,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
501,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
524,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
561,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
580,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-05-01
612,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
701,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
715,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19
734,GOML440127J80Z9PC2,125/80,125.0,80.0,2015-02-13
774,GOML440127J80Z9PC2,110/70,110.0,70.0,2016-01-15
807,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-04-14
814,GOML440127J80Z9PC2,110/70,110.0,70.0,2015-12-16
837,GOML440127J80Z9PC2,120/60,120.0,60.0,2014-12-01
887,GOML440127J80Z9PC2,120/70,120.0,70.0,2014-12-01
892,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-06-12
899,GOML440127J80Z9PC2,120/70,120.0,70.0,2014-12-01
909,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-06-12
912,GOML440127J80Z9PC2,110/70,110.0,70.0,2014-12-01
930,GOML440127J80Z9PC2,110/70,110.0,70.0,2016-03-16
969,GOML440127J80Z9PC2,125/80,125.0,80.0,2011-03-13
1929,BOLM631201LV35XPC1,125/75,125.0,75.0,2018-08-01
1977,BOLM631201LV35XPC1,135/85,135.0,85.0,2018-08-01
2015,BOLM631201LV35XPC1,135/75,135.0,75.0,2018-08-01
2029,BOLM631201LV35XPC1,125/75,125.0,75.0,2018-08-01
2037,BOLM631201LV35XPC1,120/80,120.0,80.0,2018-06-01
2049,BOLM631201LV35XPC1,130/80,130.0,80.0,2020-01-01
2061,BOLM631201LV35XPC1,125/75,125.0,75.0,2018-08-01
2082,BOLM631201LV35XPC1,140/80,140.0,80.0,2020-01-01
2096,BOLM631201LV35XPC1,140/80,140.0,80.0,2020-01-01
2113,BOLM631201LV35XPC1,125/75,125.0,75.0,2018-08-01
2638,OIMS600706LWUN8PC2,130/70,130.0,70.0,2016-06-15
2689,PIRE6806019N4I6PC1,110/60,110.0,60.0,2016-10-26
2716,PIRE6806019N4I6PC1,110/60,110.0,60.0,2016-10-10
2790,PIRE6806019N4I6PC1,130/70,130.0,70.0,2016-10-07
2794,PIRE6806019N4I6PC1,120/70,120.0,70.0,2014-01-02
2858,PIRE6806019N4I6PC1,120/80,120.0,80.0,2013-12-28
2960,GOGC330501FATDSCA2,130/80,130.0,80.0,2011-07-01
5949,ZACF481001A5LI4QC1,120/80,120.0,80.0,2010-08-02
5992,ZACF481001A5LI4QC1,140/80,140.0,80.0,2012-06-02

Valores únicos lab - fecha

,cx_curp,presion_arterial,sistolica,diastolica,fechas_procesadas2,lab
183,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-05-01,presion_arterial
225,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19,presion_arterial
734,GOML440127J80Z9PC2,125/80,125.0,80.0,2015-02-13,presion_arterial
774,GOML440127J80Z9PC2,110/70,110.0,70.0,2016-01-15,presion_arterial
807,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-04-14,presion_arterial
814,GOML440127J80Z9PC2,110/70,110.0,70.0,2015-12-16,presion_arterial
837,GOML440127J80Z9PC2,120/60,120.0,60.0,2014-12-01,presion_arterial
887,GOML440127J80Z9PC2,120/70,120.0,70.0,2014-12-01,presion_arterial
892,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-06-12,presion_arterial
912,GOML440127J80Z9PC2,110/70,110.0,70.0,2014-12-01,presion_arterial
930,GOML440127J80Z9PC2,110/70,110.0,70.0,2016-03-16,presion_arterial
969,GOML440127J80Z9PC2,125/80,125.0,80.0,2011-03-13,presion_arterial
1929,BOLM631201LV35XPC1,125/75,125.0,75.0,2018-08-01,presion_arterial
1977,BOLM631201LV35XPC1,135/85,135.0,85.0,2018-08-01,presion_arterial
2015,BOLM631201LV35XPC1,135/75,135.0,75.0,2018-08-01,presion_arterial
2037,BOLM631201LV35XPC1,120/80,120.0,80.0,2018-06-01,presion_arterial
2049,BOLM631201LV35XPC1,130/80,130.0,80.0,2020-01-01,presion_arterial
2082,BOLM631201LV35XPC1,140/80,140.0,80.0,2020-01-01,presion_arterial
2638,OIMS600706LWUN8PC2,130/70,130.0,70.0,2016-06-15,presion_arterial
2689,PIRE6806019N4I6PC1,110/60,110.0,60.0,2016-10-26,presion_arterial
2716,PIRE6806019N4I6PC1,110/60,110.0,60.0,2016-10-10,presion_arterial
2790,PIRE6806019N4I6PC1,130/70,130.0,70.0,2016-10-07,presion_arterial
2794,PIRE6806019N4I6PC1,120/70,120.0,70.0,2014-01-02,presion_arterial
2858,PIRE6806019N4I6PC1,120/80,120.0,80.0,2013-12-28,presion_arterial
2960,GOGC330501FATDSCA2,130/80,130.0,80.0,2011-07-01,presion_arterial
5949,ZACF481001A5LI4QC1,120/80,120.0,80.0,2010-08-02,presion_arterial
5992,ZACF481001A5LI4QC1,140/80,140.0,80.0,2012-06-02,presion_arterial

Valores repetidos

              cx_curp fechas_procesadas2  count      prop
7  GOML440127J80Z9PC2 2014-12-01          3      0.111111
1  BOLM631201LV35XPC1 2018-08-01          3      0.111111
2  BOLM631201LV35XPC1 2020-01-01          2      0.074074

Valores únicos lab - fecha revisión

,cx_curp,presion_arterial,sistolica,diastolica,fechas_procesadas2,lab
0,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-05-01,presion_arterial
1,CAAJ770616UNX3HRC2,130/80,130.0,80.0,2016-07-19,presion_arterial
2,GOML440127J80Z9PC2,125/80,125.0,80.0,2015-02-13,presion_arterial
3,GOML440127J80Z9PC2,110/70,110.0,70.0,2016-01-15,presion_arterial
4,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-04-14,presion_arterial
5,GOML440127J80Z9PC2,110/70,110.0,70.0,2015-12-16,presion_arterial
8,GOML440127J80Z9PC2,120/70,120.0,70.0,2015-06-12,presion_arterial
10,GOML440127J80Z9PC2,110/70,110.0,70.0,2016-03-16,presion_arterial
11,GOML440127J80Z9PC2,125/80,125.0,80.0,2011-03-13,presion_arterial
15,BOLM631201LV35XPC1,120/80,120.0,80.0,2018-06-01,presion_arterial
18,OIMS600706LWUN8PC2,130/70,130.0,70.0,2016-06-15,presion_arterial
19,PIRE6806019N4I6PC1,110/60,110.0,60.0,2016-10-26,presion_arterial
20,PIRE6806019N4I6PC1,110/60,110.0,60.0,2016-10-10,presion_arterial
21,PIRE6806019N4I6PC1,130/70,130.0,70.0,2016-10-07,presion_arterial
22,PIRE6806019N4I6PC1,120/70,120.0,70.0,2014-01-02,presion_arterial
23,PIRE6806019N4I6PC1,120/80,120.0,80.0,2013-12-28,presion_arterial
24,GOGC330501FATDSCA2,130/80,130.0,80.0,2011-07-01,presion_arterial
25,ZACF481001A5LI4QC1,120/80,120.0,80.0,2010-08-02,presion_arterial
26,ZACF481001A5LI4QC1,140/80,140.0,80.0,2012-06-02,presion_arterial

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [184]:
df_lab = unir_lab(df_lab,df_presion)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,lab
0,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,presion_arterial
1,CAAJ770616UNX3HRC2,152,152.0,NaN,2016-07-19,NaN,NaN,NaN,NaN,130/80,130.0,80.0,presion_arterial
2,GOML440127J80Z9PC2,135,135.0,NaN,2015-02-13,NaN,NaN,NaN,NaN,125/80,125.0,80.0,presion_arterial
3,GOML440127J80Z9PC2,115,115.0,NaN,2011-03-13,NaN,NaN,NaN,NaN,125/80,125.0,80.0,presion_arterial
4,PIRE6806019N4I6PC1,153,153.0,NaN,2014-01-02,NaN,NaN,NaN,NaN,120/70,120.0,70.0,presion_arterial
5,PIRE6806019N4I6PC1,153,153.0,NaN,2013-12-28,NaN,NaN,NaN,NaN,120/80,120.0,80.0,presion_arterial
6,GOGC330501FATDSCA2,111,111.0,NaN,2011-07-01,351.0,153.0,NaN,NaN,130/80,130.0,80.0,presion_arterial

Shapes dfs
(224, 9)
(19, 6)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
231,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-10-26,NaN,NaN,NaN,NaN,110/60,110.0,60.0
232,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-10-10,NaN,NaN,NaN,NaN,110/60,110.0,60.0
233,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-10-07,NaN,NaN,NaN,NaN,130/70,130.0,70.0
234,ZACF481001A5LI4QC1,NaN,NaN,NaN,2010-08-02,NaN,NaN,NaN,NaN,120/80,120.0,80.0
235,ZACF481001A5LI4QC1,NaN,NaN,NaN,2012-06-02,NaN,NaN,NaN,NaN,140/80,140.0,80.0

In [163]:
df_hba1c = uniq_lab(df,['cx_curp','hba1c','fechas_procesadas2'],'hba1c')

                 cx_curp  hba1c fechas_procesadas2
137   CAAJ770616UNX3HRC2  11.8  2018-08-01
142   CAAJ770616UNX3HRC2  11.8  2018-08-01
148   CAAJ770616UNX3HRC2  11.0  2019-11-01
154   CAAJ770616UNX3HRC2  11.8  2018-08-01
160   CAAJ770616UNX3HRC2  11.8  2018-08-01
...                  ...   ...         ...
9160  JIDR510316QA5Z4PC3  6.3   2018-10-18
9163  JIDR510316QA5Z4PC3  6.6   2019-04-04
9166  JIDR510316QA5Z4PC3  6.6   2019-04-04
9175  JIDR510316QA5Z4PC3  6.6   2019-04-04
9180  JIDR510316QA5Z4PC3  6.6   2019-04-04

[93 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp  hba1c fechas_procesadas2    lab
137   CAAJ770616UNX3HRC2  11.8  2018-08-01          hba1c
148   CAAJ770616UNX3HRC2  11.0  2019-11-01          hba1c
172   CAAJ770616UNX3HRC2  12.0  2019-05-01          hba1c
183   CAAJ770616UNX3HRC2  7.0   2016-05-01          hba1c
212   CAAJ770616UNX3HRC2  12.0  2019-03-25          hba1c
225   CAAJ770616UNX3HRC2  7.0   2016-07-19          hba1c
248   CAAJ770616UNX3HRC2  10.0  2020-01-01          hba1c
253   CAAJ770616UNX3HRC2  12.0  2014-10-20          hba1c
265   CAAJ770616UNX3HRC2  9.5   2016-01-24          hba1c
409   CAAJ770616UNX3HRC2  11.0  2016-01-24          hba1c
653   CAAJ770616UNX3HRC2  9.5   2011-02-15          hba1c
1149  PEGO194405B3QH4QC1  6.8   2019-10-17          hba1c
1441  AOCC511229UR4RIRC3  8.3   2019-09-26          hba1c
1944  BOLM631201LV35XPC1  9.4   2018-08-01          hba1c
2248  COPI690401V91QCRC2  5.7   2016-01-02          hba1c
2491  OIMS600706LWUN8PC2  7.7   2016-06-15          hba1c
2495  OIMS600706LWUN8PC2  10.8  2020-09-01          hba1c
2582  OIMS600706LWUN8PC2  10.8  2020-07-10          hba1c
2661  OIMS600706LWUN8PC2  8.3   2020-11-12          hba1c
3507  SOLG360601I3NUBIA1  8.2   2011-07-08          hba1c
5123  AADV5603014KS44QC1  7.5   2019-12-02          hba1c
5159  AADV5603014KS44QC1  8.7   2018-03-09          hba1c
7256  MACL740410NK1YGRC2  9.7   2020-08-12          hba1c
7287  MACL740410NK1YGRC2  9.4   2020-05-01          hba1c
7353  COGJ5108018PI47QC1  7.9   2020-02-19          hba1c
7433  COGJ5108018PI47QC1  7.4   2020-02-19          hba1c
7525  COGJ5108018PI47QC1  7.9   2019-09-01          hba1c
7533  COGJ5108018PI47QC1  10.0  2019-03-20          hba1c
9045  JIDR510316QA5Z4PC3  6.7   2018-04-18          hba1c
9052  JIDR510316QA5Z4PC3  6.6   2019-04-04          hba1c
9085  JIDR510316QA5Z4PC3  6.3   2018-10-18          hba1c

Valores repetidos

               cx_curp fechas_procesadas2  count      prop
6   CAAJ770616UNX3HRC2 2016-01-24          2      0.064516
16  COGJ5108018PI47QC1 2020-02-19          2      0.064516

Valores únicos lab - fecha revisión

               cx_curp  hba1c fechas_procesadas2    lab
0   CAAJ770616UNX3HRC2  11.8  2018-08-01          hba1c
1   CAAJ770616UNX3HRC2  11.0  2019-11-01          hba1c
2   CAAJ770616UNX3HRC2  12.0  2019-05-01          hba1c
3   CAAJ770616UNX3HRC2  7.0   2016-05-01          hba1c
4   CAAJ770616UNX3HRC2  12.0  2019-03-25          hba1c
5   CAAJ770616UNX3HRC2  7.0   2016-07-19          hba1c
6   CAAJ770616UNX3HRC2  10.0  2020-01-01          hba1c
7   CAAJ770616UNX3HRC2  12.0  2014-10-20          hba1c
10  CAAJ770616UNX3HRC2  9.5   2011-02-15          hba1c
11  PEGO194405B3QH4QC1  6.8   2019-10-17          hba1c
12  AOCC511229UR4RIRC3  8.3   2019-09-26          hba1c
13  BOLM631201LV35XPC1  9.4   2018-08-01          hba1c
14  COPI690401V91QCRC2  5.7   2016-01-02          hba1c
15  OIMS600706LWUN8PC2  7.7   2016-06-15          hba1c
16  OIMS600706LWUN8PC2  10.8  2020-09-01          hba1c
17  OIMS600706LWUN8PC2  10.8  2020-07-10          hba1c
18  OIMS600706LWUN8PC2  8.3   2020-11-12          hba1c
19  SOLG360601I3NUBIA1  8.2   2011-07-08          hba1c
20  AADV5603014KS44QC1  7.5   2019-12-02          hba1c
21  AADV5603014KS44QC1  8.7   2018-03-09          hba1c
22  MACL740410NK1YGRC2  9.7   2020-08-12          hba1c
23  MACL740410NK1YGRC2  9.4   2020-05-01          hba1c
26  COGJ5108018PI47QC1  7.9   2019-09-01          hba1c
27  COGJ5108018PI47QC1  10.0  2019-03-20          hba1c
28  JIDR510316QA5Z4PC3  6.7   2018-04-18          hba1c
29  JIDR510316QA5Z4PC3  6.6   2019-04-04          hba1c
30  JIDR510316QA5Z4PC3  6.3   2018-10-18          hba1c

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [185]:
df_lab = unir_lab(df_lab,df_hba1c)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,lab
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,hba1c
1,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,hba1c
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,hba1c
3,CAAJ770616UNX3HRC2,152,152.0,NaN,2016-07-19,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,hba1c
4,CAAJ770616UNX3HRC2,178,178.0,NaN,2011-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5,hba1c
5,PEGO194405B3QH4QC1,111,111.0,NaN,2019-10-17,204.0,215.0,48.0,NaN,NaN,NaN,NaN,6.8,hba1c
6,AOCC511229UR4RIRC3,184,184.0,NaN,2019-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3,hba1c
7,BOLM631201LV35XPC1,98,98.0,NaN,2018-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,hba1c
8,COPI690401V91QCRC2,115,115.0,NaN,2016-01-02,171.0,137.0,NaN,NaN,NaN,NaN,NaN,5.7,hba1c
9,OIMS600706LWUN8PC2,125,125.0,NaN,2020-09-01,168.0,237.0,NaN,NaN,NaN,NaN,NaN,10.8,hba1c
10,OIMS600706LWUN8PC2,235,235.0,NaN,2020-07-10,168.0,237.0,NaN,NaN,NaN,NaN,NaN,10.8,hba1c
11,OIMS600706LWUN8PC2,174,174.0,NaN,2020-11-12,132.0,178.0,NaN,NaN,NaN,NaN,NaN,8.3,hba1c
12,SOLG360601I3NUBIA1,161,161.0,NaN,2011-07-08,172.0,104.0,NaN,NaN,NaN,NaN,NaN,8.2,hba1c
13,AADV5603014KS44QC1,112,112.0,NaN,2019-12-02,NaN,NaN,21.0,40.0,NaN,NaN,NaN,7.5,hba1c
14,MACL740410NK1YGRC2,163,163.0,NaN,2020-08-12,182.0,138.0,53.0,101.0,NaN,NaN,NaN,9.7,hba1c
15,MACL740410NK1YGRC2,142,142.0,NaN,2020-05-01,154.0,128.0,NaN,NaN,NaN,NaN,NaN,9.4,hba1c
16,JIDR510316QA5Z4PC3,123,123.0,NaN,2018-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7,hba1c
17,JIDR510316QA5Z4PC3,124,124.0,NaN,2019-04-04,158.0,87.0,49.0,91.0,NaN,NaN,NaN,6.6,hba1c
18,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,155.0,73.0,56.0,83.0,NaN,NaN,NaN,6.3,hba1c
19,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2018-08-01,191.0,625.0,NaN,NaN,NaN,NaN,NaN,11.8,hba1c
20,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2019-11-01,163.0,295.0,NaN,NaN,NaN,NaN,NaN,11.0,hba1c
21,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2020-01-01,163.0,295.0,NaN,NaN,NaN,NaN,NaN,10.0,hba1c
22,AADV5603014KS44QC1,NaN,NaN,NaN,2018-03-09,143.0,NaN,22.3,88.0,NaN,NaN,NaN,8.7,hba1c
23,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-09-01,205.0,148.0,44.0,131.0,NaN,NaN,NaN,7.9,hba1c
24,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0,120.0,44.0,131.0,NaN,NaN,NaN,10.0,hba1c
25,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2014-10-20,NaN,189.0,NaN,NaN,NaN,NaN,NaN,12.0,hba1c
26,OIMS600706LWUN8PC2,NaN,NaN,NaN,2016-06-15,NaN,NaN,NaN,NaN,130/70,130.0,70.0,7.7,hba1c

Shapes dfs
(236, 12)
(27, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-10-26,NaN,NaN,NaN,NaN,110/60,110.0,60.0,NaN
232,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-10-10,NaN,NaN,NaN,NaN,110/60,110.0,60.0,NaN
233,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-10-07,NaN,NaN,NaN,NaN,130/70,130.0,70.0,NaN
234,ZACF481001A5LI4QC1,NaN,NaN,NaN,2010-08-02,NaN,NaN,NaN,NaN,120/80,120.0,80.0,NaN
235,ZACF481001A5LI4QC1,NaN,NaN,NaN,2012-06-02,NaN,NaN,NaN,NaN,140/80,140.0,80.0,NaN

In [164]:
df_plaquetas = uniq_lab(df,['cx_curp','plaquetas','fechas_procesadas2'],'plaquetas')

                 cx_curp  plaquetas fechas_procesadas2
129   CAAJ770616UNX3HRC2  360.0     2015-08-06
137   CAAJ770616UNX3HRC2  439.0     2018-08-01
142   CAAJ770616UNX3HRC2  439.0     2018-08-01
148   CAAJ770616UNX3HRC2  362.0     2019-11-01
154   CAAJ770616UNX3HRC2  439.0     2018-08-01
...                  ...    ...            ...
9160  JIDR510316QA5Z4PC3  241000.0  2018-10-18
9163  JIDR510316QA5Z4PC3  228000.0  2019-04-04
9166  JIDR510316QA5Z4PC3  228000.0  2019-04-04
9175  JIDR510316QA5Z4PC3  228000.0  2019-04-04
9180  JIDR510316QA5Z4PC3  228000.0  2019-04-04

[222 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp  plaquetas fechas_procesadas2        lab
129   CAAJ770616UNX3HRC2  360.0     2015-08-06          plaquetas
137   CAAJ770616UNX3HRC2  439.0     2018-08-01          plaquetas
148   CAAJ770616UNX3HRC2  362.0     2019-11-01          plaquetas
172   CAAJ770616UNX3HRC2  362.0     2019-05-01          plaquetas
212   CAAJ770616UNX3HRC2  362.0     2019-03-25          plaquetas
...                  ...    ...            ...                ...
8574  GUSJ5712286XUN73A2  198.0     2016-09-26          plaquetas
8722  ROCA5508101VD78DB4  355.0     2018-06-13          plaquetas
9052  JIDR510316QA5Z4PC3  228000.0  2019-04-04          plaquetas
9071  JIDR510316QA5Z4PC3  248.0     2015-01-28          plaquetas
9085  JIDR510316QA5Z4PC3  241000.0  2018-10-18          plaquetas

[80 rows x 4 columns]

Valores repetidos

               cx_curp fechas_procesadas2  count   prop
30  COGJ5108018PI47QC1 2020-02-19          2      0.025
16  CAAJ770616UNX3HRC2 2015-08-06          2      0.025
12  BOLM631201LV35XPC1 2018-08-01          2      0.025

Valores únicos lab - fecha revisión

               cx_curp  plaquetas fechas_procesadas2        lab
1   CAAJ770616UNX3HRC2  439.0     2018-08-01          plaquetas
2   CAAJ770616UNX3HRC2  362.0     2019-11-01          plaquetas
3   CAAJ770616UNX3HRC2  362.0     2019-05-01          plaquetas
4   CAAJ770616UNX3HRC2  362.0     2019-03-25          plaquetas
5   CAAJ770616UNX3HRC2  475000.0  2016-07-19          plaquetas
..                 ...       ...         ...                ...
75  GUSJ5712286XUN73A2  198.0     2016-09-26          plaquetas
76  ROCA5508101VD78DB4  355.0     2018-06-13          plaquetas
77  JIDR510316QA5Z4PC3  228000.0  2019-04-04          plaquetas
78  JIDR510316QA5Z4PC3  248.0     2015-01-28          plaquetas
79  JIDR510316QA5Z4PC3  241000.0  2018-10-18          plaquetas

[74 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [186]:
df_lab = unir_lab(df_lab,df_plaquetas)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,lab
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,plaquetas
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,plaquetas
2,CAAJ770616UNX3HRC2,152,152.0,NaN,2016-07-19,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,475000.0,plaquetas
3,CAAJ770616UNX3HRC2,344,344.0,NaN,2015-05-06,244.0,604.0,NaN,NaN,NaN,NaN,NaN,NaN,364000.0,plaquetas
4,CAAJ770616UNX3HRC2,163,163.0,NaN,2012-07-02,NaN,347.0,NaN,NaN,NaN,NaN,NaN,NaN,394.0,plaquetas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,CALT491222GG7DGRC3,NaN,NaN,NaN,2015-11-10,188.0,125.0,NaN,NaN,NaN,NaN,NaN,NaN,257.0,plaquetas
63,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-09-01,205.0,148.0,44.00,131.0,NaN,NaN,NaN,7.9,331.0,plaquetas
64,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0,120.0,44.00,131.0,NaN,NaN,NaN,10.0,308.0,plaquetas
65,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,174.0,394.0,NaN,NaN,NaN,NaN,NaN,NaN,355.0,plaquetas
66,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0,28.24,134.0,NaN,NaN,NaN,NaN,286.0,plaquetas

Shapes dfs
(236, 13)
(74, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,ZAGM6412151ICF4PC4,NaN,NaN,NaN,2015-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179.0
239,SAJB6406296LNT8PC4,NaN,NaN,NaN,2019-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262000.0
240,CALT491222GG7DGRC3,NaN,NaN,NaN,2017-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249.0
241,DIRL630201M8ADARC1,NaN,NaN,NaN,2020-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.0
242,DIRL630201M8ADARC1,NaN,NaN,NaN,2019-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.0

In [165]:
df_creatinina = uniq_lab(df,['cx_curp','creatinina','fechas_procesadas2'],'creatinina')

                 cx_curp  creatinina fechas_procesadas2
129   CAAJ770616UNX3HRC2  1.0        2015-08-06
137   CAAJ770616UNX3HRC2  1.4        2018-08-01
142   CAAJ770616UNX3HRC2  1.4        2018-08-01
148   CAAJ770616UNX3HRC2  2.1        2019-11-01
154   CAAJ770616UNX3HRC2  1.4        2018-08-01
...                  ...  ...               ...
9160  JIDR510316QA5Z4PC3  1.1        2018-10-18
9163  JIDR510316QA5Z4PC3  1.0        2019-04-04
9166  JIDR510316QA5Z4PC3  1.0        2019-04-04
9175  JIDR510316QA5Z4PC3  1.0        2019-04-04
9180  JIDR510316QA5Z4PC3  1.0        2019-04-04

[429 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp  creatinina fechas_procesadas2         lab
129   CAAJ770616UNX3HRC2  1.0        2015-08-06          creatinina
137   CAAJ770616UNX3HRC2  1.4        2018-08-01          creatinina
148   CAAJ770616UNX3HRC2  2.1        2019-11-01          creatinina
166   CAAJ770616UNX3HRC2  1.0        2013-12-01          creatinina
172   CAAJ770616UNX3HRC2  14.0       2019-05-01          creatinina
...                  ...   ...              ...                 ...
8722  ROCA5508101VD78DB4  0.6        2018-06-13          creatinina
8737  ROCA5508101VD78DB4  0.6        2017-09-01          creatinina
9052  JIDR510316QA5Z4PC3  1.0        2019-04-04          creatinina
9085  JIDR510316QA5Z4PC3  1.1        2018-10-18          creatinina
9117  JIDR510316QA5Z4PC3  1.2        2015-06-23          creatinina

[148 rows x 4 columns]

Valores repetidos

               cx_curp fechas_procesadas2  count      prop
33  CAAJ770616UNX3HRC2 2016-01-24          2      0.013514
49  COGJ5108018PI47QC1 2020-02-19          2      0.013514
26  BOLM631201LV35XPC1 2018-08-01          2      0.013514

Valores únicos lab - fecha revisión

                cx_curp  creatinina fechas_procesadas2         lab
0    CAAJ770616UNX3HRC2  1.0        2015-08-06          creatinina
1    CAAJ770616UNX3HRC2  1.4        2018-08-01          creatinina
2    CAAJ770616UNX3HRC2  2.1        2019-11-01          creatinina
3    CAAJ770616UNX3HRC2  1.0        2013-12-01          creatinina
4    CAAJ770616UNX3HRC2  14.0       2019-05-01          creatinina
..                  ...   ...              ...                 ...
143  ROCA5508101VD78DB4  0.6        2018-06-13          creatinina
144  ROCA5508101VD78DB4  0.6        2017-09-01          creatinina
145  JIDR510316QA5Z4PC3  1.0        2019-04-04          creatinina
146  JIDR510316QA5Z4PC3  1.1        2018-10-18          creatinina
147  JIDR510316QA5Z4PC3  1.2        2015-06-23          creatinina

[142 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [187]:
df_lab = unir_lab(df_lab,df_creatinina)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,lab
0,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,creatinina
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,creatinina
2,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7,creatinina
3,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,creatinina
4,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,creatinina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,AADV5603014KS44QC1,NaN,NaN,NaN,2017-06-06,NaN,185.0,28.24,134.0,NaN,NaN,NaN,NaN,286.0,0.8,creatinina
125,OIMS600706LWUN8PC2,NaN,NaN,NaN,2016-06-15,NaN,NaN,NaN,NaN,130/70,130.0,70.0,7.7,NaN,0.6,creatinina
126,CALT491222GG7DGRC3,NaN,NaN,NaN,2017-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249.0,0.7,creatinina
127,DIRL630201M8ADARC1,NaN,NaN,NaN,2020-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.0,0.6,creatinina
128,DIRL630201M8ADARC1,NaN,NaN,NaN,2019-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.0,0.6,creatinina

Shapes dfs
(243, 14)
(142, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,SAJB6406296LNT8PC4,NaN,NaN,NaN,2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6
252,COAG580101F7ALKRC3,NaN,NaN,NaN,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8
253,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9
254,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1
255,RORC5211012YV34CA1,NaN,NaN,NaN,2016-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8

In [166]:
df_acido_u = uniq_lab(df,['cx_curp','acido_urico','fechas_procesadas2'],'acido_urico')

                 cx_curp  acido_urico fechas_procesadas2
148   CAAJ770616UNX3HRC2  3.9         2019-11-01
172   CAAJ770616UNX3HRC2  3.9         2019-05-01
176   CAAJ770616UNX3HRC2  3.9         2019-05-01
212   CAAJ770616UNX3HRC2  3.9         2019-03-25
225   CAAJ770616UNX3HRC2  4.8         2016-07-19
...                  ...  ...                ...
9160  JIDR510316QA5Z4PC3  7.4         2018-10-18
9163  JIDR510316QA5Z4PC3  6.5         2019-04-04
9166  JIDR510316QA5Z4PC3  6.5         2019-04-04
9175  JIDR510316QA5Z4PC3  6.5         2019-04-04
9180  JIDR510316QA5Z4PC3  6.5         2019-04-04

[222 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp  acido_urico fechas_procesadas2          lab
148   CAAJ770616UNX3HRC2  3.9         2019-11-01          acido_urico
172   CAAJ770616UNX3HRC2  3.9         2019-05-01          acido_urico
212   CAAJ770616UNX3HRC2  3.9         2019-03-25          acido_urico
225   CAAJ770616UNX3HRC2  4.8         2016-07-19          acido_urico
248   CAAJ770616UNX3HRC2  3.9         2020-01-01          acido_urico
...                  ...  ...                ...                  ...
8719  ROCA5508101VD78DB4  5.6         2017-02-24          acido_urico
8737  ROCA5508101VD78DB4  7.2         2017-09-01          acido_urico
9052  JIDR510316QA5Z4PC3  6.5         2019-04-04          acido_urico
9071  JIDR510316QA5Z4PC3  7.0         2015-01-28          acido_urico
9085  JIDR510316QA5Z4PC3  7.4         2018-10-18          acido_urico

[87 rows x 4 columns]

Valores repetidos

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

Valores únicos lab - fecha revisión

               cx_curp  acido_urico fechas_procesadas2          lab
0   CAAJ770616UNX3HRC2  3.9         2019-11-01          acido_urico
1   CAAJ770616UNX3HRC2  3.9         2019-05-01          acido_urico
2   CAAJ770616UNX3HRC2  3.9         2019-03-25          acido_urico
3   CAAJ770616UNX3HRC2  4.8         2016-07-19          acido_urico
4   CAAJ770616UNX3HRC2  3.9         2020-01-01          acido_urico
..                 ...  ...                ...                  ...
82  ROCA5508101VD78DB4  5.6         2017-02-24          acido_urico
83  ROCA5508101VD78DB4  7.2         2017-09-01          acido_urico
84  JIDR510316QA5Z4PC3  6.5         2019-04-04          acido_urico
85  JIDR510316QA5Z4PC3  7.0         2015-01-28          acido_urico
86  JIDR510316QA5Z4PC3  7.4         2018-10-18          acido_urico

[87 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [188]:
df_lab = unir_lab(df_lab,df_acido_u)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,lab
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9,acido_urico
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9,acido_urico
2,CAAJ770616UNX3HRC2,152,152.0,NaN,2016-07-19,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,475000.0,1.4,4.8,acido_urico
3,CAAJ770616UNX3HRC2,344,344.0,NaN,2015-05-06,244.0,604.0,NaN,NaN,NaN,NaN,NaN,NaN,364000.0,1.3,8.1,acido_urico
4,PEGO194405B3QH4QC1,111,111.0,NaN,2019-10-17,204.0,215.0,48.0,NaN,NaN,NaN,NaN,6.8,270.0,0.7,5.6,acido_urico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-06-04,NaN,242.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,7.5,acido_urico
82,COGJ5108018PI47QC1,NaN,NaN,NaN,2020-02-19,NaN,NaN,44.0,131.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,acido_urico
83,ZEPL5503219FZQ6QC2,NaN,NaN,NaN,2011-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.9,acido_urico
84,OIMS600706LWUN8PC2,NaN,NaN,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,7.7,acido_urico
85,SOLG360601I3NUBIA1,NaN,NaN,NaN,2013-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,8.1,acido_urico

Shapes dfs
(256, 15)
(87, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,COAG580101F7ALKRC3,NaN,NaN,NaN,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN
253,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,NaN
254,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN
255,RORC5211012YV34CA1,NaN,NaN,NaN,2016-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN
256,COPI690401V91QCRC2,NaN,NaN,NaN,2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3

In [167]:
df_urea = uniq_lab(df,['cx_curp','urea','fechas_procesadas2'],'urea')

                 cx_curp  urea fechas_procesadas2
129   CAAJ770616UNX3HRC2  55.0 2015-08-06
137   CAAJ770616UNX3HRC2  86.0 2018-08-01
142   CAAJ770616UNX3HRC2  86.0 2018-08-01
148   CAAJ770616UNX3HRC2  89.0 2019-11-01
154   CAAJ770616UNX3HRC2  86.0 2018-08-01
...                  ...   ...        ...
8745  ROCA5508101VD78DB4  30.1 2017-09-01
8757  ROCA5508101VD78DB4  27.3 2018-06-13
8774  ROCA5508101VD78DB4  30.1 2017-09-01
8788  ROCA5508101VD78DB4  30.1 2017-09-01
8821  ROCA5508101VD78DB4  30.1 2017-09-01

[167 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp    urea fechas_procesadas2   lab
129   CAAJ770616UNX3HRC2  55.00  2015-08-06          urea
137   CAAJ770616UNX3HRC2  86.00  2018-08-01          urea
148   CAAJ770616UNX3HRC2  89.00  2019-11-01          urea
172   CAAJ770616UNX3HRC2  98.00  2019-05-01          urea
183   CAAJ770616UNX3HRC2  126.00 2016-05-01          urea
212   CAAJ770616UNX3HRC2  98.00  2019-03-25          urea
225   CAAJ770616UNX3HRC2  89.00  2016-07-19          urea
248   CAAJ770616UNX3HRC2  89.00  2020-01-01          urea
253   CAAJ770616UNX3HRC2  64.00  2014-10-20          urea
409   CAAJ770616UNX3HRC2  89.00  2016-01-24          urea
1149  PEGO194405B3QH4QC1  43.00  2019-10-17          urea
1159  PEGO194405B3QH4QC1  34.40  2018-04-18          urea
1262  PEGO194405B3QH4QC1  31.50  2018-08-10          urea
1442  AOCC511229UR4RIRC3  228.00 2019-10-31          urea
1941  BOLM631201LV35XPC1  19.00  2017-11-02          urea
1944  BOLM631201LV35XPC1  38.00  2018-08-01          urea
1987  BOLM631201LV35XPC1  30.00  2020-01-01          urea
2248  COPI690401V91QCRC2  34.70  2016-01-02          urea
2403  EAGG5405015QC44QC1  36.20  2019-11-11          urea
2687  PIRE6806019N4I6PC1  62.00  2016-06-04          urea
2741  PIRE6806019N4I6PC1  62.00  2016-04-06          urea
2794  PIRE6806019N4I6PC1  41.00  2014-01-02          urea
3123  GASG61090173W69PC1  35.40  2018-04-01          urea
3154  GASG61090173W69PC1  51.60  2021-12-31          urea
3179  SAPL460201_WS10QC2  31.50  2018-07-24          urea
3384  MOBJ380101BWUPXQC1  155.40 2018-07-24          urea
3392  MOBJ380101BWUPXQC1  112.00 2016-09-02          urea
3412  MOBJ380101BWUPXQC1  140.00 2018-08-20          urea
3507  SOLG360601I3NUBIA1  58.00  2011-07-08          urea
3546  SOLG360601I3NUBIA1  35.10  2012-09-12          urea
3553  SOLG360601I3NUBIA1  46.30  2013-08-01          urea
3593  SOLG360601I3NUBIA1  46.30  2016-02-25          urea
3608  SOLG360601I3NUBIA1  45.10  2013-07-25          urea
3679  SOLG360601I3NUBIA1  40.80  2012-02-15          urea
4347  ZAGM6412151ICF4PC4  32.00  2019-10-18          urea
4377  ZAGM6412151ICF4PC4  22.30  2014-05-26          urea
4456  ZAGM6412151ICF4PC4  41.29  2015-07-21          urea
4478  ZAGM6412151ICF4PC4  35.69  2014-05-12          urea
4871  VEVF4904172GTC8QC1  545.00 2016-09-01          urea
5594  PEVR470901ASKH1QC1  18.20  2015-06-11          urea
5672  SAJB6406296LNT8PC4  46.90  2021-02-23          urea
5696  SAJB6406296LNT8PC4  47.00  2021-03-20          urea
5737  SAJB6406296LNT8PC4  48.00  2021-06-28          urea
6172  AAAZ581217189U5PC3  72.78  2018-09-01          urea
6315  AAAZ581217189U5PC3  72.78  2018-10-02          urea
6726  CALT491222GG7DGRC3  34.00  2019-03-27          urea
6760  CALT491222GG7DGRC3  33.52  2015-11-10          urea
7698  PIPB6010280UNG7PC4  26.00  2020-08-02          urea
7888  DIRL630201M8ADARC1  19.00  2020-01-14          urea
7889  DIRL630201M8ADARC1  14.00  2020-10-30          urea
7902  DIRL630201M8ADARC1  14.00  2019-12-18          urea
8076  DIRL630201M8ADARC1  28.00  2019-06-10          urea
8574  GUSJ5712286XUN73A2  136.00 2016-09-26          urea
8584  GUSJ5712286XUN73A2  46.30  2017-05-12          urea
8722  ROCA5508101VD78DB4  27.30  2018-06-13          urea
8737  ROCA5508101VD78DB4  30.10  2017-09-01          urea

Valores repetidos

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

Valores únicos lab - fecha revisión

               cx_curp    urea fechas_procesadas2   lab
0   CAAJ770616UNX3HRC2  55.00  2015-08-06          urea
1   CAAJ770616UNX3HRC2  86.00  2018-08-01          urea
2   CAAJ770616UNX3HRC2  89.00  2019-11-01          urea
3   CAAJ770616UNX3HRC2  98.00  2019-05-01          urea
4   CAAJ770616UNX3HRC2  126.00 2016-05-01          urea
5   CAAJ770616UNX3HRC2  98.00  2019-03-25          urea
6   CAAJ770616UNX3HRC2  89.00  2016-07-19          urea
7   CAAJ770616UNX3HRC2  89.00  2020-01-01          urea
8   CAAJ770616UNX3HRC2  64.00  2014-10-20          urea
9   CAAJ770616UNX3HRC2  89.00  2016-01-24          urea
10  PEGO194405B3QH4QC1  43.00  2019-10-17          urea
11  PEGO194405B3QH4QC1  34.40  2018-04-18          urea
12  PEGO194405B3QH4QC1  31.50  2018-08-10          urea
13  AOCC511229UR4RIRC3  228.00 2019-10-31          urea
14  BOLM631201LV35XPC1  19.00  2017-11-02          urea
15  BOLM631201LV35XPC1  38.00  2018-08-01          urea
16  BOLM631201LV35XPC1  30.00  2020-01-01          urea
17  COPI690401V91QCRC2  34.70  2016-01-02          urea
18  EAGG5405015QC44QC1  36.20  2019-11-11          urea
19  PIRE6806019N4I6PC1  62.00  2016-06-04          urea
20  PIRE6806019N4I6PC1  62.00  2016-04-06          urea
21  PIRE6806019N4I6PC1  41.00  2014-01-02          urea
22  GASG61090173W69PC1  35.40  2018-04-01          urea
23  GASG61090173W69PC1  51.60  2021-12-31          urea
24  SAPL460201_WS10QC2  31.50  2018-07-24          urea
25  MOBJ380101BWUPXQC1  155.40 2018-07-24          urea
26  MOBJ380101BWUPXQC1  112.00 2016-09-02          urea
27  MOBJ380101BWUPXQC1  140.00 2018-08-20          urea
28  SOLG360601I3NUBIA1  58.00  2011-07-08          urea
29  SOLG360601I3NUBIA1  35.10  2012-09-12          urea
30  SOLG360601I3NUBIA1  46.30  2013-08-01          urea
31  SOLG360601I3NUBIA1  46.30  2016-02-25          urea
32  SOLG360601I3NUBIA1  45.10  2013-07-25          urea
33  SOLG360601I3NUBIA1  40.80  2012-02-15          urea
34  ZAGM6412151ICF4PC4  32.00  2019-10-18          urea
35  ZAGM6412151ICF4PC4  22.30  2014-05-26          urea
36  ZAGM6412151ICF4PC4  41.29  2015-07-21          urea
37  ZAGM6412151ICF4PC4  35.69  2014-05-12          urea
38  VEVF4904172GTC8QC1  545.00 2016-09-01          urea
39  PEVR470901ASKH1QC1  18.20  2015-06-11          urea
40  SAJB6406296LNT8PC4  46.90  2021-02-23          urea
41  SAJB6406296LNT8PC4  47.00  2021-03-20          urea
42  SAJB6406296LNT8PC4  48.00  2021-06-28          urea
43  AAAZ581217189U5PC3  72.78  2018-09-01          urea
44  AAAZ581217189U5PC3  72.78  2018-10-02          urea
45  CALT491222GG7DGRC3  34.00  2019-03-27          urea
46  CALT491222GG7DGRC3  33.52  2015-11-10          urea
47  PIPB6010280UNG7PC4  26.00  2020-08-02          urea
48  DIRL630201M8ADARC1  19.00  2020-01-14          urea
49  DIRL630201M8ADARC1  14.00  2020-10-30          urea
50  DIRL630201M8ADARC1  14.00  2019-12-18          urea
51  DIRL630201M8ADARC1  28.00  2019-06-10          urea
52  GUSJ5712286XUN73A2  136.00 2016-09-26          urea
53  GUSJ5712286XUN73A2  46.30  2017-05-12          urea
54  ROCA5508101VD78DB4  27.30  2018-06-13          urea
55  ROCA5508101VD78DB4  30.10  2017-09-01          urea

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [189]:
df_lab = unir_lab(df_lab,df_urea)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,lab
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.00,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.00,3.90,98.00,urea
1,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.70,NaN,126.00,urea
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.00,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.00,3.90,98.00,urea
3,CAAJ770616UNX3HRC2,152,152.0,NaN,2016-07-19,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,475000.0,1.40,4.80,89.00,urea
4,CAAJ770616UNX3HRC2,193,193.0,NaN,2015-08-06,163.00,386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,55.00,urea
5,PEGO194405B3QH4QC1,111,111.0,NaN,2019-10-17,204.00,215.0,48.0,NaN,NaN,NaN,NaN,6.8,270.0,0.70,5.60,43.00,urea
6,PEGO194405B3QH4QC1,146,146.0,NaN,2018-04-18,195.00,272.0,NaN,75.6,NaN,NaN,NaN,NaN,279.0,0.70,3.50,34.40,urea
7,PEGO194405B3QH4QC1,99,99.0,NaN,2018-08-10,199.00,200.0,47.0,NaN,NaN,NaN,NaN,NaN,291.0,0.70,5.30,31.50,urea
8,AOCC511229UR4RIRC3,125,125.0,NaN,2019-10-31,NaN,158.0,46.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.00,urea
9,BOLM631201LV35XPC1,98,98.0,NaN,2018-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,NaN,NaN,38.00,urea
10,BOLM631201LV35XPC1,265,265.0,NaN,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,0.50,NaN,30.00,urea
11,COPI690401V91QCRC2,115,115.0,NaN,2016-01-02,171.00,137.0,NaN,NaN,NaN,NaN,NaN,5.7,NaN,0.60,5.10,34.70,urea
12,EAGG5405015QC44QC1,161,161.0,NaN,2019-11-11,135.00,180.0,NaN,NaN,NaN,NaN,NaN,NaN,219.0,1.20,7.10,36.20,urea
13,PIRE6806019N4I6PC1,153,153.0,NaN,2014-01-02,NaN,NaN,NaN,NaN,120/70,120.0,70.0,NaN,NaN,1.00,5.10,41.00,urea
14,PIRE6806019N4I6PC1,145,145.0,NaN,2016-04-06,NaN,242.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.60,7.50,62.00,urea
15,GASG61090173W69PC1,312,312.0,NaN,2018-04-01,170.00,159.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.65,4.20,35.40,urea
16,GASG61090173W69PC1,176,176.0,NaN,2021-12-31,128.70,136.8,48.7,NaN,NaN,NaN,NaN,NaN,321.0,0.80,7.50,51.60,urea
17,SAPL460201_WS10QC2,218,218.0,NaN,2018-07-24,129.00,464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70,8.70,31.50,urea
18,MOBJ380101BWUPXQC1,149,149.0,NaN,2018-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.40,urea
19,MOBJ380101BWUPXQC1,178,178.0,NaN,2018-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.30,NaN,140.00,urea
20,SOLG360601I3NUBIA1,161,161.0,NaN,2011-07-08,172.00,104.0,NaN,NaN,NaN,NaN,NaN,8.2,173000.0,1.30,NaN,58.00,urea
21,SOLG360601I3NUBIA1,123,123.0,NaN,2012-09-12,NaN,114.0,NaN,NaN,NaN,NaN,NaN,NaN,226.0,0.90,8.00,35.10,urea
22,SOLG360601I3NUBIA1,151,151.0,NaN,2012-02-15,225.00,134.0,NaN,NaN,NaN,NaN,NaN,NaN,248.0,1.00,6.90,40.80,urea
23,ZAGM6412151ICF4PC4,475,475.0,NaN,2019-10-18,207.00,245.0,NaN,NaN,NaN,NaN,NaN,NaN,200.0,1.20,5.30,32.00,urea
24,ZAGM6412151ICF4PC4,211,211.0,NaN,2014-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,613.0,0.70,NaN,22.30,urea
25,ZAGM6412151ICF4PC4,266,266.0,NaN,2014-05-12,88.27,176.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.30,4.29,35.69,urea
26,VEVF4904172GTC8QC1,142,142.0,NaN,2016-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.70,NaN,545.00,urea
27,PEVR470901ASKH1QC1,114,114.0,NaN,2015-06-11,179.00,81.0,NaN,NaN,NaN,NaN,NaN,NaN,207.0,0.80,NaN,18.20,urea
28,SAJB6406296LNT8PC4,181.2,181.2,NaN,2021-02-23,208.80,108.3,NaN,NaN,NaN,NaN,NaN,NaN,317.0,0.89,4.40,46.90,urea
29,SAJB6406296LNT8PC4,174,174.0,NaN,2021-03-20,181.00,283.0,NaN,NaN,NaN,NaN,NaN,NaN,259000.0,1.10,9.10,47.00,urea
30,AAAZ581217189U5PC3,46,46.0,NaN,2018-09-01,198.00,NaN,73.0,104.0,NaN,NaN,NaN,NaN,305000.0,2.50,NaN,72.78,urea
31,CALT491222GG7DGRC3,194,194.0,NaN,2019-03-27,181.00,212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.80,6.60,34.00,urea
32,PIPB6010280UNG7PC4,122,122.0,NaN,2020-08-02,232.00,236.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70,6.60,26.00,urea
33,DIRL630201M8ADARC1,142,142.0,NaN,2020-01-14,176.00,82.0,NaN,NaN,NaN,NaN,NaN,NaN,250.0,0.50,2.70,19.00,urea
34,DIRL630201M8ADARC1,74,74.0,NaN,2019-06-10,141.00,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.90,4.30,28.00,urea
35,GUSJ5712286XUN73A2,98,98.0,NaN,2016-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,3.00,5.50,136.00,urea
36,GUSJ5712286XUN73A2,96,96.0,NaN,2017-05-12,NaN,158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.20,4.60,46.30,urea
37,ROCA5508101VD78DB4,155,155.0,NaN,2017-09-01,205.00,231.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60,7.20,30.10,urea
38,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2018-08-01,191.00,625.0,NaN,NaN,NaN,NaN,NaN,11.8,439.0,1.40,NaN,86.00,urea
39,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2019-11-01,163.00,295.0,NaN,NaN,NaN,NaN,NaN,11.0,362.0,2.10,3.90,89.00,urea
40,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2020-01-01,163.00,295.0,NaN,NaN,NaN,NaN,NaN,10.0,362.0,2.10,3.90,89.00,urea
41,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2016-01-24,163.00,295.0,NaN,NaN,NaN,NaN,NaN,NaN,362.0,NaN,3.90,89.00,urea
42,BOLM631201LV35XPC1,NaN,NaN,NaN,2017-11-02,250.00,337.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,4.40,19.00,urea
43,MOBJ380101BWUPXQC1,NaN,NaN,NaN,2016-09-02,187.00,95.0,NaN,NaN,NaN,NaN,NaN,NaN,122000.0,2.70,6.80,112.00,urea
44,SOLG360601I3NUBIA1,NaN,NaN,NaN,2013-08-01,119.00,63.0,NaN,NaN,NaN,NaN,NaN,NaN,175.0,NaN,6.60,46.30,urea
45,SOLG360601I3NUBIA1,NaN,NaN,NaN,2016-02-25,119.00,63.0,NaN,NaN,NaN,NaN,NaN,NaN,175.0,NaN,6.60,46.30,urea
46,SAJB6406296LNT8PC4,NaN,NaN,NaN,2021-06-28,126.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,296.0,0.90,4.90,48.00,urea
47,AAAZ581217189U5PC3,NaN,NaN,NaN,2018-10-02,198.00,NaN,73.0,104.0,NaN,NaN,NaN,NaN,305000.0,2.50,NaN,72.78,urea
48,CALT491222GG7DGRC3,NaN,NaN,NaN,2015-11-10,188.00,125.0,NaN,NaN,NaN,NaN,NaN,NaN,257.0,NaN,NaN,33.52,urea
49,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,174.00,394.0,NaN,NaN,NaN,NaN,NaN,NaN,355.0,0.60,NaN,27.30,urea
50,CAAJ770616UNX3HRC2,NaN,NaN,NaN,2014-10-20,NaN,189.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,1.10,NaN,64.00,urea
51,PIRE6806019N4I6PC1,NaN,NaN,NaN,2016-06-04,NaN,242.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.60,7.50,62.00,urea
52,ZAGM6412151ICF4PC4,NaN,NaN,NaN,2015-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179.0,NaN,NaN,41.29,urea
53,DIRL630201M8ADARC1,NaN,NaN,NaN,2020-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.0,0.60,NaN,14.00,urea
54,DIRL630201M8ADARC1,NaN,NaN,NaN,2019-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.0,0.60,NaN,14.00,urea
55,SOLG360601I3NUBIA1,NaN,NaN,NaN,2013-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.80,8.10,45.10,urea

Shapes dfs
(257, 16)
(56, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9,98.0
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7,NaN,126.0
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,COAG580101F7ALKRC3,NaN,NaN,NaN,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN
253,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,NaN,NaN
254,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,NaN
255,RORC5211012YV34CA1,NaN,NaN,NaN,2016-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN
256,COPI690401V91QCRC2,NaN,NaN,NaN,2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3,NaN

In [168]:
df_peso = uniq_lab(df,['cx_curp','peso','fechas_procesadas2'],'peso')

                 cx_curp  peso fechas_procesadas2
1970  BOLM631201LV35XPC1  77.5 2017-11-02
1983  BOLM631201LV35XPC1  77.5 2017-11-02
1991  BOLM631201LV35XPC1  77.5 2017-11-02
3209  SAPL460201_WS10QC2  56.4 2021-03-19
3315  SAPL460201_WS10QC2  56.0 2020-12-02

Valores únicos lab - fecha

                 cx_curp  peso fechas_procesadas2   lab
1970  BOLM631201LV35XPC1  77.5 2017-11-02          peso
3209  SAPL460201_WS10QC2  56.4 2021-03-19          peso
3315  SAPL460201_WS10QC2  56.0 2020-12-02          peso

Valores repetidos

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

Valores únicos lab - fecha revisión

              cx_curp  peso fechas_procesadas2   lab
0  BOLM631201LV35XPC1  77.5 2017-11-02          peso
1  SAPL460201_WS10QC2  56.4 2021-03-19          peso
2  SAPL460201_WS10QC2  56.0 2020-12-02          peso

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [190]:
df_lab = unir_lab(df_lab,df_peso)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso,lab
0,SAPL460201_WS10QC2,272,272.0,NaN,2021-03-19,NaN,246.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.54,NaN,NaN,56.4,peso
1,BOLM631201LV35XPC1,NaN,NaN,NaN,2017-11-02,250.0,337.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,4.4,19.0,77.5,peso
2,SAPL460201_WS10QC2,NaN,NaN,NaN,2020-12-02,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70,6.6,NaN,56.0,peso

Shapes dfs
(257, 17)
(3, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9,98.0,NaN
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7,NaN,126.0,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,COAG580101F7ALKRC3,NaN,NaN,NaN,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN
253,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,NaN,NaN,NaN
254,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN
255,RORC5211012YV34CA1,NaN,NaN,NaN,2016-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN
256,COPI690401V91QCRC2,NaN,NaN,NaN,2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3,NaN,NaN

In [170]:
df_altura = uniq_lab(df,['cx_curp','altura','fechas_procesadas2'],'altura')

                 cx_curp  altura fechas_procesadas2
3201  SAPL460201_WS10QC2  1.53   2020-11-02
3209  SAPL460201_WS10QC2  1.54   2021-03-19
3315  SAPL460201_WS10QC2  1.53   2020-12-02

Valores únicos lab - fecha

                 cx_curp  altura fechas_procesadas2     lab
3201  SAPL460201_WS10QC2  1.53   2020-11-02          altura
3209  SAPL460201_WS10QC2  1.54   2021-03-19          altura
3315  SAPL460201_WS10QC2  1.53   2020-12-02          altura

Valores repetidos

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

Valores únicos lab - fecha revisión

              cx_curp  altura fechas_procesadas2     lab
0  SAPL460201_WS10QC2  1.53   2020-11-02          altura
1  SAPL460201_WS10QC2  1.54   2021-03-19          altura
2  SAPL460201_WS10QC2  1.53   2020-12-02          altura

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [191]:
df_lab = unir_lab(df_lab,df_altura)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,lab
0,SAPL460201_WS10QC2,232,232.0,NaN,2020-11-02,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70,6.6,NaN,NaN,1.53,altura
1,SAPL460201_WS10QC2,272,272.0,NaN,2021-03-19,NaN,246.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.54,NaN,NaN,56.4,1.54,altura
2,SAPL460201_WS10QC2,NaN,NaN,NaN,2020-12-02,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70,6.6,NaN,56.0,1.53,altura

Shapes dfs
(257, 18)
(3, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9,98.0,NaN,NaN
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7,NaN,126.0,NaN,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,COAG580101F7ALKRC3,NaN,NaN,NaN,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN
253,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,NaN,NaN,NaN,NaN
254,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN
255,RORC5211012YV34CA1,NaN,NaN,NaN,2016-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN
256,COPI690401V91QCRC2,NaN,NaN,NaN,2016-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3,NaN,NaN,NaN

In [171]:
df_tfg = uniq_lab(df,['cx_curp','tfg','fechas_procesadas2'],'tfg')

                 cx_curp   tfg fechas_procesadas2
172   CAAJ770616UNX3HRC2  40.0 2019-05-01
176   CAAJ770616UNX3HRC2  40.0 2019-05-01
212   CAAJ770616UNX3HRC2  40.0 2019-03-25
419   CAAJ770616UNX3HRC2  40.0 2019-05-01
487   CAAJ770616UNX3HRC2  40.0 2019-03-25
...                  ...   ...        ...
8820  ROCA5508101VD78DB4  98.0 2017-02-24
9085  JIDR510316QA5Z4PC3  69.0 2018-10-18
9111  JIDR510316QA5Z4PC3  69.0 2018-10-18
9130  JIDR510316QA5Z4PC3  69.0 2018-10-18
9160  JIDR510316QA5Z4PC3  69.0 2018-10-18

[138 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp   tfg fechas_procesadas2  lab
172   CAAJ770616UNX3HRC2  40.0 2019-05-01          tfg
212   CAAJ770616UNX3HRC2  40.0 2019-03-25          tfg
1262  PEGO194405B3QH4QC1  85.4 2018-08-10          tfg
1440  AOCC511229UR4RIRC3  77.0 2019-04-05          tfg
1472  AOCC511229UR4RIRC3  81.0 2015-09-08          tfg
...                  ...   ...        ...          ...
8700  RORC5211012YV34CA1  76.0 2016-02-18          tfg
8719  ROCA5508101VD78DB4  98.0 2017-02-24          tfg
8722  ROCA5508101VD78DB4  98.0 2018-06-13          tfg
8777  ROCA5508101VD78DB4  98.0 2016-10-27          tfg
9085  JIDR510316QA5Z4PC3  69.0 2018-10-18          tfg

[67 rows x 4 columns]

Valores repetidos

               cx_curp fechas_procesadas2  count      prop
64  ZAGM6412151ICF4PC4 2017-01-17          2      0.029851

Valores únicos lab - fecha revisión

               cx_curp   tfg fechas_procesadas2  lab
0   CAAJ770616UNX3HRC2  40.0 2019-05-01          tfg
1   CAAJ770616UNX3HRC2  40.0 2019-03-25          tfg
2   PEGO194405B3QH4QC1  85.4 2018-08-10          tfg
3   AOCC511229UR4RIRC3  77.0 2019-04-05          tfg
4   AOCC511229UR4RIRC3  81.0 2015-09-08          tfg
..                 ...   ...        ...          ...
62  RORC5211012YV34CA1  76.0 2016-02-18          tfg
63  ROCA5508101VD78DB4  98.0 2017-02-24          tfg
64  ROCA5508101VD78DB4  98.0 2018-06-13          tfg
65  ROCA5508101VD78DB4  98.0 2016-10-27          tfg
66  JIDR510316QA5Z4PC3  69.0 2018-10-18          tfg

[65 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [192]:
df_lab = unir_lab(df_lab,df_tfg)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,...,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,lab
0,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,...,NaN,12.0,362.0,14.0,3.9,98.00,NaN,NaN,40.00,tfg
1,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,123.0,384.0,NaN,NaN,NaN,...,NaN,12.0,362.0,14.0,3.9,98.00,NaN,NaN,40.00,tfg
2,PEGO194405B3QH4QC1,99,99.0,NaN,2018-08-10,199.0,200.0,47.0,NaN,NaN,...,NaN,NaN,291.0,0.7,5.3,31.50,NaN,NaN,85.40,tfg
3,AOCC511229UR4RIRC3,94,94.0,NaN,2015-09-08,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,81.00,tfg
4,OIMS600706LWUN8PC2,134,134.0,NaN,2019-04-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,96.00,tfg
5,OIMS600706LWUN8PC2,87,87.0,NaN,2016-03-04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,122.00,tfg
6,SAPL460201_WS10QC2,218,218.0,NaN,2018-07-24,129.0,464.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,8.7,31.50,NaN,NaN,65.37,tfg
7,SAPL460201_WS10QC2,232,232.0,NaN,2020-11-02,130.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,6.6,NaN,NaN,1.53,62.30,tfg
8,SAPL460201_WS10QC2,212,212.0,NaN,2017-01-13,140.0,142.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.8,7.4,NaN,NaN,NaN,60.95,tfg
9,SAPL460201_WS10QC2,199.5,199.5,NaN,2020-07-16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.11,tfg
10,SOLG360601I3NUBIA1,161,161.0,NaN,2011-07-08,172.0,104.0,NaN,NaN,NaN,...,NaN,8.2,173000.0,1.3,NaN,58.00,NaN,NaN,45.13,tfg
11,MAVC341201G0YJFRC1,91,91.0,NaN,2018-05-24,286.0,NaN,NaN,NaN,NaN,...,NaN,NaN,258.0,1.0,NaN,NaN,NaN,NaN,52.10,tfg
12,MAVC341201G0YJFRC1,95,95.0,NaN,2017-06-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.00,tfg
13,MAVC341201G0YJFRC1,96,96.0,NaN,2019-04-01,230.0,160.0,NaN,NaN,NaN,...,NaN,NaN,260.0,1.1,5.7,NaN,NaN,NaN,46.00,tfg
14,ZAGM6412151ICF4PC4,475,475.0,NaN,2019-10-18,207.0,245.0,NaN,NaN,NaN,...,NaN,NaN,200.0,1.2,5.3,32.00,NaN,NaN,51.00,tfg
15,AADV5603014KS44QC1,112,112.0,NaN,2019-12-02,NaN,NaN,21.0,40.0,NaN,...,NaN,7.5,184.0,0.7,5.9,NaN,NaN,NaN,121.00,tfg
16,SAJB6406296LNT8PC4,174,174.0,NaN,2021-03-20,181.0,283.0,NaN,NaN,NaN,...,NaN,NaN,259000.0,1.1,9.1,47.00,NaN,NaN,56.26,tfg
17,AAAZ581217189U5PC3,46,46.0,NaN,2018-09-01,198.0,NaN,73.0,104.0,NaN,...,NaN,NaN,305000.0,2.5,NaN,72.78,NaN,NaN,27.10,tfg
18,AAAZ581217189U5PC3,116,116.0,NaN,2015-03-09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,71.00,tfg
19,AAAZ581217189U5PC3,62,62.0,NaN,2018-03-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,46.00,tfg
20,AAAZ581217189U5PC3,255,255.0,NaN,2017-12-02,256.0,145.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.6,6.4,NaN,NaN,NaN,46.00,tfg
21,AAAZ581217189U5PC3,67,67.0,NaN,2015-10-10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.9,NaN,NaN,NaN,NaN,88.00,tfg
22,AAAZ581217189U5PC3,47,47.0,NaN,2015-07-22,217.0,148.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.9,5.6,NaN,NaN,NaN,88.00,tfg
23,MOSH731006R68EZPC2,156,156.0,NaN,2014-10-03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.41,tfg
24,CALT491222GG7DGRC3,194,194.0,NaN,2019-03-27,181.0,212.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.8,6.6,34.00,NaN,NaN,53.00,tfg
25,MACL740410NK1YGRC2,215,215.0,NaN,2021-02-19,159.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.00,tfg
26,MACL740410NK1YGRC2,225,225.0,NaN,2019-02-02,168.0,105.0,47.0,NaN,NaN,...,NaN,NaN,NaN,0.5,3.7,NaN,NaN,NaN,249.00,tfg
27,MACL740410NK1YGRC2,142,142.0,NaN,2020-05-01,154.0,128.0,NaN,NaN,NaN,...,NaN,9.4,NaN,0.5,NaN,NaN,NaN,NaN,116.00,tfg
28,COGJ5108018PI47QC1,147,147.0,NaN,2015-07-01,215.0,144.0,43.0,144.0,NaN,...,NaN,NaN,NaN,0.6,4.3,NaN,NaN,NaN,88.09,tfg
29,DIRL630201M8ADARC1,142,142.0,NaN,2020-01-14,176.0,82.0,NaN,NaN,NaN,...,NaN,NaN,250.0,0.5,2.7,19.00,NaN,NaN,143.00,tfg
30,DIRL630201M8ADARC1,74,74.0,NaN,2019-06-10,141.0,70.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.9,4.3,28.00,NaN,NaN,64.77,tfg
31,RORC5211012YV34CA1,397,397.0,NaN,2016-02-18,207.0,241.0,38.0,120.0,NaN,...,NaN,NaN,NaN,0.8,6.5,NaN,NaN,NaN,76.00,tfg
32,ROCA5508101VD78DB4,186,186.0,NaN,2016-10-27,191.0,464.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.6,6.6,NaN,NaN,NaN,98.00,tfg
33,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,155.0,73.0,56.0,83.0,NaN,...,NaN,6.3,241000.0,1.1,7.4,NaN,NaN,NaN,69.00,tfg
34,AOCC511229UR4RIRC3,NaN,NaN,NaN,2019-04-05,211.0,96.0,NaN,NaN,NaN,...,NaN,NaN,263.0,1.0,NaN,NaN,NaN,NaN,77.00,tfg
35,AOCC511229UR4RIRC3,NaN,NaN,NaN,2020-04-14,235.0,217.0,NaN,135.0,NaN,...,NaN,NaN,298.0,1.1,5.2,NaN,NaN,NaN,68.61,tfg
36,SAPL460201_WS10QC2,NaN,NaN,NaN,2020-12-02,130.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,6.6,NaN,56.0,1.53,62.30,tfg
37,AEDJ750301XGAEGRC1,NaN,NaN,NaN,2016-08-22,186.0,NaN,NaN,NaN,NaN,...,NaN,NaN,71.0,0.6,NaN,NaN,NaN,NaN,183.00,tfg
38,AAAZ581217189U5PC3,NaN,NaN,NaN,2018-10-02,198.0,NaN,73.0,104.0,NaN,...,NaN,NaN,305000.0,2.5,NaN,72.78,NaN,NaN,27.10,tfg
39,CALT491222GG7DGRC3,NaN,NaN,NaN,2015-11-10,188.0,125.0,NaN,NaN,NaN,...,NaN,NaN,257.0,NaN,NaN,33.52,NaN,NaN,80.62,tfg
40,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-09-01,205.0,148.0,44.0,131.0,NaN,...,NaN,7.9,331.0,1.0,NaN,NaN,NaN,NaN,84.00,tfg
41,COGJ5108018PI47QC1,NaN,NaN,NaN,2019-03-20,205.0,120.0,44.0,131.0,NaN,...,NaN,10.0,308.0,0.9,NaN,NaN,NaN,NaN,84.00,tfg
42,ROCA5508101VD78DB4,NaN,NaN,NaN,2017-02-24,204.0,424.0,35.0,NaN,NaN,...,NaN,NaN,NaN,0.6,5.6,NaN,NaN,NaN,98.00,tfg
43,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,174.0,394.0,NaN,NaN,NaN,...,NaN,NaN,355.0,0.6,NaN,27.30,NaN,NaN,98.00,tfg
44,OIMS600706LWUN8PC2,NaN,NaN,NaN,2015-05-06,NaN,173.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,120.83,tfg
45,COGJ5108018PI47QC1,NaN,NaN,NaN,2020-02-19,NaN,NaN,44.0,131.0,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,84.00,tfg
46,OIMS600706LWUN8PC2,NaN,NaN,NaN,2016-06-15,NaN,NaN,NaN,NaN,130/70,...,70.0,7.7,NaN,0.6,NaN,NaN,NaN,NaN,122.00,tfg
47,CALT491222GG7DGRC3,NaN,NaN,NaN,2017-06-18,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,249.0,0.7,NaN,NaN,NaN,NaN,89.70,tfg
48,OIMS600706LWUN8PC2,NaN,NaN,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.6,7.7,NaN,NaN,NaN,122.00,tfg
49,OIMS600706LWUN8PC2,NaN,NaN,NaN,2016-12-16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,122.00,tfg
50,SAPL460201_WS10QC2,NaN,NaN,NaN,2020-03-13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,60.11,tfg
51,SAPL460201_WS10QC2,NaN,NaN,NaN,2019-09-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.7,NaN,NaN,NaN,NaN,64.41,tfg
52,SAJB6406296LNT8PC4,NaN,NaN,NaN,2020-08-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.9,NaN,NaN,NaN,NaN,91.12,tfg
53,SAJB6406296LNT8PC4,NaN,NaN,NaN,2019-07-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.6,NaN,NaN,NaN,NaN,133.46,tfg
54,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-08-21,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.9,NaN,NaN,NaN,NaN,88.00,tfg
55,AAAZ581217189U5PC3,NaN,NaN,NaN,2015-06-23,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.1,NaN,NaN,NaN,NaN,71.00,tfg
56,RORC5211012YV34CA1,NaN,NaN,NaN,2016-03-14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN,76.00,tfg

Shapes dfs
(257, 19)
(65, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,sistolica,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,NaN,NaN,12.0,362.0,14.0,3.9,98.0,NaN,NaN,40.00
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,130.0,80.0,7.0,NaN,1.7,NaN,126.0,NaN,NaN,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,MAVC341201G0YJFRC1,NaN,NaN,NaN,2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70
261,MAVC341201G0YJFRC1,NaN,NaN,NaN,2019-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70
262,MAVC341201G0YJFRC1,NaN,NaN,NaN,2018-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70
263,MAXA480701EQOUDRC1,NaN,NaN,NaN,2018-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.47
264,COGJ5108018PI47QC1,NaN,NaN,NaN,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.83

In [172]:
df_imc = uniq_lab(df,['cx_curp','imc','fechas_procesadas2'],'imc')

                 cx_curp    imc fechas_procesadas2
4     CAAE51120998X96PC1  22.58 2011-09-01
129   CAAJ770616UNX3HRC2  37.00 2015-08-06
135   CAAJ770616UNX3HRC2  39.00 2016-01-24
143   CAAJ770616UNX3HRC2  39.00 2016-01-24
147   CAAJ770616UNX3HRC2  39.00 2016-01-24
...                  ...    ...        ...
9117  JIDR510316QA5Z4PC3  26.81 2015-06-23
9127  JIDR510316QA5Z4PC3  24.91 2017-10-16
9137  JIDR510316QA5Z4PC3  25.25 2016-03-17
9147  JIDR510316QA5Z4PC3  25.90 2016-04-03
9183  JIDR510316QA5Z4PC3  26.98 2015-09-29

[282 rows x 3 columns]

Valores únicos lab - fecha

                 cx_curp    imc fechas_procesadas2  lab
4     CAAE51120998X96PC1  22.58 2011-09-01          imc
129   CAAJ770616UNX3HRC2  37.00 2015-08-06          imc
135   CAAJ770616UNX3HRC2  39.00 2016-01-24          imc
376   CAAJ770616UNX3HRC2  35.48 2013-06-29          imc
453   CAAJ770616UNX3HRC2  38.08 2016-03-16          imc
...                  ...    ...        ...          ...
9103  JIDR510316QA5Z4PC3  21.62 2016-11-03          imc
9117  JIDR510316QA5Z4PC3  26.81 2015-06-23          imc
9127  JIDR510316QA5Z4PC3  24.91 2017-10-16          imc
9137  JIDR510316QA5Z4PC3  25.25 2016-03-17          imc
9183  JIDR510316QA5Z4PC3  26.98 2015-09-29          imc

[177 rows x 4 columns]

Valores repetidos

                cx_curp fechas_procesadas2  count      prop
55   GOML440127J80Z9PC2 2014-12-01          8      0.045198
8    AADV5603014KS44QC1 2017-06-06          4      0.022599
89   OIMS600706LWUN8PC2 2016-06-15          3      0.016949
12   AADV5603014KS44QC1 2019-06-01          3      0.016949
101  PIRE6806019N4I6PC1 2015-08-14          3      0.016949
95   PAGJ690411WZ0YDRC1 2019-03-20          3      0.016949
80   MAVC341201G0YJFRC1 2017-06-01          3      0.016949
11   AADV5603014KS44QC1 2018-10-01          3      0.016949
23   AOCC511229UR4RIRC3 2015-04-29          2      0.011299
88   OIMS600706LWUN8PC2 2016-03-04          2      0.011299
119  VEVF4904172GTC8QC1 2016-09-01          2      0.011299
26   AOCC511229UR4RIRC3 2017-09-26          2      0.011299
74   JIDR510316QA5Z4PC3 2016-03-17          2      0.011299
125  ZAGM6412151ICF4PC4 2017-01-17          2      0.011299
75   JIDR510316QA5Z4PC3 2016-04-03          2      0.011299
104  ROCA5508101VD78DB4 2017-02-24          2      0.011299
43   COPI690401V91QCRC2 2016-01-02          2      0.011299
102  PIRE6806019N4I6PC1 2016-06-04          2      0.011299
121  ZAGM6412151ICF4PC4 2015-05-28          2      0.011299
44   COPI690401V91QCRC2 2016-03-01          2      0.011299
3    AAAZ581217189U5PC3 2015-08-21          2      0.011299
4    AAAZ581217189U5PC3 2015-10-10          2      0.011299
67   GUSJ5712286XUN73A2 2016-06-08          2      0.011299
9    AADV5603014KS44QC1 2017-12-11          2      0.011299
77   JIDR510316QA5Z4PC3 2017-10-16          2      0.011299
79   MAVC341201G0YJFRC1 2016-10-06          2      0.011299

Valores únicos lab - fecha revisión

                cx_curp    imc fechas_procesadas2  lab
0    CAAE51120998X96PC1  22.58 2011-09-01          imc
1    CAAJ770616UNX3HRC2  37.00 2015-08-06          imc
2    CAAJ770616UNX3HRC2  39.00 2016-01-24          imc
3    CAAJ770616UNX3HRC2  35.48 2013-06-29          imc
4    CAAJ770616UNX3HRC2  38.08 2016-03-16          imc
..                  ...    ...        ...          ...
166  HEXE490230BS8EFVA2  34.44 2018-06-22          imc
170  JIDR510316QA5Z4PC3  26.47 2015-01-28          imc
172  JIDR510316QA5Z4PC3  21.62 2016-11-03          imc
173  JIDR510316QA5Z4PC3  26.81 2015-06-23          imc
176  JIDR510316QA5Z4PC3  26.98 2015-09-29          imc

[111 rows x 4 columns]

Valores repetidos revisión

Empty DataFrame
Columns: [cx_curp, fechas_procesadas2, count, prop]
Index: []

In [193]:
df_lab = unir_lab(df_lab,df_imc)

Inner join

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,...,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,lab
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.58,imc
1,CAAJ770616UNX3HRC2,193,193.0,NaN,2015-08-06,163.0,386.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,55.0,NaN,NaN,NaN,37.00,imc
2,AOCC511229UR4RIRC3,81,81.0,NaN,2015-08-05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,33.00,imc
3,AOCC511229UR4RIRC3,184,184.0,NaN,2019-09-26,NaN,NaN,NaN,NaN,NaN,...,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.65,imc
4,AOCC511229UR4RIRC3,125,125.0,NaN,2019-10-31,NaN,158.0,46.0,150.0,NaN,...,NaN,NaN,NaN,NaN,228.0,NaN,NaN,NaN,28.65,imc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,MAVC341201G0YJFRC1,NaN,NaN,NaN,2018-04-11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70,32.00,imc
64,MAVC341201G0YJFRC1,NaN,NaN,NaN,2018-06-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70,31.00,imc
65,MAVC341201G0YJFRC1,NaN,NaN,NaN,2019-09-05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70,31.00,imc
66,MAVC341201G0YJFRC1,NaN,NaN,NaN,2018-09-02,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.70,31.00,imc
67,COGJ5108018PI47QC1,NaN,NaN,NaN,2015-01-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.83,25.33,imc

Shapes dfs
(265, 20)
(111, 4)

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,colesterol,trigliceridos,hdl,ldl,presion_arterial,...,diastolica,hba1c,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.58
1,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,NaN,274.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,123.0,384.0,NaN,NaN,NaN,...,NaN,12.0,362.0,14.0,3.9,98.0,NaN,NaN,40.0,NaN
3,CAAJ770616UNX3HRC2,98,98.0,NaN,2016-05-01,NaN,NaN,NaN,NaN,130/80,...,80.0,7.0,NaN,1.7,NaN,126.0,NaN,NaN,NaN,NaN
4,CAAJ770616UNX3HRC2,195,195.0,NaN,2017-01-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,GUSJ5712286XUN73A2,NaN,NaN,NaN,2017-10-24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.00
304,GUSJ5712286XUN73A2,NaN,NaN,NaN,2015-05-20,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.81
305,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-02-27,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.14
306,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-08-03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.20
307,HEXE490230BS8EFVA2,NaN,NaN,NaN,2018-06-22,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.44

In [195]:
df_lab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 0 to 307
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cx_curp             308 non-null    object
 1   glucosa             181 non-null    object
 2   glucosa1            181 non-null    float64
 3   glucosa2            0 non-null      float64
 4   fechas_procesadas2  308 non-null    datetime64[ns]
 5   colesterol          106 non-null    float64
 6   trigliceridos       112 non-null    float64
 7   hdl                 30 non-null     float64
 8   ldl                 25 non-null     float64
 9   presion_arterial    19 non-null     object
 10  sistolica           19 non-null     float64
 11  diastolica          19 non-null     float64
 12  hba1c               27 non-null     float64
 13  plaquetas           74 non-null     float64
 14  creatinina          142 non-null    float64
 15  acido_urico         87 non-null     float64
 16  urea                56 non-null     float64
 17  peso                3 non-null      float64
 18  altura              3 non-null      float64
 19  tfg                 65 non-null     float64
 20  imc                 111 non-null    float64
dtypes: datetime64[ns](1), float64(17), object(3)
memory usage: 52.9+ KB

In [119]:
list(df.columns)

['newid',
 'cx_curp',
 'nota_medica',
 'glucosa',
 'colesterol',
 'trigliceridos',
 'hdl',
 'ldl',
 'fecha',
 'presion_arterial',
 'hba1c',
 'hipertension',
 'plaquetas',
 'creatinina',
 'acido_urico',
 'urea',
 'peso',
 'altura',
 'tfg',
 'imc',
 'año_de_diagnostico_diabetes',
 'año_de_diagnostico_hipertension',
 'fechas_procesadas',
 'bandera_fechas_procesadas',
 'fuente',
 'in_consulta',
 'fecha_nacimiento',
 'sexo',
 'medicamentos',
 'codigos_cie',
 'diagnosticos',
 'fecha_consulta',
 'glucosa1',
 'glucosa2',
 'sistolica',
 'diastolica',
 'fechas_procesadas2',
 'edad',
 'hta',
 'dm_cie',
 'hta_cie']

In [120]:
df_u = pd.merge(df_glucosa,df_colesterol, on = ['cx_curp','fechas_procesadas2'])
df_u

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab_x,colesterol,lab_y
0,CAAJ770616UNX3HRC2,255,255.0,NaN,2018-08-01,glucosa,191.0,colesterol
1,CAAJ770616UNX3HRC2,316,316.0,NaN,2018-08-01,glucosa,191.0,colesterol
2,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa,123.0,colesterol
3,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-03-25,glucosa,123.0,colesterol
4,CAAJ770616UNX3HRC2,344,344.0,NaN,2015-05-06,glucosa,244.0,colesterol
...,...,...,...,...,...,...,...,...
93,ROCA5508101VD78DB4,196,196.0,NaN,2017-02-24,glucosa,204.0,colesterol
94,ROCA5508101VD78DB4,155,155.0,NaN,2017-09-01,glucosa,205.0,colesterol
95,JIDR510316QA5Z4PC3,124,124.0,NaN,2019-04-04,glucosa,158.0,colesterol
96,JIDR510316QA5Z4PC3,132,132.0,NaN,2018-10-18,glucosa,155.0,colesterol
97,JIDR510316QA5Z4PC3,116,116.0,NaN,2015-06-23,glucosa,189.0,colesterol

In [121]:
df_u[df_u['cx_curp']=='COGJ5108018PI47QC1']

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab_x,colesterol,lab_y
69,COGJ5108018PI47QC1,112,112.0,NaN,2020-02-19,glucosa,205.0,colesterol
70,COGJ5108018PI47QC1,112,112.0,NaN,2020-02-19,glucosa,141.0,colesterol
71,COGJ5108018PI47QC1,159,159.0,NaN,2020-02-19,glucosa,205.0,colesterol
72,COGJ5108018PI47QC1,159,159.0,NaN,2020-02-19,glucosa,141.0,colesterol
73,COGJ5108018PI47QC1,145,145.0,NaN,2020-02-19,glucosa,205.0,colesterol
74,COGJ5108018PI47QC1,145,145.0,NaN,2020-02-19,glucosa,141.0,colesterol
75,COGJ5108018PI47QC1,125,125.0,NaN,2019-09-01,glucosa,205.0,colesterol
76,COGJ5108018PI47QC1,112,112.0,NaN,2019-09-01,glucosa,205.0,colesterol
77,COGJ5108018PI47QC1,147,147.0,NaN,2015-07-01,glucosa,215.0,colesterol
78,COGJ5108018PI47QC1,112,112.0,NaN,2019-03-20,glucosa,205.0,colesterol
79,COGJ5108018PI47QC1,93,93.0,NaN,2019-03-20,glucosa,205.0,colesterol

In [122]:
df[(df['cx_curp']=='COGJ5108018PI47QC1') & \
   (df['fechas_procesadas2'].dt.strftime('%Y-%m-%d') == '2020-02-19') & (df['fuente'] == 'NER')]

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,fecha_consulta,glucosa1,glucosa2,sistolica,diastolica,fechas_procesadas2,edad,hta,dm_cie,hta_cie
7353,5929022COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 68 AÑOS DE EDAD, PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, . PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ACTUALMENTE NIEGA SINTOMAS GENITOURINARIOS, NIEGA ORINA ESPUMOSA O FETIDA, LIBIDO DISMINUIDO, NIEGA POLIURIA Y POLIDIPSIA U OTROS SINTOMAS DE DESCONTROL METABOLICO CON DESCONTROL HIPERTENSIVO POR TRASGRESION MEDICAMENTOSA MENCIOAN QUE SE LE TERMINO EL MEDICAMENTO , NIEGA MAREOS, PALPITACIONES, NIEGA DOLOR PRECORDIAL, SE ENCUENTRA ESTABLE, NIEGA INGRESOS A URGENCIAS. EXPLORACION FISICA, IMC. 25 TRANQUILO CONSCIENTE OENTADOEN SUS TRES ESFERAS NEUROLÓGICAS BUENA COLORACIÓN MUCOTEJUMENTARIA USO DE LENTE CORRECTIVOS. .BUEN ESTADO GENERAL , PTERIGION OJO DERECHO, HIPEREMIA CONJUNTIVAL BILATERAL. BUENA HIDRATACION, CUELLO CILINDRICO SIN DATOS DE INGURGITACION YUGULAR, CAMPOS PULMONARES BIEN VENTILADOS, RUIDOS CARDIACOS RITMICOS SIN AGREGADOS, ABDOMEN BLANDO, DEPRESIBLE , PERISTALSIS PRESENTE, SIIN DATOS DE IRRITACION PERITONEAL, EXTREMIDADES SIN EDEMA, PULSOS PRESENTES.....MHD, DIETA HIPOSODICA, HIPOCALORICA, EVITAR GRASAS , IRRITANTES, CARNES ROJAS, RICA EN FIBRA, OMEGA 3, EJERCICIO A TOLERANCIA, VIGILAR DATOS DE ALARMA, CITA ABIERTA A URGENCIAS SE COMENTA COMPLICACIONES DE LA ENFERMEDADA DATOS DE ALARMA RECETA MANUAL POR LATANOPROST GOTA COMENTO COMPLICACIONES CRONICAS D ELA ENFERMEDAD,PARACLINICOS. SEPT 2019. HB 13 HTO. 43 PLAQUETAS 331 MGDL. GLUCOSA 141 MGDL. . . CITA EN UN MES ABIERTA AURGENCIAS ULTIMA GLICEMIA 112 MG BASAL. MGDL. FILTRADO GLOMERULAR 84 ML MIN MDR4, HBA1C.-",112,205.0,148.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2020-05-13 17:37:27.120,112.0,NaN,NaN,NaN,2020-02-19,69.0,0.0,1.0,0.0
7370,5903722COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 68 AÑOS DE EDAD, PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, ACTUALMENTE NIEGA SINTOMAS GENITOURINARIOS, NIEGA ORINA ESPUMOSA O FETIDA, LIBIDO DISMINUIDO, NIEGA POLIURIA Y POLIDIPSIA U OTROS SINTOMAS DE DESCONTROL METABOLICO CON DESCONTROL HIPERTENSIVO POR TRASGRESION MEDICAMENTOSA MENCIOAN QUE SE LE TERMINO EL MEDICAMENTO , NIEGA MAREOS, PALPITACIONES, NIEGA DOLOR PRECORDIAL, SE ENCUENTRA ESTABLE, NIEGA INGRESOS A URGENCIAS. EXPLORACION FISICA, IMC. 25. PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ISICA.. 120 /70. FC 70 X MIN FR 20 X MIN USO DE LENTE CORRECTIVOS. .BUEN ESTADO GENERAL , PTERIGION OJO DERECHO, HIPEREMIA CONJUNTIVAL BILATERAL. BUENA HIDRATACION, CUELLO CILINDRICO SIN DATOS DE INGURGITACION YUGULAR, CAMPOS PULMONARES BIEN VENTILADOS, RUIDOS CARDIACOS RITMICOS SIN AGREGADOS, ABDOMEN BLANDO, DEPRESIBLE , PERISTALSIS PRESENTE, SIIN DATOS DE IRRITACION PERITONEAL, EXTREMIDADES SIN EDEMA, PULSOS PRESENTES.....MHD, DIETA HIPOSODICA, HIPOCALORICA, EVITAR GRASAS , IRRITANTES, CARNES ROJAS, RICA EN FIBRA, OMEGA 3, EJERCICIO A TOLERANCIA, VIGILAR DATOS DE ALARMA, CITA ABIERTA A URGENCIAS SE COMENTA COMPLICACIONES DE LA ENFERMEDADA DATOS DE ALARMA RECETA MANUAL POR LATANOPROST GOTA COMENTO COMPLICACIONES CRONICAS D ELA ENFERMEDAD,PARACLINICOS. SEPT 2019. HB 13 HTO. 43 PLAQUETAS 331 MGDL. GLUCOSA 141 MGDL. . . CITA EN UN MES ABIERTA AURGENCIAS ULTIMA GLICEMIA 112 MG BASAL. MGDL. FILTRADO GLOMERULAR 84 ML MIN MDR4, HBA1C.- AJUSTO TRATAMIENTO, AJUSTO MANEJO SE REALIZAN AJUSTES HA TRATAMIENTO HA PERDIDO PESO Y CUMPLE CON METAS DE CONTROL GLUCEMICO TIENE GLUCOSA BASAL AYUNO 125 MGDL",159,205.0,148.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2020-04-13 17:11:33.567,159.0,NaN,NaN,NaN,2020-02-19,69.0,0.0,1.0,0.0
7391,6087880COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 68 AÑOS DE EDAD, PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, . PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ACUDE PARA SU CONTROL REFIRIÉNDOSE ESTABÑLE ASTA ESTE MPMENTO NIEGA SINTOMAS GENITOURINARIOS, NIEGA ORINA ESPUMOSA O FETIDA, NO SINTOMATOLOGIA VASCULOESPASMODICA LIBIDO DISMINUIDO, NIEGA POLIURIA Y POLIDIPSIA U OTROS SINTOMAS DE DESCONTROL METABOLICO CON DESCONTROL HIPERTENSIVO POR TRASGRESION MEDICAMENTOSA MENCIOAN QUE SE LE TERMINO EL MEDICAMENTO , NIEGA MAREOS, PALPITACIONES, NIEGA DOLOR PRECORDIAL, SE ENCUENTRA ESTABLE, NIEGA INGRESOS A URGENCIAS. EXPLORACION FISICA, IMC. 25 TRANQUILO CONSCIENTE OENTADOEN SUS TRES ESFERAS NEUROLÓGICAS BUENA COLORACIÓN MUCOTEJUMENTARIA USO DE LENTE CORRECTIVOS. .BUEN ESTADO GENERAL , PTERIGION OJO DERECHO, HIPEREMIA CONJUNTIVAL BILATERAL. BUENA HIDRATACION, CUELLO CILINDRICO SIN DATOS DE INGURGITACION YUGULAR, CAMPOS PULMONARES BIEN VENTILADOS, RUIDOS CARDIACOS RITMICOS SIN AGREGADOS, ABDOMEN BLANDO, DEPRESIBLE , PERISTALSIS PRESENTE, SIIN DATOS DE IRRITACION PERITONEAL, EXTREMIDADES SIN EDEMA, PULSOS PRESENTES.....MHD, DIETA HIPOSODICA, HIPOCALORICA, EVITAR GRASAS , IRRITANTES, CARNES ROJAS, RICA EN FIBRA, OMEGA 3, EJERCICIO A TOLERANCIA, VIGILAR DATOS DE ALARMA, CITA ABIERTA A URGENCIAS SE COMENTA COMPLICACIONES DE LA ENFERMEDADA DATOS DE ALARMA RECETA MANUAL POR LATANOPROST GOTA COMENTO COMPLICACIONES CRONICAS D ELA ENFERMEDAD... ACUDE FAMILIAR PARA DOTACIÓN DE FÁRMACOS, LO REFIERE ESTABLE, SIN SÍNTOMAS DE VASOESPASMO, UURINARIOS, EDEMAS, NI VISITAS A URGENCIAS. CONTIUA MEDIAS DE CONTINGENCIAS.",159,205.0,148.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2020-10-16 16:07:32.173,159.0,NaN,NaN,NaN,2020-02-19,69.0,0.0,1.0,1.0
7404,5859477COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 68 AÑOS DE EDAD, PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, ACTUALMENTE NIEGA SINTOMAS GENITOURINARIOS, NIEGA ORINA ESPUMOSA O FETIDA, LIBIDO DISMINUIDO, NIEGA POLIURIA Y POLIDIPSIA U OTROS SINTOMAS DE DESCONTROL METABOLICO CON DESCONTROL HIPERTENSIVO POR TRASGRESION MEDICAMENTOSA MENCIOAN QUE SE LE TERMINO EL MEDICAMENTO , NIEGA MAREOS, PALPITACIONES, NIEGA DOLOR PRECORDIAL, SE ENCUENTRA ESTABLE, NIEGA INGRESOS A URGENCIAS. EXPLORACION FISICA, IMC. 25. PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ISICA.. 120 /70. FC 70 X MIN FR 20 X MIN USO DE LENTE CORRECTIVOS. .BUEN ESTADO GENERAL , PTERIGION OJO DERECHO, HIPEREMIA CONJUNTIVAL BILATERAL. BUENA HIDRATACION, CUELLO CILINDRICO SIN DATOS DE INGURGITACION YUGULAR, CAMPOS PULMONARES BIEN VENTILADOS, RUIDOS CARDIACOS RITMICOS SIN AGREGADOS, ABDOMEN BLANDO, DEPRESIBLE , PERISTALSIS PRESENTE, SIIN DATOS DE IRRITACION PERITONEAL, EXTREMIDADES SIN EDEMA, PULSOS PRESENTES.....MHD, DIETA HIPOSODICA, HIPOCALORICA, EVITAR GRASAS , IRRITANTES, CARNES ROJAS, RICA EN FIBRA, OMEGA 3, EJERCICIO A TOLERANCIA, VIGILAR DATOS DE ALARMA, CITA ABIERTA A URGENCIAS SE COMENTA COMPLICACIONES DE LA ENFERMEDADA DATOS DE ALARMA RECETA MANUAL POR LATANOPROST GOTA COMENTO COMPLICACIONES CRONICAS D ELA ENFERMEDAD,PARACLINICOS. SEPT 2019. HB 13 HTO. 43 PLAQUETAS 331 MGDL. GLUCOSA 141 MGDL. . . CITA EN UN MES ABIERTA AURGENCIAS ULTIMA GLICEMIA 112 MG BASAL. MGDL. FILTRADO GLOMERULAR 84 ML MIN MDR4, HBA1C.- AJUSTO TRATAMIENTO, AJUSTO MANEJO SE REALIZAN AJUSTES HA TRATAMIENTO HA PERDIDO PESO Y CUMPLE CON METAS DE CONTROL GLUCEMICO TIENE GLUCOSA BASAL AYUNO 125 MGDL",159,205.0,148.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2020-03-04 17:02:51.520,159.0,NaN,NaN,NaN,2020-02-19,69.0,0.0,1.0,0.0
7433,6220673COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 69 AÑOS DE EDAD,4MES PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, . PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ACUDE PARA SU CONTROL LABORA 11/12/20 HB13.3GLUCOSA 145 CRE .9 AC UR 3.0 HB GLICADA 7.4 COL 141 TGL 103 EGOPH7 GLUCOSURIA 100 LEU 2-4XC REFIRIÉNDOSE ESTABÑLE ASTA ESTE MPMENTO NIEGA SINTOMAS GENITOURINARIOS, NIEGA ORINA ESPUMOSA O FETIDA, NO SINTOMATOLOGIA VASCULOESPASMODICA LIBIDO DISMINUIDO, NIEGA POLIURIA Y POLIDIPSIA U OTROS SINTOMAS DE DESCONTROL METABOLICO CON DESCONTROL HIPERTENSIVO POR TRASGRESION MEDICAMENTOSA MENCIOAN QUE SE LE TERMINO EL MEDICAMENTO , NIEGA MAREOS, PALPITACIONES, NIEGA DOLOR PRECORDIAL, SE ENCUENTRA ESTABLE,",145,141.0,103.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2021-02-16 17:44:39.263,145.0,NaN,NaN,NaN,2020-02-19,70.0,0.0,1.0,0.0
7503,5950978COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 68 AÑOS DE EDAD, PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, . PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ACUDE PARA SU CONTROL REFIRIÉNDOSE ESTABÑLE ASTA ESTE MPMENTO NIEGA SINTOMAS GENITOURINARIOS, NIEGA ORINA ESPUMOSA O FETIDA, NO SINTOMATOLOGIA VASCULOESPASMODICA LIBIDO DISMINUIDO, NIEGA POLIURIA Y POLIDIPSIA U OTROS SINTOMAS DE DESCONTROL METABOLICO CON DESCONTROL HIPERTENSIVO POR TRASGRESION MEDICAMENTOSA MENCIOAN QUE SE LE TERMINO EL MEDICAMENTO , NIEGA MAREOS, PALPITACIONES, NIEGA DOLOR PRECORDIAL, SE ENCUENTRA ESTABLE, NIEGA INGRESOS A URGENCIAS. EXPLORACION FISICA, IMC. 25 TRANQUILO CONSCIENTE OENTADOEN SUS TRES ESFERAS NEUROLÓGICAS BUENA COLORACIÓN MUCOTEJUMENTARIA USO DE LENTE CORRECTIVOS. .BUEN ESTADO GENERAL , PTERIGION OJO DERECHO, HIPEREMIA CONJUNTIVAL BILATERAL. BUENA HIDRATACION, CUELLO CILINDRICO SIN DATOS DE INGURGITACION YUGULAR, CAMPOS PULMONARES BIEN VENTILADOS, RUIDOS CARDIACOS RITMICOS SIN AGREGADOS, ABDOMEN BLANDO, DEPRESIBLE , PERISTALSIS PRESENTE, SIIN DATOS DE IRRITACION PERITONEAL, EXTREMIDADES SIN EDEMA, PULSOS PRESENTES.....MHD, DIETA HIPOSODICA, HIPOCALORICA, EVITAR GRASAS , IRRITANTES, CARNES ROJAS, RICA EN FIBRA, OMEGA 3, EJERCICIO A TOLERANCIA, VIGILAR DATOS DE ALARMA, CITA ABIERTA A URGENCIAS SE COMENTA COMPLICACIONES DE LA ENFERMEDADA DATOS DE ALARMA RECETA MANUAL POR LATANOPROST GOTA COMENTO COMPLICACIONES CRONICAS D ELA ENFERMEDAD,",159,205.0,148.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2020-06-10 14:46:42.787,159.0,NaN,NaN,NaN,2020-02-19,69.0,0.0,1.0,0.0
7592,6155966COGJ5108018PI47QC1,COGJ5108018PI47QC1,"MASCULINO DE 69 AÑOS DE EDAD,4MES PORTADOR DE DIABETES TIPO 2 DESDE 1999, MAS DE 25 AÑOS DE EVOLUCION. HIPERTENSION ARTERIAL SISTEMICA DESDE 2006, GLAUCOMA RECIBE TRATAMIENTO CON LATANOPROST Y DORSOLAMIDA, RETINOPATIA DIABETICA. MANEJO POR OFTALMOLOGIA EN UMMA A ULTIMA VALORACION 2018. CONTROL POR ENDOCRINOLOGO EXTERNO. -- REQUIERE VALORACION ANUAL POR OFTALMOLOGIA REFIERE LEVE DISMINUCION AGUDEZA VISUAL YA VALORADO 2019. -- HIPERTENSION ARTERIAL DIABETES DE LARGA EVOLUCION, . PARACLINICOS. 19 DE FEBRERO 2020 HB 14., HTO 41, PLQ 308, DIFERENCIAL NORMAL. GL 120, CREA 1 DEPURACION CREA 78. GLUCOSA 125 MGDL AU 4.7, CT 205, HDL 44, LDL 131, TG 148, EGO NO MUESTRA VLDL 29, HBA1C 7.9. PARACLINICOS. HB 13, HTO. 41 PLAQUETAS 302 MGDL GLUCOSA 120 MGDL. GLUCOSA POSTPRANDIO 159, CREATININA 1 COL 197 MGDL. ACUDE PARA SU CONTROL",159,205.0,148.0,44.0,131.0,19 DE FEBRERO 2020,NaN,...,2020-12-16 16:20:56.100,159.0,NaN,NaN,NaN,2020-02-19,69.0,0.0,1.0,0.0

In [123]:
prop_codigo = df_u.groupby(['cx_curp','fechas_procesadas2'], as_index=False)['lab_x']\
.count()\
.rename(columns={'lab_x': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
u = prop_codigo.sort_values(by = ['prop'], ascending = False)
u[u['count']>1]

               cx_curp fechas_procesadas2  count      prop
23  COGJ5108018PI47QC1 2020-02-19          6      0.061224
22  COGJ5108018PI47QC1 2019-09-01          2      0.020408
80  ZAGM6412151ICF4PC4 2016-12-07          2      0.020408
6   AEDJ750301XGAEGRC1 2016-08-22          2      0.020408
21  COGJ5108018PI47QC1 2019-03-20          2      0.020408
18  CALT491222GG7DGRC3 2015-11-10          2      0.020408
74  SAPL460201_WS10QC2 2020-12-02          2      0.020408
12  BOLM631201LV35XPC1 2018-08-01          2      0.020408
64  ROCA5508101VD78DB4 2017-02-24          2      0.020408
15  CAAJ770616UNX3HRC2 2018-08-01          2      0.020408

In [124]:
print(df_glucosa.shape)
print(df_colesterol.shape)

(223, 6)
(110, 4)

In [125]:
# 235
pd.merge(df_glucosa,df_colesterol, how = "outer", on = ['cx_curp','fechas_procesadas2']).drop_duplicates()

,cx_curp,glucosa,glucosa1,glucosa2,fechas_procesadas2,lab_x,colesterol,lab_y
0,CAAE51120998X96PC1,126,126.0,NaN,2011-09-01,glucosa,NaN,NaN
1,CAAJ770616UNX3HRC2,255,255.0,NaN,2018-08-01,glucosa,191.0,colesterol
2,CAAJ770616UNX3HRC2,316,316.0,NaN,2018-08-01,glucosa,191.0,colesterol
3,CAAJ770616UNX3HRC2,234,234.0,NaN,2013-12-01,glucosa,NaN,NaN
4,CAAJ770616UNX3HRC2,283,283.0,NaN,2019-05-01,glucosa,123.0,colesterol
...,...,...,...,...,...,...,...,...
246,AAAZ581217189U5PC3,NaN,NaN,NaN,2018-10-02,NaN,198.0,colesterol
247,VABL610430GWELKRC4,NaN,NaN,NaN,2017-05-09,NaN,210.0,colesterol
248,GUSJ5712286XUN73A2,NaN,NaN,NaN,2012-06-12,NaN,231.0,colesterol
249,GUSJ5712286XUN73A2,NaN,NaN,NaN,2014-11-12,NaN,166.0,colesterol
250,ROCA5508101VD78DB4,NaN,NaN,NaN,2018-06-13,NaN,174.0,colesterol

In [126]:
df.shape

(9315, 41)

**Dejar rows únicos**

In [198]:
df_exp = df[df['fuente'] != 'NER']
display(df_exp)    
# duplicated values same date
prop_codigo = df_exp.groupby(['cx_curp','fecha_consulta'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_rep = prop_codigo.sort_values(by = ['prop'], ascending = False)
df_rep = df_rep[df_rep['count']>1]
print("Valores repetidos \n")
display(df_rep)

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,fecha_consulta,glucosa1,glucosa2,sistolica,diastolica,fechas_procesadas2,edad,hta,dm_cie,hta_cie
0,4593753CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,135,NaN,NaN,NaN,NaN,NaN,120/60,...,2014-12-29 09:02:48.167,135.0,NaN,120.0,60.0,NaT,63.0,0.0,0.0,0.0
1,2502589CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,131,NaN,NaN,NaN,NaN,NaN,130/80,...,2010-12-21 10:58:00.640,131.0,NaN,130.0,80.0,NaT,59.0,0.0,0.0,0.0
2,6253338CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,148,NaN,NaN,NaN,NaN,NaN,120/80,...,2017-10-16 10:09:10.830,148.0,NaN,120.0,80.0,NaT,66.0,0.0,0.0,0.0
3,6866604CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130/70,...,2018-11-02 10:22:01.733,NaN,NaN,130.0,70.0,NaT,67.0,0.0,0.0,0.0
5,2870758CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123/65,...,2011-10-08 09:47:14.953,NaN,NaN,123.0,65.0,NaT,60.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9310,2859151MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110/80,...,2019-08-08 14:46:18.487,NaN,NaN,110.0,80.0,NaT,32.0,0.0,0.0,0.0
9311,1114985MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120/85,...,2012-01-23 17:40:23.227,NaN,NaN,120.0,85.0,NaT,25.0,0.0,0.0,0.0
9312,1187284MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120/85,...,2012-05-28 17:23:44.613,NaN,NaN,120.0,85.0,NaT,25.0,0.0,0.0,0.0
9313,3102755MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115/76,...,2020-07-07 16:38:16.830,NaN,NaN,115.0,76.0,NaT,33.0,0.0,0.0,0.0
9314,1013521MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100/70,...,2011-07-20 18:52:01.410,NaN,NaN,100.0,70.0,NaT,24.0,0.0,0.0,0.0

Valores repetidos

                 cx_curp          fecha_consulta  count      prop
3417  PAGJ690411WZ0YDRC1 2007-07-12 09:54:18.280  3      0.000431
2499  LOVM470206XDKAIMD2 2018-11-06 15:58:33.203  2      0.000288
2741  MAVC341201G0YJFRC1 2014-06-20 15:59:23.223  2      0.000288
2684  MAJJ870410UVK09PC1 2021-06-18 17:09:19.013  2      0.000288
2716  MAVC341201G0YJFRC1 2012-04-03 15:04:49.520  2      0.000288
...                  ...                     ... ..           ...
19    AAAZ581217189U5PC3 2016-03-02 10:35:58.493  2      0.000288
18    AAAZ581217189U5PC3 2016-02-04 10:37:09.860  2      0.000288
17    AAAZ581217189U5PC3 2016-01-05 11:53:45.733  2      0.000288
16    AAAZ581217189U5PC3 2015-11-23 09:23:51.970  2      0.000288
763   CAAJ770616UNX3HRC2 2019-05-17 18:52:42.150  2      0.000288

[1956 rows x 4 columns]

In [201]:
# settings to display all columns
pd.set_option("display.max_columns", None)

In [205]:
df_exp[(df_exp['cx_curp']=='PAGJ690411WZ0YDRC1') & \
       (df_exp['fecha_consulta'].dt.strftime('%Y-%m-%d') == '2007-07-12') & (df_exp['fuente'] != 'NER')]

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,hba1c,hipertension,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,año_de_diagnostico_diabetes,año_de_diagnostico_hipertension,fechas_procesadas,bandera_fechas_procesadas,fuente,in_consulta,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta,glucosa1,glucosa2,sistolica,diastolica,fechas_procesadas2,edad,hta,dm_cie,hta_cie
4595,334909PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,1.63,NaN,NaN,<NA>,<NA>,NaN,NaN,corhis_somatometria,334909,1969-04-11,M,"MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| KETOCONAZOL. TABLETAS. CADA TABLETA CONTIENE: KETOCONAZOL 200 MG.","E119,J029","Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Faringitis (aguda) (catarral) (gangrenosa) (infecciosa) (subaguda) (supurativa) (ulcerativa)",2007-07-12 09:54:18.280,NaN,NaN,NaN,NaN,NaT,38.0,0.0,1.0,0.0
4596,334909PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,exphis_hc_diabetes,334909,1969-04-11,M,"MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| KETOCONAZOL. TABLETAS. CADA TABLETA CONTIENE: KETOCONAZOL 200 MG.","E119,J029","Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Faringitis (aguda) (catarral) (gangrenosa) (infecciosa) (subaguda) (supurativa) (ulcerativa)",2007-07-12 09:54:18.280,NaN,NaN,NaN,NaN,NaT,38.0,0.0,1.0,0.0
4597,334909PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,exphis_hc_diabetes,334909,1969-04-11,M,"MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| KETOCONAZOL. TABLETAS. CADA TABLETA CONTIENE: KETOCONAZOL 200 MG.","E119,J029","Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Faringitis (aguda) (catarral) (gangrenosa) (infecciosa) (subaguda) (supurativa) (ulcerativa)",2007-07-12 09:54:18.280,NaN,NaN,NaN,NaN,NaT,38.0,0.0,1.0,0.0

In [203]:
df_exp[(df_exp['cx_curp']=='LOVM470206XDKAIMD2') & \
       (df_exp['fecha_consulta'].dt.strftime('%Y-%m-%d') == '2018-11-06') & (df['fuente'] != 'NER')]

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,hba1c,hipertension,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,año_de_diagnostico_diabetes,año_de_diagnostico_hipertension,fechas_procesadas,bandera_fechas_procesadas,fuente,in_consulta,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta,glucosa1,glucosa2,sistolica,diastolica,fechas_procesadas2,edad,hta,dm_cie,hta_cie
6833,1356846LOVM470206XDKAIMD2,LOVM470206XDKAIMD2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120/80,NaN,NaN,NaN,NaN,NaN,NaN,55.0,1.47,NaN,NaN,<NA>,<NA>,NaN,NaN,corhis_somatometria,1356846,1949-08-15,F,"BEZAFIBRATO TABLETA CADA TABLETA CONTIENE: BEZAFIBRATO 200 MG ENVASE CON 30 TABLETAS.| CLORTALIDONA TABLETA CADA TABLETA CONTIENE: CLORTALIDONA 50 MG ENVASE CON 20 TABLETAS.| NIFEDIPINO COMPRIMIDO DE LIBERACION PROLONGADA CADA COMPRIMIDO CONTIENE: NIFEDIPINO 30 MG ENVASE CON 30 COMPRIMIDOS.| INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSION INYECTABLE ACCION INTERMEDIA NPH CADA ML CONTIENE: INSULINA HUMANA ISOFANA (ORIGEN ADN RECOMBINANTE) 100 UI O INSULINA ZINC ISOFANA HUMANA (ORIGEN ADN RECOMBINANTE) 100 UI ENVASE CON UN| RANITIDINA GRAGEA O TABLETA CADA GRAGEA O TABLETA CONTIENE: CLORHIDRATO DE RANITIDINA EQUIVALENTE A 150 MG DE RANITIDINA. ENVASE CON 20 GRAGEAS O TABLETAS.| ENALAPRIL O LISINOPRIL O RAMIPRIL CAPSULA O TABLETA CADA CAPSULA O TABLETA CONTIENE: MALEATO DE ENALAPRIL 10 MG O LISINOPRIL 10 MG O RAMIPRIL 10 MG ENVASE CON 30 CAPSULAS O TABLETAS.| COMPLEJO B CADA TABLETA, COMPRIMIDO O CAPSULA CONTIENE: MONONITRATO O CLORHIDRATO DE TIAMINA 100 MG CLORHIDRATO DE PIRIDOXINA 5 MG CIANOCOBALAMINA 50 MICROGRAMOS ENVASE CON 30 TABLETAS, COMPRIMIDOS O CAPSULAS.| ACARBOSA TABLETA CADA TABLETA CONTIENE: ACARBOSA 50 MG ENVASE CON 30 TABLETAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG ENVASE CON 30 TABLETAS.","E109,I10X","Diabetes mellitus insulinodependiente sin complicaciones, Hipertension esencial benigna",2018-11-06 15:58:33.203,NaN,NaN,120.0,80.0,NaT,69.0,0.0,1.0,1.0
6834,1356846LOVM470206XDKAIMD2,LOVM470206XDKAIMD2,NaN,NaN,210.0,313.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,exphis_hc_diabetes,1356846,1949-08-15,F,"BEZAFIBRATO TABLETA CADA TABLETA CONTIENE: BEZAFIBRATO 200 MG ENVASE CON 30 TABLETAS.| CLORTALIDONA TABLETA CADA TABLETA CONTIENE: CLORTALIDONA 50 MG ENVASE CON 20 TABLETAS.| NIFEDIPINO COMPRIMIDO DE LIBERACION PROLONGADA CADA COMPRIMIDO CONTIENE: NIFEDIPINO 30 MG ENVASE CON 30 COMPRIMIDOS.| INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSION INYECTABLE ACCION INTERMEDIA NPH CADA ML CONTIENE: INSULINA HUMANA ISOFANA (ORIGEN ADN RECOMBINANTE) 100 UI O INSULINA ZINC ISOFANA HUMANA (ORIGEN ADN RECOMBINANTE) 100 UI ENVASE CON UN| RANITIDINA GRAGEA O TABLETA CADA GRAGEA O TABLETA CONTIENE: CLORHIDRATO DE RANITIDINA EQUIVALENTE A 150 MG DE RANITIDINA. ENVASE CON 20 GRAGEAS O TABLETAS.| ENALAPRIL O LISINOPRIL O RAMIPRIL CAPSULA O TABLETA CADA CAPSULA O TABLETA CONTIENE: MALEATO DE ENALAPRIL 10 MG O LISINOPRIL 10 MG O RAMIPRIL 10 MG ENVASE CON 30 CAPSULAS O TABLETAS.| COMPLEJO B CADA TABLETA, COMPRIMIDO O CAPSULA CONTIENE: MONONITRATO O CLORHIDRATO DE TIAMINA 100 MG CLORHIDRATO DE PIRIDOXINA 5 MG CIANOCOBALAMINA 50 MICROGRAMOS ENVASE CON 30 TABLETAS, COMPRIMIDOS O CAPSULAS.| ACARBOSA TABLETA CADA TABLETA CONTIENE: ACARBOSA 50 MG ENVASE CON 30 TABLETAS.| METFORMINA TABLETA CADA TABLETA CONTIENE: CLORHIDRATO DE METFORMINA 850 MG ENVASE CON 30 TABLETAS.","E109,I10X","Diabetes mellitus insulinodependiente sin complicaciones, Hipertension esencial benigna",2018-11-06 15:58:33.203,NaN,NaN,NaN,NaN,NaT,69.0,0.0,1.0,1.0

Reemplazando **0** por **NaN** en valores de laboratorio

In [207]:
cols = ['glucosa', 'colesterol', 'trigliceridos', 'hdl', 'ldl', 'presion_arterial', 'hba1c', 'plaquetas',
        'creatinina', 'acido_urico', 'urea', 'peso', 'altura', 'tfg', 'imc', 'glucosa1', 'glucosa2',
        'sistolica', 'diastolica']
df_exp[cols] = df_exp[cols].replace({'0':np.nan, 0:np.nan})

In [208]:
df_exp[(df_exp['cx_curp']=='PAGJ690411WZ0YDRC1') & \
       (df_exp['fecha_consulta'].dt.strftime('%Y-%m-%d') == '2007-07-12') & (df_exp['fuente'] != 'NER')]

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,hba1c,hipertension,plaquetas,creatinina,acido_urico,urea,peso,altura,tfg,imc,año_de_diagnostico_diabetes,año_de_diagnostico_hipertension,fechas_procesadas,bandera_fechas_procesadas,fuente,in_consulta,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta,glucosa1,glucosa2,sistolica,diastolica,fechas_procesadas2,edad,hta,dm_cie,hta_cie
4595,334909PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,1.63,NaN,NaN,<NA>,<NA>,NaN,NaN,corhis_somatometria,334909,1969-04-11,M,"MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| KETOCONAZOL. TABLETAS. CADA TABLETA CONTIENE: KETOCONAZOL 200 MG.","E119,J029","Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Faringitis (aguda) (catarral) (gangrenosa) (infecciosa) (subaguda) (supurativa) (ulcerativa)",2007-07-12 09:54:18.280,NaN,NaN,NaN,NaN,NaT,38.0,0.0,1.0,0.0
4596,334909PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,exphis_hc_diabetes,334909,1969-04-11,M,"MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| KETOCONAZOL. TABLETAS. CADA TABLETA CONTIENE: KETOCONAZOL 200 MG.","E119,J029","Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Faringitis (aguda) (catarral) (gangrenosa) (infecciosa) (subaguda) (supurativa) (ulcerativa)",2007-07-12 09:54:18.280,NaN,NaN,NaN,NaN,NaT,38.0,0.0,1.0,0.0
4597,334909PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,exphis_hc_diabetes,334909,1969-04-11,M,"MICONAZOL, CREMA, 20 MILIGRAMOS / GRAMO, TUBO CON 20 GRAMOS.| KETOCONAZOL. TABLETAS. CADA TABLETA CONTIENE: KETOCONAZOL 200 MG.","E119,J029","Diabetes mellitus no insulinodependiente,sin mencion de complicacion, Faringitis (aguda) (catarral) (gangrenosa) (infecciosa) (subaguda) (supurativa) (ulcerativa)",2007-07-12 09:54:18.280,NaN,NaN,NaN,NaN,NaT,38.0,0.0,1.0,0.0

Filas únicas

In [204]:
list(df_exp.columns)

['newid',
 'cx_curp',
 'nota_medica',
 'glucosa',
 'colesterol',
 'trigliceridos',
 'hdl',
 'ldl',
 'fecha',
 'presion_arterial',
 'hba1c',
 'hipertension',
 'plaquetas',
 'creatinina',
 'acido_urico',
 'urea',
 'peso',
 'altura',
 'tfg',
 'imc',
 'año_de_diagnostico_diabetes',
 'año_de_diagnostico_hipertension',
 'fechas_procesadas',
 'bandera_fechas_procesadas',
 'fuente',
 'in_consulta',
 'fecha_nacimiento',
 'sexo',
 'medicamentos',
 'codigos_cie',
 'diagnosticos',
 'fecha_consulta',
 'glucosa1',
 'glucosa2',
 'sistolica',
 'diastolica',
 'fechas_procesadas2',
 'edad',
 'hta',
 'dm_cie',
 'hta_cie']

### Data profiling

- Datos únicos por variable

In [ ]:
utils.unicos_val_by_col(df_eda)

- **Variables numéricas**

In [ ]:
number_variables = df_eda.select_dtypes(include = 'number').columns.values
(len(number_variables), number_variables)

In [ ]:
numeric_profiling_output = {elem: utils.numeric_profiling(df_eda, elem)\
                             for elem in number_variables}

df_numeric_profiling = pd.DataFrame(numeric_profiling_output).reset_index()
df_numeric_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_numeric_profiling

- **Fechas**

In [ ]:
dates_variables = df_eda.select_dtypes(include = 'datetime').columns.values
(len(dates_variables), dates_variables)

In [ ]:
date_profiling_output = {elem: utils.dates_profiling(df_eda, elem)\
                             for elem in dates_variables}

df_date_profiling = pd.DataFrame(date_profiling_output).reset_index()
df_date_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_date_profiling

- **Variables categóricas**

In [ ]:
category_variables = df_eda.select_dtypes(include = 'category').columns.values
(len(category_variables), category_variables)

In [ ]:
category_profiling_output = {elem: utils.categorical_profiling(df_eda, elem)\
                             for elem in category_variables}

df_category_profiling = pd.DataFrame(category_profiling_output).reset_index()
df_category_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_category_profiling

- **Strings**

In [ ]:
string_variables = df_eda.select_dtypes(include = 'object').columns.values
(len(string_variables), string_variables)

In [ ]:
string_profiling_output = {elem: utils.string_profiling(df_eda, elem)\
                             for elem in string_variables}

df_string_profiling = pd.DataFrame(string_profiling_output).reset_index()
df_string_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_string_profiling

#### Pandas Profiling

In [ ]:
"""
df_eda_short = df_eda[['glucosa1','glucosa2','sistolica','diastolica','colesterol',
            'trigliceridos','hdl','ldl','hba1c','plaquetas','creatinina','acido_urico',
            'urea','peso','altura','tfg','imc','año_de_diagnostico_diabetes','año_de_diagnostico_hipertension',
            'fechas_procesadas2','bandera_fechas_procesadas','in_consulta','fecha_nacimiento','sexo',
                       'codigos_cie','fecha_consulta']].copy()
from pandas_profiling import ProfileReport
profile = ProfileReport(df_eda_short, title = "Pandas Data Profiling Report Proyecto DIABETIA")
profile
profile.to_file(output_file='pandas_profiling_Proyecto_DIABETIA.html')
"""

### 4. GEDA

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns 
import matplotlib

¿Qué proporción de datos vacios se tienen por vaiable?

In [ ]:
cols = df_eda.columns 
colours = ["#000000","#FFFFFF"]
f, ax = plt.subplots(figsize = (18,14))
sns.set_style("whitegrid")
plt.title('Missing Values Heatmap', )
sns.heatmap(df[cols].isnull(), cmap=sns.color_palette(colours));

In [ ]:
df_aux = df_eda[['newid','glucosa1','glucosa2','sistolica','diastolica','colesterol','trigliceridos','hdl',
                 'ldl','hba1c','plaquetas','creatinina','acido_urico','urea','peso','altura','tfg','imc',
                 'año_de_diagnostico_diabetes','año_de_diagnostico_hipertension','fechas_procesadas2',
                 'bandera_fechas_procesadas','in_consulta','fecha_nacimiento','sexo','fecha_consulta',
                 'edad','hta','dm_cie','hta_cie']].copy()

df_aux['sexo_n'] = ""
#df_aux['edad'] = np.nan
df_aux['edad_c'] = ""
df_aux.info()

In [ ]:
for i in range(len(df_aux['newid'])):  
    
    if pd.isna(df_aux['glucosa1'][i]):        
        df_aux['glucosa1'][i] = 'NaN'        
    else:        
        df_aux['glucosa1'][i] = 'Value'
        
    if pd.isna(df_aux['glucosa2'][i]):
        df_aux['glucosa2'][i] = 'NaN'        
    else:        
        df_aux['glucosa2'][i] = 'Value'
    
    if pd.isna(df_aux['sistolica'][i]):        
        df_aux['sistolica'][i] = 'NaN'        
    else:        
        df_aux['sistolica'][i] = 'Value'
        
    if pd.isna(df_aux['diastolica'][i]):
        df_aux['diastolica'][i] = 'NaN'        
    else:        
        df_aux['diastolica'][i] = 'Value'
    
    if pd.isna(df_aux['colesterol'][i]):        
        df_aux['colesterol'][i] = 'NaN'        
    else:        
        df_aux['colesterol'][i] = 'Value'
        
    if pd.isna(df_aux['trigliceridos'][i]):
        df_aux['trigliceridos'][i] = 'NaN'        
    else:        
        df_aux['trigliceridos'][i] = 'Value'
        
    if pd.isna(df_aux['hdl'][i]):        
        df_aux['hdl'][i] = 'NaN'        
    else:        
        df_aux['hdl'][i] = 'Value'
        
    if pd.isna(df_aux['ldl'][i]):
        df_aux['ldl'][i] = 'NaN'        
    else:        
        df_aux['ldl'][i] = 'Value'
    
    if pd.isna(df_aux['hba1c'][i]):        
        df_aux['hba1c'][i] = 'NaN'        
    else:        
        df_aux['hba1c'][i] = 'Value'
        
    if pd.isna(df_aux['plaquetas'][i]):
        df_aux['plaquetas'][i] = 'NaN'        
    else:        
        df_aux['plaquetas'][i] = 'Value'
    
    if pd.isna(df_aux['creatinina'][i]):        
        df_aux['creatinina'][i] = 'NaN'        
    else:        
        df_aux['creatinina'][i] = 'Value'

    if pd.isna(df_aux['acido_urico'][i]):
        df_aux['acido_urico'][i] = 'NaN'        
    else:        
        df_aux['acido_urico'][i] = 'Value'
    
    if pd.isna(df_aux['urea'][i]):        
        df_aux['urea'][i] = 'NaN'        
    else:        
        df_aux['urea'][i] = 'Value'
        
    if pd.isna(df_aux['peso'][i]):
        df_aux['peso'][i] = 'NaN'        
    else:        
        df_aux['peso'][i] = 'Value'
    
    if pd.isna(df_aux['altura'][i]):        
        df_aux['altura'][i] = 'NaN'        
    else:        
        df_aux['altura'][i] = 'Value'
        
    if pd.isna(df_aux['tfg'][i]):
        df_aux['tfg'][i] = 'NaN'        
    else:        
        df_aux['tfg'][i] = 'Value'
  
    if pd.isna(df_aux['imc'][i]):        
        df_aux['imc'][i] = 'NaN'        
    else:        
        df_aux['imc'][i] = 'Value'
        
    if pd.isna(df_aux['año_de_diagnostico_diabetes'][i]):
        df_aux['año_de_diagnostico_diabetes'][i] = 'NaN'        
    else:        
        df_aux['año_de_diagnostico_diabetes'][i] = 'Value'
    
    if pd.isna(df_aux['año_de_diagnostico_hipertension'][i]):        
        df_aux['año_de_diagnostico_hipertension'][i] = 'NaN'        
    else:        
        df_aux['año_de_diagnostico_hipertension'][i] = 'Value'
        
    if pd.isna(df_aux['fechas_procesadas2'][i]):
        df_aux['fechas_procesadas2'][i] = 'NaN'        
    else:        
        df_aux['fechas_procesadas2'][i] = 'Value'
    
    if pd.isna(df_aux['bandera_fechas_procesadas'][i]):        
        df_aux['bandera_fechas_procesadas'][i] = 'NaN'        
    else:        
        df_aux['bandera_fechas_procesadas'][i] = 'Value'
        
    if pd.isna(df_aux['in_consulta'][i]):
        df_aux['in_consulta'][i] = 'NaN'        
    else:        
        df_aux['in_consulta'][i] = 'Value'
            
    if pd.isna(df_aux['fecha_nacimiento'][i]):        
        df_aux['fecha_nacimiento'][i] = 'NaN'        
    else:        
        df_aux['fecha_nacimiento'][i] = 'Value'
        
    if pd.isna(df_aux['sexo'][i]):
        df_aux['sexo_n'][i] = 'NaN'        
    else:        
        df_aux['sexo_n'][i] = 'Value'
        
    if pd.isna(df_aux['edad'][i]):
        df_aux['edad_c'][i] = 'NaN'        
    else:        
        df_aux['edad_c'][i] = 'Value'
    """
    if pd.isna(df_aux['hta'][i]):
        df_aux['hta'][i] = 'NaN'        
    else:        
        df_aux['hta'][i] = 'Value'
        
    if pd.isna(df_aux['dm_cie'][i]):
        df_aux['dm_cie'][i] = 'NaN'        
    else:        
        df_aux['dm_cie'][i] = 'Value'
        
    if pd.isna(df_aux['hta_cie'][i]):
        df_aux['hta_cie'][i] = 'NaN'        
    else:        
        df_aux['hta_cie'][i] = 'Value'
    """

In [ ]:
df_aux.info()

In [ ]:
prop_g1 = df_aux.groupby(['glucosa1'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['glucosa2'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['sistolica'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['diastolica'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['colesterol'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['trigliceridos'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['hdl'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['ldl'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['hba1c'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['plaquetas'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['creatinina'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['acido_urico'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['urea'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['peso'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['altura'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['tfg'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['imc'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['año_de_diagnostico_diabetes'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['año_de_diagnostico_hipertension'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['fechas_procesadas2'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['bandera_fechas_procesadas'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['in_consulta'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['fecha_nacimiento'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['sexo_n'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['edad_c'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['hta'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['dm_cie'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['hta_cie'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

Distribución de las variables númericas

In [ ]:
fig, axs = plt.subplots(9, 2, figsize=(15, 50))

sns.histplot(data = df_eda, x="glucosa1", kde=True, color="blue", ax=axs[0,0])
sns.histplot(data = df_eda, x="glucosa2", kde=True, color="green", ax=axs[0,1])
sns.histplot(data = df_eda, x="sistolica", kde=True, color="blue", ax=axs[1,0])
sns.histplot(data = df_eda, x="diastolica", kde=True, color="green", ax=axs[1,1])
sns.histplot(data = df_eda, x="colesterol", kde=True, color="blue", ax=axs[2,0])
sns.histplot(data = df_eda, x="trigliceridos", kde=True, color="green", ax=axs[2,1])
sns.histplot(data = df_eda, x="hdl", kde=True, color="blue", ax=axs[3,0])
sns.histplot(data = df_eda, x="ldl", kde=True, color="green", ax=axs[3,1])
sns.histplot(data = df_eda, x="hba1c", kde=True, color="blue", ax=axs[4,0])
sns.histplot(data = df_eda, x="plaquetas", kde=True, color="green", ax=axs[4,1])
sns.histplot(data = df_eda, x="creatinina", kde=True, color="blue", ax=axs[5,0])
sns.histplot(data = df_eda, x="tfg", kde=True, color="green", ax=axs[5,1])
sns.histplot(data = df_eda, x="acido_urico", kde=True, color="blue", ax=axs[6,0])
sns.histplot(data = df_eda, x="urea", kde=True, color="green", ax=axs[6,1])
sns.histplot(data = df_eda, x="peso", kde=True, color="blue", ax=axs[7,0])
sns.histplot(data = df_eda, x="altura", kde=True, color="green", ax=axs[7,1])
sns.histplot(data = df_eda, x="imc", kde=True, color="blue", ax=axs[8,0])
sns.histplot(data = df_eda, x="edad", kde=True, color="green", ax=axs[8,1])

plt.show()

In [ ]:
order = df_eda['año_de_diagnostico_diabetes'].sort_values().unique()
order = order[~pd.isnull(order)]

sns.set(font_scale = 2)
f, axes = plt.subplots(1, 2, figsize=(28, 9), gridspec_kw={'hspace': 1, 'wspace': 0.5})
g1 = sns.countplot(df_eda["año_de_diagnostico_diabetes"], order= order, ax=axes[0], color="#023246")
g1.axes.set_title("Frecuencia por Año de diagnóstico de DM \n",fontsize=25)
g1.set_xlabel("Año",fontsize=20)
g1.set_ylabel("Frecuencia (conteo)",fontsize=20)
g1.set_yticklabels(g1.get_yticks(), size = 20)              
g1.set_xticklabels(g1.get_xticklabels(),rotation = 90)

order = df_eda['año_de_diagnostico_hipertension'].sort_values().unique()
order = order[~pd.isnull(order)]

g2 = sns.countplot(df_eda["año_de_diagnostico_hipertension"], order= order, ax=axes[1], color="#008081")
g2.axes.set_title("Frecuencia por Año de Dx de Hipertesión \n",fontsize=25)
g2.set_xlabel("Año",fontsize=20)
aux = g2.set_ylabel("Frecuencia (conteo)",fontsize=20)
g2.set_yticklabels(g2.get_yticks(), size = 20)    
g2.set_xticklabels(g2.get_xticklabels(),rotation = 90)
print("")

In [ ]:
sns.set(font_scale = 2)
f, axes = plt.subplots(2, 2, figsize=(28, 15), gridspec_kw={'hspace': 1, 'wspace': 0.5})

g1 = sns.countplot(df_aux["sexo"], ax=axes[0,0], color="#023246")
g1.axes.set_title("Frecuencia por Sexo \n",fontsize=25)
g1.set_xlabel("Sexo",fontsize=20)
g1.set_ylabel("Frecuencia (conteo)",fontsize=20)
g1.set_yticklabels(g1.get_yticks(), size = 20)              
#g1.set_xticklabels(g1.get_xticklabels(),rotation = 90)

g2 = sns.countplot(df_aux["hta"], ax=axes[0,1], color="#008081")
g2.axes.set_title("Frecuencia de Hipertesión \n",fontsize=25)
g2.set_xlabel("Marca hipertensión",fontsize=20)
g2.set_ylabel("Frecuencia (conteo)",fontsize=20)
g2.set_yticklabels(g2.get_yticks(), size = 20)    
#g2.set_xticklabels(g2.get_xticklabels(),rotation = 90)

g3 = sns.countplot(df_aux["dm_cie"], ax=axes[1,0], color="#023246")
g3.axes.set_title("Frecuencia DM CIE 10 \n",fontsize=25)
g3.set_xlabel("DM CIE 10",fontsize=20)
g3.set_ylabel("Frecuencia (conteo)",fontsize=20)
g3.set_yticklabels(g3.get_yticks(), size = 20)              
#g3.set_xticklabels(g3.get_xticklabels(),rotation = 90)

g4 = sns.countplot(df_aux["hta_cie"], ax=axes[1,1], color="#008081")
g4.axes.set_title("Frecuencia HTA CIE 10 \n",fontsize=25)
g4.set_xlabel("HTA CIE 10",fontsize=20)
g4.set_ylabel("Frecuencia (conteo)",fontsize=20)
g4.set_yticklabels(g4.get_yticks(), size = 20)    
#g4.set_xticklabels(g4.get_xticklabels(),rotation = 90)

print("")

In [ ]:
sns.reset_defaults()
dm_hta = df_aux.groupby(['dm_cie', 'hta_cie'],
                          as_index=False)['newid']\
                          .count()\
                          .rename(columns={'newid': 'registros'})

fig = plt.figure(figsize=(40,40))
colors = ['#9ECEB8', '#327BA4']# colores de 'YlGnBu'

a = sns.FacetGrid(data=dm_hta, col='dm_cie', col_wrap=2, sharex=False, sharey=False,
                 aspect=1.5)
a.map_dataframe(sns.barplot, x='hta_cie', y='registros', palette = colors)
for ax in a.axes.flat:
    for label in ax.get_xticklabels():
        label.set_size(11)
        ax.yaxis.set_major_formatter(plt.FuncFormatter(utils.number_formatter))
        a.fig.tight_layout()
    
plt.subplots_adjust(top=0.9)

aux = a.fig.suptitle("Distribución de DM VS HTA \n \n \n", fontsize=12)


# The color cycles are going to all the same, doesn't matter which axes we use
Ax = a.axes[0]


# Some how for a plot of 5 bars, there are 6 patches, what is the 6th one?
Boxes = [item for item in Ax.get_children()
         if isinstance(item, matplotlib.patches.Rectangle)][:-1]

# There is no labels, need to define the labels
legend_labels  = ['0 = no hta cie', '1 = hta cie']

# Create the legend patches
legend_patches = [matplotlib.patches.Patch(color=C, label=L) for
                  C, L in zip([item.get_facecolor() for item in Boxes],
                              legend_labels)]

# Plot the legend
plt.legend(handles=legend_patches)

Covariables

In [ ]:
corr = df_eda.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

Edad primera toma presión arterial

In [ ]:
df_pru = df_eda[(~df_eda['sistolica'].isnull()) & (df_eda.sistolica != 0) &
       (~df_eda['diastolica'].isnull()) & (df_eda.diastolica != 0) & (~df_eda['edad'].isnull())]\
      [['newid','sistolica','diastolica','edad','fecha_consulta']].sort_values('newid')
sns.histplot(data=df_pru.groupby(["newid", "edad"])["fecha_consulta"].first(), x="edad")
plt.show()

Edad presión primera presión arterial alta

In [ ]:
df_pru = df_eda[(df_eda.sistolica >= 130) & (df_eda.diastolica >= 80) & (~df_eda['edad'].isnull())]\
      [['newid','sistolica','diastolica','edad','fecha_consulta']].sort_values('newid')
sns.histplot(data=df_pru.groupby(["newid", "edad"])["fecha_consulta"].first(), x="edad")
plt.show()

Número de mediciones y peridodo de tiempo entre mediciones

In [ ]:
df_pru = df_eda[(~df_eda['sistolica'].isnull()) & (df_eda.sistolica != 0) &
                (~df_eda['diastolica'].isnull()) & (df_eda.diastolica != 0)]\
               [['newid','sistolica','diastolica','fecha_consulta']].sort_values('newid')
df_pru

In [ ]:
df_c = pd.DataFrame(df_pru.groupby('newid').size())
df_c.reset_index(inplace=True)
df_c.columns = ['newid', 'cont']
df_c

In [ ]:
df_pru['days_since_last_event'] = (df_pru.sort_values(['newid','fecha_consulta'])
                                 .groupby('newid')['fecha_consulta'].diff()
                                 .dt.days)
df_t = df_pru.groupby('newid')['days_since_last_event'].agg([pd.np.min, pd.np.max, pd.np.mean])
df_t.reset_index(inplace=True)
df_t

In [ ]:
df_merg = pd.merge(df_c, df_t, on="newid")
display(df_merg)
df_merg[df_merg.cont >2]

Cie 10

In [ ]:
df_pru[df_eda['newid'] == "1153170ZACF481001A5LI4QC1"]

Hipertensión