# EDA - GEDA
## Estancia de investigación Maestría de Ciencia de Datos
## Aide Jazmín González Cruz

### 1. Carga de librerías

In [18]:
import pandas as pd
import numpy as np
import sys
import os
from os.path import dirname
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
sys.path.append(dirname('../src'))
from src.utils import utils, processing
import math

### 2. Carga de datos

In [2]:
df = utils.load_df("../Data/preprocessing_data.pkl")
df

,newid,cx_curp,glucosa,colesterol,trigliceridos,hdl,ldl,presion_arterial,hba1c,plaquetas,...,dm_cie,hta_cie,renal_cie,fecha_laboratorio,dif_date_lab,dif_date_lab_from_ini,occurance_counter,año_dx_dm,año_dx_hta,year_consulta
0,2128MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,NaN,NaN,NaN,NaN,NaN,130/90,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,1,NaN,NaN,2003
1,31723PEVR470901ASKH1QC1,PEVR470901ASKH1QC1,134,NaN,NaN,NaN,NaN,120/90,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,2,NaN,NaN,2004
2,41103ROGG540607PNXOCQD4,ROGG540607PNXOCQD4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,3,NaN,NaN,2004
3,46589PEVR470901ASKH1QC1,PEVR470901ASKH1QC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,4,NaN,NaN,2004
4,47454MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,5,NaN,NaN,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,6410853MAVC341201G0YJFRC1,MAVC341201G0YJFRC1,110|0,NaN,NaN,NaN,NaN,130/75,NaN,NaN,...,1.0,0.0,0.0,NaT,NaN,NaN,4441,2000.0,2010.0,2021
4995,3356716COAG580101F7ALKRC3,COAG580101F7ALKRC3,206|0,NaN,NaN,NaN,NaN,120/80,NaN,NaN,...,1.0,0.0,0.0,NaT,NaN,NaN,4442,1997.0,NaN,2021
4996,3359740PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,4443,NaN,NaN,2021
4997,8273014MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,124,NaN,NaN,NaN,NaN,110/70,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,4444,NaN,NaN,2021
4998,3196790SAJB6406296LNT8PC4,SAJB6406296LNT8PC4,145|0,NaN,NaN,NaN,NaN,110/70,NaN,NaN,...,1.0,0.0,0.0,NaT,100.0,4591.0,2,1995.0,NaN,2021

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 0 to 4998
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   newid                  4999 non-null   object
 1   cx_curp                4999 non-null   object
 2   glucosa                2961 non-null   object
 3   colesterol             269 non-null    float64
 4   trigliceridos          270 non-null    float64
 5   hdl                    28 non-null     float64
 6   ldl                    25 non-null     float64
 7   presion_arterial       4462 non-null   object
 8   hba1c                  82 non-null     float64
 9   plaquetas              69 non-null     float64
 10  creatinina             135 non-null    float64
 11  acido_urico            82 non-null     float64
 12  urea                   53 non-null     float64
 13  peso                   4791 non-null   float64
 14  altura                 4791 non-null   float64
 15  tfg                    62 non-null     float64
 16  imc                    104 non-null    float64
 17  fuente                 4999 non-null   object
 18  in_consulta            4999 non-null   int64
 19  fecha_nacimiento       4943 non-null   datetime64[ns]
 20  sexo                   4943 non-null   category
 21  medicamentos           4329 non-null   object
 22  codigos_cie            1966 non-null   object
 23  diagnosticos           1966 non-null   object
 24  fecha_consulta         4999 non-null   datetime64[ns]
 25  sistolica              4462 non-null   float64
 26  diastolica             4462 non-null   float64
 27  glucosa1               2191 non-null   float64
 28  glucosa2               68 non-null     float64
 29  edad                   4943 non-null   float64
 30  hta                    4999 non-null   category
 31  dm_cie                 4999 non-null   category
 32  hta_cie                4999 non-null   category
 33  renal_cie              4999 non-null   category
 34  fecha_laboratorio      298 non-null    datetime64[ns]
 35  dif_date_lab           480 non-null    float64
 36  dif_date_lab_from_ini  555 non-null    float64
 37  occurance_counter      4999 non-null   int64
 38  año_dx_dm              2259 non-null   float64
 39  año_dx_hta             1200 non-null   float64
 40  year_consulta          4999 non-null   int64
dtypes: category(5), datetime64[ns](3), float64(22), int64(3), object(8)
memory usage: 1.4+ MB

### 3. Data profiling

- **Datos únicos por variable**

In [4]:
utils.unicos_val_by_col(df)

newid:  4999
cx_curp:  55
glucosa:  461
colesterol:  130
trigliceridos:  167
hdl:  21
ldl:  23
presion_arterial:  229
hba1c:  33
plaquetas:  61
creatinina:  25
acido_urico:  46
urea:  43
peso:  399
altura:  53
tfg:  42
imc:  75
fuente:  3
in_consulta:  4998
fecha_nacimiento:  55
sexo:  3
medicamentos:  4031
codigos_cie:  786
diagnosticos:  881
fecha_consulta:  4999
sistolica:  61
diastolica:  43
glucosa1:  273
glucosa2:  54
edad:  70
hta:  1
dm_cie:  2
hta_cie:  2
renal_cie:  2
fecha_laboratorio:  268
dif_date_lab:  181
dif_date_lab_from_ini:  248
occurance_counter:  4444
año_dx_dm:  20
año_dx_hta:  13
year_consulta:  19

- **Variables numéricas**

In [5]:
number_variables = df.select_dtypes(include = 'number').columns.values
(len(number_variables), number_variables)

(25,
 array(['colesterol', 'trigliceridos', 'hdl', 'ldl', 'hba1c', 'plaquetas',
        'creatinina', 'acido_urico', 'urea', 'peso', 'altura', 'tfg',
        'imc', 'in_consulta', 'sistolica', 'diastolica', 'glucosa1',
        'glucosa2', 'edad', 'dif_date_lab', 'dif_date_lab_from_ini',
        'occurance_counter', 'año_dx_dm', 'año_dx_hta', 'year_consulta'],
       dtype=object))

In [6]:
numeric_profiling_output = {elem: utils.numeric_profiling(df, elem)\
                             for elem in number_variables}

df_numeric_profiling = pd.DataFrame(numeric_profiling_output).reset_index()
df_numeric_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_numeric_profiling

,metric,colesterol,trigliceridos,hdl,ldl,hba1c,plaquetas,creatinina,acido_urico,urea,...,diastolica,glucosa1,glucosa2,edad,dif_date_lab,dif_date_lab_from_ini,occurance_counter,año_dx_dm,año_dx_hta,year_consulta
0,max,351,1332,73,171,6009,475000,22,9.5,545,...,140,3147,499,87,9953,11637,4444,2018,2018,2021
1,min,40,63,20,22.8,5.1,71,0.5,2.7,14,...,1,0.7,6.6,19,1,0,1,1981,1997,2003
2,mean,198.577,233.381,42.9264,106.256,81.4206,47891,1.38874,5.90841,68.2804,...,76.5641,142.154,183.871,59.4012,302.306,1415.02,1975.93,1999.53,2005.77,2013.16
3,stdv,45.0498,160.55,14.0646,38.1864,662.676,110596,2.45665,1.52054,78.4518,...,8.44534,95.1175,102.923,12.7927,803.254,1641.56,1396.51,9.2339,6.67756,4.64113
4,25%,172,136,35.75,88,7,244,0.7,4.825,34,...,70,103,118.5,52,51,314.5,695.5,1995,1999,2009
5,median,199,185.5,45,110,8,279,0.9,6.2,46.3,...,80,125,154.5,61,127,1120,1945,2001,2006,2013
6,mode,0 204.0 dtype: float64,0 148.0 dtype: float64,0 44.0 1 47.0 dtype: float64,0 131.0 dtype: float64,0 8.0 dtype: float64,0 362.0 dtype: float64,0 0.7 dtype: float64,0 6.6 dtype: float64,0 89.0 dtype: float64,...,0 80.0 dtype: float64,0 120.0 dtype: float64,0 130.0 dtype: float64,0 60.0 1 63.0 dtype: float64,0 184.0 dtype: float64,0 0.0 dtype: float64,0 1 dtype: int64,0 2000.0 dtype: float64,0 1999.0 dtype: float64,0 2018 dtype: int64
7,75%,220,277.5,49,131,9.475,362,1.1,6.875,86,...,80,156,245,69,233,1981,3194.5,2006,2012,2017
8,kurtosis,1.325,13.8613,0.143351,-0.0737403,81.9987,3.84611,46.4794,-0.577569,26.7266,...,9.11894,520.478,0.642072,0.114271,89.1411,15.8536,-1.27518,-0.283051,-1.48365,-1.11873
9,skewness,0.295096,2.95055,0.0726614,-0.608905,9.05528,2.20564,6.5395,-0.0341158,4.65667,...,-0.33262,18.1885,0.90062,-0.605857,8.35988,3.25587,0.0885925,-0.648595,0.0795331,-0.148358
10,uniques,129,166,20,22,32,60,24,45,42,...,42,272,53,69,180,247,4444,19,12,19
11,valores_unicos,129,166,20,22,32,60,24,45,42,...,42,272,53,69,180,247,4444,19,12,19
12,renglones_totales,4999,4999,4999,4999,4999,4999,4999,4999,4999,...,4999,4999,4999,4999,4999,4999,4999,4999,4999,4999
13,faltantes_totales,4730,4729,4971,4974,4917,4930,4864,4917,4946,...,537,2808,4931,56,4519,4444,0,2740,3799,0
14,prop_missings,94.6189,94.5989,99.4399,99.4999,98.3597,98.6197,97.2995,98.3597,98.9398,...,10.7421,56.1712,98.6397,1.12022,90.3981,88.8978,0,54.811,75.9952,0
15,top1_repeated,204,148,47,131,8,362,0.7,6.6,89,...,80,120,130,63,184,0,1,2000,1999,2018
16,top2_repeated,187,136,44,104,5.7,235,0.6,3.9,46.3,...,70,100,140,60,1,3590,2,2001,1997,2017
17,top3_repeated,200,153,73,101,10,305000,1,6.5,14,...,90,140,114,66,35,748,3,1981,2013,2016

- **Fechas**

In [7]:
dates_variables = df.select_dtypes(include = 'datetime').columns.values
(len(dates_variables), dates_variables)

(3,
 array(['fecha_nacimiento', 'fecha_consulta', 'fecha_laboratorio'],
       dtype=object))

In [8]:
date_profiling_output = {elem: utils.dates_profiling(df, elem)\
                             for elem in dates_variables}

df_date_profiling = pd.DataFrame(date_profiling_output).reset_index()
df_date_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_date_profiling

,metric,fecha_nacimiento,fecha_consulta,fecha_laboratorio
0,max,1987-04-10 00:00:00,2021-08-02 18:32:22.237000,2021-06-28 00:00:00
1,min,1933-05-01 00:00:00,2003-11-19 17:39:18.500000,2009-12-02 00:00:00
2,missings,56,0,4701
3,uniques,54,4999,267
4,top1_repeated,1963-02-13 00:00:00,2021-08-02 18:32:22.237000,2018-03-01 00:00:00
5,top2_repeated,1977-06-16 00:00:00,2011-03-11 10:18:38.663000,2020-01-01 00:00:00
6,top3_repeated,1955-03-21 00:00:00,2011-02-24 12:03:55.283000,2017-06-01 00:00:00

- **Variables categóricas**

In [9]:
category_variables = df.select_dtypes(include = 'category').columns.values
(len(category_variables), category_variables)

(5, array(['sexo', 'hta', 'dm_cie', 'hta_cie', 'renal_cie'], dtype=object))

In [10]:
category_profiling_output = {elem: utils.categorical_profiling(df, elem)\
                             for elem in category_variables}

df_category_profiling = pd.DataFrame(category_profiling_output).reset_index()
df_category_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_category_profiling

,metric,sexo,hta,dm_cie,hta_cie,renal_cie
0,mode,"['F'] Categories (2, object): ['F', 'M']","[0.0] Categories (2, float64): [0.0, 1.0]","[0.0] Categories (2, float64): [0.0, 1.0]","[0.0] Categories (2, float64): [0.0, 1.0]","[0.0] Categories (2, float64): [0.0, 1.0]"
1,numero_categorias,2,1,2,2,2
2,nombres_categoria,"['M', 'F', NaN] Categories (2, object): ['M', ...","[0.0] Categories (1, float64): [0.0]","[0.0, 1.0] Categories (2, float64): [0.0, 1.0]","[0.0, 1.0] Categories (2, float64): [0.0, 1.0]","[0.0, 1.0] Categories (2, float64): [0.0, 1.0]"
3,valores_unicos,2,1,2,2,2
4,renglones_totales,4999,4999,4999,4999,4999
5,faltantes_totales,56,0,0,0,0
6,proporcion_faltantes,1.12022,0,0,0,0
7,top1,F,0,0,0,0
8,top2,M,1,1,1,1
9,top3,undefined,undefined,undefined,undefined,undefined

- **Strings**

In [11]:
string_variables = df.select_dtypes(include = 'object').columns.values
(len(string_variables), string_variables)

(8,
 array(['newid', 'cx_curp', 'glucosa', 'presion_arterial', 'fuente',
        'medicamentos', 'codigos_cie', 'diagnosticos'], dtype=object))

In [12]:
string_profiling_output = {elem: utils.string_profiling(df, elem)\
                             for elem in string_variables}

df_string_profiling = pd.DataFrame(string_profiling_output).reset_index()
df_string_profiling.rename(columns={'index': 'metric'}, inplace=True)
df_string_profiling

,metric,newid,cx_curp,glucosa,presion_arterial,fuente,medicamentos,codigos_cie,diagnosticos
0,mode,"[1000536SOLG360601I3NUBIA1, 1003096DIRL630201M...",[DIRL630201M8ADARC1],[0|0],[120/80],[corhis_somatometria],"[CAPTOPRIL, TABLETAS CADA TABLETA CONTIENE: CA...",[E119],[Diabetes tipo II]
1,uniques,4999,55,460,228,3,4030,785,880
2,missings,0,0,2038,537,0,670,3033,3033
3,average lenght,24.7149,18,3.42308,5.68474,26.4323,843.801,5.74875,31.2967
4,max lenght,25,18,11,7,38,26962,39,251
5,min lenght,22,18,1,3,18,3,3,3
6,top1_repeated,999802LOVM470206XDKAIMD2,DIRL630201M8ADARC1,0|0,120/80,corhis_somatometria,"CAPTOPRIL, TABLETAS CADA TABLETA CONTIENE: CAP...",E119,Diabetes tipo II
7,top2_repeated,2332965MACL740410NK1YGRC2,CAAJ770616UNX3HRC2,120|0,120/70,corhis_somatometria/exphis_hc_diabetes,GLIBENCLAMIDA TABLETAS. CADA TABLETA CONTIENE:...,"E119,I10X",Diabetes mellitus no insulinodependiente sin c...
8,top3_repeated,2325821OOCG680408JBU4ERC2,ZEPL5503219FZQ6QC2,110|0,110/70,exphis_hc_diabetes,INSULINA HUMANA. SUSPENSION INYECTABLE. ACCION...,Z713,Diabetes de edad adulta

### 4. EDA

Creando data frame auxiliar para ver proporciones de datos

In [13]:
df_aux = df.copy()
df_aux['sexo_n'] = ""
df_aux['edad_c'] = ""

for i in range(len(df_aux['newid'])):  
    
    if pd.isna(df_aux['glucosa1'][i]):        
        df_aux['glucosa1'][i] = 'NaN'        
    else:        
        df_aux['glucosa1'][i] = 'Value'
        
    if pd.isna(df_aux['glucosa2'][i]):
        df_aux['glucosa2'][i] = 'NaN'        
    else:        
        df_aux['glucosa2'][i] = 'Value'
    
    if pd.isna(df_aux['sistolica'][i]):        
        df_aux['sistolica'][i] = 'NaN'        
    else:        
        df_aux['sistolica'][i] = 'Value'
        
    if pd.isna(df_aux['diastolica'][i]):
        df_aux['diastolica'][i] = 'NaN'        
    else:        
        df_aux['diastolica'][i] = 'Value'
    
    if pd.isna(df_aux['colesterol'][i]):        
        df_aux['colesterol'][i] = 'NaN'        
    else:        
        df_aux['colesterol'][i] = 'Value'
        
    if pd.isna(df_aux['trigliceridos'][i]):
        df_aux['trigliceridos'][i] = 'NaN'        
    else:        
        df_aux['trigliceridos'][i] = 'Value'
        
    if pd.isna(df_aux['hdl'][i]):        
        df_aux['hdl'][i] = 'NaN'        
    else:        
        df_aux['hdl'][i] = 'Value'
        
    if pd.isna(df_aux['ldl'][i]):
        df_aux['ldl'][i] = 'NaN'        
    else:        
        df_aux['ldl'][i] = 'Value'
    
    if pd.isna(df_aux['hba1c'][i]):        
        df_aux['hba1c'][i] = 'NaN'        
    else:        
        df_aux['hba1c'][i] = 'Value'
        
    if pd.isna(df_aux['plaquetas'][i]):
        df_aux['plaquetas'][i] = 'NaN'        
    else:        
        df_aux['plaquetas'][i] = 'Value'
    
    if pd.isna(df_aux['creatinina'][i]):        
        df_aux['creatinina'][i] = 'NaN'        
    else:        
        df_aux['creatinina'][i] = 'Value'

    if pd.isna(df_aux['acido_urico'][i]):
        df_aux['acido_urico'][i] = 'NaN'        
    else:        
        df_aux['acido_urico'][i] = 'Value'
    
    if pd.isna(df_aux['urea'][i]):        
        df_aux['urea'][i] = 'NaN'        
    else:        
        df_aux['urea'][i] = 'Value'
        
    if pd.isna(df_aux['peso'][i]):
        df_aux['peso'][i] = 'NaN'        
    else:        
        df_aux['peso'][i] = 'Value'
    
    if pd.isna(df_aux['altura'][i]):        
        df_aux['altura'][i] = 'NaN'        
    else:        
        df_aux['altura'][i] = 'Value'
        
    if pd.isna(df_aux['tfg'][i]):
        df_aux['tfg'][i] = 'NaN'        
    else:        
        df_aux['tfg'][i] = 'Value'
  
    if pd.isna(df_aux['imc'][i]):        
        df_aux['imc'][i] = 'NaN'        
    else:        
        df_aux['imc'][i] = 'Value'
        
    if pd.isna(df_aux['in_consulta'][i]):
        df_aux['in_consulta'][i] = 'NaN'        
    else:        
        df_aux['in_consulta'][i] = 'Value'
            
    if pd.isna(df_aux['fecha_nacimiento'][i]):        
        df_aux['fecha_nacimiento'][i] = 'NaN'        
    else:        
        df_aux['fecha_nacimiento'][i] = 'Value'
        
    if pd.isna(df_aux['sexo'][i]):
        df_aux['sexo_n'][i] = 'NaN'        
    else:        
        df_aux['sexo_n'][i] = 'Value'
        
    if pd.isna(df_aux['edad'][i]):
        df_aux['edad_c'][i] = 'NaN'        
    else:        
        df_aux['edad_c'][i] = 'Value'
        
    if pd.isna(df_aux['año_dx_dm'][i]):
        df_aux['año_dx_dm'][i] = 'NaN'        
    else:        
        df_aux['año_dx_dm'][i] = 'Value'
    
    if pd.isna(df_aux['año_dx_hta'][i]):        
        df_aux['año_dx_hta'][i] = 'NaN'        
    else:        
        df_aux['año_dx_hta'][i] = 'Value'
    
    if pd.isna(df_aux['year_consulta'][i]):        
        df_aux['year_consulta'][i] = 'NaN'        
    else:        
        df_aux['year_consulta'][i] = 'Value'
    
prop_g1 = df_aux.groupby(['glucosa1'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['glucosa2'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['sistolica'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['diastolica'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['colesterol'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['trigliceridos'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['hdl'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['ldl'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['hba1c'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['plaquetas'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['creatinina'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['acido_urico'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['urea'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['peso'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['altura'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['tfg'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['imc'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['in_consulta'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['fecha_nacimiento'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['sexo_n'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['edad_c'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['hta'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['dm_cie'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g2 = df_aux.groupby(['hta_cie'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))
                      
prop_g2 = df_aux.groupby(['año_dx_dm'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g2['prop'] = prop_g2['count']/np.sum(prop_g2['count'])
display(prop_g2.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['año_dx_hta'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

prop_g1 = df_aux.groupby(['year_consulta'], as_index=False)['newid'].count().rename(columns={'newid': 'count'})
prop_g1['prop'] = prop_g1['count']/np.sum(prop_g1['count'])
display(prop_g1.sort_values(by = ['prop'], ascending = False))

  glucosa1  count      prop
0      NaN   2807  0.561625
1    Value   2191  0.438375

  glucosa2  count      prop
0      NaN   4297  0.984422
1    Value     68  0.015578

  sistolica  count      prop
1     Value   4462  0.892579
0       NaN    537  0.107421

  diastolica  count      prop
1      Value   4462  0.892579
0        NaN    537  0.107421

  colesterol  count      prop
0        NaN   3755  0.933151
1      Value    269  0.066849

  trigliceridos  count      prop
0           NaN   3754  0.932903
1         Value    270  0.067097

     hdl  count      prop
0    NaN   3502  0.992068
1  Value     28  0.007932

     ldl  count      prop
0    NaN   3505  0.992918
1  Value     25  0.007082

   hba1c  count      prop
0    NaN   3589  0.977663
1  Value     82  0.022337

  plaquetas  count      prop
0       NaN   3640  0.981397
1     Value     69  0.018603

  creatinina  count      prop
0        NaN   3568  0.963543
1      Value    135  0.036457

  acido_urico  count      prop
0         NaN   3627  0.977892
1       Value     82  0.022108

    urea  count     prop
0    NaN   3167  0.98354
1  Value     53  0.01646

    peso  count      prop
1  Value   4791  0.958392
0    NaN    208  0.041608

  altura  count      prop
1  Value   4791  0.958392
0    NaN    208  0.041608

     tfg  count      prop
0    NaN   3158  0.980745
1  Value     62  0.019255

     imc  count      prop
0    NaN   3575  0.971731
1  Value    104  0.028269

  in_consulta  count  prop
0       Value   4999   1.0

  fecha_nacimiento  count      prop
1            Value   4943  0.988798
0              NaN     56  0.011202

  sexo_n  count      prop
1  Value   4943  0.988798
0    NaN     56  0.011202

  edad_c  count      prop
1  Value   4943  0.988798
0    NaN     56  0.011202

   hta  count  prop
0  0.0   4999   1.0
1  1.0      0   0.0

  dm_cie  count      prop
0    0.0   3153  0.630726
1    1.0   1846  0.369274

  hta_cie  count      prop
0     0.0   4291  0.858372
1     1.0    708  0.141628

  año_dx_dm  count      prop
0       NaN   2730  0.547204
1     Value   2259  0.452796

  año_dx_hta  count      prop
0        NaN   3789  0.759471
1      Value   1200  0.240529

  year_consulta  count  prop
0         Value   4999   1.0

**Creación de variables**

- IMC Calculado: Peso (kg) / Altura (m)²

In [14]:
df["imc_calculado"] = np.nan
df["imc_calculado"] = np.where(~pd.isna(df["peso"])&~pd.isna(df["altura"]), \
                                       (df["peso"]/(df["altura"]**2)), 
                                       np.nan)
df = processing.imc_calculo_range(df)

df[['imc_calculado','imc_range']].sort_values(by = ['imc_calculado','imc_range'], ascending = False)

      imc_calculado  imc_range
59        64.338235        4.0
82        62.716263        4.0
88        62.716263        4.0
109       62.716263        4.0
3602      60.905350        4.0
...             ...        ...
4962            NaN        NaN
4963            NaN        NaN
4965            NaN        NaN
4985            NaN        NaN
4996            NaN        NaN

[4999 rows x 2 columns]

- Ventanas fecha_consulta: desde la primera consulta y entre consultas

In [16]:
df = processing.ventana_ini_consulta(df)
df = processing.ventana_entre_consultas(df)

0                0 days 00:00:00
1                0 days 00:00:00
2                0 days 00:00:00
3        35 days 00:29:40.560000
4       223 days 21:06:01.763000
                  ...
4994   6100 days 08:39:08.333000
4995    729 days 00:25:22.070000
4996   5130 days 08:27:11.050000
4997   6463 days 00:12:22.070000
4998   1089 days 04:25:40.467000
Name: vent_ini_aux, Length: 4999, dtype: timedelta64[ns]

- Ventanas fecha_laboratorio: desde el primer laboratorio y entre laboratorios

In [19]:
df = processing.ventana_ini_lab(df)
#df = processing.ventana_entre_lab(df)

- Existencia del primer DX DM

In [42]:
d_dx_dm = df[df['dm_cie']==1][['cx_curp','fecha_consulta','dm_cie']].\
                              sort_values(by = ['cx_curp','fecha_consulta'])
display(d_dx_dm)
d_dx_dm_u = d_dx_dm.groupby('cx_curp').first()
display(d_dx_dm_u.head())
print(d_dx_dm_u.shape)

                 cx_curp          fecha_consulta dm_cie
2778  AAAZ581217189U5PC3 2014-11-25 11:39:53.817    1.0
2810  AAAZ581217189U5PC3 2015-01-07 11:01:51.827    1.0
2840  AAAZ581217189U5PC3 2015-02-09 11:43:48.210    1.0
2867  AAAZ581217189U5PC3 2015-03-11 07:32:57.030    1.0
2891  AAAZ581217189U5PC3 2015-04-10 08:50:42.933    1.0
...                  ...                     ...    ...
4834  ZEPL5503219FZQ6QC2 2020-12-01 10:12:55.770    1.0
4857  ZEPL5503219FZQ6QC2 2021-01-06 08:09:33.563    1.0
4894  ZEPL5503219FZQ6QC2 2021-03-01 14:15:32.570    1.0
4922  ZEPL5503219FZQ6QC2 2021-04-14 12:30:05.237    1.0
4980  ZEPL5503219FZQ6QC2 2021-07-02 13:00:57.500    1.0

[1846 rows x 3 columns]

                            fecha_consulta dm_cie
cx_curp
AAAZ581217189U5PC3 2014-11-25 11:39:53.817    1.0
AADV5603014KS44QC1 2009-10-28 17:25:02.853    1.0
AEDJ750301XGAEGRC1 2012-08-23 18:15:56.640    1.0
AOCC511229UR4RIRC3 2012-06-21 11:33:14.557    1.0
BOLM631201LV35XPC1 2009-01-29 14:20:44.237    1.0

(55, 2)

In [68]:
df_dx_dm = df.drop_duplicates(subset=['cx_curp','año_dx_dm'])[['cx_curp','año_dx_dm']]
df_dx_dm = df_dx_dm.loc[df_dx_dm['año_dx_dm'].notnull()]
print(df_dx_dm.shape)
df_dx_dm.sort_values(by=['cx_curp','año_dx_dm'])

(25, 2)

                 cx_curp  año_dx_dm
2715  AAAZ581217189U5PC3     1998.0
10    AADV5603014KS44QC1     1999.0
2300  AEDJ750301XGAEGRC1     2013.0
2038  AOCC511229UR4RIRC3     2010.0
217   BOLM631201LV35XPC1     2000.0
16    CAAJ770616UNX3HRC2     1981.0
2871  CALT491222GG7DGRC3     2000.0
4450  COAG580101F7ALKRC3     1997.0
1451  COGJ5108018PI47QC1     1984.0
29    DIJC38112055K14KA2     1995.0
56    DIRL630201M8ADARC1     2001.0
2581  EAGG5405015QC44QC1     2014.0
2721  GASG61090173W69PC1     2010.0
432   LOVM470206XDKAIMD2     2005.0
35    MAVC341201G0YJFRC1     2000.0
3902  MOBJ380101BWUPXQC1     2018.0
2485  OIMS600706LWUN8PC2     2006.0
3702  PAMI6701206PHN6PC4     2015.0
402   PEGO194405B3QH4QC1     2002.0
2684  PIPB6010280UNG7PC4     2010.0
3149  ROCA5508101VD78DB4     2003.0
4122  SAJB6406296LNT8PC4     1995.0
3505  VABL610430GWELKRC4     2003.0
211   ZACF481001A5LI4QC1     1986.0
1066  ZEPL5503219FZQ6QC2     2009.0

In [69]:
pru2 = pd.merge(d_dx_dm_u, df_dx_dm, on = ["cx_curp"], how="left")
pru2["año_dx_dm2"] = pru2["año_dx_dm"]
pru2

               cx_curp          fecha_consulta dm_cie  año_dx_dm  año_dx_dm2
0   AAAZ581217189U5PC3 2014-11-25 11:39:53.817    1.0     1998.0      1998.0
1   AADV5603014KS44QC1 2009-10-28 17:25:02.853    1.0     1999.0      1999.0
2   AEDJ750301XGAEGRC1 2012-08-23 18:15:56.640    1.0     2013.0      2013.0
3   AOCC511229UR4RIRC3 2012-06-21 11:33:14.557    1.0     2010.0      2010.0
4   BOLM631201LV35XPC1 2009-01-29 14:20:44.237    1.0     2000.0      2000.0
5   CAAE51120998X96PC1 2011-10-08 09:47:14.953    1.0        NaN         NaN
6   CAAJ770616UNX3HRC2 2009-12-03 16:06:13.220    1.0     1981.0      1981.0
7   CABM400930CPT4ZCA2 2011-05-04 07:52:02.053    1.0        NaN         NaN
8   CALT491222GG7DGRC3 2015-12-04 13:23:10.187    1.0     2000.0      2000.0
9   COAG580101F7ALKRC3 2019-07-26 11:35:32.580    1.0     1997.0      1997.0
10  COGJ5108018PI47QC1 2011-02-16 17:02:15.623    1.0     1984.0      1984.0
11  COPI690401V91QCRC2 2015-03-17 10:26:23.980    1.0        NaN         NaN
12  COVR310301TY2UYQC1 2010-03-29 09:18:33.903    1.0        NaN         NaN
13  CUHJ691220ZX7YDRC2 2009-10-19 08:42:07.543    1.0        NaN         NaN
14  DIJC38112055K14KA2 2011-02-14 10:45:07.083    1.0     1995.0      1995.0
15  DIRL630201M8ADARC1 2009-07-24 11:24:58.140    1.0     2001.0      2001.0
16  EAGG5405015QC44QC1 2009-06-24 11:15:45.317    1.0     2014.0      2014.0
17  GAMP640301UJL5SEE1 2018-03-20 18:22:25.153    1.0        NaN         NaN
18  GASG61090173W69PC1 2015-09-29 18:23:05.100    1.0     2010.0      2010.0
19  GOGC330501FATDSCA2 2009-10-16 15:27:35.200    1.0        NaN         NaN
20  GOML440127J80Z9PC2 2008-12-24 13:35:59.690    1.0        NaN         NaN
21  GUSJ5712286XUN73A2 2011-05-13 11:29:45.987    1.0        NaN         NaN
22  HEXE490230BS8EFVA2 2013-03-06 15:33:46.413    1.0        NaN         NaN
23  JIDR510316QA5Z4PC3 2014-12-30 11:20:46.547    1.0        NaN         NaN
24  LOAI360801BLJDERC1 2009-12-11 11:14:06.587    1.0        NaN         NaN
25  LOVM470206XDKAIMD2 2009-04-02 16:26:04.923    1.0     2005.0      2005.0
26  MACL740410NK1YGRC2 2018-02-13 13:47:55.240    1.0        NaN         NaN
27  MAJJ870410UVK09PC1 2010-02-25 18:51:00.880    1.0        NaN         NaN
28  MAVC341201G0YJFRC1 2012-04-03 15:04:49.520    1.0     2000.0      2000.0
29  MAXA480701EQOUDRC1 2011-10-12 16:32:08.287    1.0        NaN         NaN
30  MOAA5610143OU79PC2 2009-07-23 11:17:43.060    1.0        NaN         NaN
31  MOBJ380101BWUPXQC1 2009-07-24 14:35:23.263    1.0     2018.0      2018.0
32  MOSH731006R68EZPC2 2014-04-22 18:18:42.530    1.0        NaN         NaN
33  MOVE400201D7TZERC1 2006-10-31 16:59:06.017    1.0        NaN         NaN
34  OIMS600706LWUN8PC2 2013-12-11 11:34:34.823    1.0     2006.0      2006.0
35  OOCG680408JBU4ERC2 2009-11-13 08:20:10.363    1.0        NaN         NaN
36  PAGJ690411WZ0YDRC1 2007-07-12 09:54:18.280    1.0        NaN         NaN
37  PAMI6701206PHN6PC4 2017-09-11 17:44:28.193    1.0     2015.0      2015.0
38  PEGO194405B3QH4QC1 2009-12-18 17:52:57.650    1.0     2002.0      2002.0
39  PEVR470901ASKH1QC1 2007-06-19 10:37:40.143    1.0        NaN         NaN
40  PIPB6010280UNG7PC4 2016-06-30 14:51:32.157    1.0     2010.0      2010.0
41  PIRE6806019N4I6PC1 2010-07-02 18:57:09.763    1.0        NaN         NaN
42  ROCA5508101VD78DB4 2016-09-28 17:36:37.400    1.0     2003.0      2003.0
43  ROGG540607PNXOCQD4 2007-06-18 11:22:15.243    1.0        NaN         NaN
44  RORC5211012YV34CA1 2011-12-03 10:09:56.727    1.0        NaN         NaN
45  SAJB6406296LNT8PC4 2018-10-11 17:57:00.543    1.0     1995.0      1995.0
46  SAPL460201_WS10QC2 2012-11-09 16:11:12.830    1.0        NaN         NaN
47  SOLG360601I3NUBIA1 2008-12-05 12:08:16.087    1.0        NaN         NaN
48  VABL610430GWELKRC4 2017-01-02 14:05:26.933    1.0     2003.0      2003.0
49  VEMS600601JHJY2QC2 2015-03-26 18:27:28.340    1.0        NaN         NaN
50  VEVF4904172GTC8QC1 2009-04-21 17:38:51.890    1.0        NaN         NaN
51  VIMA64070146S4BRC1 2009-10-29 07:46:41.600    1.0        NaN         NaN
52  ZACF481001A5LI4QC1 2009-09-02 11:49:36.327    1.0     1986.0      1986.0
53  ZAGM6412151ICF4PC4 2013-06-11 14:05:29.317    1.0        NaN         NaN
54  ZEPL5503219FZQ6QC2 2009-11-18 07:42:46.230    1.0     2009.0      2009.0

In [70]:
pru2['año_dx_dm3'] = pd.DatetimeIndex(pru2['fecha_consulta']).year
pru2

,cx_curp,fecha_consulta,dm_cie,año_dx_dm,año_dx_dm2,año_dx_dm3
0,AAAZ581217189U5PC3,2014-11-25 11:39:53.817,1.0,1998.0,1998.0,2014
1,AADV5603014KS44QC1,2009-10-28 17:25:02.853,1.0,1999.0,1999.0,2009
2,AEDJ750301XGAEGRC1,2012-08-23 18:15:56.640,1.0,2013.0,2013.0,2012
3,AOCC511229UR4RIRC3,2012-06-21 11:33:14.557,1.0,2010.0,2010.0,2012
4,BOLM631201LV35XPC1,2009-01-29 14:20:44.237,1.0,2000.0,2000.0,2009
5,CAAE51120998X96PC1,2011-10-08 09:47:14.953,1.0,NaN,NaN,2011
6,CAAJ770616UNX3HRC2,2009-12-03 16:06:13.220,1.0,1981.0,1981.0,2009
7,CABM400930CPT4ZCA2,2011-05-04 07:52:02.053,1.0,NaN,NaN,2011
8,CALT491222GG7DGRC3,2015-12-04 13:23:10.187,1.0,2000.0,2000.0,2015
9,COAG580101F7ALKRC3,2019-07-26 11:35:32.580,1.0,1997.0,1997.0,2019
10,COGJ5108018PI47QC1,2011-02-16 17:02:15.623,1.0,1984.0,1984.0,2011
11,COPI690401V91QCRC2,2015-03-17 10:26:23.980,1.0,NaN,NaN,2015
12,COVR310301TY2UYQC1,2010-03-29 09:18:33.903,1.0,NaN,NaN,2010
13,CUHJ691220ZX7YDRC2,2009-10-19 08:42:07.543,1.0,NaN,NaN,2009
14,DIJC38112055K14KA2,2011-02-14 10:45:07.083,1.0,1995.0,1995.0,2011
15,DIRL630201M8ADARC1,2009-07-24 11:24:58.140,1.0,2001.0,2001.0,2009
16,EAGG5405015QC44QC1,2009-06-24 11:15:45.317,1.0,2014.0,2014.0,2009
17,GAMP640301UJL5SEE1,2018-03-20 18:22:25.153,1.0,NaN,NaN,2018
18,GASG61090173W69PC1,2015-09-29 18:23:05.100,1.0,2010.0,2010.0,2015
19,GOGC330501FATDSCA2,2009-10-16 15:27:35.200,1.0,NaN,NaN,2009
20,GOML440127J80Z9PC2,2008-12-24 13:35:59.690,1.0,NaN,NaN,2008
21,GUSJ5712286XUN73A2,2011-05-13 11:29:45.987,1.0,NaN,NaN,2011
22,HEXE490230BS8EFVA2,2013-03-06 15:33:46.413,1.0,NaN,NaN,2013
23,JIDR510316QA5Z4PC3,2014-12-30 11:20:46.547,1.0,NaN,NaN,2014
24,LOAI360801BLJDERC1,2009-12-11 11:14:06.587,1.0,NaN,NaN,2009
25,LOVM470206XDKAIMD2,2009-04-02 16:26:04.923,1.0,2005.0,2005.0,2009
26,MACL740410NK1YGRC2,2018-02-13 13:47:55.240,1.0,NaN,NaN,2018
27,MAJJ870410UVK09PC1,2010-02-25 18:51:00.880,1.0,NaN,NaN,2010
28,MAVC341201G0YJFRC1,2012-04-03 15:04:49.520,1.0,2000.0,2000.0,2012
29,MAXA480701EQOUDRC1,2011-10-12 16:32:08.287,1.0,NaN,NaN,2011
30,MOAA5610143OU79PC2,2009-07-23 11:17:43.060,1.0,NaN,NaN,2009
31,MOBJ380101BWUPXQC1,2009-07-24 14:35:23.263,1.0,2018.0,2018.0,2009
32,MOSH731006R68EZPC2,2014-04-22 18:18:42.530,1.0,NaN,NaN,2014
33,MOVE400201D7TZERC1,2006-10-31 16:59:06.017,1.0,NaN,NaN,2006
34,OIMS600706LWUN8PC2,2013-12-11 11:34:34.823,1.0,2006.0,2006.0,2013
35,OOCG680408JBU4ERC2,2009-11-13 08:20:10.363,1.0,NaN,NaN,2009
36,PAGJ690411WZ0YDRC1,2007-07-12 09:54:18.280,1.0,NaN,NaN,2007
37,PAMI6701206PHN6PC4,2017-09-11 17:44:28.193,1.0,2015.0,2015.0,2017
38,PEGO194405B3QH4QC1,2009-12-18 17:52:57.650,1.0,2002.0,2002.0,2009
39,PEVR470901ASKH1QC1,2007-06-19 10:37:40.143,1.0,NaN,NaN,2007
40,PIPB6010280UNG7PC4,2016-06-30 14:51:32.157,1.0,2010.0,2010.0,2016
41,PIRE6806019N4I6PC1,2010-07-02 18:57:09.763,1.0,NaN,NaN,2010
42,ROCA5508101VD78DB4,2016-09-28 17:36:37.400,1.0,2003.0,2003.0,2016
43,ROGG540607PNXOCQD4,2007-06-18 11:22:15.243,1.0,NaN,NaN,2007
44,RORC5211012YV34CA1,2011-12-03 10:09:56.727,1.0,NaN,NaN,2011
45,SAJB6406296LNT8PC4,2018-10-11 17:57:00.543,1.0,1995.0,1995.0,2018
46,SAPL460201_WS10QC2,2012-11-09 16:11:12.830,1.0,NaN,NaN,2012
47,SOLG360601I3NUBIA1,2008-12-05 12:08:16.087,1.0,NaN,NaN,2008
48,VABL610430GWELKRC4,2017-01-02 14:05:26.933,1.0,2003.0,2003.0,2017
49,VEMS600601JHJY2QC2,2015-03-26 18:27:28.340,1.0,NaN,NaN,2015
50,VEVF4904172GTC8QC1,2009-04-21 17:38:51.890,1.0,NaN,NaN,2009
51,VIMA64070146S4BRC1,2009-10-29 07:46:41.600,1.0,NaN,NaN,2009
52,ZACF481001A5LI4QC1,2009-09-02 11:49:36.327,1.0,1986.0,1986.0,2009
53,ZAGM6412151ICF4PC4,2013-06-11 14:05:29.317,1.0,NaN,NaN,2013
54,ZEPL5503219FZQ6QC2,2009-11-18 07:42:46.230,1.0,2009.0,2009.0,2009

In [71]:
for i in range(len(pru2['cx_curp'])):
    x = pru2['año_dx_dm'][i]
    y = pru2['año_dx_dm3'][i]
    
    if (pd.isna(x)):
        pru2['año_dx_dm'][i] = pru2['año_dx_dm3'][i]
    elif x < y:
        pru2['año_dx_dm'][i] = pru2['año_dx_dm'][i]

In [72]:
pru2 = pru2.drop(['año_dx_dm2','año_dx_dm3'], axis=1)
pru2

               cx_curp          fecha_consulta dm_cie  año_dx_dm
0   AAAZ581217189U5PC3 2014-11-25 11:39:53.817    1.0     1998.0
1   AADV5603014KS44QC1 2009-10-28 17:25:02.853    1.0     1999.0
2   AEDJ750301XGAEGRC1 2012-08-23 18:15:56.640    1.0     2013.0
3   AOCC511229UR4RIRC3 2012-06-21 11:33:14.557    1.0     2010.0
4   BOLM631201LV35XPC1 2009-01-29 14:20:44.237    1.0     2000.0
5   CAAE51120998X96PC1 2011-10-08 09:47:14.953    1.0     2011.0
6   CAAJ770616UNX3HRC2 2009-12-03 16:06:13.220    1.0     1981.0
7   CABM400930CPT4ZCA2 2011-05-04 07:52:02.053    1.0     2011.0
8   CALT491222GG7DGRC3 2015-12-04 13:23:10.187    1.0     2000.0
9   COAG580101F7ALKRC3 2019-07-26 11:35:32.580    1.0     1997.0
10  COGJ5108018PI47QC1 2011-02-16 17:02:15.623    1.0     1984.0
11  COPI690401V91QCRC2 2015-03-17 10:26:23.980    1.0     2015.0
12  COVR310301TY2UYQC1 2010-03-29 09:18:33.903    1.0     2010.0
13  CUHJ691220ZX7YDRC2 2009-10-19 08:42:07.543    1.0     2009.0
14  DIJC38112055K14KA2 2011-02-14 10:45:07.083    1.0     1995.0
15  DIRL630201M8ADARC1 2009-07-24 11:24:58.140    1.0     2001.0
16  EAGG5405015QC44QC1 2009-06-24 11:15:45.317    1.0     2014.0
17  GAMP640301UJL5SEE1 2018-03-20 18:22:25.153    1.0     2018.0
18  GASG61090173W69PC1 2015-09-29 18:23:05.100    1.0     2010.0
19  GOGC330501FATDSCA2 2009-10-16 15:27:35.200    1.0     2009.0
20  GOML440127J80Z9PC2 2008-12-24 13:35:59.690    1.0     2008.0
21  GUSJ5712286XUN73A2 2011-05-13 11:29:45.987    1.0     2011.0
22  HEXE490230BS8EFVA2 2013-03-06 15:33:46.413    1.0     2013.0
23  JIDR510316QA5Z4PC3 2014-12-30 11:20:46.547    1.0     2014.0
24  LOAI360801BLJDERC1 2009-12-11 11:14:06.587    1.0     2009.0
25  LOVM470206XDKAIMD2 2009-04-02 16:26:04.923    1.0     2005.0
26  MACL740410NK1YGRC2 2018-02-13 13:47:55.240    1.0     2018.0
27  MAJJ870410UVK09PC1 2010-02-25 18:51:00.880    1.0     2010.0
28  MAVC341201G0YJFRC1 2012-04-03 15:04:49.520    1.0     2000.0
29  MAXA480701EQOUDRC1 2011-10-12 16:32:08.287    1.0     2011.0
30  MOAA5610143OU79PC2 2009-07-23 11:17:43.060    1.0     2009.0
31  MOBJ380101BWUPXQC1 2009-07-24 14:35:23.263    1.0     2018.0
32  MOSH731006R68EZPC2 2014-04-22 18:18:42.530    1.0     2014.0
33  MOVE400201D7TZERC1 2006-10-31 16:59:06.017    1.0     2006.0
34  OIMS600706LWUN8PC2 2013-12-11 11:34:34.823    1.0     2006.0
35  OOCG680408JBU4ERC2 2009-11-13 08:20:10.363    1.0     2009.0
36  PAGJ690411WZ0YDRC1 2007-07-12 09:54:18.280    1.0     2007.0
37  PAMI6701206PHN6PC4 2017-09-11 17:44:28.193    1.0     2015.0
38  PEGO194405B3QH4QC1 2009-12-18 17:52:57.650    1.0     2002.0
39  PEVR470901ASKH1QC1 2007-06-19 10:37:40.143    1.0     2007.0
40  PIPB6010280UNG7PC4 2016-06-30 14:51:32.157    1.0     2010.0
41  PIRE6806019N4I6PC1 2010-07-02 18:57:09.763    1.0     2010.0
42  ROCA5508101VD78DB4 2016-09-28 17:36:37.400    1.0     2003.0
43  ROGG540607PNXOCQD4 2007-06-18 11:22:15.243    1.0     2007.0
44  RORC5211012YV34CA1 2011-12-03 10:09:56.727    1.0     2011.0
45  SAJB6406296LNT8PC4 2018-10-11 17:57:00.543    1.0     1995.0
46  SAPL460201_WS10QC2 2012-11-09 16:11:12.830    1.0     2012.0
47  SOLG360601I3NUBIA1 2008-12-05 12:08:16.087    1.0     2008.0
48  VABL610430GWELKRC4 2017-01-02 14:05:26.933    1.0     2003.0
49  VEMS600601JHJY2QC2 2015-03-26 18:27:28.340    1.0     2015.0
50  VEVF4904172GTC8QC1 2009-04-21 17:38:51.890    1.0     2009.0
51  VIMA64070146S4BRC1 2009-10-29 07:46:41.600    1.0     2009.0
52  ZACF481001A5LI4QC1 2009-09-02 11:49:36.327    1.0     1986.0
53  ZAGM6412151ICF4PC4 2013-06-11 14:05:29.317    1.0     2013.0
54  ZEPL5503219FZQ6QC2 2009-11-18 07:42:46.230    1.0     2009.0

In [73]:
pru = df.copy()
pru = pd.merge(pru, pru2, on = ["cx_curp",'fecha_consulta'], how="left")

In [74]:
pru[~pd.isna(pru["dm_cie_y"])][["cx_curp",'fecha_consulta','dm_cie_x','año_dx_dm_x','dm_cie_y','año_dx_dm_y']]

,cx_curp,fecha_consulta,dm_cie_x,año_dx_dm_x,dm_cie_y,año_dx_dm_y
455,MOVE400201D7TZERC1,2006-10-31 16:59:06.017,1.0,NaN,1.0,2006.0
628,ROGG540607PNXOCQD4,2007-06-18 11:22:15.243,1.0,NaN,1.0,2007.0
631,PEVR470901ASKH1QC1,2007-06-19 10:37:40.143,1.0,NaN,1.0,2007.0
646,PAGJ690411WZ0YDRC1,2007-07-12 09:54:18.280,1.0,NaN,1.0,2007.0
995,SOLG360601I3NUBIA1,2008-12-05 12:08:16.087,1.0,NaN,1.0,2008.0
1002,GOML440127J80Z9PC2,2008-12-24 13:35:59.690,1.0,NaN,1.0,2008.0
1025,BOLM631201LV35XPC1,2009-01-29 14:20:44.237,1.0,2000.0,1.0,2000.0
1071,LOVM470206XDKAIMD2,2009-04-02 16:26:04.923,1.0,2005.0,1.0,2005.0
1082,VEVF4904172GTC8QC1,2009-04-21 17:38:51.890,1.0,NaN,1.0,2009.0
1131,EAGG5405015QC44QC1,2009-06-24 11:15:45.317,1.0,NaN,1.0,2014.0
1155,MOAA5610143OU79PC2,2009-07-23 11:17:43.060,1.0,NaN,1.0,2009.0
1158,DIRL630201M8ADARC1,2009-07-24 11:24:58.140,1.0,2001.0,1.0,2001.0
1159,MOBJ380101BWUPXQC1,2009-07-24 14:35:23.263,1.0,NaN,1.0,2018.0
1196,ZACF481001A5LI4QC1,2009-09-02 11:49:36.327,1.0,1986.0,1.0,1986.0
1235,GOGC330501FATDSCA2,2009-10-16 15:27:35.200,1.0,NaN,1.0,2009.0
1238,CUHJ691220ZX7YDRC2,2009-10-19 08:42:07.543,1.0,NaN,1.0,2009.0
1251,AADV5603014KS44QC1,2009-10-28 17:25:02.853,1.0,1999.0,1.0,1999.0
1252,VIMA64070146S4BRC1,2009-10-29 07:46:41.600,1.0,NaN,1.0,2009.0
1261,OOCG680408JBU4ERC2,2009-11-13 08:20:10.363,1.0,NaN,1.0,2009.0
1263,ZEPL5503219FZQ6QC2,2009-11-18 07:42:46.230,1.0,2009.0,1.0,2009.0
1277,CAAJ770616UNX3HRC2,2009-12-03 16:06:13.220,1.0,1981.0,1.0,1981.0
1280,LOAI360801BLJDERC1,2009-12-11 11:14:06.587,1.0,NaN,1.0,2009.0
1288,PEGO194405B3QH4QC1,2009-12-18 17:52:57.650,1.0,2002.0,1.0,2002.0
1338,MAJJ870410UVK09PC1,2010-02-25 18:51:00.880,1.0,NaN,1.0,2010.0
1361,COVR310301TY2UYQC1,2010-03-29 09:18:33.903,1.0,NaN,1.0,2010.0
1444,PIRE6806019N4I6PC1,2010-07-02 18:57:09.763,1.0,NaN,1.0,2010.0
1646,DIJC38112055K14KA2,2011-02-14 10:45:07.083,1.0,1995.0,1.0,1995.0
1653,COGJ5108018PI47QC1,2011-02-16 17:02:15.623,1.0,1984.0,1.0,1984.0
1723,CABM400930CPT4ZCA2,2011-05-04 07:52:02.053,1.0,NaN,1.0,2011.0
1727,GUSJ5712286XUN73A2,2011-05-13 11:29:45.987,1.0,NaN,1.0,2011.0
1843,CAAE51120998X96PC1,2011-10-08 09:47:14.953,1.0,NaN,1.0,2011.0
1848,MAXA480701EQOUDRC1,2011-10-12 16:32:08.287,1.0,NaN,1.0,2011.0
1893,RORC5211012YV34CA1,2011-12-03 10:09:56.727,1.0,NaN,1.0,2011.0
2002,MAVC341201G0YJFRC1,2012-04-03 15:04:49.520,1.0,2000.0,1.0,2000.0
2065,AOCC511229UR4RIRC3,2012-06-21 11:33:14.557,1.0,2010.0,1.0,2010.0
2123,AEDJ750301XGAEGRC1,2012-08-23 18:15:56.640,1.0,NaN,1.0,2013.0
2194,SAPL460201_WS10QC2,2012-11-09 16:11:12.830,1.0,NaN,1.0,2012.0
2289,HEXE490230BS8EFVA2,2013-03-06 15:33:46.413,1.0,NaN,1.0,2013.0
2371,ZAGM6412151ICF4PC4,2013-06-11 14:05:29.317,1.0,NaN,1.0,2013.0
2509,OIMS600706LWUN8PC2,2013-12-11 11:34:34.823,1.0,2006.0,1.0,2006.0
2609,MOSH731006R68EZPC2,2014-04-22 18:18:42.530,1.0,NaN,1.0,2014.0
2778,AAAZ581217189U5PC3,2014-11-25 11:39:53.817,1.0,1998.0,1.0,1998.0
2804,JIDR510316QA5Z4PC3,2014-12-30 11:20:46.547,1.0,NaN,1.0,2014.0
2874,COPI690401V91QCRC2,2015-03-17 10:26:23.980,1.0,NaN,1.0,2015.0
2881,VEMS600601JHJY2QC2,2015-03-26 18:27:28.340,1.0,NaN,1.0,2015.0
3055,GASG61090173W69PC1,2015-09-29 18:23:05.100,1.0,2010.0,1.0,2010.0
3117,CALT491222GG7DGRC3,2015-12-04 13:23:10.187,1.0,2000.0,1.0,2000.0
3320,PIPB6010280UNG7PC4,2016-06-30 14:51:32.157,1.0,2010.0,1.0,2010.0
3408,ROCA5508101VD78DB4,2016-09-28 17:36:37.400,1.0,2003.0,1.0,2003.0
3505,VABL610430GWELKRC4,2017-01-02 14:05:26.933,1.0,2003.0,1.0,2003.0
3764,PAMI6701206PHN6PC4,2017-09-11 17:44:28.193,1.0,2015.0,1.0,2015.0
3931,MACL740410NK1YGRC2,2018-02-13 13:47:55.240,1.0,NaN,1.0,2018.0
3975,GAMP640301UJL5SEE1,2018-03-20 18:22:25.153,1.0,NaN,1.0,2018.0
4185,SAJB6406296LNT8PC4,2018-10-11 17:57:00.543,1.0,1995.0,1.0,1995.0
4450,COAG580101F7ALKRC3,2019-07-26 11:35:32.580,1.0,1997.0,1.0,1997.0

In [75]:
pru.rename(columns = {'dm_cie_x':'dm_cie','dm_cie_y':'dm_cie_unic'}, inplace = True)
pru = pd.merge(pru, d_dx_dm_u, on = ["cx_curp"], how="left")
pru

,newid,cx_curp,glucosa,colesterol,trigliceridos,hdl,ldl,presion_arterial,hba1c,plaquetas,...,vent_ini_aux,vent_ini_consul,vent_entre_consul,vent_years_consul,vent_ini_lab,vent_entre_lab,dm_cie_unic,año_dx_dm_y,fecha_consulta_y,dm_cie_y
0,2128MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,NaN,NaN,NaN,NaN,NaN,130/90,NaN,NaN,...,NaT,0,NaN,0,NaN,NaN,NaN,NaN,2011-10-12 16:32:08.287,1.0
1,31723PEVR470901ASKH1QC1,PEVR470901ASKH1QC1,134,NaN,NaN,NaN,NaN,120/90,NaN,NaN,...,NaT,0,NaN,0,NaN,NaN,NaN,NaN,2007-06-19 10:37:40.143,1.0
2,41103ROGG540607PNXOCQD4,ROGG540607PNXOCQD4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,0,NaN,0,NaN,NaN,NaN,NaN,2007-06-18 11:22:15.243,1.0
3,46589PEVR470901ASKH1QC1,PEVR470901ASKH1QC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,35,35.0,0,NaN,NaN,NaN,NaN,2007-06-19 10:37:40.143,1.0
4,47454MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,223,223.0,0,NaN,NaN,NaN,NaN,2011-10-12 16:32:08.287,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,6410853MAVC341201G0YJFRC1,MAVC341201G0YJFRC1,110|0,NaN,NaN,NaN,NaN,130/75,NaN,NaN,...,NaT,6100,38.0,16,NaN,NaN,NaN,NaN,2012-04-03 15:04:49.520,1.0
4995,3356716COAG580101F7ALKRC3,COAG580101F7ALKRC3,206|0,NaN,NaN,NaN,NaN,120/80,NaN,NaN,...,NaT,729,16.0,1,NaN,NaN,NaN,NaN,2019-07-26 11:35:32.580,1.0
4996,3359740PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,5130,61.0,14,NaN,NaN,NaN,NaN,2007-07-12 09:54:18.280,1.0
4997,8273014MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,124,NaN,NaN,NaN,NaN,110/70,NaN,NaN,...,NaT,6463,29.0,17,NaN,NaN,NaN,NaN,2011-10-12 16:32:08.287,1.0
4998,3196790SAJB6406296LNT8PC4,SAJB6406296LNT8PC4,145|0,NaN,NaN,NaN,NaN,110/70,NaN,NaN,...,NaT,1089,32.0,2,NaN,NaN,NaN,NaN,2018-10-11 17:57:00.543,1.0

In [83]:
#pru.info()
pru.sort_values(by=['cx_curp','fecha_consulta_x'])[['cx_curp','dm_cie_x','dm_cie_y','dm_cie_unic',\
                                                    'fecha_consulta_x','fecha_consulta_y','año_dx_dm_x',\
                                                    'año_dx_dm_y','year_consulta']]

,cx_curp,dm_cie_x,dm_cie_y,dm_cie_unic,fecha_consulta_x,fecha_consulta_y,año_dx_dm_x,año_dx_dm_y,year_consulta
2715,AAAZ581217189U5PC3,0.0,1.0,NaN,2014-09-09 08:51:37.470,2014-11-25 11:39:53.817,1998.0,NaN,2014
2748,AAAZ581217189U5PC3,0.0,1.0,NaN,2014-10-16 11:35:28.873,2014-11-25 11:39:53.817,1998.0,NaN,2014
2778,AAAZ581217189U5PC3,1.0,1.0,1.0,2014-11-25 11:39:53.817,2014-11-25 11:39:53.817,1998.0,1998.0,2014
2810,AAAZ581217189U5PC3,1.0,1.0,NaN,2015-01-07 11:01:51.827,2014-11-25 11:39:53.817,1998.0,NaN,2015
2840,AAAZ581217189U5PC3,1.0,1.0,NaN,2015-02-09 11:43:48.210,2014-11-25 11:39:53.817,1998.0,NaN,2015
...,...,...,...,...,...,...,...,...,...
4922,ZEPL5503219FZQ6QC2,1.0,1.0,NaN,2021-04-14 12:30:05.237,2009-11-18 07:42:46.230,2009.0,NaN,2021
4940,ZEPL5503219FZQ6QC2,0.0,1.0,NaN,2021-05-04 12:40:59.237,2009-11-18 07:42:46.230,2009.0,NaN,2021
4955,ZEPL5503219FZQ6QC2,0.0,1.0,NaN,2021-05-25 13:55:03.990,2009-11-18 07:42:46.230,2009.0,NaN,2021
4962,ZEPL5503219FZQ6QC2,0.0,1.0,NaN,2021-06-04 13:35:17.230,2009-11-18 07:42:46.230,2009.0,NaN,2021
4980,ZEPL5503219FZQ6QC2,1.0,1.0,NaN,2021-07-02 13:00:57.500,2009-11-18 07:42:46.230,2009.0,NaN,2021

In [ ]:
pru = pru.drop(['año_dx_dm_y'], axis=1)
pru

In [22]:
# Actualiza dm seguimiento
pru['dm_cie_unic'] = np.where((pd.isna(pru['dm_cie_unic']))&(pru['fecha_consulta_x']>=pru['fecha_consulta_y']),\
                             1, pru['dm_cie_unic'])
# Calcula años con dx
pru['dm_años_flt'] = np.where((~pd.isna(pru['dm_cie_unic'])),\
                         (pru['fecha_consulta_x'] - pru['fecha_consulta_y']) / np.timedelta64(1, 'Y'), 
                         np.nan)
# Calcula años con dx
pru['dm_años_int'] = np.where((~pd.isna(pru['dm_cie_unic'])),\
                         (pru.fecha_consulta_x - pru.fecha_consulta_y).astype('timedelta64[Y]').astype('int'),
                         np.nan)
pru.sort_values(by=['cx_curp','fecha_consulta_x'])[['cx_curp','dm_cie_x','dm_cie_unic','fecha_consulta_x',\
                    'fecha_consulta_y','dm_años_flt','dm_años_int']]

pru.rename(columns = {'dm_cie_x':'dm_cie','fecha_consulta_x':'fecha_consulta'}, inplace = True)
pru.drop('fecha_consulta_y', inplace=True, axis=1)
pru.drop('dm_cie_y', inplace=True, axis=1)

pru.sort_values(by=['cx_curp','fecha_consulta'])\
[['cx_curp','dm_cie','dm_cie_unic','fecha_consulta','dm_años_int']]

,cx_curp,dm_cie,dm_cie_unic,fecha_consulta,dm_años_int
2715,AAAZ581217189U5PC3,0.0,NaN,2014-09-09 08:51:37.470,NaN
2748,AAAZ581217189U5PC3,0.0,NaN,2014-10-16 11:35:28.873,NaN
2778,AAAZ581217189U5PC3,1.0,1.0,2014-11-25 11:39:53.817,0.0
2810,AAAZ581217189U5PC3,1.0,2.0,2015-01-07 11:01:51.827,0.0
2840,AAAZ581217189U5PC3,1.0,2.0,2015-02-09 11:43:48.210,0.0
...,...,...,...,...,...
4922,ZEPL5503219FZQ6QC2,1.0,2.0,2021-04-14 12:30:05.237,11.0
4940,ZEPL5503219FZQ6QC2,0.0,2.0,2021-05-04 12:40:59.237,11.0
4955,ZEPL5503219FZQ6QC2,0.0,2.0,2021-05-25 13:55:03.990,11.0
4962,ZEPL5503219FZQ6QC2,0.0,2.0,2021-06-04 13:35:17.230,11.0
4980,ZEPL5503219FZQ6QC2,1.0,2.0,2021-07-02 13:00:57.500,11.0

In [ ]:
df = pd.merge(df, d_dx_dm_u, on = ["cx_curp",'fecha_consulta'], how="left")
df.rename(columns = {'dm_cie_x':'dm_cie','dm_cie_y':'dm_cie_unic'}, inplace = True)
df = pd.merge(df, d_dx_dm_u, on = ["cx_curp"], how="left")
# Actualiza hta seguimiento
df['dm_cie_unic'] = np.where((pd.isna(df['dm_cie_unic']))&(df['fecha_consulta_x']>=df['fecha_consulta_y']),\
                             2, df['dm_cie_unic'])
# Calcula años con dx
df['dm_años_flt'] = np.where((~pd.isna(df['dm_cie_unic'])),\
                         (df['fecha_consulta_x'] - df['fecha_consulta_y']) / np.timedelta64(1, 'Y'), 
                         np.nan)
# Calcula años con dx
df['dm_años_flt'] = df['dm_años_flt'].fillna(0) 
df['dm_años_int'] = df['dm_años_flt'].astype('int')

"""
df['dm_años_int'] = np.where((~pd.isna(df['dm_cie_unic'])),\
                         (df.fecha_consulta_x - df.fecha_consulta_y).astype('timedelta64[Y]').astype('int'),
                         np.nan)
"""
df.sort_values(by=['cx_curp','fecha_consulta_x'])[['cx_curp','dm_cie_x','dm_cie_unic','fecha_consulta_x',\
                    'fecha_consulta_y','dm_años_flt','dm_años_int']]

df.rename(columns = {'dm_cie_x':'dm_cie','fecha_consulta_x':'fecha_consulta'}, inplace = True)
df.drop('fecha_consulta_y', inplace=True, axis=1)
df.drop('dm_cie_y', inplace=True, axis=1)

df.sort_values(by=['cx_curp','fecha_consulta'])\
[['cx_curp','dm_cie','dm_cie_unic','fecha_consulta','dm_años_int']]

- Existencia del primer DX HTA

In [ ]:
d_dx_hta = df[df['hta_cie']==1][['cx_curp','fecha_consulta','hta_cie']].\
                              sort_values(by = ['cx_curp','fecha_consulta'])
display(d_dx_hta)
d_dx_hta_u = d_dx_hta.groupby('cx_curp').first()
display(d_dx_hta_u.head())
print(d_dx_hta_u.shape)

In [ ]:
df = pd.merge(df, d_dx_hta_u, on = ["cx_curp",'fecha_consulta'], how="left")
df.rename(columns = {'hta_cie_x':'hta_cie','hta_cie_y':'hta_cie_unic'}, inplace = True)
df = pd.merge(df, d_dx_hta_u, on = ["cx_curp"], how="left")
# Actualiza hta seguimiento
df['hta_cie_unic'] = np.where((pd.isna(df['hta_cie_unic']))&(df['fecha_consulta_x']>=df['fecha_consulta_y']),\
                             2, df['hta_cie_unic'])
# Calcula años con dx
df['hta_años_flt'] = np.where((~pd.isna(df['hta_cie_unic'])),\
                         (df['fecha_consulta_x'] - df['fecha_consulta_y']) / np.timedelta64(1, 'Y'), 
                         np.nan)

# Calcula años con dx
df['hta_años_flt'] = df['hta_años_flt'].fillna(0) 
df['hta_años_int'] = df['hta_años_flt'].astype('int')

df.sort_values(by=['cx_curp','fecha_consulta_x'])[['cx_curp','hta_cie_x','hta_cie_unic','fecha_consulta_x',\
                    'fecha_consulta_y','hta_años_flt','hta_años_int']]

df.rename(columns = {'hta_cie_x':'hta_cie','fecha_consulta_x':'fecha_consulta'}, inplace = True)
df.drop('fecha_consulta_y', inplace=True, axis=1)
df.drop('hta_cie_y', inplace=True, axis=1)

df.sort_values(by=['cx_curp','fecha_consulta'])\
[['cx_curp','hta_cie','hta_cie_unic','fecha_consulta','hta_años_int']]

- Existencia del primer DX Insuficiencia Renal

In [ ]:
d_dx_renal = df[df['renal_cie']==1][['cx_curp','fecha_consulta','renal_cie']].\
                              sort_values(by = ['cx_curp','fecha_consulta'])
display(d_dx_renal)
d_dx_renal_u = d_dx_renal.groupby('cx_curp').first()
display(d_dx_renal_u.head())
print(d_dx_renal_u.shape)

In [ ]:
df = pd.merge(df, d_dx_renal_u, on = ["cx_curp",'fecha_consulta'], how="left")
df.rename(columns = {'renal_cie_x':'renal_cie','renal_cie_y':'renal_cie_unic'}, inplace = True)
df = pd.merge(df, d_dx_renal_u, on = ["cx_curp"], how="left")
# Actualiza renal seguimiento
df['renal_cie_unic'] = np.where((pd.isna(df['renal_cie_unic']))&(df['fecha_consulta_x']>=df['fecha_consulta_y']),\
                             2, df['renal_cie_unic'])
# Calcula años con dx
df['renal_años_flt'] = np.where((~pd.isna(df['renal_cie_unic'])),\
                         (df['fecha_consulta_x'] - df['fecha_consulta_y']) / np.timedelta64(1, 'Y'), 
                         np.nan)
df.sort_values(by=['cx_curp','fecha_consulta_x'])\
[['cx_curp','renal_cie_x','renal_cie_unic','fecha_consulta_x','fecha_consulta_y','renal_años_flt']]

In [ ]:
df[(~pd.isna(df['renal_cie_unic']))&(df['fecha_consulta_y'] != np.datetime64('NaT'))]\
[['cx_curp','renal_cie_x','renal_cie_unic','fecha_consulta_x','fecha_consulta_y','renal_años_flt']]

In [ ]:
df['renal_años_flt'] = df['renal_años_flt'].fillna(0) 
df['renal_años_int'] = df['renal_años_flt'].astype('int')
df[(~pd.isna(df['renal_cie_unic']))&(df['fecha_consulta_y'] != np.datetime64('NaT'))].\
sort_values(by=['cx_curp','fecha_consulta_x'])[['cx_curp','renal_cie_x','renal_cie_unic','fecha_consulta_x',\
                    'fecha_consulta_y','renal_años_flt','renal_años_int']]

In [ ]:
df.rename(columns = {'renal_cie_x':'renal_cie','fecha_consulta_x':'fecha_consulta'}, inplace = True)
df.drop('fecha_consulta_y', inplace=True, axis=1)
df.drop('renal_cie_y', inplace=True, axis=1)

df.sort_values(by=['cx_curp','fecha_consulta'])\
[['cx_curp','renal_cie','renal_cie_unic','fecha_consulta','renal_años_int']]

- Ajustando rengo de valores hba1c

In [ ]:
df['hba1c'] = np.where((df['hba1c']<3)|(df['hba1c']>15),np.nan,df['hba1c'])

- Ajustando rango de valores plaquetas

In [ ]:
df['plaquetas'] = np.where((df['plaquetas']<100000)|(df['plaquetas']>500000),np.nan,df['plaquetas'])

- Ajustando rango de valores presion

In [ ]:
df['sistolica_a'] = np.where((df['sistolica']<70),np.nan,df['sistolica'])
df['diastolica_a'] = np.where((df['diastolica']<50),np.nan,df['diastolica'])

- Número de consultas

In [ ]:
df = df.sort_values(['cx_curp', 'fecha_consulta'], ascending=[True, True])
df['num_consultas'] = df.groupby(['cx_curp']).cumcount()+1
df[['cx_curp','fecha_consulta','num_consultas']]

- Target

In [ ]:
df_hta = df[(df['sistolica']>=140)&(df['diastolica']>=90)].sort_values(by=['cx_curp','fecha_consulta'], ascending=True)\
[['cx_curp','fecha_consulta','sistolica','diastolica']]
df_hta

In [ ]:
df_hta['dup_number'] = df_hta.groupby(['cx_curp']).cumcount()+1
df_hta = df_hta[df_hta['dup_number']==3]
display(df_hta.head())
df_hta.shape

In [ ]:
# full outer join
df_hta_comp = pd.merge(d_dx_hta_u, df_hta, on='cx_curp', how='outer')
df_hta_comp.head(15)

In [ ]:
df_hta_comp['fecha_dx_hta'] = np.nan
df_hta_comp['target'] = np.nan
for i in range(len(df_hta_comp['cx_curp'])):
    df_hta_comp['target'][i] = 1
            
    if ~(isinstance(df_hta_comp['fecha_consulta_x'][i], type(pd.NaT))) and (isinstance(df_hta_comp['fecha_consulta_y'][i], type(pd.NaT))):
        df_hta_comp['fecha_dx_hta'][i] = df_hta_comp['fecha_consulta_x'][i]
            
    elif (isinstance(df_hta_comp['fecha_consulta_x'][i], type(pd.NaT))) and ~(isinstance(df_hta_comp['fecha_consulta_y'][i], type(pd.NaT))):
        df_hta_comp['fecha_dx_hta'][i] = df_hta_comp['fecha_consulta_y'][i]
        
    elif ~(isinstance(df_hta_comp['fecha_consulta_x'][i], type(pd.NaT))) & \
         ~(isinstance(df_hta_comp['fecha_consulta_y'][i], type(pd.NaT))):
        if(df_hta_comp['fecha_consulta_x'][i] <= df_hta_comp['fecha_consulta_y'][i]):
            df_hta_comp['fecha_dx_hta'][i] = df_hta_comp['fecha_consulta_x'][i]
            
        elif (df_hta_comp['fecha_consulta_x'][i] > df_hta_comp['fecha_consulta_y'][i]):
            df_hta_comp['fecha_dx_hta'][i] = df_hta_comp['fecha_consulta_y'][i]
           
        else:
            print(6)
        
    else:
        print(5)
        
df_hta_comp = df_hta_comp[['cx_curp','fecha_dx_hta','target']]
df_hta_comp.rename(columns = {'fecha_dx_hta':'fecha_consulta'}, inplace = True)
df_hta_comp['fecha_consulta']= pd.to_datetime(df_hta_comp['fecha_consulta'])
df_hta_comp.head(5)

In [ ]:
df = pd.merge(df, df_hta_comp, on = ["cx_curp",'fecha_consulta'], how="left")
df.rename(columns = {'target_y':'target'}, inplace = True)
df.info()

In [ ]:
df = pd.merge(df, df_hta_comp, on = ["cx_curp"], how="left")
df.info()

In [ ]:
df.rename(columns = {'target_x':'target'}, inplace = True)

In [ ]:
# Actualiza hta seguimiento
df['target'] = np.where((pd.isna(df['target']))&(df['fecha_consulta_x']>=df['fecha_consulta_y']),\
                        2, df['target'])
# Calcula años con dx
df['hta_dx_años_flt'] = np.where((~pd.isna(df['target'])),\
                         (df['fecha_consulta_x'] - df['fecha_consulta_y']) / np.timedelta64(1, 'Y'), 
                         np.nan)

# Calcula años con dx
df['hta_dx_años_flt'] = df['hta_dx_años_flt'].fillna(0) 
df['hta_dx_años_int'] = df['hta_dx_años_flt'].astype('int')
df.info()

In [ ]:
df.sort_values(by=['cx_curp','fecha_consulta_x'])[['cx_curp','target','fecha_consulta_x',\
                   'fecha_consulta_y','hta_dx_años_flt','hta_dx_años_int']]
df.drop('fecha_consulta_y', inplace=True, axis=1)
df.drop('target_y', inplace=True, axis=1)
df.rename(columns = {'fecha_consulta_x':'fecha_consulta'}, inplace = True)

#df.sort_values(by=['cx_curp','fecha_consulta'])[['cx_curp','target','fecha_consulta','hta_dx_años_int']]
df.info()

- Agregando varieble respuesta

In [ ]:
df_var_r = pd.read_csv("../Data/NewHypertensionList.csv")
df_var_r.rename(columns={'FechaNuevaHipertension': 'fecha_consulta_corta',\
                         'MedicamentoCodigo': 'medecine_code',\
                         'MedicamentoNombre': 'medecine_name'}, inplace=True)
df_var_r.drop(['Presion'], axis=1, inplace=True)
df_var_r['fecha_consulta_corta']= pd.to_datetime(df_var_r['fecha_consulta_corta'])
display(df_var_r.head(5))
df_var_r.info()

In [ ]:
df['fecha_consulta_corta'] = pd.to_datetime(df['fecha_consulta'],\
                                            format='%y-%m-%d %H:%M:%S').dt.strftime('%Y-%m-%d')
df['fecha_consulta_corta']= pd.to_datetime(df['fecha_consulta_corta'])
df['fecha_consulta_corta']

In [ ]:
df_var_r['fecha_consulta_corta']

In [ ]:
df[(df['cx_curp']=='SAJB6406296LNT8PC4')][['cx_curp','fecha_consulta','fecha_consulta_corta']].\
                              sort_values(by = ['cx_curp','fecha_consulta']).head(5)

In [ ]:
df = pd.merge(df, df_var_r, on = ["cx_curp",'fecha_consulta_corta'], how="left")
df.info()

In [ ]:
df[~pd.isna(df['medecine_code'])][['cx_curp','fecha_consulta_corta','medecine_code']].\
                              sort_values(by = ['cx_curp','fecha_consulta_corta'])

In [ ]:
pd.set_option('display.max_columns', None)
df[(df['cx_curp']=='SAJB6406296LNT8PC4')&(df['fecha_consulta_corta']=='2018-09-10')]

- Ajustando target con medicamento HTA

In [ ]:
d_dx_hta_med_pa = df[df['target']==1][['cx_curp','fecha_consulta_corta','target']]
d_med_hta = df[~pd.isna(df['medecine_code'])][['cx_curp','fecha_consulta_corta','medecine_code']].drop_duplicates()

df_hta_targ = pd.merge(d_dx_hta_med_pa, d_med_hta, on='cx_curp', how='outer')
df_hta_targ

In [ ]:
df_hta_targ.shape

In [ ]:
df_hta_targ['fecha_dx_hta_u'] = np.nan
df_hta_targ['target_hta'] = np.nan
for i in range(len(df_hta_targ['cx_curp'])):
    df_hta_targ['target_hta'][i] = 1
            
    if ~(isinstance(df_hta_targ['fecha_consulta_corta_x'][i], type(pd.NaT))) and \
        (isinstance(df_hta_targ['fecha_consulta_corta_y'][i], type(pd.NaT))):
        df_hta_targ['fecha_dx_hta_u'][i] = df_hta_targ['fecha_consulta_corta_x'][i]
            
    elif (isinstance(df_hta_targ['fecha_consulta_corta_x'][i], type(pd.NaT))) and \
        ~(isinstance(df_hta_targ['fecha_consulta_corta_y'][i], type(pd.NaT))):
        df_hta_targ['fecha_dx_hta_u'][i] = df_hta_targ['fecha_consulta_corta_y'][i]
        
    elif ~(isinstance(df_hta_targ['fecha_consulta_corta_x'][i], type(pd.NaT))) & \
         ~(isinstance(df_hta_targ['fecha_consulta_corta_y'][i], type(pd.NaT))):
        if(df_hta_targ['fecha_consulta_corta_x'][i] <= df_hta_targ['fecha_consulta_corta_y'][i]):
            df_hta_targ['fecha_dx_hta_u'][i] = df_hta_targ['fecha_consulta_corta_x'][i]
            
        elif (df_hta_targ['fecha_consulta_corta_x'][i] > df_hta_targ['fecha_consulta_corta_y'][i]):
            df_hta_targ['fecha_dx_hta_u'][i] = df_hta_targ['fecha_consulta_corta_y'][i]
           
        else:
            print(6)
        
    else:
        print(5)
        
df_hta_targ = df_hta_targ[['cx_curp','fecha_dx_hta_u','target_hta']]
df_hta_targ.rename(columns = {'fecha_dx_hta_u':'fecha_consulta_corta'}, inplace = True)
df_hta_targ['fecha_consulta_corta']= pd.to_datetime(df_hta_targ['fecha_consulta_corta'])
df_hta_targ.head(5)

In [ ]:
df_hta_targ.shape

In [ ]:
df = pd.merge(df, df_hta_targ, on = ["cx_curp",'fecha_consulta_corta'], how="left")
#df.rename(columns = {'target_y':'target'}, inplace = True)
df.info()

### 5. GEDA

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns 
import matplotlib

- **¿Qué proporción de datos vacios se tienen por vaiable?**

In [ ]:
cols = df.columns 
colours = ["#000000","#FFFFFF"]
f, ax = plt.subplots(figsize = (18,14))
sns.set_style("whitegrid")
plt.title('Missing Values Heatmap', )
sns.heatmap(df[cols].isnull(), cmap=sns.color_palette(colours));

**Distribución de las variables númericas**

In [ ]:
fig, axs = plt.subplots(11, 2, figsize=(15, 50))

sns.histplot(data = df, x="glucosa1", kde=True, color="blue", ax=axs[0,0])
sns.histplot(data = df, x="glucosa2", kde=True, color="green", ax=axs[0,1])
sns.histplot(data = df, x="sistolica", kde=True, color="blue", ax=axs[1,0])
sns.histplot(data = df, x="diastolica", kde=True, color="green", ax=axs[1,1])
sns.histplot(data = df, x="sistolica_a", kde=True, color="blue", ax=axs[2,0])
sns.histplot(data = df, x="diastolica_a", kde=True, color="green", ax=axs[2,1])
sns.histplot(data = df, x="colesterol", kde=True, color="blue", ax=axs[3,0])
sns.histplot(data = df, x="trigliceridos", kde=True, color="green", ax=axs[3,1])
sns.histplot(data = df, x="hdl", kde=True, color="blue", ax=axs[4,0])
sns.histplot(data = df, x="ldl", kde=True, color="green", ax=axs[4,1])
sns.histplot(data = df, x="hba1c", kde=True, color="blue", ax=axs[5,0])
sns.histplot(data = df, x="plaquetas", kde=True, color="green", ax=axs[5,1])
sns.histplot(data = df, x="creatinina", kde=True, color="blue", ax=axs[6,0])
sns.histplot(data = df, x="tfg", kde=True, color="green", ax=axs[6,1])
sns.histplot(data = df, x="acido_urico", kde=True, color="blue", ax=axs[7,0])
sns.histplot(data = df, x="urea", kde=True, color="green", ax=axs[7,1])
sns.histplot(data = df, x="peso", kde=True, color="blue", ax=axs[8,0])
sns.histplot(data = df, x="altura", kde=True, color="green", ax=axs[8,1])
sns.histplot(data = df, x="imc", kde=True, color="blue", ax=axs[9,0])
sns.histplot(data = df, x="imc_calculado", kde=True, color="green", ax=axs[9,1])
sns.histplot(data = df, x="edad", kde=True, color="green", ax=axs[10,0])

plt.show()

**Edad primera toma presión arterial y Edad presión primera presión arterial alta**

In [ ]:
df_pru1 = df[(~df['sistolica'].isnull()) & (df.sistolica != 0) &
       (~df['diastolica'].isnull()) & (df.diastolica != 0) & (~df['edad'].isnull())]\
      [['newid','sistolica','diastolica','edad','fecha_consulta']].sort_values('newid')

df_pru2 = df[(df.sistolica >= 130) & (df.diastolica >= 80) & (~df['edad'].isnull())]\
      [['newid','sistolica','diastolica','edad','fecha_consulta']].sort_values('newid')

fig, axs = plt.subplots(1, 2, figsize=(15, 7))

sns.histplot(data = df_pru1.groupby(["newid", "edad"])["fecha_consulta"].first(),\
             x="edad", kde=True, color="blue", ax=axs[0])
sns.histplot(data = df_pru2.groupby(["newid", "edad"])["fecha_consulta"].first(),\
             x="edad", kde=True, color="green", ax=axs[1])

In [ ]:
order = df['año_dx_dm'].sort_values().unique()
order = order[~pd.isnull(order)]

sns.set(font_scale = 2)
f, axes = plt.subplots(1, 2, figsize=(28, 9), gridspec_kw={'hspace': 1, 'wspace': 0.5})
g1 = sns.countplot(df["año_dx_dm"], order= order, ax=axes[0], color="#023246")
g1.axes.set_title("Frecuencia por Año de diagnóstico de DM \n",fontsize=25)
g1.set_xlabel("Año",fontsize=20)
g1.set_ylabel("Frecuencia (conteo)",fontsize=20)
g1.set_yticklabels(g1.get_yticks(), size = 20)              
g1.set_xticklabels(g1.get_xticklabels(),rotation = 90)

order = df['año_dx_hta'].sort_values().unique()
order = order[~pd.isnull(order)]

g2 = sns.countplot(df["año_dx_hta"], order= order, ax=axes[1], color="#008081")
g2.axes.set_title("Frecuencia por Año de Dx de Hipertesión \n",fontsize=25)
g2.set_xlabel("Año",fontsize=20)
aux = g2.set_ylabel("Frecuencia (conteo)",fontsize=20)
g2.set_yticklabels(g2.get_yticks(), size = 20)    
g2.set_xticklabels(g2.get_xticklabels(),rotation = 90)
print("")

In [ ]:
sns.reset_defaults()
dm_hta = df_aux.groupby(['dm_cie', 'hta_cie'],
                          as_index=False)['newid']\
                          .count()\
                          .rename(columns={'newid': 'registros'})

fig = plt.figure(figsize=(40,40))
colors = ['#9ECEB8', '#327BA4']# colores de 'YlGnBu'

a = sns.FacetGrid(data=dm_hta, col='dm_cie', col_wrap=2, sharex=False, sharey=False,
                 aspect=1.5)
a.map_dataframe(sns.barplot, x='hta_cie', y='registros', palette = colors)
for ax in a.axes.flat:
    for label in ax.get_xticklabels():
        label.set_size(11)
        ax.yaxis.set_major_formatter(plt.FuncFormatter(utils.number_formatter))
        a.fig.tight_layout()
    
plt.subplots_adjust(top=0.9)

aux = a.fig.suptitle("Distribución de DM VS HTA \n \n \n", fontsize=12)


# The color cycles are going to all the same, doesn't matter which axes we use
Ax = a.axes[0]


# Some how for a plot of 5 bars, there are 6 patches, what is the 6th one?
Boxes = [item for item in Ax.get_children()
         if isinstance(item, matplotlib.patches.Rectangle)][:-1]

# There is no labels, need to define the labels
legend_labels  = ['0 = no hta cie', '1 = hta cie']

# Create the legend patches
legend_patches = [matplotlib.patches.Patch(color=C, label=L) for
                  C, L in zip([item.get_facecolor() for item in Boxes],
                              legend_labels)]

# Plot the legend
plt.legend(handles=legend_patches)

In [ ]:
sns.set(font_scale = 2)
f, axes = plt.subplots(2, 2, figsize=(28, 15), gridspec_kw={'hspace': 1, 'wspace': 0.5})

g1 = sns.countplot(df_aux["sexo"], ax=axes[0,0], color="#023246")
g1.axes.set_title("Frecuencia por Sexo \n",fontsize=25)
g1.set_xlabel("Sexo",fontsize=20)
g1.set_ylabel("Frecuencia (conteo)",fontsize=20)
g1.set_yticklabels(g1.get_yticks(), size = 20)              
#g1.set_xticklabels(g1.get_xticklabels(),rotation = 90)

g2 = sns.countplot(df_aux["hta"], ax=axes[0,1], color="#008081")
g2.axes.set_title("Frecuencia de Hipertesión \n",fontsize=25)
g2.set_xlabel("Marca hipertensión",fontsize=20)
g2.set_ylabel("Frecuencia (conteo)",fontsize=20)
g2.set_yticklabels(g2.get_yticks(), size = 20)    
#g2.set_xticklabels(g2.get_xticklabels(),rotation = 90)

g3 = sns.countplot(df_aux["dm_cie"], ax=axes[1,0], color="#023246")
g3.axes.set_title("Frecuencia DM CIE 10 \n",fontsize=25)
g3.set_xlabel("DM CIE 10",fontsize=20)
g3.set_ylabel("Frecuencia (conteo)",fontsize=20)
g3.set_yticklabels(g3.get_yticks(), size = 20)              
#g3.set_xticklabels(g3.get_xticklabels(),rotation = 90)

g4 = sns.countplot(df_aux["hta_cie"], ax=axes[1,1], color="#008081")
g4.axes.set_title("Frecuencia HTA CIE 10 \n",fontsize=25)
g4.set_xlabel("HTA CIE 10",fontsize=20)
g4.set_ylabel("Frecuencia (conteo)",fontsize=20)
g4.set_yticklabels(g4.get_yticks(), size = 20)    
#g4.set_xticklabels(g4.get_xticklabels(),rotation = 90)

print("")

**Covariables**

In [ ]:
corr = df.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

- Relacion IMC Presion arterial

In [ ]:
sns.scatterplot(x='sistolica', y='diastolica', hue='imc_range', data=df)  
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

In [ ]:
sns.scatterplot(x='glucosa1', y='edad', hue='imc_range', data=df)
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

In [ ]:
df.plot.scatter(x='vent_entre_consul', y='sistolica', alpha = 0.5);

In [ ]:
df.plot.scatter(x='vent_entre_consul', y='diastolica', alpha = 0.5);

- Número de consultas

In [ ]:
df_dm = df[df['dm_cie_unic']==1][['num_consultas','year_consulta']]
df_dm["type"] = "dx dm"
df_hta = df[df['hta_cie_unic']==1][['num_consultas','year_consulta']]
df_hta["type"] = "dx hta"
df_ren = df[df['renal_cie_unic']==1][['num_consultas','year_consulta']]
df_ren["type"] = "dx renal"

df_con = pd.concat([df_dm, df_hta])
df_con = pd.concat([df_con, df_ren])

# count plot on two categorical variable
sns.countplot(x ='year_consulta', hue = "type", data = df_con)
plt.xticks(rotation=90)

plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

# Show the plot
plt.show()

In [ ]:
df_con = df_con.groupby(['year_consulta','type'])['num_consultas'].sum().reset_index()
sns.scatterplot(x='year_consulta', y='num_consultas', hue='type', data=df_con)
plt.legend(bbox_to_anchor=(1, 1), loc=2)
plt.show()

In [ ]:
# count plot on two categorical variable
sns.barplot(x = 'num_consultas', y = 'type',data = df_con)
plt.xticks(rotation=90)

plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

# Show the plot
plt.show()

In [ ]:
df_dm = df[['cx_curp','fecha_consulta','dm_cie_unic']]
df_dm['dm_cie_unic'] = np.where(pd.isna(df_dm['dm_cie_unic']),0,1)
df_dm["type"] = "dx dm"
df_hta = df[['cx_curp','fecha_consulta','target']]
df_hta['dm_cie_unic'] = np.where(pd.isna(df_hta['target']),0,1)
df_hta["type"] = "dx hta"
df_dm_hta = df[['cx_curp','fecha_consulta','dm_cie_unic','target']]
df_dm_hta['dm_hta_cie_unic'] = np.where((~pd.isna(df_dm_hta['dm_cie_unic']))&\
                                        (~pd.isna(df_dm_hta['target'])),0,1)
df_dm_hta["type"] = "dx dm hta"

In [ ]:
df_dm = df[['cx_curp','year_consulta','dm_cie_unic']]
df_dm['dm_cie_unic'] = np.where(pd.isna(df_dm['dm_cie_unic']),0,1)
df_dm["type"] = "dx dm"

In [ ]:
df[df['cx_curp']=='AAAZ581217189U5PC3'].sort_values(by = ['fecha_consulta'])[['cx_curp','fecha_consulta']]

- **Asistencia a consulta por año**

In [ ]:
step0 = pd.crosstab(
    df['cx_curp'], 
    df['year_consulta']
)
step0 = pd.DataFrame(step0.reset_index())
step0.head(5)

In [ ]:
step0['sum'] = 0
for i in range(2003,2022):
    step0[i] = np.where(step0[i]>0,1,0)
    step0['sum'] = step0[i]+step0['sum']
orange = sns.light_palette("orange", as_cmap=True)
step0.sort_values(by = ['sum'], ascending = False).style.background_gradient(cmap=orange)

In [ ]:
df2 = df.groupby(['cx_curp','year_consulta']).size().reset_index(name='counts')
df2['counts'] = 1
df2

- **Consultas por año**

In [ ]:
step1 = pd.crosstab(
    df['cx_curp'], 
    df['vent_years_consul']
)
step1 = pd.DataFrame(step1.reset_index())
step1['sum'] = 0
for i in range(0,18):
    step1[i] = np.where(step1[i]>0,1,0)
    step1['sum'] = step1[i]+step1['sum']

orange = sns.light_palette("orange", as_cmap=True)
step1.sort_values(by = ['sum'], ascending = False).style.background_gradient(cmap=orange)

In [ ]:
df_dm_mark = df[df['dm_cie_unic']==1][['cx_curp','vent_years_consul']]
df_dm_mark['dm'] = 2
df_dm_mark = df_dm_mark.drop_duplicates()
display(df_dm_mark.head())
print(df_dm_mark.shape)
step3 = pd.crosstab(
    df_dm_mark['cx_curp'], 
    df_dm_mark['vent_years_consul']
)
step3 = pd.DataFrame(step3.reset_index())
step3.head(5)

In [ ]:
df_hta_mark = df[~pd.isna(df['medecine_code'])][['cx_curp','vent_years_consul']]
df_hta_mark['hta'] = 3
df_hta_mark = df_hta_mark.drop_duplicates()
display(df_hta_mark.head(5))
print(df_hta_mark.shape)
step2 = pd.crosstab(
    df_hta_mark['cx_curp'], 
    df_hta_mark['vent_years_consul']
)
step2 = pd.DataFrame(step2.reset_index())
step2.head(5)

In [ ]:
columns_list_dm = list(step3)
columns_list_dm.remove('cx_curp')
print(columns_list_dm)
columns_list_hta = list(step2)
columns_list_hta.remove('cx_curp')
print(columns_list_hta)

In [ ]:
df_dm_mark.info()

In [ ]:
for x in columns_list_dm:
    step3[x] = step3[x]*2
    
for x in columns_list_hta:
    step2[x] = step2[x]*3

In [ ]:
for x in columns_list_dm:
    step1[x] = step1[x] + step3[x]
    
for x in columns_list_hta:
    step1[x] = step1[x] + step2[x]

In [ ]:
for x in range(0,18):
    step1[x] = step1[x].fillna(0).astype(int)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import colors
def background_gradient(s, m, M, cmap='PuBu', low=0, high=0):
    rng = M - m
    norm = colors.Normalize(m - (rng * low),
                            M + (rng * high))
    normed = norm(s.values)
    c = [colors.rgb2hex(x) for x in plt.cm.get_cmap(cmap)(normed)]
    return ['background-color: %s' % color for color in c]

In [ ]:
step_resp = step1
orange = sns.light_palette("orange", as_cmap=True)
step1.sort_values(by = ['sum'], ascending = False).style.background_gradient(cmap=orange)

In [ ]:
step1.columns

In [ ]:
step1 = step1.set_index('cx_curp')
step1.columns = ['0', '1', '2','3','4','5','6','7','8','9','10',\
                 '11','12','13','14','15','16','17','sum']
step1 = step1.sort_values(by = ['sum'], ascending = False)
step1.style.apply(background_gradient,
               cmap='PuBu',
               m=step1.min().min(),
               M=step1.max().max(),
               low=0,
               high=0.2)

- Tipo de pacientes por año

In [ ]:
step_resp.drop('cx_curp', axis=1, inplace=True)
step_resp.columns

In [ ]:
x = step_resp[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]
x['years'] = x.index
display(x)
df_melt= pd.melt(x, id_vars=None,value_vars=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17],\
                 var_name='years',value_name='type_pac')
display(df_melt)
print(df_melt['type_pac'].unique())
df_melt['num'] = 1

In [ ]:
for i in range(len(df_melt['years'])):
    x = df_melt['type_pac'][i]
    if x == 0:
        df_melt['type_pac'][i] = 'Sin DX: DM, HTA, RENAL'
    elif x == 1:
        df_melt['type_pac'][i] = 'DM'
    elif x == 2:
        df_melt['type_pac'][i] = 'HTA'
    elif x == 3:
        df_melt['type_pac'][i] = 'DM y HTA'
    elif x == 4:
        df_melt['type_pac'][i] = 'DM y RENAL'
    elif x == 6:
        df_melt['type_pac'][i] = 'DM, HTA, RENAL'
    else:
        df_melt['type_pac'][i] = np.nan
        
df_melt

In [ ]:
df_new = df_melt.groupby(['years', 'type_pac'])['num'].agg(['sum'])
df_new.reset_index()

In [ ]:
dist_pac = df_new.pivot_table('sum', ['years'], 'type_pac')
dist_pac

In [ ]:
dist_pac = pd.DataFrame(dist_pac.reset_index())
print(dist_pac.columns)
dist_pac

In [ ]:
#dist_pac = df_melt.pivot_table('num', ['years'], 'type_pac')
"""dist_pac = pd.DataFrame(dist_pac.reset_index())
print(dist_pac.columns)
dist_pac"""

In [ ]:
#set seaborn plotting aesthetics

sns.set(style='white')
sns.color_palette("Paired")
#create stacked bar chart
dist_pac.set_index('years').plot(kind='bar', stacked=True)

#add overall title
plt.title('Tipo de pacientes por año', fontsize=16)

#add axis titles
plt.xlabel('Años')
plt.ylabel('Numero de pacientes')

#rotate x-axis labels
plt.xticks(rotation=45)


plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
utils.save_df(df, "../Data/transformation.pkl")

In [ ]:
list(df.columns)